[2021-04-06 14:02] frjo opened #2318 "Submissions scrolls to top every x seconds"
Related to https://github.com/HyphaApp/hypha/issues/2233

The react app reloads automatically every x seconds. When that happens the app is scrolled to top.

[2021-04-07 10:04] #2318 closed, assigned to Parbhat, vimal1083

[2021-04-13 15:20] ei8fdb opened #2327 "Provide way to share files between successful funding applicants and organisation"
**Is your feature request related to an existing functionality? Please describe.**
When an application has gone through application and review stages, but a grant agreement/contract has not yet been signed, there is often a need for the applicant to share documentation with the funder, and vice-versa.

This request is to provide a way for this exchange to happen within the Hypha webapp.

**Describ

[2021-04-13 15:47] ei8fdb opened #2328 "Create a funding recommendation summary for funding decision makers"
**Is your feature request related to an existing functionality? Please describe.**
In a funding process where the Final Funding Decision is made by a designated group of people, there is a need to provide them with a summary of applications and a way to make a their decision.

**Describe the solution you'd like**
Provide a way to create and share:
1. an overall summary of applications
  - this cou

[2021-04-14 15:03] danblah opened #2331 "[Meta] Better support for applicant localization/multilingual needs"
A larger objective for the roadmap. Needs a discussion page at we.hypha.app and subsequent issues.

[2021-04-20 13:53] danblah commented on #2328
Related #2214 and #2222

[2021-04-20 13:56] frjo commented on #2328
A summary field is already implemented in the React app. It will be added to the Django side as well.

[2021-04-21 07:55] fourthletter opened #2341 "Duration Bug on Form"
IFF concept notes, they all say "1 day" "7 days" etc but it seems off/doesn't align with the concept note description. If an applicant does not answer the question, the default answer appears on the application.

**As a reviewer, this information should not appear on the application because it does not align with what the applicant has intended to submit.**

<img width="718" alt="Screen Shot 2021-

[2021-04-21 08:06] frjo commented on #2341
Until we can make the duration field optional there is no fix for this.

[2021-04-21 08:07] #2341 closed, assigned to nobody

[2021-04-21 08:44] fourthletter opened #2342 "Upload button does not like me"
(\__/)
(•ㅅ•)
/ 　 づ🐞

I regret to inform you that I found a bug in the upload button that appears sometimes. Perhaps during a full moon?

**Describe the bug**

An error message appears when the **applicant** attempts to upload a document to their proposal.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to a proposal
2. Click on 'upload'
3. See error

**Expected behavior**

The error mess

[2021-04-21 08:49] fourthletter opened #2343 "Percentage in determined applications"
As a manager, I would like to understand how the percentage is calculated in the round I manage. Related to #2071

<img width="898" alt="Screen Shot 2021-04-21 at 10 46 06 AM" src="https://user-images.githubusercontent.com/20019656/115524888-dfe03280-a28e-11eb-83f6-5a63dafde0e8.png">

[2021-04-21 08:51] fourthletter opened #2344 "Timestamp for Upload Documents"
Please add a timestamp (a date and time0 next to each document uploaded to the application. As a manager, I would like to know when these documents were uploaded.

[2021-04-24 05:58] kfogel opened #2345 "[PATCH] Update wiki for recent move of hypha repository (from OpenTechFund -> HyphaApp organization)."
A bunch of links in the wiki associated with this repository are currently broken because they still point at the old OpenTechFund `hypha` repository URL, and that now redirects to the OpenTechFund `apply-app` repository, which doesn't have any associated wiki content.

I've prepared [a commit that fixes all those links](https://github.com/OpenTechStrategies/hypha-wiki/commit/0935ac11bb6bc35243afa

[2021-04-24 16:39] frjo commented on #2345
@kfogel Excellent, will get that merged in.

[2021-04-24 17:22] kfogel commented on #2345
Great; thanks, @frjo.

[2021-04-25 09:37] frjo commented on #2345
Done

[2021-04-25 09:37] #2345 closed, assigned to frjo

[2021-04-25 15:33] kfogel commented on #2345
Whups, [one more commit](https://github.com/OpenTechStrategies/hypha-wiki/commit/0d7f9bab51eed8aeccaab8c142d184782f2e85d2) to complete the link updates in the wiki, @frjo.

(These involved a slightly different set of transformations; sorry for not catching them the first time around.)

[2021-04-27 10:43] ei8fdb commented on #2344
- The timestamp could be prepended to the filename.
- When the user uploaded it, they would see the prepended timestamp on the filename in the UI.

### Questions
- @fourthletter - what timestamp should be used for the time portion of stamp?
  - If there is no preference it should probably be UTC?
  - Or possibly the time of the user's computer? There's a possibility for leaking of information abou

[2021-04-27 11:13] ei8fdb commented on #2342
What are the steps to replicate this issue @fourthletter?

[2021-04-27 12:55] frjo commented on #2345
Done, thanks!

[2021-04-28 07:07] vimal1083 commented on #2342
@fourthletter couldn't reproduce the issue in test site. Could you share the django log If you get the error in your live site?

[2021-04-28 09:05] fourthletter commented on #2342
@vimal1083 Please let me know if you have other questions. I don't see it in the django log, here is my Chrome browser log (`Version 90.0.4430.85 (Official Build) (x86_64) `):
[code]

<img width="1232" alt="Screen Shot 2021-04-28 at 10 13 04 AM" src="https://user-images.githubusercontent.com/20019656/116370343-96ea2a00-a80a-11eb-9f7d-eb7a775d14d9.png">

[2021-04-28 09:48] vimal1083 commented on #2342
@fourthletter

Most probably there is an issue in the cloudfare CDN where we upload the files. Kindly open the server django log, at the same time try upload a file in the application. you would see some error log, post that log here.

[2021-04-28 10:04] Parbhat commented on #2342
@frjo Can you please take a look into the bug if it is reproducible?

[2021-04-29 10:31] ei8fdb opened #2347 "Change Statuses screening label to better reflect te meaning"
In Statuses, there is a label called screening. This status means the application needs to be screened, therefore change the label from:

screening -> need screening

[2021-04-29 11:36] #2347 closed, assigned to nobody

[2021-04-29 20:01] ei8fdb opened #2349 "Fund manager wants to know applicants post-application experience"
As a fund manager I want to know an applicants post-application experience.

### Questions for implementation
- what topics do you want to learn about?
- should it be sent to all applicants? A sample?
- can be it localised?

When a funding applicant has received their final funding request answer (be it positive or negative), automatically send them a survey asking for the overall experience.

Con

[2021-05-03 13:43] ei8fdb opened #2352 "[Meta] Ability for funded project to submit invoice and have it paid"
## User story
As a funded project leader, I want to get paid for work done as part of my project, so that I can pay bills, employees, etc."

## Description
When a successfully funded project ("project") has finished a portion of the work agreed, they need to be able to submit a request to get paid, the programme manager and finance accountant need to approve the invoice, and the accountant then ne

[2021-05-04 12:11] ei8fdb opened #2354 "Update project invoicing"
This story is part of epic #2352.

## User Story

## UI Designs

### Demo
**NB:** This demo needs to be updated with new designs. This simple demo explains how the contractor would create and submit an invoice request.
https://user-images.githubusercontent.com/1899506/121354966-b14a1400-c92f-11eb-89e9-54c97e172026.mp4

### Wireframes
#### 2.1
When the contractor wants to submit an invoice they wil

[2021-05-04 20:28] fourthletter opened #2355 "Add stamp or signature to review forms"
**Is your feature request related to an existing functionality? Please describe.**

We need an "affirmative step" or concrete confirmation for reviewers to memorialize their acknowledgment that there is no conflicts of interest before they review a submission. Review forms need to a conflicts of interest section that enable reviewers to add a stamp or signature, they can’t just click an “ok” butto

[2021-05-05 10:12] fourthletter commented on #2349
@ei8fdb Please feel free to edit this [draft survey](https://docs.google.com/document/d/1tLvzigd0X4U6qPN3HiIql4n9Cpc_aLKJ2JklRzaZrsc/edit)

[2021-05-05 11:58] frjo opened #2356 "List investments table under a partner page"
See https://github.com/ResetNetwork/apply-app/issues/79

[2021-05-06 07:23] #2355 closed, assigned to nobody

[2021-05-06 19:23] danblah opened #2358 "[Meta] Ability for applicants to download/upload documents from the dashboard"
A generic document upload/sharing space, where files can be uploaded and then later associated/unassociated with applications, projects, invoices.

[2021-05-06 19:28] danblah opened #2359 "[Meta] Ability for managers to comment on or reference specific elements within an application workflow to applicants (application, reviews, submission responses)"
- linked to this, more flexible ways of adding comments or notes about different steps, beyond the built-in forms

[2021-05-06 19:31] danblah opened #2360 "[Meta] Provide managers a more structured & flexible back and forth alternative to submission responses"
For example, the ability for a team member (lead) to define submission-specific questions that reviewers are asked to respond to, in addition to the predefined review form.

[2021-05-06 19:37] danblah opened #2361 "[Meta] Ability for managers to run a blind application process, with bias-inducing fields hidden"
Building tools to allow applications to have some fields blinded from reviewers for different review stages

[2021-05-06 20:02] danblah opened #2363 "[Meta] Improve content tagging/labeling/rating for better application/response trend analysis by managers"

[2021-05-06 20:04] danblah opened #2364 "[Meta] Ability for managers to run reports and export data for analysis outside of Hypha"

[2021-05-06 20:11] danblah opened #2365 "[Meta] Ability for a manager and applicant to share an application with other external people"
Ability to create a unique link for the application w/o any of the internal details exposed
Ability to email / export a pdf of the application to someone

Related to #289

[2021-05-06 20:12] danblah opened #2366 "[Meta] Improve the scope of and performance of search"

[2021-05-06 20:20] danblah opened #2367 "[Meta] Suggested screening and determination messages for managers from hypha"

[2021-05-06 20:24] danblah opened #2368 "[Meta] Automated ability for managers to extract and organize needed information for contracting from an application"

[2021-05-06 20:52] danblah opened #2369 "[Meta] Create data portability interfaces available to platform admins for full data export/import"
Ability to easily import old data from old grants or current grantees (before implementation of Hypha)
Ability to define a specific export criteria and format for importing to 3rd party tools (ie quickbooks, salesforce, etc)

[2021-05-06 20:53] danblah opened #2370 "[Meta] Allow for platform admins to integrate a help/feedback/ticketing service"

[2021-05-06 20:56] danblah opened #2371 "[Meta] Ability for platform admins to create/edit/remove a workflows and actions within a web-UI interface"

[2021-05-17 06:57] frjo opened #2378 "Add pagination to application forms with separator field and javascript"
Meta issue #1961

- [ ] Add a new stream field to application forms that tell Hypha where to spit the form. Include a section title field to allow for optionally naming the section.
- [ ] Add a javascript that splits the application form in to sections with previous/next navigation.
- [ ] Add to the template so the user now on what section they are and how many section there are in total. Display

[2021-05-17 08:39] fourthletter commented on #2342
@frjo I created this just for you. @Parbhat I hope things are well with you and your team.

https://user-images.githubusercontent.com/20019656/118459372-fd70b280-b6fb-11eb-91e0-2e3489ebe4d0.mp4

[2021-05-17 08:54] Parbhat commented on #2342
@fourthletter Are you experiencing it on live or test site?

I and my team are safe from the second wave till now. Hope things become better soon. Thanks.

[2021-05-17 09:02] fourthletter commented on #2342
@Parbhat I'm glad to hear you are safe. I'm only experiencing this error on the live site because it's a database issue https://github.com/HyphaApp/hypha/issues/2342#issuecomment-828287804

[2021-05-18 09:33] frjo opened #2379 "Add optional vendor creation step to projects"
This story is part of epic #2352.

**What the user needs to do**
In Hypha the contractor needs to submit this information:

1. name of organisation or person mentioned on the contract with OTF
2. name of person with authority to sign the contract
3. upload completed w8 or w9 form (depending on their US tax status)
4. bank account holder name
5. bank account number
6. bank account routing number
7.

[2021-05-20 10:41] ei8fdb commented on #2379
@frjo @Parbhat

Here's the designs for the setup new contractor -
https://www.figma.com/file/6HzFAw7k9zXwuujvyf5uVO/OTF-System?node-id=192%3A2972

I'll add the step for the contractor to access this page when I get a minute.

Are there any challenges in these designs?

Any questions, thoughts, please let me know.

[2021-05-20 11:10] frjo opened #2382 "Update project invoicing"
- [ ] Rename from "Payment Requests" and "Requests" to more generic "Invoice"

[2021-05-20 11:12] #2382 closed, assigned to nobody

[2021-05-20 14:02] ei8fdb opened #2383 "Programme manager approves submitted contractor fixed-price invoice"
## Additional context
This is part of epic #2352.

## User story

## Describe the solution you'd like in Hypha
In Hypha the Programme Manager needs to:
- view uploaded invoice file
- view uploaded report (optional)
- approve the invoice

## Notifications
When the PM approves the invoice the:
- contractor gets notified the invoice is approved by PM
- finance gets notified that a new invoice needs t

[2021-05-24 12:01] frjo opened #2388 "Project table filters has broken drop downs"
The project table filters at https://test-apply.hypha.app/apply/projects/ has broken drop downs. Compeer with https://test-apply.hypha.app/apply/submissions/all/.

Most likely a update to filters and/or select2 that has not been implemented.

[2021-05-24 12:48] frjo opened #2389 "Create a new "Finance" user role with their own Hypha view"
Set up "is_finance" similar to "is_apply_staff". They should only have access to project part of Hypha.

They need a dashboard that shows a table of invoices that have been approved by staff but not by finance.

I think we can reuse the table that is shown on the staff dashboard. We have some updates for that table in another issue.

The project page, the invoices and reports, uploaded files (PDF

[2021-05-24 12:58] frjo opened #2390 "The "user.is_staff" used when it should be "user.is_apply_staff""
The "is_staff" is a Django setting for super admins. The "is_apply_staff" is a Hypha thing telling the system that the user is a member of the role/group "staff".

Are they not confused in some places? Like e.g. these two?

https://github.com/HyphaApp/hypha/blob/a06c1d202082f3dba6b17e71b2cd1a47b9aa828c/hypha/apply/projects/templatetags/approval_tools.py#L13

https://github.com/HyphaApp/hypha/blob/

[2021-05-25 08:39] fourthletter commented on #2343
I reviewed the new presentation of percentages in test and it appears to be accurate. Thank you!

<img width="1133" alt="Screen Shot 2021-05-25 at 10 38 21 AM" src="https://user-images.githubusercontent.com/20019656/119466892-55836680-bd45-11eb-9ab4-7de7bcca39c8.png">

[2021-05-25 11:33] #2343 closed, assigned to nobody

[2021-05-26 04:41] fourthletter opened #2392 "Statuses filter in All Submissions has an error"
**Describe the bug**

When a manager use a filter on 'All Submissions' they expect to narrow down or hone in on a particular item from the filter. When they select the 'Status' filter, they should be able to filter down to one of the items on the list like 'External Review.' This only occurs when I use 'Statuses,' other filters are working.

I am reporting that selecting ANY status in the 'Statuse

[2021-05-26 08:13] frjo commented on #2392
The query seems to get mangels for status:

`WHERE (NOT ("funds_applicationsubmission"."status" = 'draft') AND NOT ("funds_applicationsubmission"."next_id" IS NOT NULL) AND "funds_applicationsubmission"."page_id" = 224 AND "funds_applicationsubmission"."status" IN ('d', 'i', 's', 'm', 'e')) `

This is search for status "Dismissed"

[2021-05-26 08:20] frjo commented on #2392
@Parbhat Can you please take a look at this. Sometime ago this filter broke.

[2021-05-26 08:59] frjo commented on #2389
@sks444 Updated this issue, Finance role no longer need a Dashboard etc.

[2021-05-26 13:54] #2392 closed, assigned to Parbhat, sks444

[2021-05-27 10:20] ei8fdb opened #2396 "Successfully funded projects want the ability for multiple accounts to access their project area."
When a project is successfully funded, they will need to start providing legal or contractual information, submitting invoices, and other things.

Some organisations will have dedicated people for these tasks - e.g. a finance person who will submit the invoices/provides banking information, a legal or admin person who will post information important for contracts.

As a result, it would be helpful

[2021-05-27 12:32] frjo opened #2398 "Update node packages to fix at least critical and high issues"
Gulp seems dead in the water with no updates for two years. Maybe time to replace it? That might make it easier to fix the node vulnerabilities.

[2021-05-27 13:12] sks444 commented on #2379
@frjo @ei8fdb

Thanks for the details and the design!

Have designed the following database model for vendor looking at the design. Let me know your suggestions and if something is missing.

Vendor:
    - name: Char Field
    - contractor name: Char Field
    - type: Choice Field (Organization, Personal)
    - required to pay taxes: Boolean Field
    - w8 form: File Field
    - w9 form: File Field

[2021-05-28 08:53] sks444 commented on #2379
Few questions related to design:

In the design, vendor creation process is happening on the project detail page/details tab.

- I am wondering where would we show the project details in that time period?
- Where are we showing details of vendor information once that is done?
- Where will the editing of vendor happen?

I am thinking what if we have this feature similar to `Add Review/Add Determina

[2021-05-28 09:20] fourthletter commented on #2389
Individuals working in our Finance Dept has the "Staff" role in WagTail. This isn't urgent, but maybe "Staff" should be renamed to "Program" or "Team Reviewer"

<img width="623" alt="Screen Shot 2021-06-14 at 4 48 16 PM" src="https://user-images.githubusercontent.com/20019656/121912257-bb558380-cd30-11eb-9f67-877721778747.png">

[2021-05-28 09:50] frjo commented on #2389
@sks444 Updated this issue again, Finance role do need a Dashboard etc.

[2021-05-28 10:13] #2390 closed, assigned to Parbhat, sandeepsajan0

[2021-05-28 10:17] frjo opened #2399 "Update invoice table on dashboard and add a invoice/all page"
An invoice table exist on staff dashboard. We want to change the columns a bit according to the designs below.

This table will be used on the new finance dashboard as well.

I think it would be good to add an invoice/all page as well. Similar to how we have a submission/all page.

A "Show all" linking the invoice table on dashboard would take user to it. Likely not used often but good to have thi

[2021-05-28 10:20] frjo opened #2400 "Rename "payment" and "payment request" to "Invoice" throughout Hypha"
We want to use generic terms throughout Hypha.

[2021-05-28 11:07] frjo commented on #2379
The currency field can be a simple dropdown with all the currencies. Would be good to use a python/django package for this so we do not have to maintain a list of currencies.

[2021-05-28 11:09] frjo commented on #2379
In the current version when staff approves a project they add what a lot of what we now consider vendor information, e.g. address. This end up in "application_projects_project".

Reuse this model or move it all to a new separate vendor model? We do not want to have duplication in any case.

[2021-05-28 12:26] frjo commented on #2396
We have "Partner" user role who's users can be attached to submission and then receive the same permissions as applicants. This can be extended to Projects, if that is not already so.

[2021-05-28 12:50] ei8fdb commented on #2379
Hello @sks444 I think its easier if I put together a design to answer your questions above. I'll post it here shortly. If you still have questions, let me know. OK?

[2021-05-28 12:53] sks444 commented on #2379
Hey @ei8fdb, sure, thanks!

[2021-05-31 05:00] sks444 commented on #2379
Would be good to move vendor specific fields(user/[contact fields](https://github.com/HyphaApp/hypha/blob/84e05a1b1d6b20db53e2e619869fbde6feffc11d/hypha/apply/projects/models.py#L363)) to vendor model. Btw, do we need to do data migration for old projects, I suppose we are not using the projects features currently, so it won't be needed?

[2021-05-31 05:02] sandeepsajan0 commented on #2388
I thought I should provide just an update at least.
**Update**: I looked into it, and I found it is not specific to Projects filter. Actually, it is happening everywhere, where we are using the same filter fields multiple times on the same page(ex: fund). In fact, select2 media is getting overwritten for upper filters by lower filters.

Ex: [In here](https://test-apply.hypha.app/apply/projects/) P

[2021-05-31 12:08] frjo commented on #2379
No need for migrations. Feel free to add/delete/move stuff around.

[2021-05-31 12:15] frjo commented on #2379
@sks444 No clear decision  on where OTF really want to store sensitive information like bank details (good idea making that a separate model).

Vendor information will for OTFs case be stored in IntAcct. If a third party system exist for vendor can we have Hypha always use that information? Even scrubbing bank and other info from Hypha DB after the vendor has been created in the Third party system

[2021-05-31 13:25] sks444 commented on #2379
Good points @frjo. Thanks for bringing it up.

Yes, the general process with the payment systems is to have the forms/interface for required inputs and directly store data to third party system on submit..storing just an id of that vendor in our system for further communication.

But given that Hypha itself acts like a package, being open to support any third party payment systems. It sounds okay

[2021-05-31 13:33] frjo commented on #2379
@sks444 We do not need separate uploads fields for w8 and w9. Non US residens fill in w8 and US residens w9.

A more generic "project due-diligence documents" field that can store one or more documents per vendor would be best.

The whole w8/w9 thing is only interesting for US based organisations. So let's complicate vendor even more :-).

Can we have a setting that toggles between the "US taxes"

[2021-05-31 15:08] ei8fdb commented on #2379
@sks444 Here's a short video on how the new contractor navigates to the new contractor setup form, and what happens when they have completed it.

https://user-images.githubusercontent.com/1899506/120212222-a1dd1380-c229-11eb-9667-740a5b7270db.mp4

The associated wireframes are available on [balsamiq cloud here](https://balsamiq.cloud/so3r3ka/p9tuu7g/rE446?f=N4IgUiBcAMA0IDkoEZ4GEXwDKZAISjhAFlD4AtXA

[2021-05-31 21:59] sks444 opened #2403 "Pipeline workflow tests-be failing on main branch"
Noticed it on https://github.com/HyphaApp/hypha/pull/2402: [build log](https://app.circleci.com/pipelines/github/HyphaApp/hypha/1854/workflows/3d55869e-835c-40c3-8bef-40ceb643ee52/jobs/11134)

Then tried building the pipeline against main branch just to confirm and it failed there as well: [build log](https://app.circleci.com/pipelines/github/HyphaApp/hypha/1850/workflows/e9160236-645c-42f5-9eef-2

[2021-06-01 07:56] frjo commented on #2403
@sks444 Good catch!

I just run all the test in my local setup and there I see no errors.

[2021-06-01 09:04] sks444 commented on #2403
@frjo, yes, this seems like a problem with python itself. https://bugs.python.org/issue44061

Let me take it ahead.

[2021-06-01 12:58] #2403 closed, assigned to sks444

[2021-06-02 10:14] Parbhat commented on #2344
@ei8fdb Is this issue ready for development?

[2021-06-02 10:58] ei8fdb commented on #2344
Lemme check with Di.

[2021-06-02 11:03] fourthletter commented on #2344
@Parbhat It's ready for development. Please reach out if you have any questions. Is it possible to have only the 'date' and exclude the 'time'? I'm also fine with keep both the date & time if that is easier. Thanks.

[2021-06-02 11:09] Parbhat commented on #2344
A quick question: Do we need to only show timestamp (separately next to the filename mentioned in issue [description](https://github.com/HyphaApp/hypha/issues/2344#issue-863607198)) while checking the submission Or add to filename as well as mentioned in https://github.com/HyphaApp/hypha/issues/2344#issuecomment-827506249? Yeah, we can only show the date and exclude time. Thanks.

[2021-06-02 11:12] fourthletter commented on #2344
@Parbhat Please add to filename as mentioned in #2344 (comment). Thank you!

[2021-06-02 11:14] Parbhat commented on #2344
Sounds good, thanks.

[2021-06-02 13:21] #2388 closed, assigned to Parbhat, sandeepsajan0

[2021-06-02 13:32] frjo opened #2408 "Always make strings translatable with i18n"
A lot of strings are made translatable in Hypha but far from all. All new code should have translatable strings and we should update all old code we find that are not translatable.

In PR https://github.com/HyphaApp/hypha/pull/2407 I added a setting to keep all po-files in one directory.

Feels easier when doing translation to have it all in one place but are there any drawbacks?

Do you have any

[2021-06-03 05:21] sks444 commented on #2379
@frjo, some of the fields mentioned in the design have hard coded name of the organisation using Hypha. E.g. `OTF` in the first field.."1. What is the name of the person/organisation on the contract with OTF?".

So I guess we would have to have a form setting where we set custom label and help text for all the fields. Similar to what we had for [determination](https://github.com/HyphaApp/hypha/blo

[2021-06-03 06:59] frjo opened #2409 "IntAcct API information"
https://developer.intacct.com/api/

Here are some question I have asked and gotten answers for.

### Vendor:

1. _Does the vendor object in IntAcct have fields for banking information? Even international versions with IBAN etc?_ Yes, Vendor records have banking information fields. I don’t believe international banking information fields are available but could be added as custom fields. Below are

[2021-06-03 07:08] frjo commented on #2379
@sks444 There are variables available for organisation name, ORG_LONG_NAME and ORG_SHORT_NAME.

Also see https://github.com/HyphaApp/hypha/issues/2408 regarding changing/translating strings.

Allowing Hypha users to create these forms in Wagtail just as they create application forms etc. would be a nice feature. But with API integration and the issues you mention above I think it would take a lot

[2021-06-04 10:25] fourthletter opened #2411 "Error when deleting user account in WagTail"
**Describe the bug**

I get an error message when I attempted to delete an account for a user with five accounts in WagTail on the LIVE site.

**To Reproduce**

![Kapture bug_delete_user_account](https://user-images.githubusercontent.com/20019656/120787522-bbcf6c80-c52f-11eb-8e95-259bdaab99ac.gif)

**Expected behavior**

I should be able to delete the account without an error message.

**Priority*

[2021-06-04 10:28] frjo commented on #2411
@fourthletter Hypha should show the real error. The user account is linked to content and can therefor not be deleted.

So Hypha is right when it refuses to delete the user but it fails on showing the reason.

[2021-06-07 07:05] sks444 commented on #2411
I believe work related to this is already in progress at Wagtail https://github.com/wagtail/wagtail/issues/1602.

However, I added a middleware in an another project which catch the error and displays a warning message.

If required, could be used here as well in the meantime.

[code]

[2021-06-07 08:11] #2411 closed, assigned to nobody

[2021-06-08 10:38] ei8fdb opened #2414 "Add files tab to project view"
The OTF finance user wants to use Hypha as the main place to **view** (this doesn't mean store) files related to an individual project.

## Sub-issues
- https://github.com/HyphaApp/hypha/issues/2634

## UI Demo

https://user-images.githubusercontent.com/1899506/121543330-1d4c7b00-ca09-11eb-8266-8e5975ca8f5f.mp4

## UI Designs

In the files tab view they see all the files that have been uploaded to

[2021-06-09 12:42] ei8fdb opened #2417 "[META] Localise Hypha"
Discussion about localisation needs [is happening in this we.hypha.app thread](https://we.hypha.app/t/localising-hypha/82/3).

Right now, this ticket is a holding ticket until we define what is needed.

## Associated tickets
- [ ] Always make strings translatable with i18n https://github.com/HyphaApp/hypha/issues/2408
- [x] Add a setting for currency symbol https://github.com/HyphaApp/hypha/issues

[2021-06-09 12:56] sks444 commented on #2379
Hello Team,

I have been working on this for some days now. So thought it would good to update on the progress a bit.

I am using [django-formtool's wizard form](https://django-formtools.readthedocs.io/en/latest/wizard.html) for creating multi-step forms. Using [SessionWizardView](https://django-formtools.readthedocs.io/en/latest/wizard.html#formtools.wizard.views.SessionWizardView), so the data w

[2021-06-09 13:06] ei8fdb commented on #2379
Hello @sks444 👋
I'll answer the design related questions, and I think it's better for me to leave the code questions for frjo. :)

💯 👍

Exactly, you're right if the user selects "No", that should be the final step and next form step shouldn't be shown.

👍 I'm looking forward to seeing it on my screen! Is there anything else you need from me?

[2021-06-09 13:26] sks444 commented on #2379
Hey @ei8fdb, thanks! I'll let you know if there is anything. :)

[2021-06-09 21:23] frjo commented on #2379
@sks444 Would using a css/js solution to make the form look lika a multi step form when it really just is a single HTML page simplify the implementation?

[2021-06-09 21:25] frjo commented on #2379
@ei8fdb This form is filled in once per project and they are highly motivated to fill it in or they get no money. If having it multistep makes the implementation hard could we simplify it to a single standard form?

[2021-06-09 22:33] ei8fdb commented on #2379
Creating multi-page forms is an important design pattern for Hypha. Can we have a chat about it in the morning? Can we investigate what might be difficult to implement?

There is a lot going on in this form and good design practice is to break up the form to focus on each part section by section. Let's see what's possible.

[2021-06-10 04:03] sks444 commented on #2379
@frjo, @ei8fdb, most things here are done. Let me try and fix the remaining issues. Once we have something ready for testing on Monday. Based on that we can tweak design/implementations.

[2021-06-10 07:06] ei8fdb commented on #2379
@sks444 if having a video call makes it easier to discuss just say and we can do that. Whatever is easier.

[2021-06-10 08:26] frjo opened #2420 "Add a setting for currency symbol in base.py"
This is to support funding organisations who do not use US Dollar as their funding currency.

[2021-06-10 19:28] danblah opened #2423 "In react view, screening status filter option "no status" results in No results found."
Same filter in the non-react view lists submissions correctly.

[2021-06-10 19:31] danblah opened #2424 "In react view, when a set of filters result in "No results found." in the left pane, the center pane loads the first every application received and the right pane has endless loading gifs"
The ideal behaviour would be to load/show No results found. across all panes.

[2021-06-11 06:44] #2420 closed, assigned to frjo

[2021-06-11 07:05] #2344 closed, assigned to Parbhat, sandeepsajan0

[2021-06-11 07:15] vimal1083 commented on #2423
@danblah, I have fixed this bug on 26th May, 2021. May I know the last deployed date on testing?

[2021-06-11 07:19] vimal1083 commented on #2424
@danblah Could you share the screenshot of the error?

[2021-06-11 07:54] sks444 commented on #2379
**Update:**

This has been fixed.

Fixed.

This remains. It works properly with one address field. But when there are two of them it doesn't work properly.

Along with that I just have to do some cleanup and this will be ready for testing. Will update here.

[2021-06-11 08:02] Parbhat commented on #2423
@vimal1083 The test environment uses this branch https://github.com/HyphaApp/hypha/tree/test

[2021-06-11 09:53] vimal1083 commented on #2423
@danblah Could you share the screenshot of the error?

[2021-06-11 10:15] sks444 opened #2426 "AddressField doesn't work properly when there are two of them on a single form page"
Required for https://github.com/HyphaApp/hypha/issues/2379.

In the [attached design](https://www.figma.com/file/6HzFAw7k9zXwuujvyf5uVO/OTF-System?node-id=192%3A2972) on the last step we need two AddressField. One for `Branch address`, and other for `Intermediary Bank Branch Address`.

I believe we have not used the [AddressField](https://github.com/HyphaApp/hypha/blob/6c10b4add7b074b854e8a08e92f1

[2021-06-11 16:09] danblah opened #2427 "When choosing not to send an email for a submitted determination, the slack msg template is wrong"
it says "A determination for [project title] was sent by email. Outcome: Approved"

Expected it to say "A determination for [project title] was saved without sending an email. Outcome: Approved"

[2021-06-14 13:24] sks444 commented on #2379
**Update:**

I have a few more things to do however this is ready for testing now.

https://test-apply.hypha.app/apply/projects/28/

Quick notes:

- Submit an application, and approve, so that a project is created(Or test on a [project](https://test-apply.hypha.app/apply/projects/28/) that I created.). (we initialise few of the vendor info on project creation)
- Visit project detail page, in the s

[2021-06-15 06:32] #2426 closed, assigned to Parbhat, vimal1083

[2021-06-15 06:56] sks444 opened #2430 "Upgrade django-file-form to latest version"
https://github.com/mbraak/django-file-form

I upgraded it in https://github.com/HyphaApp/hypha/pull/2401

But as we have custom use of django-file-form, we might need to check and change our code a bit at other places...e.g. for Submission.

[2021-06-15 07:37] fourthletter commented on #2379
This feature looked like it took an enormous amount of work, thank you for shepherding this feature into reality.  I will test these features further with Finance later this week.

The current pick list on test offers German Mark and Italian Lira as options. Is there something going on with Euro that I'm not aware of? Euro is also an option.

List

- [x] Add a setting in "Project settings" (alread

[2021-06-15 11:45] ei8fdb opened #2431 "Display currency in table labels"
When currency is shown in a table, display it in the table label, as opposed to in the table data.

### Current UI

This is how currency is displayed at the moment - the currency is shown with the amount:
![ ](https://user-images.githubusercontent.com/1899506/122038899-5f453a80-cdd6-11eb-8d2f-934935eeb831.png)

### Suggested change
Display the currency symbol in teh table column header:

![Screens

[2021-06-15 13:18] danblah opened #2432 "In all submissions, when selecting 2 or more filters, the filter button is no longer clickable"
have to manually zoom out of the page to actually click the button.
![Screenshot 2021-06-15 09 15 17](https://user-images.githubusercontent.com/620336/122059320-7ece6a00-cdba-11eb-99ac-e7563a5f6cd3.png)

Dont know what is the best expected behaviour :-/

cc @ei8fdb and @katiewilson21 for design review

[2021-06-16 06:15] fourthletter commented on #2432
This was a bug that existed for awhile now. #2278 is to re-design filters. Since we're on this topic, it's not only the "All Submissions" filter, specific "Fund" or "Lab" filters could use a similar refresh.

[2021-06-17 06:37] frjo opened #2435 "Add a "Closed" state to application projects"
Allow staff to close a project by adding a "Closed" status.

This makes it easier for staff to see what are active projects and archived/done/closed ones.

[2021-06-17 06:49] #2431 closed, assigned to frjo

[2021-06-17 08:17] frjo commented on #2435
This already exist.

[2021-06-17 08:17] #2435 closed, assigned to nobody

[2021-06-18 12:06] sandeepsajan0 commented on #2432
![Peek 2021-06-18 17-31](https://user-images.githubusercontent.com/23638629/122557797-e0146880-d05a-11eb-8e5a-9fd37d24ff07.gif)

@danblah How is it, Is it looks okay to you? Now, the filter button can easily get by scrolling horizontally.

[2021-06-21 05:27] sks444 commented on #2379
Thanks @fourthletter, for testing it out.

--

@frjo, I believe we want to skip the step, "Is the organization required to pay US taxes?" based on a form setting https://github.com/HyphaApp/hypha/issues/2379#issuecomment-851495865? As not all organisation using Hypha will have that question. Let me know if that is needed, I have a change which does that.

Along with that I have the following chang

[2021-06-21 06:47] frjo commented on #2379
@sks444  All organisation we talked to that use Hypha has some forms/documents that must be uploaded by the vendor. For US it is w8/w9 for other countries other forms, but always something.

[2021-06-22 08:11] ei8fdb commented on #2379
Hi @sks444 @frjo asked me to add these designs for how a partner (previously called vendor or contractor) would get to update/modify the setup form.

### Requirements
The partner has completed the partner set-up but now needs to update it with some new information. They need to:
- be able to find it from their project page
- see what information was completed before
- see when it was last updated

[2021-06-23 04:41] fourthletter commented on #2414
Program Managers/Program Team/Staff role would need to view the same tab of documents. Program needs this view to track the progress or trajectory of payments associated with a contract. This information enables program managers to project whether a contract needs an amendment in the future, is on track to completion, follow-up with contractors if an invoice is missing from the files, etc.

Partne

[2021-06-23 06:48] frjo commented on #2414
I think we will store all files in Hypha, AWS S3. If OTF want to we can add a copy of the PDF when invoice are created in IntAcct.

[2021-06-24 12:15] #2427 closed, assigned to Parbhat, sandeepsajan0

[2021-06-24 21:07] saoun opened #2440 "Error at Determination"
As I select "Update Status" I receive this red error immediately. Happened twice, but not sure how to recreate it.

![Screenshot 2021-06-24 5 01 32 PM](https://user-images.githubusercontent.com/11432628/123332441-80143b00-d50e-11eb-95b7-a297eb5b4408.png)

[2021-06-24 21:16] saoun opened #2441 "Remit Status"
Not sure if this is intended or a bug, but this is the screen that shows everytime an application needs to be screened. What is the difference between these options?

![Screenshot 2021-06-24 11 27 30 AM](https://user-images.githubusercontent.com/11432628/123333047-44c63c00-d50f-11eb-914a-26209ef83688.png)

[2021-06-25 11:27] Parbhat commented on #2440
@frjo Are you working on the fix?

[2021-06-26 07:17] frjo commented on #2440
I will look at this.

[2021-06-26 07:18] frjo commented on #2441
I will look at this.

[2021-06-28 06:10] fourthletter commented on #2441
I created this bug. I didn't know the difference between Y/N and Default Y/N. I'm currently using **In Remit** because I changed it from "Accept." I didn't want to delete **In Remit (IR)**. If it's any consolation, I feel guilty every time I do screening.

@saoun I removed the second "in remit", we only have one now. I'm closing this issue.

<img width="1087" alt="Screen Shot 2021-06-28 at 8 06 46

[2021-06-28 08:02] #2441 closed, assigned to nobody

[2021-06-29 06:27] fourthletter commented on #2389
The UI looks amazing on test, this issue is 90% complete pending a few refinements. The search & filter features are  currently NOT available over the dashboard.

**WagTail Admin**
- [x] create finance user role in WagTail Admin
- [x] assign user to Finance role in WagTail Admin

**Dashboard**
- [x] dashboard that shows a table of invoices that have been approved by staff but not by finance.
- [x]

[2021-06-29 09:40] sks444 commented on #2430
@sandeepsajan0, some pointers which could be helpful.

We use django-file-form's [placeholder files](http://mbraak.github.io/django-file-form/details.html#adding-placeholder-files) for edit functionality. E.g. at [submission edit.](https://github.com/HyphaApp/hypha/blob/c72be985e075e2594e279e6f3c4e65317814662b/hypha/apply/funds/views.py#L946)..

After upgrading to the latest version, when doing su

[2021-06-30 12:45] fourthletter commented on #2349
@ei8fdb The survey is still available to applicants after they've submitted a concept note. Should we take it down? Replace it with a different survey? Thanks, D

<img width="1011" alt="Screen Shot 2021-06-30 at 2 44 40 PM" src="https://user-images.githubusercontent.com/20019656/123962397-b5f36c80-d9b1-11eb-8117-d4c2d627e2eb.png">

[2021-06-30 13:24] ei8fdb commented on #2349
Oh yes please do take it down @fourthletter. Apologies I should have taken that down. About putting up a new survey, I can't say. Do you think one is needed?

[2021-07-01 07:33] fourthletter commented on #2349
I took down the survey. There's no need to apologize, hope you got what you needed from the survey.

I do not see a need for launching another survey at this time.

[2021-07-01 08:07] sks444 commented on #2354
@frjo, this looks like a good task to start with after vendor setup.

Working on this would automatically solve https://github.com/HyphaApp/hypha/issues/2400. We can add/remove/rename anything that is required from `Payment Requests` to have the new `Invoice` workflow that is mentioned in the design.

[2021-07-01 09:31] sks444 commented on #2354
@ei8fdb, thanks for the detailed issue descriptions, design and the video!

I have a few doubts related to deliverables:

I think we will be storing deliverables in Hypha as well?

Is the Amount(third field in the invoice form) suppose to be sum of all deliverables price?

Is it possible to add invoice without adding deliverables?

As mentioned, deliverables would be predefined list coming from In

[2021-07-01 11:40] ei8fdb commented on #2354
You're most welcome! :)

Are you referring to what I said at 2:24 ("these come from Intacct"?). I think it's better to ask @frjo for a more definitive answer. (My understanding is that yes the deliverables will be stored/cached in Hypha as well but **please** check with @frjo about the technical details.)

You mean this:
![Screenshot 2021-07-01 at 13 28 14](https://user-images.githubusercontent.co

[2021-07-01 14:48] ei8fdb opened #2444 "Finance level 1 user approves fixed price invoice"
## Additional context
This is part of epic #2352.

## User story

## Describe the solution you'd like in Hypha
In Hypha the Finance Level 1 needs to:
- view uploaded invoice file
- (if necessary) change the deliverables assigned by the PM
- show that the necessary checks and documentation is on file
- approve the invoice

## Notifications
When the Finance level 1 user approves the invoice the:
- f

[2021-07-01 15:05] ei8fdb opened #2445 "Finance level 2 user can review and approve invoice"
## Additional context
This is part of epic #2352.

## User story

## Describe the solution you'd like in Hypha
In Hypha the Finance level 2 needs to:
- view uploaded invoice file
- (if necessary) change the deliverables assigned by the PM
- see that finance level 1 user has checked the necessary checks and documentation are on file
- approve the invoice

## Notifications
When the Finance level 2 u

[2021-07-02 04:33] sks444 commented on #2379
New changes has been deployed on test.

We can click on view to visit vendor detail page:
<img width="630" alt="Screenshot 2021-07-02 at 10 00 29 AM" src="https://user-images.githubusercontent.com/22263040/124220983-7006e780-db1c-11eb-89e9-8ce799fa9ed6.png">

Added field to activate/deactivate vendor setup: https://test-apply.hypha.app/admin/settings/application_projects/projectsettings/2/

We are

[2021-07-02 06:10] sks444 commented on #2354
Thanks @ei8fdb!

Sure. Let me know when the design has been updated will plan the implementation accordingly.

Sounds good.

[2021-07-02 07:32] frjo commented on #2354
@sks444 You can simply scrap the deliverables section (Invoice items) from the invoice creation step.

The deliverables will be added by staff/pm when they review/approve the invoice.

[2021-07-02 07:37] fourthletter commented on #2379
@sks444 I just tested, looks great! The little blue check does not indicate that the form has been completed. However, it is NOT a major issue, this feature completes me. 💥

[2021-07-02 07:49] #2349 closed, assigned to nobody

[2021-07-02 09:15] sks444 commented on #2379
Thanks @fourthletter!

Yes, I have that in my TODO. Actually for now, there is no certain way to know when the form is completed. One way to mark it completed is when we successfully have updated the info at third party payment system. I.e. IntAcct for OTF.

**Or**

We can mark it as completed whenever user update info for the first time..as that means user has filled all the required information.

[2021-07-02 09:19] sks444 commented on #2354
Thanks @frjo, I will start working on this then!

[2021-07-02 10:07] ei8fdb commented on #2354
@sks444 [Designs above](https://github.com/HyphaApp/hypha/issues/2354#issue-875399090) updated. Any questions please ask.

[2021-07-02 10:21] ei8fdb commented on #2379
Thanks @fourthletter and @sks444 for noticing the blue tick. I forgot to mention that.

Probably silly question - is it not possible to detect when the user presses the `submit button` at the end of the setup form?

A few questions @sks444:

How would this work for an organisation not using a 3rd party finance system?

And if the user needed to change some information, they could click "Update inf

[2021-07-02 10:24] fourthletter commented on #2379
I prefer the **second option**: "We can mark it as completed whenever user update info for the first time..as that means user has filled all the required information."

The reason I prefer the **second option** is because the hypha's project page is where OTF engage and communicate with the vendor/contractor.

- The **vendor/contractor** needs to know whether they have not completed the form and/o

[2021-07-02 11:34] frjo commented on #2379
@sks444 I also think the second option is preferable. Maybe something like https://github.com/HyphaApp/hypha/blob/d31faa57a76a08dd2be53ff9b26a29a1e4d3d372/hypha/apply/projects/forms/project.py#L112

[2021-07-02 11:37] sks444 commented on #2379
Agree!

As all the fields are required in the form(except for the last step which is optional). This wouldn't be a problem.

I will make this change.

Yes, @ei8fdb, it is possible. That is what I will do now. Only reason I was avoiding this is I thought the form will only be considered as complete when we get an ok response from third party system.

Yeah.

[2021-07-05 11:55] #2389 closed, assigned to frjo

[2021-07-05 11:56] #2430 closed, assigned to Parbhat, sks444, sandeepsajan0

[2021-07-05 12:17] frjo commented on #2444
@sandeepsajan0  I have merged in https://github.com/HyphaApp/hypha/pull/2438 to main so we can build on that.

I think approval "Financial level 1" should simply be "Finance approval".

Not all organisations will have a need for the level 2 step.

[2021-07-05 12:21] frjo commented on #2445
@sks444 My idea was to use the role "Finance" plus the role "Approval" to be what is here called "Finance level 2" Users with both these roles would then be able to do the level 2 stuff. What do you think?

In practice the second finale approval will send the invoice to the third part system via an API call, in OTFs case IntAcct.

[2021-07-05 12:25] ei8fdb commented on #2444
How will this look in the UI? Will it be "Finance level 1" or "Finance approval"?

[2021-07-06 06:08] Parbhat commented on #2398
@sandeepsajan0 Let's keep gulp for now as migrating to another tool will be significant work. Also seems to work well for us. We can upgrade node packages as part of this issue.

[2021-07-06 07:04] sks444 commented on #2445
Sounds good @frjo

I was also looking at https://github.com/HyphaApp/hypha/issues/2444#issuecomment-874068687

So when there is just one level of finance, user with both the permission can do all at once.

But when there are two level of finance, user with finance permission will do the first step and user with both the permission will do the second..?

[2021-07-06 12:13] fourthletter commented on #2379
## User story
1) A vendor submitting this form may have multiple contracts or already has an associated ID within Intacct. 2) Vendor is completing this vendor set-up form to override information in Intacct, e.g., banking information, address, or point of contact.

## Description
[ ] Add a question to this set-up form to inquire whether this is a first-time contractor: "Did you previously receive f

[2021-07-06 13:32] frjo opened #2447 "Allow projects to be created without an application"
Partners that have projects but has not applied via Hypha could then be administered in Hypha.

- [ ] Add a way to create new project form with:
  - [ ] title, contact name and e-mail
  - [ ] project summary for if the project is made public
  - [ ] (maybe) some questions to justify why it's being funded, e.g.
    - [ ] why it's important
    - [ ] how it will be impactful
- [ ] If the users (e-ma

[2021-07-06 13:49] frjo opened #2448 "Add a summary field to projects"
A field where staff can add a short summary of what the projects is all about.

Similar to the summary field on submissions. Would be neat if this was copied over from the submission when projects are created.

[2021-07-06 14:20] danblah commented on #2447
Using the new terms/workflow, would it be more apt to say this will be to create a new partner setup form > partner page w/o an existing submission/application? cc @ei8fdb

[2021-07-06 19:21] danblah commented on #2423
See screen capture. Still having this issue.
https://user-images.githubusercontent.com/620336/124655407-cc943a80-de6d-11eb-9c87-02705f1a854d.mp4

[2021-07-06 19:36] danblah opened #2449 "In admin, create a Hypha top-level menu, move all hypha related stuff into there"
Apply moves  to Hypha > Apply
All the hypha-specific stuff in Settings moves to Hypha > Settings
Create a Partners (Projects) top-level and move all that to Hypha > Partners
Do that for anything else I'm missing.

[2021-07-08 03:25] sks444 commented on #2354
@ei8fdb, with Payment requests we had something called `payment receipts`, so user can upload multiple receipts for that request.

with Invoice, is that also being handled with `Supporting Documents`?

[2021-07-08 06:26] frjo commented on #2354
@sks444 "Supporting Documents" is just a renamed "Payment receipts".

[2021-07-08 06:39] frjo commented on #2445
1. Staff role need to review and approve an invoice, status "Staff approval"
2. Finance role need to review and approve an invoice, status "Finance approval"
3. Finance + Approval role  (senior accountant) nend to review and approve the invoice, status "Send to IntAcct"

The words Staff, Finance and IntAcct can be taken from Group names plus a new wagtail setting, something like "Third party servi

[2021-07-08 07:16] fourthletter commented on #2444
1) This is my favorite thing to look at on the internet right now

<img width="205" alt="Screen Shot 2021-07-08 at 9 12 37 AM" src="https://user-images.githubusercontent.com/20019656/124878795-ca94bd80-dfcc-11eb-9b57-b76b258b4786.png">

2) Will approvals from finance 1 (maker) and finance 2/approver (checker) be tracked and recorded in the activity feed for reporting requirements/audits? Like this

[2021-07-08 08:08] frjo commented on #2444
@fourthletter Each change of status is tracked.

[2021-07-09 05:35] sks444 commented on #2379
@frjo, let me know where in the form we would add these fields?

--

Some Notes:

We automatically use the same vendor for new projects if they already had a project.

One vendor can have multiple projects and same vendor info can be used on all projects.

[2021-07-09 08:20] frjo commented on #2379
@sks444 We need to clarify this with OTF, @ei8fdb will do that.

[2021-07-12 10:21] ei8fdb commented on #2444
Speaking with @fourthletter on Friday, once I explained what we were proposing, she's OK with the journey of each invoice being tracked.

[2021-07-12 15:00] ei8fdb opened #2453 "PM can request modifications to fixed-price invoice"
## Additional context
This is part of epic #2352.

## User story

## Describe the solution you'd like in Hypha
- PM opens the invoice
- reviews it
- PM decides the invoice needs to be modified
- PM updates the invoice status and sends a message to the contractor requesting changes to the invoice
- the invoice is then put on hold until the contractor resubmits the invoice

## Notifications
When the

[2021-07-12 16:11] ei8fdb opened #2454 "Finance level 1 can request modifications to fixed-price invoice"
## Additional context
This is part of epic #2352.

## User story

## Describe the solution you'd like in Hypha
In Hypha the Finance Level 1 needs to:

## Notifications

## Priority
- High (keeping you from completing day-to-day tasks)

## UI Designs

### Demo
https://user-images.githubusercontent.com/1899506/125954777-56529004-40d2-4334-9a68-fa554f398340.mp4

### Wireframes

**7.1**
![7 1](https:/

[2021-07-14 07:16] sks444 commented on #2379
@frjo, is it possible to create a separate issue for the remaining requirements?

We can finalise and merge this pr in order to work on next tasks related to payment.

We also have the [invoicing pr](https://github.com/HyphaApp/hypha/pull/2450) rebased on top of vendor, ready for testing.

[2021-07-14 11:50] fourthletter commented on #2379
@sks444 Thank you for this update. I could test the **invoicing pr** this week.

[2021-07-16 01:48] hawkinsw opened #2455 "Determination Templates Not Implemented"
**Describe the bug**

There is functionality for the user to add determination message templates but those templates are not imported when the user creates a determination for an application.

**To Reproduce**
1. Create determination template messages.
2. Add a determination to an application.

**Expected behavior**

I expect that those determination template messages would populate the text edito

[2021-07-19 16:03] ei8fdb opened #2457 "Finance level 2 can request modifications to fixed-price invoice"
## Additional context
This is part of epic #2352.

## User story

## Describe the solution you'd like in Hypha
In Hypha the Finance Level 2 needs to:
- log into review invoices
- choose an invoice to review
- review invoice, find it needs to be modified
- send a message to the PM requesting they contact the contractor to make changes

## Notifications

## Priority
- High (keeping you from completi

[2021-07-20 09:28] ei8fdb opened #2458 "Update information displayed in project Activity feed"
## Describe the solution you'd like
The project activity feed needs to be updated as a result of the new payment request/invoice submission work. The activity feed needs to show information about the new statuses for payment requests. It needs to follow the same UI patterns.

## UI Design
![](https://share.balsamiq.com/c/gDv63aH5r7RpjP9BBeiaD9.png)

### UI Wireframes

![Proposed update to Activity

[2021-07-22 12:40] ei8fdb opened #2460 "Make "send (determination) notice" a required field in OTF Hypha instance"
## Description
On the create determination page for a project (example URL: https://apply.opentech.fund/apply/submissions/XXXX/determination/add/) the primary action button is labelled as Send/Save, as shown in the screenshot below:

![image](https://user-images.githubusercontent.com/1899506/126639797-18d6fa6d-12e7-4c15-8688-b48a42c6406d.png)

This is controlled by adding a "Send notice" field to

[2021-07-23 07:56] frjo commented on #2460
You can add a special field to determination that allows you to not send the determination via e-mail. With that in place the Send/Save makes more sense.

[2021-07-25 07:43] fourthletter commented on #2460
1) The 'send message to applicant' button in the email form is not the default. Users would need to know the intention of this checkbox, and remember to check it every time they send a determination.

2) Form creators **need** to manually add the "send message to applicant" to forms.

Image 1 - send message to applicant
<img width="361" alt="Screen Shot 2021-07-25 at 9 44 35 AM" src="https://user-

[2021-07-25 08:38] fourthletter opened #2461 "Applicant Activity Feed"
**Describe the bug**

Applicants can see when a reviewer has submitted a review. This should not happen.

**To Reproduce**

1. Submit a review as a staff or reviewer
2. As an applicant, go to the activity feed to see update

<img width="1232" alt="You shouldn't be able to see when a reviewer has submitted a review in the activity feed  Hard to scan data formatting  Quickly finding messages from di

[2021-07-25 09:16] fourthletter opened #2462 "Uploads to a Hypha installs that runs on more then one dyne/web head indicate failure on upload in the frontend"
**Describe the bug**

The upload button does not clearly indicate whether an upload was successful and which documents were already uploaded. This lead to some confusion and unnecessary double-uploads.

There was also an issue where uploads had hashes attached. And if a document was uploaded multiple times the hash became so long that it created an error that prevented submission.

Here is a film

[2021-07-26 10:20] sandeepsajan0 commented on #2461
@fourthletter  Applicant should not be able to see the timestamp for any Activity or only for the Reviews?
Other Activity might be like Determination, or any kind of update.

[2021-07-26 12:45] sandeepsajan0 commented on #2462
@fourthletter Can you please share a screenshot or a short recording?
I checked in my local, seems fine to me but there might be some other scenarios. So, I just want to see how it is looking to you.
In my local, when I uploaded a file I can see it like this

![image](https://user-images.githubusercontent.com/23638629/126990713-6f8abafd-0d13-464e-af34-127a39d196e4.png)

[2021-07-26 19:27] fourthletter commented on #2461
Hi @sandeepsajan0 Thank you for following up!

The applicant should not be able to see the entire activity or action (image below).

An applicant should not have permission to see 1) whether a reviewer has 'submitted a review' and 2) when this activity has occurred.

<img width="751" alt="Screen Shot 2021-07-26 at 9 11 22 PM" src="https://user-images.githubusercontent.com/20019656/127045235-8b88af

[2021-07-27 09:49] #2423 closed, assigned to Parbhat, vimal1083, sandeepsajan0

[2021-07-27 09:49] #2424 closed, assigned to Parbhat, vimal1083

[2021-07-27 09:55] #2398 closed, assigned to Parbhat, sandeepsajan0

[2021-07-27 10:04] #2379 closed, assigned to Parbhat, sks444

[2021-07-27 13:15] danblah commented on #2455
Related to https://github.com/HyphaApp/hypha/issues/2080

[2021-07-28 08:37] fourthletter commented on #2342
This is a not an upload issue, this is a UI issue. The upload button is able to successfully upload a document, but the UI presents the message 'Upload fail' in red. I'm closing this issue because it's related to #2462

[2021-07-28 08:37] #2342 closed, assigned to frjo, Parbhat, vimal1083

[2021-07-29 15:15] fourthletter opened #2464 "The Review Agree button"
## User story
Currently a reviewer clicking on "agree" with an existing review prevents them from drafting and submitting another review.

**Reviewers should be able to 1) summit a review and 2) have opinions on other reviews for each submission.**

The current user interface misleads users into thinking they can do both. There is not rationale for this restriction.

## Describe the solution you'd

[2021-07-29 17:06] frjo commented on #2464
I do not think this is a bug. This is how it was supposed to work. A reviewer could submit a review by writing their own agreeing with someone else's. In Hypha it's called an "opinion".

Hypha counts an opinion as a review, so a review plus an opinion is counted as 2 reviews.

Do OTF want to rebuild this feature so reviewers both can summit a review and have opinions on other reviews for each subm

[2021-07-30 07:59] fourthletter commented on #2464
@frjo Yes, OTF want to rebuild this feature so reviewers both can summit a review and have opinions on other reviews for each submission

The user interface (UI) misleads users/reviewers into thinking they can do both. There is not rationale for this restriction.  Removing this limitation would give reviewers the option to do both, this works for other funders as well.

[2021-07-30 09:21] frjo commented on #2464
What benefits is there with an "opinion" if the reviewer also write a proper review. What does it contribute?

Could we instead make it clear in the UI that reviewer can do one or the other?

[2021-07-30 09:34] ei8fdb commented on #2462
@sandeepsajan0 when I try to upload files of decreasing file size they all fail until I upload a file of 5mb in size, as can be seen below:

https://user-images.githubusercontent.com/1899506/127632788-35c27b45-0750-4f98-b86f-8c12e9a220bb.mov

Is the failure due to a maximum file size limit?

If so - as @fourthletter mentions, can we improve the error message to explain **why** it fails - to explai

[2021-07-30 11:27] frjo commented on #2462
Might be an issue with "chunkSize " described here http://mbraak.github.io/django-file-form/javascript_options.html and https://docs.djangoproject.com/en/3.1/ref/settings/#data-upload-max-memory-size / https://docs.djangoproject.com/en/3.1/ref/settings/#std:setting-FILE_UPLOAD_MAX_MEMORY_SIZE

[2021-07-30 13:39] sandeepsajan0 commented on #2462
Thanks @ei8fdb
Yes @frjo , It looks like chunkSize issue. Let me check it in my local.

[2021-08-05 07:43] sks444 commented on #2383
Thanks for designs @ei8fdb!

As submitting an invoice is now done and deployed on testing. https://github.com/HyphaApp/hypha/issues/2354

This looks like good issue to start with next.

@frjo @ei8fdb, are the design final for this issue? I see, it is dependent on deliverables, but that was scrapped in https://github.com/HyphaApp/hypha/issues/2354#issuecomment-872785656; Do we need implement the de

[2021-08-05 08:33] ei8fdb commented on #2383
Hiya @sks444 You're right it is dependent on deliverables.

 The **contractor** adding the deliverables In #2354 was scrapped in favour of the programme manager adding the deliverables when they review the invoice.

I guess so, but I'll defer to @frjo.

[2021-08-05 11:16] frjo commented on #2383
@ei8fdb @sks444 The deliverables are essential for OTF so yes I think these should be implemented first. This brings us to the API calls for IntAcct. https://github.com/HyphaApp/hypha/issues/2409

[2021-08-06 06:22] sks444 commented on #2383
Thanks @frjo, @ei8fdb

So when we have IntAcct integration the deliverables will be fetched from there..and stored in Hypha.

We would need a db model with name and price to store all deliverables for a project..then from that list we can choose a few to add on an invoice.

Would be good to have a form where PM can add deliverables manually for a project in case third party payment integration is

[2021-08-06 06:38] frjo commented on #2409
@sks444 It seems to be time to start the IntAcct API work. My goal is as follow:

* Have all IntAcct API code in a separate app/directory.
* Make it possible to add other API integrations in their own separate app/directory. Maybe have them all in a common subdirectory? "projecttsapi"?
* Hava a setting where Hypha using organisations can select which api to use, none should be an option as well.

[2021-08-06 06:38] frjo commented on #2409
Asking @Parbhat for input here as well, see above comment.

[2021-08-06 07:17] sks444 commented on #2409
Yes @frjo, I will start looking at the IntAcct APIs spec and plan out the implementation.

In the meantime, my plan is to complete the basic payment flow before starting out the api integration implementation:

- Add vendor details
- Create Invoice
- Add deliverables to project and invoice
- Approve an invoice/request changes/decline

I think once this issue(https://github.com/HyphaApp/hypha/issue

[2021-08-06 07:50] frjo commented on #2383
@sks444 I do not think the deliverables are useful without a finance system integration. My first thought was that they would simply never show up unless you had an API call to fetch them from somewhere.

@ei8fdb Do you now how the other organisations using Hypha thinks about this?

[2021-08-06 07:52] frjo commented on #2383
@sks444 In my scenario only a the id of the selected deliverables would need to be stored with the invoice, and sent with the API call that created an invoice in the finance system.

[2021-08-06 08:05] sks444 commented on #2383
@frjo, In that case, the deliverables would have to be optional, to be able to approve an invoice for an organization not using them/have not integrated a payment system from where they can be fetched.

[2021-08-06 08:11] sks444 commented on #2383
@frjo, As in the design we would need to show more details for the list of deliverables when choosing them on an Invoice(I.e. name and price).

Storing just an id would require us to make api calls directly on user interaction.

[2021-08-06 09:54] Parbhat commented on #2409
Using a directory say services inside projects app seems good. There can be separate file for each external service Or directory for each external service if code needs to be arranged further.

[2021-08-08 06:05] sandeepsajan0 commented on #2462
It doesn't look like a chunk size or file size issue, because I checked with 50 and 100mb files on test env and both got upload without any issue.
@fourthletter @ei8fdb Are you getting it every time or just sometimes with some files. I am just trying to understand the pattern of issue to reproduce it in test or in my local.

[2021-08-09 06:36] fourthletter opened #2468 "Sort and date in determination sidebar list"
The latest piece of determination information appears at the bottom, not the top. This goes against convention. Users may not realize 1) which piece of determination is the most recent and that 2) they have to scroll down to see the message. Applicants will not reply quickly because of the current UI.

Please see the right side of the screen in the box **DETERMINATION**

<img width="1235" alt="It'

[2021-08-09 08:55] frjo commented on #2468
They are in chronological order, you want them to instead be in reversed chronological order?

[2021-08-09 09:04] fourthletter commented on #2468
@frjo Thank you for clarifying. Please change the order so the determination that is newest or most recent appears at the top.

[2021-08-10 07:16] sks444 commented on #2409
@frjo, I wanted to understand a[ few fundamentals](https://admin.viewcentral.com/events/uploads/intacct/SageIntacctFundamentals.pdf) about IntAcct..dashboard..i.e: How to create vendor/managing and processing invoices..etc.

Looks like I would need to have a [separate account at learning centre](https://www.sageintacct.com/training) to get access of such documents.

I am logged in to my account at

[2021-08-10 07:21] frjo opened #2471 "Implement "environs" package for nice env parsing of settings"
https://github.com/sloria/environs

I like the look of this package. Looks like we could use it to make the base.py settings a bit cleaner and easier to read. Would also allow Hypha on a standard server to pick up .env files automatically.

[code]

Could be rewritten as:

`EMAIL_USE_TLS = env.bool("EMAIL_USE_TLS", False)`

as an example.

[2021-08-10 07:25] frjo commented on #2471
@Parbhat @sks444 What do you think?

[2021-08-10 08:14] Parbhat commented on #2471
[environs](https://github.com/sloria/environs) looks good and can be [used](https://github.com/sloria/environs#usage-with-django) with Django. Another option is using [django-environ](https://github.com/joke2k/django-environ) which is more widely used in Django projects.

[2021-08-10 11:25] ei8fdb commented on #2462
@sandeepsajan0 I have tried it this morning and uploading docs and pdfs of 50mb and 100mb work, as can be seen in the video below.

https://user-images.githubusercontent.com/1899506/128858657-2fac7db1-f1c0-40d6-aa0b-5b3ab481233e.mov

I can't replicate the behaviour of [my last message](https://github.com/HyphaApp/hypha/issues/2462#issuecomment-889769388).

I'm not sure what to do!

[2021-08-10 12:34] frjo commented on #2409
@sks444 I could link a new account to my IntAcct account. Let me know if the following work for you as well:

1. Go to https://www.sageintacct.com/training
2. Scroll down to "Getting started is easy" and click the "Sign in" link.
3. In the login box top right you see a button "Sign in with Sage Intacct". Use that with your IntAcct account.

[2021-08-10 12:35] frjo commented on #2461
@fourthletter This is now on test.

[2021-08-10 23:21] sks444 commented on #2409
Thanks @frjo, I am logged in to training centre with my Sage IntAcct account.

It shows: **Contact your admin to give you permissions to Sage Intacct connections - Learning Center in the Company application.**

[2021-08-11 08:22] frjo opened #2473 "Always show the submission table filters"

[2021-08-11 09:51] frjo commented on #2409
I have reviews our accounts and we should have the same level of access.

Did you see this login box and clicked the button the red arrow points to?

![1](https://user-images.githubusercontent.com/191392/129008522-e95526db-afdf-4d78-bb90-c7e509775969.png)

And then this page?

![2](https://user-images.githubusercontent.com/191392/129008533-1622a58d-a1a3-42d0-b019-8cdfeb8b4ea5.png)

That leads me t

[2021-08-11 10:02] sandeepsajan0 commented on #2462
okay @ei8fdb, I am researching about its causes of upload failure. If I'll find something or may able to replicate the above then I'll get back to you and will also try to fix the failure message.

[2021-08-11 10:22] ei8fdb commented on #2462
I'll be happy to test for you @sandeepsajan0. If it helps, here's info about my system:

[code]

@fourthletter do you have this browser extensions - uBlock Origin - installed?

[2021-08-11 10:31] sandeepsajan0 commented on #2462
@ei8fdb As we are not able to replicate it, then we may keep it on hold until we get it again. May be issue got resolved, it might be network or corrupt file issue.

[2021-08-11 11:38] sks444 commented on #2409
Yes I logged in the same way but nothing shows up on the page except:

<img width="1326" alt="Screenshot 2021-08-11 at 5 04 57 PM" src="https://user-images.githubusercontent.com/22263040/129022210-cbc44315-deb6-4d28-8940-d252cfa30ec3.png">

[2021-08-11 11:48] frjo opened #2475 "TypeError: undefined is not an object (evaluating 'match[0].classList') in submission-filters.js:42"

[2021-08-11 11:49] fourthletter commented on #2462
@ei8fdb I'm not using a blocker.

@sandeepsajan0 thank you for following up. This error only occurs when I am on the LIVE site. I hope this helps:

![Kapture 2021-08-11 UploadButtonBug](https://user-images.githubusercontent.com/20019656/129023630-3bfd3170-3fea-437d-b325-e0ddd1b83d11.gif)

[2021-08-11 12:12] frjo commented on #2409
@sks444 I think I finally found a difference between our accounts. It should hopefully work now.

[2021-08-11 13:25] frjo commented on #2383
@sks444 If we store more than the ID we need to sync the info if/when it's updated in IntAcct. Viewing invoices is not done often and only by a few people. I think doing an API call every time is ok.

Or maybe some type of "cache" layer? If the "cache" is > 1h (or something like that) we do an API call otherwise use the values from the "cache".

[2021-08-11 13:35] sks444 commented on #2409
Yes it works now! Thanks @frjo

Let me know if there is any recommendations/suggestions on the courses best suited for us.

I am thinking of browsing through the Sage IntAcct fundamentals..looking through concepts according to our need.

I guess our main importance for now would be Vendor and Invoicing.

[2021-08-11 14:45] sks444 commented on #2383
Thanks @frjo. Caching layer sounds good. It should also be generally implemented when we communicate with third party systems to get/update data. We might be using the same concept at other places.

Let me know, when there is an update on this. Until then I will test things out with dummy deliverables manually added to db.

[2021-08-11 15:58] frjo commented on #2409
We also have access to an IntAcct specialist at claconnect.com that we can ask questions. She knows here stuff and are easy to communicate with. Will send here an e-mail, adding you and Parbhat as CC.

[2021-08-11 16:26] frjo commented on #2383
@sks444 Lets go with the assumption that deliverables are only interesting when an API for them exist. If there is none, do not expose them at all.

If it turns out I'm wrong we can deal with that later.

[2021-08-11 20:05] fourthletter commented on #2473
Specific Funds and Labs always show submission filters without the Filter button (image 1). However, this is not the same for the All Submissions (image 2). BT created something for [ALL Submissions here ](https://github.com/HyphaApp/hypha/discussions/2278)

Image 1
<img width="1079" alt="Screen Shot 2021-08-11 at 9 59 50 PM" src="https://user-images.githubusercontent.com/20019656/129095120-f7cf4e

[2021-08-12 06:46] fourthletter commented on #2461
Thank you -- it worked! 💥

Same application, two different point of views/levels of access:

As an applicant, I should not be able to see any activity associated with the review process
<img width="677" alt="Screen Shot 2021-08-12 at 8 42 55 AM" src="https://user-images.githubusercontent.com/20019656/129150008-22989945-8ba3-4dde-b8a0-ca421b69cc13.png">

As staff, I should be able to see the activi

[2021-08-12 07:11] frjo commented on #2473
@fourthletter  I set it so filters always show on view like https://test-apply.hypha.app/apply/submissions/all/ and https://test-apply.hypha.app/apply/projects/all/.

The overview pages that contains multiple tables have not been changed, e.g. https://test-apply.hypha.app/apply/submissions/ and https://test-apply.hypha.app/apply/projects/

Does staff ever use the overview views or to they always h

[2021-08-12 08:05] #2461 closed, assigned to Parbhat, sandeepsajan0

[2021-08-12 10:08] sandeepsajan0 commented on #2462
Thanks @fourthletter, It is weird and hard to get because it is working fine on test and working for @ei8fdb too. @ei8fdb  you also tested this on live site?
Let me see if I find something.

[2021-08-12 12:28] frjo commented on #2462
@sandeepsajan0 @fourthletter I believe I have narrowed down the issue. The key was that now one can reproduce this locally or on test.

After checking Hypha and Cloudflare settings I started to look at Heroku config difference. It seems the issue is caused by the live site having three "dynos" in Heroku speak. I believe that in practice mean three docker containers with Nginx/Gunicorn all connecti

[2021-08-12 16:17] fourthletter opened #2476 "[Meta] Contract Creation and Management"
## User story
As a funded project leader, I want to issue contracts for programmatic work in Hypha so that I can have a system of record for Compliance tracking.

## Description
When an application or proposal has been approved, the vendor needs to be issued a contract prior to receiving funds/payment. A program manager needs to submit a Project Approval Form (PAF)/Scope of Work (SOW), Legal and f

[2021-08-12 16:38] fourthletter opened #2477 "[Meta] Project Page Notifications"
## User story
As a funded project leader, multiple user roles need to send and receive flags/notifies related to Finance & Compliance activities within Hypha.

## Description
Activities associated with Finance & Compliance need to alert relevant stakeholders when a payment request and/or contract need review, approval, and signature, etc within Hypha, email, and 3rd party messaging app. Examples o

[2021-08-12 19:28] fourthletter opened #2478 "PM can create and submit project approval form (PAF)"
## Additional context
This is part of epic #2476.

## User story

## Describe the solution you'd like in Hypha

- [ ] If an approval form has not been started, there is a link to create an approval form from the project page
- [ ] Admins can create a form associated with a fund in the Wagtail admin
- [ ] Ability to edit
- [ ] Information shown is:
   Description & SOW
  Justification
  title
  sam

[2021-08-13 02:59] fourthletter opened #2479 "Activity and Communication tabs should indicate unread messages and updates"
## User story

The '**activity**' and '**communications**' tabs does not indicate that there are new unread messages / updates. Users may not realize there are new unread messages and be slow to act / reply to staff. (image below)

<img width="1237" alt="No icon to indicate that there are new messages in the communications section" src="https://user-images.githubusercontent.com/20019656/129298624-

[2021-08-13 08:01] #2473 closed, assigned to frjo

[2021-08-13 15:28] fourthletter opened #2480 "No information about the next steps to take in the 'determination' section"
## User story
There's no information about the next steps to take in the 'determination' section. As a user I may be unsure what to do next and so are either slow to take action or end up emailing OTF staff with questions. (image 1)

## Describe the solution you'd like in Hypha
Please change the text from 'Awaiting determination' to 'There are no new determinations' (image 2)

image 1: Example
<im

[2021-08-13 15:34] fourthletter commented on #2440
No longer an issue on the live and test sites.

[2021-08-13 15:34] #2440 closed, assigned to nobody

[2021-08-13 20:08] fourthletter opened #2481 "Need overview of urgent tasks"
## User story
As a user I need to keep track of which projects have primary and secondary reviewers assigned and which projects required urgent actions. I would need to click on each application one by one to know whether an application is obtain this information.

## Describe the solution you'd like in Hypha

Please remove the 'Comments' column to make more room. It does nothing for me.

Show pro

[2021-08-14 10:22] frjo commented on #2480
@fourthletter The text "Awaiting determination" show when zero determinations exist for the submission.

Should we maybe hide the box altogether for applicants in this situation?

Or maybe a longer text, something like "Awaiting determination by OTF staff."

[2021-08-14 11:11] fourthletter commented on #2480
Hiding this box makes sense. The period between the Concept Note and Proposal is a waiting room or purgatory. Applicants often think it's a bug and all their determinations disappeared.

[2021-08-15 05:58] fourthletter commented on #2331
Related https://github.com/HyphaApp/hypha/issues/2417

[2021-08-15 06:18] fourthletter opened #2482 "Remove PII from AC view"
## User story
As an AC member, I should NOT be able to view PII within to applications associated with my account. This is an effort to increase privacy and security, and protect applicant information.

## Describe the solution you'd like in Hypha
PII should not appear on applications for the AC role. Please hide:

- [ ] telephone number
- [ ] email
- [ ] address
- [ ] legal name, when there is a

[2021-08-15 18:50] fourthletter opened #2484 "PAF needs Approver/Compliance/Finance authorization"
## Additional context
This is part of epic #2476.

## User story

## Describe the solution you'd like in Hypha

- [ ] PAF creation will trigger an event about sending to compliance when the project is approved
- [ ] Project is moved to contracting state Users can be added to the 'Approver' role
- [ ] Activity logged for the event
- [ ] UI of project page updated to prevent edits while it is in app

[2021-08-15 19:03] fourthletter opened #2485 "Create project contract"
## Additional context
This is part of epic #2476.

## User story

## Describe the solution you'd like in Hypha
The design is still being worked on, but it will work as follows:

- user with the necessary permissions will create a new contract once the PAF has been approved.
- they'll open the contract template
- the contract template will have a lot of fields autopopulated from the PAF
[outside of

[2021-08-16 09:41] frjo commented on #2482
@Parbhat @sks444 Would it be possible to add a "pii_status" (PII = personally identifiable information) to fields like address and e-mail address like this:

[code]

And then check for that when the field is rendered?

[code]

The best would be if we can get this in to Wagtail group permissions, then each organisation using Hypha can set what groups/roles should be able to view fields with persona

[2021-08-16 09:51] #2475 closed, assigned to sandeepsajan0

[2021-08-16 09:55] sks444 commented on #2409
Thanks @frjo.

Just wanted to make sure that if it's okay to update/add info/entries at the opentechfund-sandbox instance of Sage Intacct that I have access to.

[2021-08-16 12:18] frjo commented on #2409
Yes, in the sandbox we are free to play around as needed.

[2021-08-17 08:07] fourthletter opened #2487 "Change the Save/Send button to Submit"
## User story
The save/send button is unclear to users. This is the Schrödinger's cat of buttons.

## Describe the solution you'd like in Hypha
Please change the 'Send/Save' button to 'Submit'

![126639797-18d6fa6d-12e7-4c15-8688-b48a42c6406d](https://user-images.githubusercontent.com/20019656/129689175-177afc20-0280-464d-90f3-90c35b8c0a71.png)

[2021-08-17 11:07] danblah commented on #2462
Or not use the dynos at all by the client directly uploading to S3 (if not
already happening)?

* https://devcenter.heroku.com/articles/s3-upload-node
* https://help.heroku.com/K1PPS2WM/why-are-my-file-uploads-missing-deleted

On Thu, Aug 12, 2021, 08:28 Fredrik Jonsson ***@***.***>
wrote:

[2021-08-17 14:10] killapop commented on #2468
Suggest we change the date format in the determinations list to show `x days ago` as opposed to "2020-02-19".
Additionally add a button to toggle sorting determinations chronologically ascending/descending.

for eg:
![determination_panel](https://user-images.githubusercontent.com/668908/129745953-76cb2171-f068-4b1c-8c03-b11eddb02e81.png)

[2021-08-18 21:01] fourthletter commented on #2468
Thank you everyone for your input. The crux of the issue is for the applicant to quickly/efficiently identify the most relevant information related to their project, in particular the most recent correspondence or **final determination** (ultimate outcome) of their application.

<img width="311" alt="Screen Shot 2021-08-18 at 10 50 00 PM" src="https://user-images.githubusercontent.com/20019656/129

[2021-08-19 08:37] killapop opened #2492 "Export project bundle"
**Is your feature request related to a problem? Please describe.**

Auditors, Reviewers and some other individuals/roles at our funders, because of their existing systems and processes require to have a *Dossier* of each completed application.

These individuals will not have access to the hypha system and while the application is approved the information still has to go through some processes fur

[2021-08-19 20:05] fourthletter commented on #2481
It's perfect! 💥

[2021-08-20 07:41] sks444 opened #2496 "RichText Field React Interface: Curser always starts from the beginning"
Try adding review or determination on any of the submission at react interface.

https://test-apply.hypha.app/apply/submissions/received/?submission=287

[2021-08-20 13:12] fourthletter opened #2500 "Rename status updates for screening (back), open review (back) etc. to status (revert)"
## User story
Users find it's unclear what 'screening (back)', 'open review (back)', and other similar (back) buttons mean.

## Describe the solution you'd like in Hypha
We can change the description to '**revert**'.

Users will know which status they're reverting back to when they hover over the status workflow bar.

## Images below:

![It's unclear what 'screening (back)' means](https://user-ima

[2021-08-20 13:41] fourthletter opened #2501 "[Epic] Redesign Filters"
## User story

As a user there is no way to save regularly used filter views. Users suggested they used other tools to save lists of links to view the same page with different filters applied. Users also need to manually zoom out of the page to click the 'filter' button.
![Screenshot 2021-06-15 09 15 17](https://user-images.githubusercontent.com/620336/122059320-7ece6a00-cdba-11eb-99ac-e7563a5f6cd

[2021-08-20 17:04] #2487 closed, assigned to Parbhat, sandeepsajan0

[2021-08-23 04:51] frjo opened #2503 "TypeError: window.initUploadFields is not a function"
When a form does not have an upload field you get an JS error: TypeError: window.initUploadFields is not a function. (In 'window.initUploadFields(e)', 'window.initUploadFields' is undefined)

[2021-08-23 08:50] #2481 closed, assigned to nobody

[2021-08-23 11:25] fourthletter commented on #2468
@frjo You decided to implement it even though it goes against every fiber of your being. 👏

<img width="233" alt="Screen Shot 2021-08-23 at 1 22 57 PM" src="https://user-images.githubusercontent.com/20019656/130439406-167687b2-ae3b-4059-8ef4-ae078d2da446.png">

[2021-08-23 12:47] #2468 closed, assigned to nobody

[2021-08-23 14:13] killapop opened #2505 "Include custom override for css and js"
**Is your feature request related to a problem? Please describe.**

It is a little messy to directly mess with css and js while customising the front end. Over longer periods of time and many customisation commits, it gets harder to rollback or make changes to changes.
Having all customisations in a separate file / folder makes it easier to do without sifting through git logs and refs.

**Is your

[2021-08-23 15:19] killapop opened #2506 "Add image, description, landing url and ordering fields to Funds and Labs."
**Is your feature request related to a problem? Please describe.**

On the apply landing page that lists funds and labs, we'd like to display an image, a paragraph of text, a link to a guide or more info (this exists) and possibly order the listing.
Currently clicking on the Apply button arrives at a text only listing.
For Orgs that have existing websites that might have this info already, its sti

[2021-08-24 06:32] frjo opened #2507 "Fix word count javascript after TinyMCE update"
The Javascript relies on id and classes to manipulate the output of TinyMCW word count to show word limit and warnings. After the update in https://github.com/HyphaApp/hypha/pull/2495 this no longer works.

https://github.com/HyphaApp/hypha/blob/main/hypha/static_src/src/javascript/apply/tinymce-word-count.js

[2021-08-24 19:27] chriszs opened #2511 "Email reviewers when assigned during an open review stage"
**Is your feature request related to a problem? Please describe.**

When assigning a reviewer, users have expressed confusion that the reviewer doesn't get alerted by email. Not all of this confusion is explained by this issue, but some of it may be. It seems like it would better match user expectations to alert reviewers if they're assigned during an open review stage that would have otherwise no

[2021-08-25 11:56] killapop opened #2513 "Error: webpack-stats.json not being generated with gulp:watch in dev"
Running a dev setup with 2 terminals
1. running `./manage.py runserver`
2. running `gulp:watch`

the page `/apply/submissions/all/` to view all submissions breaks with the error
[code]

EDIT:
I realise this is as the `gulp app` set of tasks are not being run. adding `app` to the parallel tasks in the 'gulp:watch` task fixes it.

[2021-08-25 12:48] frjo commented on #2513
Yes, you need to run `gulp watch:app` as well as `gulp watch`.

[2021-08-26 07:07] #2496 closed, assigned to Parbhat, vimal1083

[2021-08-26 07:18] frjo opened #2515 "How to handle translation files in PR the best way?"
We now have `hypha/locale/en/LC_MESSAGES/django.po` plus `hypha/locale/django.pot`. They need to be generated with this command.

`python manage.py makemessages --locale en --ignore venv --keep-pot`

When we get around to fixing translation of all string in the templates as well many PR:s will affect the translation files. This will lead to a lot of merge conflicts.

How do we best handle this?

O

[2021-08-27 21:55] #2500 closed, assigned to nobody

[2021-08-30 07:21] fourthletter opened #2516 "Remove auto-advance applications from External Review to Ready to Review"
## User story

As a Program Manager we often require more than two reviews submitted by External Reviewers. Hypha currently auto-advance applications from External Review to Ready to Review once they've received two reviews. We would like External Reviewers to be able to submit additional reviews beyond the first two.

## Describe the solution you'd like in Hypha

Please remove the auto-advance ap

[2021-08-30 07:37] fourthletter opened #2517 "Right clicking on the text when writing reviews only get option to insert a link"
## Describe the solution you'd like in Hypha

As a user right clicking on the text when writing reviews, instead of getting the web browser context menu I only get an option to insert a link. It makes it really inconvenient to copy/paste or fix spelling or do other right click stuff.

![Kapture RightClick](https://user-images.githubusercontent.com/20019656/131303330-c88a9070-393b-4367-8563-8c1e557

[2021-08-30 14:04] #2517 closed, assigned to nobody

[2021-08-31 12:22] frjo opened #2522 "Upgrade to django-hijack 3 when it is mature, complete rewrite from version 2"
https://github.com/django-hijack/django-hijack

https://github.com/django-hijack/django-hijack/releases/tag/3.0rc1

[2021-08-31 12:27] frjo opened #2523 "Upgrade to Django 3.2 LTS"
Hypha now uses Django 2.2 LTS. Support for that release ends in April 2022. So we should upgrade before that, first quarter 2022 is a good target.

https://www.djangoproject.com/download/#supported-versions

Django 3.2 LTS is supported until April 2024

When updating to Django 3.2 we can also update Wagtail to 2.15+ (2.14 dropped support for Django 2.2).

[2021-08-31 12:39] killapop commented on #2513
it works. thanks @frjo . closing this

[2021-08-31 12:39] #2513 closed, assigned to nobody

[2021-08-31 13:51] fourthletter opened #2525 "It's unclear that 'dashboard' is a link not just a page title"
## User story
The link to the dashboard looks like a page title not a clickable button. Users may not realise they can access the dashboard via the link.

<img width="1234" alt="It's unclear that 'dashboard' is a link not just a page title" src="https://user-images.githubusercontent.com/20019656/131514674-17820b41-c9d8-42b9-b638-c6fdbc8b385a.png">

**Priority**
- Low priority (annoying, would be n

[2021-08-31 13:55] fourthletter opened #2526 "There's no clear link back to the submission from determinations and reviews."
## User story
There's no clear link back to the original concept submission from the determination section. There is no obvious next step from the determination detail page.

## Describe the solution you'd like in Hypha
Please create a quick link back to the submission page, or make any existing links clearer

<img width="1221" alt="No obvious next step from the determination detail page  Make the

[2021-08-31 18:53] frjo opened #2527 "Upgrade django-webpack-loader to 1.x"
https://github.com/django-webpack/django-webpack-loader

Trying to upgrade gives errors like this in the tests.

[code]

[2021-09-01 08:40] frjo opened #2529 "Rename Team admin to Staff admin"
Consistency in language.

[2021-09-01 08:45] frjo opened #2530 "API that list all open rounds and labs for listing on external web site"
Many organisation use external systems for their public web site. An API that list all open rounds and labs would make it easy to maintain a list.

- [ ] Title
- [ ] Desciption
- [ ] Dates
- [ ] URL for application form
- [ ] Other?

[2021-09-01 10:53] sandeepsajan0 commented on #2458
@ei8fdb   I am bit confused about what we need to hide/remove. Can you please clear a few of my queries.

We don't want to create activity for actions like Project creation, Approval, Contract Approval. Do we only want to have payment/invoice related things in activity feed?

Regarding the UI pattern, We want to show request change's messages(comment) in activity feed. right?

Conclusion: We want

[2021-09-01 12:33] ei8fdb commented on #2458
👍

Ah, I understand - I think the designs were confusing. Apologies.

We want the activity feed to contain:

- activity for actions like Project creation, Approval, Contract Approval, **PLUS**
- paymet/invoice related actions, **AND**
- request change's message summary, with a link to the message in the communications tab

@sandeepsajan0 I've updated the designs. Please let me know if that explain

[2021-09-01 17:40] fourthletter opened #2531 "Make 'View Message Log' tab only available to 'Staff Admin' role"
## User story
It is not obvious to staff what the 'View Message Log' tab is.

## Describe the solution you'd like in Hypha
Make 'View Message Log' tab only available to 'Staff Admin' role.

**Priority**
- Low priority (annoying, would be nice to not see)

**Affected roles**
- Staff

**Ideal deadline**
December 2021

[2021-09-03 07:59] #2516 closed, assigned to nobody

[2021-09-03 13:37] fourthletter opened #2533 "Remove default from determination forms"
## User story

As a user I would send out the wrong determination type because the default is either 'dismiss', 'accept', or 'need more information' depending on the workflow status.

## Describe the solution you'd like in Hypha

I would like to select the determination type  I need (dismiss, accept, need more info) before sending out the determination to minimize human error.

<img width="1107" a

[2021-09-03 13:53] fourthletter commented on #2516
Related to #2167

[2021-09-03 15:31] fourthletter opened #2535 "Automate applications status transition based on review outcomes"
## User story
Applications automatically move from one workflow status to the next one after specific tasks or actions have been completed. As a user I would like to see **review outcomes** trigger status changes as well. Below is a chart of automations that exists in Hypha.

Task | Automated | Manual
------------ | ------------- | -------------
Application with two assigned reviewers | move from

[2021-09-06 08:13] frjo opened #2537 "How is the lead filter populated"

[2021-09-06 09:15] #2537 closed, assigned to frjo

[2021-09-07 06:17] #2511 closed, assigned to nobody

[2021-09-08 06:03] #2507 closed, assigned to Parbhat, sandeepsajan0

[2021-09-08 09:01] frjo opened #2542 "Add lead column and filter to round views"

[2021-09-08 09:24] #2542 closed, assigned to frjo

[2021-09-13 12:37] fourthletter commented on #2533
This is what they call a 'Rider' in Congress when one tries to add a provision to a piece of legislation.

## User story

As a user I may send the incorrect proposal form to ab applicant.

## Describe the solution you'd like in Hypha

I would like to select the proposal 'category' type I need before sending out the proposal  to minimize human error.

<img width="930" alt="Screen Shot 2021-09-13 at

[2021-09-15 12:19] sandeepsajan0 commented on #2515
@frjo  Instead to do it before each release, we can do it weekly like on friday? Because releases will lead to many changes in translations files, so mistakes chances are also high.
I am searching to find something better, I'll update here as I'll find something good.

[2021-09-16 10:29] Parbhat commented on #2482
@frjo All these options sound good. Sorry for the late response.

[2021-09-16 12:17] #2503 closed, assigned to Parbhat, sandeepsajan0

[2021-09-21 11:20] frjo opened #2557 "Create a new contracting role"

[2021-09-22 08:16] frjo commented on #2533
@sandeepsajan0 Can www add an "empty_value" to these fields to force users to make a choice before submitting the form?

For reviews we use "-- No reviewer selected --" as the empty value, follow the same format here.

[2021-09-23 00:05] chriszs opened #2559 "Make review options translatable"
**Is your feature request related to a problem? Please describe.**

ARDC wants to use their own terms for how reviewers rate applications. Current options include "Not so good," which they want to be "Weak Reject" and so on.

**Is your feature request related to an existing functionality? Please describe.**

The options are defined [here](https://github.com/HyphaApp/hypha/blob/38f040dc0d3dc7920323

[2021-09-23 06:41] #2559 closed, assigned to nobody

[2021-09-24 03:41] sandeepsajan0 commented on #2515
@frjo  I am reopening it, because we got something to share here and it needs your view as well.
We researched about it, and here are our findings:
1. We can manage the translations with a weekly/regular PR

    -  We can make this PR directly to main branch same like the other PRs.
    - Or, we can also use a separate branch just to manage the translation, it will help us to keep track on transla

[2021-09-24 04:38] frjo commented on #2515
@sandeepsajan0 The files on always generated bu the Django `makemessages` cli command. There is never any need to manually edit them.

Let's go with weekly/regular PR that I handle for this. We can return to this if issues arise from this workflow.

[2021-09-24 08:48] killapop commented on #2505
@frjo I've done some of this for DDP already and can make a PR sometime today.

[2021-09-27 10:54] fourthletter commented on #2480
@frjo Works like a charm! 🌈

<img width="1218" alt="Screen Shot 2021-09-27 at 12 53 19 PM" src="https://user-images.githubusercontent.com/20019656/134895231-5f7b6851-1c42-4791-a500-9e79511c580e.png">

[2021-09-27 10:54] sandeepsajan0 commented on #2515
okay @frjo . Then, I am closing this issue.

[2021-09-27 10:54] #2515 closed, assigned to frjo, Parbhat, sks444, sandeepsajan0

[2021-09-27 11:30] #2480 closed, assigned to frjo

[2021-09-27 18:38] fourthletter opened #2564 "Change buttons 'Status', 'Lead' and 'Reviewers'"
As a user I would like buttons 'Status', 'Lead' and 'Reviewers' to 'Change status', 'Change lead', 'Change reviewers' so I would know what will happen when I click on these buttons.

<img width="345" alt="Screen Shot 2021-09-27 at 8 36 51 PM" src="https://user-images.githubusercontent.com/20019656/134966077-75da9c4c-a0e3-47ae-9c69-ce0aac90fff1.png">

**Priority**
- Low priority (annoying, would be

[2021-09-27 19:29] fourthletter opened #2565 "Applicants and External Reviewers do not know the dashboard link is a clickable button"
## User story

## Describe the solution you'd like in Hypha
Change the title “dashboard” to “My Dashboard”

<img width="1234" alt="It's unclear that 'dashboard' is a link not just a page title" src="https://user-images.githubusercontent.com/20019656/134972196-5a424ff6-e509-4cd6-a00d-8deacc597910.png">

**Priority**
- Low priority (annoying, would be nice to not see)

**Affected roles**

- Applican

[2021-09-27 19:36] fourthletter opened #2566 "Applicants see 'edit' button but can't edit"
As an applicant I see no information to explain why I can't edit the submission when there is an edit button.

<img width="841" alt="No details explaining why the 'edit' button is locked" src="https://user-images.githubusercontent.com/20019656/134973293-e940a836-8a40-485a-bf73-552ddb4a1500.png">

**Priority**
- Low priority (annoying, would be nice to not see)

**Affected roles**
- Applicants

**I

[2021-09-28 10:34] sandeepsajan0 commented on #2533
@frjo  I checked, we cannot add a simple empty value to determination form, because it is directly connected with [workflows/transitions](https://github.com/HyphaApp/hypha/blob/main/hypha/apply/funds/workflow.py#L1101). It is a ChoiceField, that doesn't allow simply an empty value. If we really wants to do this, I think we will need to change our transitions for determinations or need to add "empt

[2021-09-28 11:59] sks444 commented on #2383
@frjo, https://github.com/HyphaApp/hypha/pull/2556 adds the feature to add deliverables on an invoice. Some styling and cleanup needs to be done but this will help in starting the work on SageIntAcct Integration.

We can deploy it to test for feedback.

Deliverables on a project needs to be added from Django shell for testing:
[code]

[2021-09-28 12:27] frjo commented on #2533
@sandeepsajan0  The filed is required and an empty value should not be allowed when submitting the form.

We only need the field to have no value initially thereby forcing the user to make a conscious choice before submitting.

Today staff users from time to time forget to set the right value and submitting with whatever is the default/top value for this field.

[2021-09-28 12:44] Erioldoesdesign commented on #2557
Can I help with the testing of this in some way?

[2021-09-28 12:54] frjo commented on #2557
@Erioldoesdesign All issues with the testing label are on https://test.hypha.app. This link shows all of them https://github.com/HyphaApp/hypha/labels/Status%3A%20Needs%20testing.

This particular issue has not so mush to test. Just confirm that the group/role exist and can be assigned to users.

[2021-09-28 15:12] fourthletter commented on #2462
@sandeepsajan0  We recently received this error message. Please let me know if I need to provide additional follow-up. Thank you.

<img width="994" alt="Screen Shot 2021-09-28 at 5 09 15 PM" src="https://user-images.githubusercontent.com/20019656/135115099-c1061839-a665-4770-91a0-bf336b4c3e01.png">

[2021-09-28 16:28] fourthletter commented on #2529
boom! 💥

<img width="810" alt="Screen Shot 2021-09-28 at 6 28 06 PM" src="https://user-images.githubusercontent.com/20019656/135127689-1deceb20-b481-4dea-bb1a-d703faf0ff55.png">

[2021-09-28 16:30] fourthletter commented on #2531
done! 💥

<img width="1230" alt="Screen Shot 2021-09-28 at 6 29 38 PM" src="https://user-images.githubusercontent.com/20019656/135127954-746ae8bc-c28b-43ba-ac51-16a47f4c3251.png">

[2021-09-28 16:31] fourthletter commented on #2557
tack! 💥

<img width="784" alt="Screen Shot 2021-09-28 at 6 31 16 PM" src="https://user-images.githubusercontent.com/20019656/135128215-ac8e090a-31ff-47fa-8dcf-d7a50c5dfd85.png">

[2021-09-29 06:47] #2530 closed, assigned to sandeepsajan0, Techslammer

[2021-09-29 08:02] #2525 closed, assigned to nobody

[2021-09-29 09:29] Erioldoesdesign commented on #2557
Awesome - I also tested and see it there and it saved all ok
<img width="807" alt="Screenshot 2021-09-29 at 10 29 05" src="https://user-images.githubusercontent.com/11681324/135242341-874293fb-e284-4ec1-92d4-a65ae9f2685f.png">
<img width="819" alt="Screenshot 2021-09-29 at 10 29 26" src="https://user-images.githubusercontent.com/11681324/135242345-01894ec4-e1d9-4e8a-84d1-6b7b6c7dce14.png">

[2021-09-29 16:30] frjo opened #2570 "A CSV file got uploaded even if it's not an allowed file type"
This was on a submission upload field.

[2021-09-30 12:06] sandeepsajan0 commented on #2462
@fourthletter  Were you trying to upload a csv file? It will raise on csv file because 'csv' is not in accepted file types as already written in the help text..

[2021-09-30 12:11] frjo commented on #2462
@sandeepsajan0 @fourthletter This with the csv file is a separate issue, see https://github.com/HyphaApp/hypha/issues/2570

The main issue in this issue remains however. I believe it boils down to what I wrote above in https://github.com/HyphaApp/hypha/issues/2462#issuecomment-897598087.

[2021-10-01 10:57] #2529 closed, assigned to frjo

[2021-10-01 10:57] #2531 closed, assigned to frjo

[2021-10-01 10:57] #2557 closed, assigned to frjo

[2021-10-01 16:06] fourthletter commented on #2396
I agree with @frjo suggestion.

- [ ] Allow the contractor/vendor/applicant to add partners to their submission/funded project page
- [ ] Allow partners to create their own user account?
- [ ] Partner is able to see the funded project or application on their dashboard, etc (similar to AC reviewers)
- [ ] List all partners or collaborators in the selection box (similar to AC reviewers)
- [ ] Allow

[2021-10-03 20:32] fourthletter commented on #2460
related to #2275 and https://github.com/HyphaApp/hypha/issues/2817

[2021-10-05 06:22] #2533 closed, assigned to sandeepsajan0

[2021-10-05 07:20] sandeepsajan0 commented on #2570
@frjo  It is happening because of `.txt`, I searched a bit found [this](https://stackoverflow.com/questions/48000690/restricting-html-file-input-to-accept-only-txt-and-not-csv-in-chrome) and [this](https://bugs.chromium.org/p/chromium/issues/detail?id=646941). Looks like there is an issue with Chrome and `.txt` extension, it is treating multiple other extension like `.csv`, `.docs` as `.txt` exten

[2021-10-05 11:51] frjo commented on #2570
@sandeepsajan0 Excellent that you found the cause of this!

[2021-10-05 12:33] #2432 closed, assigned to Parbhat, sandeepsajan0

[2021-10-05 12:35] #2449 closed, assigned to nobody

[2021-10-05 12:35] #2417 closed, assigned to nobody

[2021-10-05 15:02] killapop opened #2573 "Unify base and base-apply templates"
**Is your feature request related to a problem? Please describe.**

For an adoption that requires only the apply site of hypha there are still many interfaces like the login screen and open call listings that use the public site template (base.html). I know there are others that do as well but these are the ones to come to mind.
These templates also load different css bundles and its a little cumb

[2021-10-05 21:06] fourthletter opened #2574 "Unclear workflow language 'closing' or 'complete' on project page"
## User story

## Describe the solution you'd like in Hypha
It's not clear what the process is to progress a project to 'closing' or 'complete'.

<img width="1174" alt="It's not clear what the process is to progress a project to 'closing' or 'complete'" src="https://user-images.githubusercontent.com/20019656/136102448-30587295-3f4d-49bc-9024-14ef58408a7c.png">

[2021-10-07 08:02] frjo commented on #2574
@fourthletter  I think this was never implemented.

[2021-10-08 05:27] #2505 closed, assigned to frjo

[2021-10-08 16:07] frjo opened #2578 "Hypha will only create invoices in IntAcct, what info is needed from IntAcct?"
After the walk-through of how OTF uses IntAcct in practice it has become clear that that a lot of the vendor and project set up must be done in IntAcct manually by OTF finance people.

Bank information does not need to be in either Hypha or IntAcct since payments are done in a completely separate system.

My suggestion is that we provide a nice view for finance that display all the needed vendor a

[2021-10-11 11:58] sks444 commented on #2578
Thanks for drafting this issue @frjo!

Good Idea!

We can disable form steps for the multi step form based on some configurations. We can add fields at project settings or vendor form settings to disable steps where we ask for banking information.

Let's also schedule a call with Finance to understand Project Deliverables and Invoicing in Sage Intacct. Once understood the complete SageIntAcct flow

[2021-10-11 13:18] frjo opened #2579 "Clean out paymentrequest code in favour of invoice"
There are models/views/templates etc for paymentrequest. They should all be removed. If parts of the code still is relevant rename all funktions etc. to "invoice*".

- [ ] On the project overview page "/apply/projects/" there is a table "Payment Requests". Rename to "Invoices and list invoices with links to invoice views."
- [ ] On the staff dashboard there is a table "Active requests for payment"

[2021-10-11 13:19] frjo commented on #2579
@sks444 Maybe a good issue for the new dev to get started with?

[2021-10-12 05:08] sks444 commented on #2579
Yes, thanks @frjo

[2021-10-12 08:48] sks444 opened #2580 "Understanding the complete project workflow"
Hello Team,

@frjo @fourthletter @ei8fdb

Creating this issue to understand the complete project workflow and requirements at one place. This will help me in planing/prioritising work and in collaborating with a new developer that I will work with. Later on we can create a WiKi from these information: which would be helpful for anyone who is new to the projects part of Hypha system.

I'll be descr

[2021-10-12 09:14] Erioldoesdesign commented on #2580
@sks444 Some of these workflows are discussed in both adopters monthly meetings (we covered ARDC in September) and also briefly discussed in Maintainer meetings. Next Adopter call will cover the adopter DDP's workflow broadly: https://we.hypha.app/t/monthly-adopters-meeting-2021-oct-27th/154

OTF and Reset's workflow has been investigated by Bernard (design) and captured here on Miro boards: https

[2021-10-13 09:15] sks444 commented on #2580
Thanks @Erioldoesdesign, that will be useful for onboarding someone to Hypha.

However, this issue is specifically related to projects part of hypha. E.g. All the things that happens to a submission when it is approved...we create a project from that submission.

[2021-10-13 11:57] Erioldoesdesign commented on #2580
Okay good to know, this sounds like a hypha instance specific request for workflow walkthrough for projects which I also want to understand and know more about. I requested this walkthrough via email to OTF today and I'll see when it might happen. :)

[2021-10-13 13:19] frjo commented on #2580
@ei8fdb and I walked through this today to find and missing step etc. @ei8fdb is documenting everything and we are going to create all needed issues shortly.

[2021-10-13 16:57] ei8fdb commented on #2580
@sks444 Sorry it's taken so long to reply. I think the lack of clarity might be due to the lack of end-to-end workflow being documented. And I guess that might be down to me. Sorry for that.

I thought each of the User Stories and GH issues would have been enough. Not a problem! Working remotely isn't easy. I know that.

## To answer your questions from above

I'll quote your questions from above

[2021-10-14 09:45] Erioldoesdesign commented on #2580
@emlini I feel like some of this info is useful for documentation - perhaps not immediately, but I think it's worth you reading through this issue and the subsequent comments and projects workflow mapping from Bernard.

[2021-10-14 09:56] frjo opened #2583 "Remove all parts of Project approval forms model"
This is a left over from earlier unfinished development. It will never be used and should be removed.

[2021-10-14 10:01] frjo opened #2584 "Applicant should not have access in any way to Approval form"
It can stay in the list to show the checkmark but applicant should not have any access to view or edit it.

![Skärmavbild 2021-10-13 kl  12 32 48](https://user-images.githubusercontent.com/191392/137296038-4048c97e-49f0-4f37-abdc-d07642dd09cb.png)

[2021-10-14 11:01] #2565 closed, assigned to nobody

[2021-10-15 07:47] fourthletter commented on #2354
QA
- [x] date from covered in the payment request
- [x] date to covered in the payment request
- [x] the total amount of money requested (in dollars)
- [ ] upload multiple files (spreadsheet, pdf, doc, txt file, png, jpg). This is to provide files for 1) their invoice, and 2) the evidence the work has been completed
- [x] free text comment

1) The upload multiple files button has a bug. As a user

[2021-10-15 09:36] frjo opened #2587 "String changes in project after workflow walk through"
* Invoice requests -> Invoices
* Add Request -> Add Invoice
* Project -> Back to project (link in header)
* Contractor setup form -> Contractor information
* Create -> Fill in

[2021-10-15 10:49] fourthletter commented on #2383
QA

The PM logs in and see the list of invoices to be reviewed:
- [x] submitted and the date it was submitted
- [x] invoice requested payment amount

Add Invoice:
- [x] drop-down contains all the deliverables the contractor can invoice
- [x] PM can add as many deliverables as is relevant.
- [x] PM can use the “remove” link.
- [x] open invoice in new window

I found a minor issue with the deliverab

[2021-10-15 13:13] #2464 closed, assigned to frjo

[2021-10-15 13:22] fourthletter commented on #2580
@Erioldoesdesign

sks444 [mentioned above ](https://github.com/HyphaApp/hypha/issues/2580#issue-1023541940) they would create a "WiKi which would be helpful for anyone who is new to the projects part of Hypha system" -- Is a Wiki the best place for documentation OR could it go into https://docs.hypha.app/?

[2021-10-15 14:36] frjo commented on #2580
It should definitely go in the docs.

[2021-10-16 14:59] sks444 commented on #2383
@fourthletter, I assumed, invoice can't have the same deliverables twice. That basically means updating the quantity of an existing deliverable. Which means quantity of the deliverable added earlier was incorrect. In that case we can remove and add that deliverable again with correct quantity.

OR we can also update the quantity of that deliverable internally without raising the error. Let me know

[2021-10-17 14:27] #2587 closed, assigned to nobody

[2021-10-18 08:18] frjo opened #2594 "Send out contracting info setup mail first when lead has been set."
Not when project is created.

[2021-10-18 11:14] fourthletter opened #2596 "Hypertext link to edit the submission is not clear for applicants"
## User story
As a user I may read the determination info and not spot where to click to edit the concept submission. The hypertext link to edit the submission is not visible enough and is not close enough to the determination details.

## Describe the solution you'd like in Hypha
As a users I would like a clear link to edit the concept submission when I read the determination info.

<img width="1

[2021-10-18 11:29] fourthletter opened #2597 "Help text links are below the fold and not close to the application question"
## User story
Links to open new windows with useful contextual info are hidden below the fold and not close to the question. Users start writing their answer only to realize there was a link to useful help information below the fold. This wastes the users time and could lead to poorer quality answers.

## Describe the solution you'd like in Hypha

![Useful information hidden below the fold part 2]

[2021-10-18 11:35] frjo commented on #2597
This does not look like an application form, is it maybe a Review form?

[2021-10-18 12:16] fourthletter commented on #2597
I think this issue was already resolved. The help link is no longer below the fold.

[2021-10-18 12:17] #2597 closed, assigned to nobody

[2021-10-18 13:02] sandeepsajan0 commented on #2566
@fourthletter It depends on the phase of application, applicant don't have edit permissions in some phases.  Do you want to hide that `Edit` button instead of making it inactive?

[2021-10-18 17:04] fourthletter commented on #2566
@sandeepsajan0 That's a great idea. Please hide the `Edit` button from **applicants** when it is appropriate. Thank you!

[2021-10-19 06:51] frjo commented on #2566
@sandeepsajan0 @fourthletter I think the greyed out link with a padlock is quite clear. If there is a need to make it even more clear I would prefer a popup on hover with an short explanation. We use this in other places already.

![Skärmavbild 2021-10-19 kl  08 51 05](https://user-images.githubusercontent.com/191392/137858348-a1289574-ee90-4dd7-9fc2-b881d9414b12.png)

[2021-10-19 07:15] sks444 commented on #2578
A small summary of the yesterday's call with Finance.

Finance will put the Contract Project ID in Hypha(This is the final project for which they generate invoices). I am hoping this ID can also be used to get deliverables of the project. I will check with the APIs doc.

While creating an invoice in Hypha..we will generate a unique Invoice Identifier. (Finance will let us know about the format of

[2021-10-19 09:07] sandeepsajan0 commented on #2566
@frjo I agree. @fourthletter  let's confirm this first, then I'll make the changes in draft PR.

[2021-10-19 11:00] frjo opened #2599 "Setting page privacy sends login in users to _util/login"
When setting privacy to a wagtail page on the public part of Hypha

![Skärmavbild 2021-10-19 kl  12 56 51](https://user-images.githubusercontent.com/191392/137896321-c225dee8-cfeb-4cef-9fe6-d54aa7ab2618.png)

Even logged in users get redirected to this login screen.

![Skärmavbild 2021-10-19 kl  12 58 46](https://user-images.githubusercontent.com/191392/137896490-5409868d-049d-4959-9a6b-ae5fe768

[2021-10-19 11:01] frjo commented on #2599
@Parbhat I guess this is a bug in Hypha? Know we have done stuff to login on the public side.

[2021-10-19 11:58] Parbhat commented on #2599
@frjo It is not a bug. Wagtail by default has a different login [view](https://github.com/wagtail/wagtail/blob/571b9e1918861bcbe64a9005a4dc65f3a1fe7a15/wagtail/core/urls.py#L31) for the private pages. From [docs](https://docs.wagtail.io/en/stable/advanced_topics/privacy.html?highlight=WAGTAIL_FRONTEND_LOGIN_TEMPLATE#setting-up-a-login-page), it seems like we should set the settings WAGTAIL_FRONTEN

[2021-10-19 17:43] fourthletter commented on #2464
@frjo Sorry for the delay. Here is the text:

_An opinion will replace your review. You will no longer be able to submit a review for this application._

[2021-10-20 17:37] chriszs opened #2601 "Invalid activation template instructs user to "test to reset password""
**Describe the bug**

An [instruction](https://github.com/HyphaApp/hypha/blob/44013c3c7aa5b1550ae97c10aa5e8d82f1da3d83/hypha/apply/users/templates/users/activation/invalid.html#L16) on the invalid activation account page is:

**Expected behavior**

A more natural-sounding instruction might be:

**Priority**

- Low priority (annoying, would be nice to not see)

Can submit a PR. We're overriding thi

[2021-10-21 06:46] frjo commented on #2601
That is my broken English, I will make a PR to fix it directly. Thanks for noticing it!

[2021-10-21 08:28] #2601 closed, assigned to nobody

[2021-10-21 12:57] sandeepsajan0 commented on #2526
@fourthletter There is a blue text "Test" can be used to go back to submission.
Although it can be used but just for better understanding I tried to add a "Back" button on top of it.

@fourthletter @frjo Let me know if it looks okay to both of you.

![image](https://user-images.githubusercontent.com/23638629/138281458-1fce0a02-53bb-4ad5-9e22-a4f61128544e.png)

[2021-10-21 14:11] frjo commented on #2526
@sandeepsajan0  On projects we have a "Back to project" link so name this "Back to submission"

Then also remove the link from the submission title and add a colon after "For" to make it look the same as on projects etc.

[2021-10-21 14:24] fourthletter commented on #2526
@sandeepsajan0 Thank you for following up. I agree with Fredrik that 'Back to Project' is more specific. I see both versions on Project

**Version 1: Back to Project**
<img width="431" alt="Screen Shot 2021-10-21 at 4 21 31 PM" src="https://user-images.githubusercontent.com/20019656/138297261-ee6c1ceb-66fe-4265-81fa-0ab9ea14cdc9.png">

**Version 2: Project**
<img width="878" alt="Screen Shot 2021-

[2021-10-21 15:38] frjo commented on #2526
@fourthletter Then I have missed to update this there, it should be "Back to project" everywhere.

@sandeepsajan0 Can you add a fix for that to this PR please. Also add the same pattern to reviews so it looks the same everywhere, thanks!

Updated the title to cover this.

[2021-10-25 07:12] #2526 closed, assigned to sandeepsajan0

[2021-10-25 12:20] #2408 closed, assigned to frjo, Parbhat, v1k45, vimal1083, sks444, sandeepsajan0

[2021-10-25 12:23] frjo commented on #2462
@Parbhat @sandeepsajan0 Any ideas to fix this issue. I believe the main problem is what I describe in https://github.com/HyphaApp/hypha/issues/2462#issuecomment-897598087.

[2021-10-25 12:24] frjo commented on #2570
@sandeepsajan0 And progress in fixing this issue?

[2021-10-26 09:52] sks444 opened #2605 "Validations on Invoice Creation"
Invoice forms should validate that: requested amount for an invoice is not more than total funding amount for that project.

There can also exist a few invoices which are already paid. So in general, an invoice amount should not exceed the remaining amount that is left to be paid on a project. We could maybe also display the remaining amount on the invoice form.

This also raises a question on how

[2021-10-26 10:47] frjo commented on #2605
@sks444  We might add these validation at a later stage. For now we can skip them and let staff and finance check them manually during the approval workflow for each invoice.

[2021-10-26 10:56] sandeepsajan0 commented on #2570
@frjo I tried to search for it but couldn't find any good thing yet. I think we might need to override some js for that. I'll try with that.

[2021-10-26 13:40] frjo opened #2607 "Allow API tokens to be active for only apply or only public API endpoints"
Or take it even further and allow API tokens to be active for any combinations of API end points.

[2021-10-26 13:42] frjo commented on #2607
@Parbhat How hard is this to implement? For now we have only one public API call. The one for open rounds, see https://github.com/HyphaApp/hypha/pull/2567.

We would like to create API tokens that only work with the open rounds API call and not give access to everything else for security reasons.

[2021-10-26 14:51] Parbhat commented on #2607
@frjo Seems to be implementable using the customisation provided by the drf-api-key package. For the example given we can create separate Public and Apply site specific API keys. https://florimondmanca.github.io/djangorestframework-api-key/guide/#api-key-models

[2021-10-27 16:28] #2409 closed, assigned to nobody

[2021-10-27 16:32] frjo opened #2611 "Add fields to enter IntAcct ProjectID, VendorID and amendment number in to Hypha"
Project ID is needed to retrieve the list of deliverables for a project.

Vendor ID together with Project ID seems to be needed to create invoice, more on that later.

The amendment number is needed together with the other two to construct the contract number. Amendment
 number start with "00" for the first contract and then the first amendment is "01" etc.

Contract number is: `<projectid>-<vendo

[2021-10-27 16:33] frjo commented on #2611
@ei8fdb We need a place for these fields so OTF staff can fill them in.

[2021-10-28 05:52] sandeepsajan0 commented on #2462
@frjo I am not sure if it will helps, I found it here https://devcenter.heroku.com/articles/active-storage-on-heroku
![image](https://user-images.githubusercontent.com/23638629/139194944-3070e7fc-d63c-45a3-a6fd-3b32e3a8283d.png)

But I think we are already using s3.
I am still looking for a good solution, will post here if I'll found any similar case.

[2021-10-28 09:29] sks444 commented on #2611
### Query to get deliverables

As discussed on the API integration call: we could use `Program Project ID` to get all deliverables across contract for that project.

Question: **What is that field called in the APIs?**

A single line item has fields: `PROJECTID`, `PROJECTKEY`, `PROJECTDIMKEY`, `PROJECTNAME`: but from the response these basically seem to be returning GRANT information: `<PROJECTID>

[2021-10-28 09:56] sandeepsajan0 commented on #2462
I think we are using Pass through upload method for s3 but if we can use Direct upload method, we will be bypassing the heroku dynos. https://devcenter.heroku.com/articles/s3#file-uploads

[2021-10-28 10:40] Erioldoesdesign commented on #2566
I'm concerned that a popup/mouse-over help text is not accessible for users not using a mouse (using a touch device). Is there a way in our current UI styles to do non-hover help text? even if it's a hover-over that requires a 'x' close button.

I think generally help text should be contextual next to buttons/inputs and if no achievable in UI then it should not be there so my design perspective vo

[2021-10-28 10:42] Erioldoesdesign commented on #2566
Just an additional comment before someone says 'But hypha isn't touch/mobile/ipad friendly anyway' - I know that this is common knowledge but doesn't mean we can't start making it more non-mouse friendly with these smaller bugs/UI/UX improvements, as long as folks agree it's worth the effort.

[2021-10-28 11:22] Erioldoesdesign commented on #2599
Can I add this to the [OTF's Ye Olde Bug & Refinement Shoppe](https://github.com/HyphaApp/hypha/projects/14) board?

[2021-10-28 11:25] Erioldoesdesign commented on #2455
This should probably be in the backlog for the [OTF's Ye Olde Bug & Refinement Shoppe](https://github.com/HyphaApp/hypha/projects/14) board?

[2021-10-28 11:27] frjo commented on #2462
The actual uploads of the files to S3 always work from what I understand.

The problem is with the JavaScript that handles the progress bar and reports success/error and allows the users to delete uploaded files etc.

That JavaScript reports that the upload failed, but the actual file is uploaded to S3.

[2021-10-28 11:27] frjo commented on #2599
Yes

[2021-10-28 11:39] Erioldoesdesign commented on #2605
I think this might need to be on the [OTF Finance & Compliance Workflow project board](https://github.com/HyphaApp/hypha/projects/11) - moving there now. Please remove if that is not the place for this issue to be :)

[2021-10-29 16:02] fourthletter commented on #2566
Hello @sandeepsajan0, thank you for following up. Fredrik and I had a discussion and we agree the `Edit` button should not appear for applicants when they can not use it.

[2021-11-02 12:07] ei8fdb commented on #2611
@frjo @sks444 I'm working on the contract creation designs at the moment so can't give you a full design **however** the compliance user will add them at the point their using the contract template  - https://github.com/HyphaApp/hypha/issues/2485

[2021-11-03 08:42] sks444 commented on #2583
@frjo, does this mean removing [all occurrences of ProjectApprovalForm](https://github.com/HyphaApp/hypha/search?q=ProjectApprovalForm)? Even for the funds, labs etc?

[2021-11-03 17:05] frjo commented on #2583
@sks444 Yes.

[2021-11-08 09:44] #2579 closed, assigned to sks444

[2021-11-09 10:40] #2566 closed, assigned to sandeepsajan0

[2021-11-09 14:18] #2482 closed, assigned to nobody

[2021-11-09 17:44] #2596 closed, assigned to nobody

[2021-11-10 07:53] #2484 closed, assigned to nobody

[2021-11-10 07:54] #2478 closed, assigned to nobody

[2021-11-10 07:54] #2476 closed, assigned to nobody

[2021-11-10 07:54] #2477 closed, assigned to nobody

[2021-11-10 07:55] #2485 closed, assigned to nobody

[2021-11-11 08:12] #2479 closed, assigned to nobody

[2021-11-15 10:51] sks444 commented on #2352
@ei8fdb, Do we have an issue created for task number 12: The contractor can modify a fixed-price invoice ?

[2021-11-15 11:18] ei8fdb commented on #2352
@sks444 I have missed a design for case. Apologies. I am working on it at the moment. I'll upload it and tag you here.

[2021-11-15 11:20] sks444 commented on #2352
No problem. I was searching for the issue and was just confirming. Thanks!

[2021-11-15 11:36] ei8fdb commented on #2352
I'm almost finished this. One question for you - on standup this morning when you did the screenshare - did I see that when the contractor uploads the PDF, you are showing it to them embedded? Am I right? I want to know so I can show that in the design. If you're not showing them the embedded PDF, no problem. Just to check.

[2021-11-15 11:39] sks444 commented on #2352
While creating/editing the invoice we are not showing the embedded pdf. That is just when you view the invoice..i.e Invoice detail page.

[2021-11-15 11:47] sks444 commented on #2453
@ei8fdb @frjo,

There are two [types of activities](https://github.com/HyphaApp/hypha/blob/0d65f73f5ef7bc051ddf9cfa3a46ef4d4fb9032c/hypha/apply/activity/models.py?_pjax=%23js-repo-pjax-container%2C%20div%5Bitemtype%3D%22http%3A%2F%2Fschema.org%2FSoftwareSourceCode%22%5D%20main%2C%20%5Bdata-pjax-container%5D#L13), 1. Comment 2. Action.

All `action` goes at the `Activity` tab.

All `comment` goes a

[2021-11-15 11:56] ei8fdb opened #2619 "Contractor edits submitted Fixed-Price invoice, makes changes and resubmits it."
## Additional context
This is part of epic #2352.

## User story

## Describe the solution you'd like in Hypha - Design requirements

In Hypha the contractor:
- logs into after receiving an email notification from the PM
- reads the email requesting changes to a submitted invoice
- navigates to their project and chooses the invoice to be edited
- sees the invoice displayed and can edit the invoice

[2021-11-15 12:17] ei8fdb commented on #2352
@sks444 There you go: https://github.com/HyphaApp/hypha/issues/2619

Any questions, please just ask. 😄

[2021-11-15 12:28] sks444 commented on #2619
Thanks @ei8fdb;

One question that was also kind of pending from https://github.com/HyphaApp/hypha/issues/2354#issuecomment-944074994

Where are we displaying the `Message for PM`..I believe that will go in the communications tab?

[2021-11-15 12:50] ei8fdb commented on #2453
That sounds a perfectly sensible approach @sks444. When you have something working locally on your machine can you send a screenshot/video?

[2021-11-15 12:52] ei8fdb commented on #2619
Yup agreed, it can go in the communications tab. Let's see how that works.

[2021-11-16 09:53] Erioldoesdesign commented on #2414
Would be good to get a rough estimate from dev and design on how much effort the files tab would be to do a minimum amount of days/hrs would be good for now so that we can better understand the scope of this files tab feature and how feasible it is to be able to be done in 2021's SOW or move to 2022 SOW.

From my understanding this isn't 'blocking' the ability for users to find the needed files, i

[2021-11-16 11:27] ei8fdb commented on #2414
For design - I think this would be a "medium" t-shirt size -
- the design work to extend this to compliance and contracting is relatively easy
- the reseach work to understand whats needed for compliance and contracting needs to be done
- then there's other questions I've not thought about like 1) how do files get uploaded, 2) what happens with versions (delete old versions, upload new and show ol

[2021-11-16 12:43] Erioldoesdesign commented on #2414
Pinging @frjo I know your busy on active dev work for finance but when you get a chance a quick 'sizing' would be good on this one :)

[2021-11-16 15:57] ei8fdb opened #2621 "Test. Don't use."

[2021-11-16 16:05] ei8fdb commented on #2621
Closing this.

[2021-11-16 16:05] #2621 closed, assigned to ei8fdb

[2021-11-16 16:20] ei8fdb opened #2622 "[META] Implement the funding compliance and contracting process"
(This issue is a work-in-progress, so I'm locking it until I've finished documenting it fully. If you want to edit it, let me know.)

## User story

## Users involved
- Programme Manager (PM)
- Compliance Attorney (CA)
- General Council (GC)
- Chief Financial Officer (CFO)
- Chief Executive Officer (CEO)

## Sub-issues
- https://github.com/HyphaApp/hypha/issues/2623
- https://github.com/HyphaApp/h

[2021-11-16 17:12] ei8fdb opened #2623 "PM can create and submit Project Approval Form (PAF)"
(This issue is a work-in-progress, so I'm locking it until I've finished documenting it fully. If you want to edit it, let me know.)

## Additional context
This is a sub-issue of the meta https://github.com/HyphaApp/hypha/issues/2622

## User story

[2021-11-16 17:17] ei8fdb opened #2624 "Compliance Attorney can review Project Approval Form"
(This issue is a work-in-progress, so I'm locking it until I've finished documenting it fully. If you want to edit it, let me know.)

## Additional context
This is a sub-issue of the meta https://github.com/HyphaApp/hypha/issues/2622

## User story

[2021-11-16 17:20] ei8fdb opened #2625 "Compliance Attorney can request changes to Project Approval Form"
(This issue is a work-in-progress, so I'm locking it until I've finished documenting it fully. If you want to edit it, let me know.)

## Additional context
This is a sub-issue of the meta https://github.com/HyphaApp/hypha/issues/2622

## User story

[2021-11-16 17:25] ei8fdb opened #2626 "GC, CFO, CEO can approve the Project Approval Form"
(This issue is a work-in-progress, so I'm locking it until I've finished documenting it fully. If you want to edit it, let me know.)

## Additional context
This is a sub-issue of the meta https://github.com/HyphaApp/hypha/issues/2622

At the moment, we think the process for the GC, CFO, CEO approval will be the same. For now, the same ticket will be used for these 3 users. Collectively I will refe

[2021-11-16 17:27] ei8fdb opened #2627 "GC, CFO, CEO can request changes to PAF"
(This issue is a work-in-progress, so I'm locking it until I've finished documenting it fully. If you want to edit it, let me know.)

## Additional context
This is a sub-issue of the meta https://github.com/HyphaApp/hypha/issues/2622

At the moment, we think the process for the GC, CFO, CEO approval will be the same. For now, the same ticket will be used for these 3 users. Collectively I will refe

[2021-11-16 17:30] ei8fdb opened #2628 "Compliance Attorney creates contract"
(This issue is a work-in-progress, so I'm locking it until I've finished documenting it fully. If you want to edit it, let me know.)

## Additional context
This is a sub-issue of the meta https://github.com/HyphaApp/hypha/issues/2622

## User story

[2021-11-16 17:35] ei8fdb opened #2629 "Contractor can sign the contract"
(This issue is a work-in-progress, so I'm locking it until I've finished documenting it fully. If you want to edit it, let me know.)

## Additional context
This is a sub-issue of the meta https://github.com/HyphaApp/hypha/issues/2622

## User story

[2021-11-16 17:37] chriszs opened #2630 "Slack integration doesn't work directly with Slack"
**Describe the bug**

Hypha has a `SlackAdapter` for messaging and it counts on this channel to deliver messages to staff (in lieu of email), but what's called a Slack integration appears to depend on a [Hubot webhook intermediary](https://github.com/OpenTechFund/botf) and doesn't appear to work directly with the Slack API (or the Zulip Slack compatibility API).

**To Reproduce**

Steps to reprodu

[2021-11-16 17:37] ei8fdb opened #2631 "Chief Executive Officer can the sign contract"
(This issue is a work-in-progress, so I'm locking it until I've finished documenting it fully. If you want to edit it, let me know.)

## Additional context
This is a sub-issue of the [ [META] Implement the funding compliance and contracting process #2622  ](https://github.com/HyphaApp/hypha/issues/2622)

## User story

[2021-11-16 17:39] ei8fdb opened #2632 "How the PAF progress looks in Hypha activity feed view"
(This issue is a work-in-progress, so I'm locking it until I've finished documenting it fully. If you want to edit it, let me know.)

## Additional context
This is a sub-issue of the meta https://github.com/HyphaApp/hypha/issues/2622

This issue is to show how the PAF progress looks in the activity feed.

[2021-11-16 19:22] frjo commented on #2584
@sandeepsajan0 There are some attentional things needed for this. Easiest if I take it over letting you concentrate on the other issues.

[2021-11-16 20:34] chriszs commented on #2630
To clarify, if I were to PR this, it'd create a separate Hubot adapter that might inherit from the Slack one or vice versa.

[2021-11-17 04:04] sandeepsajan0 commented on #2584
@frjo okay, I'll continue on other tasks.

[2021-11-17 06:55] chaitu210 commented on #2453
@ei8fdb Implemented above changes, Please check the screencast

https://user-images.githubusercontent.com/5557179/142149375-3ad19195-2a50-4cb1-96ac-d98f86d9bcd8.mp4

[2021-11-17 08:14] #2594 closed, assigned to frjo

[2021-11-17 08:39] frjo commented on #2630
Yes, this definitely needs documentation. OTF uses this https://github.com/OpenTechFund/botf running on Heroku.

We intend in the future to make all notifications be e-mail be default and then allow each organisation (or user) to make their choices. The current Slack integration will be one option.

[2021-11-17 09:19] ei8fdb commented on #2453
Hi @chaitu210 displaying the request modifications message in the communications tab and the activity tab looks really good. 👍 💯

*One* small request I'd make is - in the communications tab the "chaitanya kattineni left this message" text shown below:

![image](https://user-images.githubusercontent.com/1899506/142171405-af3118c0-51df-47e3-a567-cc61d80d137c.png)

can you remove this?

The reason be

[2021-11-17 09:41] ei8fdb opened #2634 "[Files tab spike]: what does the files tab need to do for users"
## Additional context
This is a sub-issue of the epic #2414.

## What happens now?
Staff need to use different tools to manage the full application process: from application to review to contracting to invoicing and finally finishing a project. Applications are stored in the Hypha webapp, files related to applications are stored in a cloud storage tool. Staff need to download files from Hypha, the

[2021-11-17 09:42] ei8fdb commented on #2414
@frjo @sks444 @Erioldoesdesign @fourthletter I've created #2634 to discuss the files tab.

[2021-11-17 12:44] frjo commented on #2634
I want to restate my opinion that the files tab has nothing to do with uploading files. It is a view where staff etc. can view all uploaded files that belong to a project.

If we do not already allow uploads of all needed files in to Hypha that is a separate issue. Is there files that should be in Hypha that are not already possible to upload?

[2021-11-17 13:26] frjo commented on #2634
Who is it that needs this files tab? For what tasks?

The best I think is if we can show every user group everything they need on each step in the workflows.

The PAF should show everything needed to approve a project, an invoice should show everything needed to approv it etc.

[2021-11-17 13:28] ei8fdb commented on #2634
You're right - allow uploads of all needed files in to Hypha is a separate issue.

For the moment I _think_ it is the finance users and the compliance users being able to add the compliance check results. Instead of uploading the compliance check results to the cloud storage - like now:

![image](https://user-images.githubusercontent.com/1899506/142207589-7c71d95c-d608-4b4b-b46c-faa94ed28dcc.png)

[2021-11-17 13:53] frjo commented on #2634
We already have "Supporting documents" uploads. Adding a upload field for that instead of the textbox above would allow them to upload the files directly to Hypha.

[2021-11-17 16:07] chriszs commented on #2630
Makes total sense and is exactly what ARDC is asking us for. Would be willing to provide PRs toward that end, too.

[2021-11-17 22:03] fourthletter commented on #2634
@frjo My rudimentary interpretation of what each group can and should access in the finance/contracting workflow

 **Table 1: Which documents could user groups access?**

User Group | Full Proposal| Vendor Set-up | Project in Contract Phase  | Project in Progress Phase
------------ | ------------- | -------------| -------------| -------------
staff  | Yes | Yes  | PAF, W8, W9, Contract | Invoices,

[2021-11-18 12:09] ei8fdb commented on #2622
This issue, and it's sub-issues have been moved to the OTF specific repo https://github.com/OpenTechFund/apply-app/issues/2

[2021-11-18 12:09] ei8fdb commented on #2623
This issue, and it's sub-issues have been moved to the OTF specific repo https://github.com/OpenTechFund/apply-app/issues/3

[2021-11-18 12:09] #2623 closed, assigned to ei8fdb

[2021-11-18 12:10] ei8fdb commented on #2624
This issue has been moved to the OTF specific repo https://github.com/OpenTechFund/apply-app/issues/4

[2021-11-18 12:10] #2624 closed, assigned to ei8fdb

[2021-11-18 12:13] ei8fdb commented on #2625
This issue has been moved to the OTF specific repo https://github.com/OpenTechFund/apply-app/issues/5

[2021-11-18 12:13] #2625 closed, assigned to ei8fdb

[2021-11-18 12:13] ei8fdb commented on #2626
This issue has been moved to the OTF specific repo https://github.com/OpenTechFund/apply-app/issues/6

[2021-11-18 12:13] #2626 closed, assigned to ei8fdb

[2021-11-18 12:14] ei8fdb commented on #2627
This issue has been moved to the OTF specific repo https://github.com/OpenTechFund/apply-app/issues/7

[2021-11-18 12:14] #2627 closed, assigned to nobody

[2021-11-18 12:15] ei8fdb commented on #2628
This issue has been moved to the OTF specific repo https://github.com/OpenTechFund/apply-app/issues/8

[2021-11-18 12:15] #2628 closed, assigned to ei8fdb

[2021-11-18 12:15] ei8fdb commented on #2629
This issue has been moved to the OTF specific repo https://github.com/OpenTechFund/apply-app/issues/9

[2021-11-18 12:15] ei8fdb commented on #2631
This issue has been moved to the OTF specific repo https://github.com/OpenTechFund/apply-app/issues/10

[2021-11-18 12:15] #2631 closed, assigned to ei8fdb

[2021-11-18 12:15] ei8fdb commented on #2632
This issue has been moved to the OTF specific repo https://github.com/OpenTechFund/apply-app/issues/11

[2021-11-18 12:15] #2632 closed, assigned to ei8fdb

[2021-11-18 12:16] #2629 closed, assigned to ei8fdb

[2021-11-18 12:16] #2622 closed, assigned to ei8fdb

[2021-11-19 05:30] sandeepsajan0 commented on #2599
**Findings**: I tried to add WAGTAIL_FRONTEND_LOGIN_URL but it didn't worked out because https://test.hypha.app/login/ is not working, login is only working for https://test-apply.hypha.app/login/.  I tried many ways to redirect to the working login url but at the end I got looping issue in between login url and target page because of different domain and user is not authenticated for public pages

[2021-11-21 17:19] frjo commented on #2599
I think skipping password reset on public login is ok. Normally we direct all logins to the apply login.

[2021-11-22 11:14] #2584 closed, assigned to frjo

[2021-11-22 13:03] #2574 closed, assigned to nobody

[2021-11-23 08:31] frjo commented on #2607
@sandeepsajan0 I should have commented on this directly yesterday after the metting regarding the new public site that will be using the open rounds API call. I have opted to go with removing all HasAPIKey permissions except for the open rounds API call. Sorry about this!

The PR did show me how to set special permission for a particular function call. I implemented that at https://github.com/Hyph

[2021-11-23 10:31] fourthletter commented on #2453
This looks amazing! Thank you SO much.

QA

The PM can review the invoice:
- [X] updates the invoice status and sends a message to the contractor requesting changes to the invoice
    - drop down menu Requested changes, Approved by staff, Declined
- [X] opens the modal "Update invoice status" window.
- [X] the invoice is then put on hold until the contractor resubmits the invoice
- [X] When the PM

[2021-11-23 18:35] Erioldoesdesign opened #2642 "[META/EPIC] Security Audit recommendations from Aug 2021"
[META/EPIC] to collect the recommendation improvements from the security audit in 2021.

[2021-11-23 18:35] Erioldoesdesign opened #2643 "Require password on account e-mail address change"
**Is your feature request related to a problem? Please describe.**

As a user, when I am logged into my account on a device that I trust and I would like to change my email associated with my account. I will be required to enter my current correct account password in order to confirm the change of email process.

Makes it harder for bad people to take over the account by e.g. session hijack.

**Is

[2021-11-23 19:55] Erioldoesdesign opened #2644 "Require password on account 2FA change"
**Is your feature request related to a problem? Please describe.**

As a user, when I am logged into my account on a device that I trust and I would like to change my 2 factor authentication associated with my account. I will be required to enter my current correct account password in order to confirm the change of 2 factor authentication.

**Is your feature request related to an existing function

[2021-11-23 22:45] chriszs opened #2645 "Summary header misspelled "summery""
**Describe the bug**

Summary header misspelled "summery" on submissions results dashboard.

**To Reproduce**

1. Go to `apply/submissions/result/`
2. Observe header

**Expected behavior**

Should be "summary."

**Priority**

- Low priority (annoying, would be nice to not see)

**Affected roles**

- Staff

**Screenshots**

<img width="433" alt="Screen Shot 2021-11-23 at 5 43 35 PM" src="https://us

[2021-11-23 23:03] chriszs opened #2648 "Errant bracket by screening status in submission meta row"
**Describe the bug**

Errant bracket appears by screening status in submission meta row.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to `apply/submissions/`
2. Click on the arrow next to a submission to reveal the meta row

**Expected behavior**

No bracket.

**Priority**

- Low priority (annoying, would be nice to not see)

**Affected roles**

- Staff

**Screenshots**

<img width="1

[2021-11-24 08:53] #2645 closed, assigned to nobody

[2021-11-24 08:54] #2648 closed, assigned to nobody

[2021-11-24 11:39] #2400 closed, assigned to Parbhat, sks444

[2021-11-24 11:43] frjo opened #2652 "Vendor document number and Transaction type for creating invoices in IntAcct"
Vendor document number: HP######

Transaction type "Contract Invoice Release"

[2021-11-24 12:20] fourthletter commented on #2652
We thinking the vendor document number: HP###### in Intacct could be the **Invoice Number** in Hypha (see image below)

<img width="976" alt="Screen Shot 2021-11-24 at 1 13 48 PM" src="https://user-images.githubusercontent.com/20019656/143236489-a33febfb-4cee-4886-a356-e9b6c981e1b6.png">

[2021-11-25 09:49] #2583 closed, assigned to sks444

[2021-11-25 09:55] #2599 closed, assigned to sandeepsajan0

[2021-11-25 09:57] Erioldoesdesign commented on #2642
If you don't use zenhub and can't see these issues in the epic here they are listed:

#2643
#2644

[2021-11-29 12:34] fourthletter commented on #2458
@ei8fdb please move this issue to https://github.com/OpenTechFund/apply-app/issues -- thank you!

[2021-11-29 12:35] fourthletter commented on #2414
@ei8fdb please move this issue to https://github.com/OpenTechFund/apply-app/issues -- thank you!

[2021-11-29 13:04] fourthletter commented on #2399
@frjo Redesigning invoice dashboards on the project's page is a great idea. I will add this to next year's scope of work/design & development roadmap.

[2021-11-29 13:04] #2399 closed, assigned to ei8fdb

[2021-11-29 13:14] ei8fdb commented on #2458
I've looked thru the issue management UI but I can't see how to move this.

You'll have to do it @fourthletter

[2021-11-29 13:14] ei8fdb commented on #2414
Same as your other request, I've looked thru the issue management UI but I can't see how to move this.

You'll have to do it @fourthletter

[2021-11-29 13:21] fourthletter commented on #2458
@ei8fdb I moved it to https://github.com/OpenTechFund/apply-app/issues/24.

[2021-11-29 13:21] #2458 closed, assigned to Parbhat, sks444, sandeepsajan0

[2021-11-29 13:23] fourthletter commented on #2414
I moved it to https://github.com/OpenTechFund/apply-app/issues/25

[2021-11-29 13:23] #2414 closed, assigned to frjo

[2021-11-29 15:08] fourthletter commented on #2619
QA

In Hypha the contractor:
- [ ] logs into after receiving an email notification from the PM (pending)
- [ ] reads the email requesting changes to a submitted invoice (pending)
- [x] navigates to their project and chooses the invoice to be edited
- [x] sees the invoice displayed and can edit the invoice, and make the required changes
	- these changes could be any/all of the following:
		- [x] ch

[2021-11-30 13:13] #2564 closed, assigned to sandeepsajan0

[2021-12-01 16:39] danblah opened #2656 "A banner/notification in hypha that lets users know there is a new version of hypha available and/or a security related update that should applied asap"
**Is your feature request related to a problem? Please describe.**
As an adopter of Hypha I want a way to know that an update/version has happened to the main Hypha repositories code without having to hear from a synchronous meeting, email or channel comms or looking in releases in the (this) github repository.

This applies to feature release large and small and also security updates but both of

[2021-12-01 18:01] chriszs opened #2657 "Custom determination message templating"
This is a little more of a discussion, because I'm not sure the way I've approached it is something the project will want to adopt, but here goes anyway:

**Is your feature request related to a problem? Please describe.**

ARDC wants to have templated values from application answers in their determination messages, specifically they want to have things like the dollar amount, the applicant's addre

[2021-12-01 18:13] kfogel commented on #2657
I know my "+1" here only partly counts, because I'm representing the same organization as @chriszs :-), but I think the ability to review (and thus possibly edit) the about-to-be-sent message before sending will be important to many users.

Often the user will wish to insert a personal sentence or two into the message, for example because they have been communicating with the applicant out-of-band

[2021-12-01 18:59] frjo commented on #2657
I'm hesitant on two issues:

1. The determination message is sent via e-mail. I consider e-mail an insecure channel. Much like a postcard. Not a channel I like to send any sensitive information.
2. Having staff users enter/edit "{{variables}}" is fragile. I believe it is too much of a load to put on the user.

How do you view these two issues?

[2021-12-01 19:00] frjo commented on #2656
We can see how Wagtail implements this feature.

[2021-12-02 08:20] frjo opened #2658 "Allow control over who reviewers can communicate with"
This refers the the visibility settings in the communication tab on submissions. Right now reviews can select "Reviewers" and "All".

[2021-12-02 14:29] fourthletter commented on #2657
I'm a proponent of pre-populated messages that are editable. A majority of our determination templates are approximately 1-2 paragraphs long. There was a nascent idea of using meta terms to group/segment applications, and associate these applications with the appropriate message. For example:

- A meta term for telephone call would receive a pre-populated message requesting a call
- A meta term on

[2021-12-02 15:28] chriszs commented on #2657
Re: your questions, @frjo:

1. I think the information we're talking about is not particularly sensitive and the convenience of including it in the message outweighs that. A postcard is a good metaphor, but I don't know that users trying to tell an applicant their project was accepted think of it that way.
2. Yes, I think this is an issue. I did look at the feasibility of [extending Draftail](http

[2021-12-03 03:07] fourthletter commented on #2643
This works! 100 points to Gryffindor! 🌈

Please change text from 'Email change requires you to put password' to **Please re-enter your password to verify your account.**

QA

- [X] Changing the user's name does not trigger a verification module
- [X] Changing the user's email triggers a verification module (image 1)
- [X] Verification module asks the user to enter their password to verify email ch

[2021-12-03 13:07] ei8fdb commented on #2644
@sks444 @frjo

To answer your questions:

1. where should the user be prompted when disabling/changing 2FA?

Here is the proposed userflow showing where the user is prompted for their password:

![hypha#2644.1 - Require password on account 2FA change](https://share.balsamiq.com/c/gLdMj6RqeyJDLawUbRzgtu.png)

2. where should the user be prompted when requesting to view the 2fa backup codes?

![hyph

[2021-12-04 04:10] sandeepsajan0 commented on #2644
@ei8fdb We don't need password when user is enabling the 2FA for the first time on their account?

[2021-12-05 18:30] frjo commented on #2644
@sandeepsajan0 No, I do not think we need a password for first time setup.

[2021-12-06 10:12] ei8fdb commented on #2644
@sks444 I've updated [the design](https://camo.githubusercontent.com/4c4ff6e4c0c4dff3a9c7712cae71b55a1c9eba27a614ad55fbc051304879fa01/68747470733a2f2f73686172652e62616c73616d69712e636f6d2f632f384e464135585141735675344b31626b6133334c71412e706e67)for requiring the user password to show the backup codes.

Can you review it and tell me if this is the design you were suggesting?

@Erioldoesdesign on th

[2021-12-06 10:21] sks444 commented on #2644
@ei8fdb, yes, that looks good for the current implementation. Thanks!

[2021-12-06 13:29] frjo commented on #2644
This is deploying to test. Will be available to test in a few minuts.

[2021-12-06 19:20] fourthletter commented on #2644
@sks444  I was NOT led to a screen that requested me to enter a new password. Missing steps 3, 4, and 5 in the above design.

Step 1:
<img width="884" alt="Screen Shot 2021-12-06 at 8 14 55 PM" src="https://user-images.githubusercontent.com/20019656/144907937-8774a1b9-4011-438b-b9dc-7caf3b74341c.png">

Step 2:
<img width="898" alt="Screen Shot 2021-12-06 at 8 17 58 PM" src="https://user-images.git

[2021-12-07 09:18] sks444 commented on #2644
Hi @fourthletter, can you test this again, this works fine for me on test.

[2021-12-07 09:34] fourthletter commented on #2644
@frjo @sks444 Looks great! Please deploy on live.

[2021-12-07 11:04] #2643 closed, assigned to sks444, sandeepsajan0

[2021-12-07 12:13] #2644 closed, assigned to sks444, sandeepsajan0

[2021-12-09 08:56] frjo opened #2670 "Upgrade to mistune 2.x"
Need some rewriting but not mush.

[2021-12-09 18:15] chriszs commented on #2657
After talking it over with Karl, I think in the long term it might be a good idea to give users more control over message template language, but in the short term we're solving this using almost-existing tools (with one slight addition). In the interest of not adding to the backlog, I plan to close this for now and may open a narrower one for that change. Thanks for your thoughts!

[2021-12-09 18:19] chriszs commented on #2630
Okay, so far I've written a Zulip adapter that inherits from the Slack one. My plan is to open a separate issue for that as a feature, inherit from an abstract chat messaging adapter for Zulip and Hubot, and add a Slack webhook or REST API integration (which shouldn't be hard to do). _Edit:_ I wonder if the general case here is entirely chat, or if it's webhooks in general.

[2021-12-09 19:20] Erioldoesdesign commented on #2630
@chriszs Can you expand on this: "Edit: I wonder if the general case here is entirely chat, or if it's webhooks in general."

[2021-12-10 01:10] chriszs commented on #2630
@Erioldoesdesign Sure, I can try. Right now Hypha sends an event to a URL specified for Hubot. I'm proposing expanding that to cover Zulip and Slack directly. Each works similarly by receiving an event message at a URL. But in addition to those chat applications, there may be other types of systems that could benefit from event notifications. IFTTT and Zapier come to mind as popular ways to integr

[2021-12-10 08:47] frjo commented on #2630
@chriszs Excellent ideas! Defintly webhooks in my mind, anything that can receive notifications for users.

That we now happen to have Slack integration is because OTF use it for all internal communication.

My end goal is to have all notifications default to e-mail. Then an organisation can set their own defaults, like OTF would set that staff notification be default goes to Slack. Each user then

[2021-12-10 12:08] fourthletter commented on #2657
I need the phrase "In the interest of not adding to the backlog, I plan to close this for now" hand stitched on a pillow 🪡

[2021-12-10 16:30] #2657 closed, assigned to nobody

[2021-12-13 05:07] fourthletter commented on #2462
Could we please change the JavaScript message reported to mitigate confusion?

[2021-12-13 05:13] sandeepsajan0 commented on #2462
@fourthletter  I am working on django-file-form(package we are using to upload files) js for issue #2570. I'll check if we can solve it as well from there somehow.

[2021-12-14 12:39] Erioldoesdesign commented on #2656
Gave this issue more detail and flavour according to what I think an adopter user needs from this and what kinds of actions post notification might be needed to do.

Also did a little bit of Wagtail digging to try and find relevant info but unsure If I was on the right track.

[2021-12-14 15:25] Erioldoesdesign commented on #2644
Sorry for the delay - I also tested the 'remove 2fa' and got the enter password process!

Understand this has been closed but just noting that the language token (which is the 6 digit number on 2fa apps) might be worth referring to as token/number when setting up 2fa... @ei8fdb did we set up that epic to capture improvements to the settings page? or should I create it?

[2021-12-14 15:33] Erioldoesdesign commented on #2644
Noting there's conversation re. improving usability and UX of settings happening here: https://github.com/OpenTechFund/apply-app/issues/31 but it's on hold pending critical OSS governance conversations.

[2021-12-14 15:34] Erioldoesdesign commented on #2644
Yup I went digging for it and found it

[2021-12-14 15:35] ei8fdb commented on #2644
Right, I have no preference where it should be put. If they are different pieces of work can we define them well, or else put them in the same issue. Otherwise it'll get confusing.

[2021-12-15 09:15] #2619 closed, assigned to chaitu210

[2021-12-20 13:19] sks444 commented on #2444
Hey @ei8fdb, just wanted to remind about the design of submitting/viewing required checks that we discussed on standup.

[2021-12-20 17:47] Erioldoesdesign commented on #2658
Does this need design from a UX pov?

[2021-12-20 23:31] sks444 commented on #2454
@frjo @ei8fdb,

This is to confirm what happens after finance 1 requests the changes addressing pm and they receive the notification.

E.g. How do they(pm) communicate with the contractor?

Assuming this would follow the same initial flow b/w the PM/contractor. Where PM will have to again request changes addressing the contractor and when contractor resubmits, PM approves..and the invoice again sh

[2021-12-21 20:10] fourthletter commented on #2454
@sks444 I agree with the workflow you described here (https://github.com/HyphaApp/hypha/issues/2454#issuecomment-998347051)

Finance 1 & 2 have the knowledge and training to identify issues with the invoice that the PM might have missed when they initially approved the invoice. PMs should have the possibility to request additional changes from the contractor again.

[2022-01-12 09:50] frjo commented on #2444
There are two ways of solving this, I leve it up to @sks444 to pick the solution.

1. We reuse the standard Hypha pattern of opening a popup with a form to enter the checks.
2. Add a save button to the checks that does an AJAX call to save them, much like how the deliverables work.

[2022-01-12 09:55] frjo commented on #2454
When Finance 1 or 2 ask for changes to an invoice it goes to the PM. The PM can fixit themselves if possible or sent it on to the applicant.

When the changes are done I think we should let the invoice go through the work flow again, just as if it was a new invoice.

This makes it easy to implement and it is a safe bet for now. Everyone will need to approve stuff all the time, no one left out.

I

[2022-01-12 15:23] fourthletter opened #2681 "Files tab in Submissions"
## User Story
As a Program Manager or an applicant I would like to view and easily access documents associated with the application like the budget, cv, etc. and previous submissions. Related to GH issue #2634

## What happens now?
Previous submissions associated with an applicant are presented in the bottom right-hand corner. The budget, cv, and other documents uploaded by the applicant is toward

[2022-01-13 11:16] Erioldoesdesign commented on #2634
Related we.hypha post here: https://we.hypha.app/t/what-does-the-files-tab-need-to-do-for-users/237

Collecting x-adopter feedback is scheduled for Jan 2022 Adopters call: https://we.hypha.app/t/monthly-adopters-meeting-2022-january-26th/228

[2022-01-17 19:28] #2681 closed, assigned to nobody

[2022-01-18 14:51] frjo opened #2685 "Remove Hypha styleguide available "/styleguide/""
Add all commonly used elements to this page.

[2022-01-24 08:41] frjo opened #2689 "Replace Gulp with something more updated, gulp relies on to many outdated packages"
Gulp has not been updated in three years and in nom land that is an eternity. I think we should replace it to clear out a lot of old dependencies and minor security issues.

Gulp is used to:

* Build CSS and JS for production and CI.
* Watch CSS and JS during development.
* Build React app via Webpack
* Analyse React app via Webpack
* Copy fonts and images for production.
* Run Djangos collectstat

[2022-01-28 16:00] fourthletter commented on #2444
Hiya @ei8fdb:  @sks444 asked yesterday if Finance 1 should be able to "Decline" after they have "Requested changes." We decided Finance 1 could carry out both activities without restrictions because it was easier to develop. We will look into a better design when we refine this feature in the future.

[2022-01-28 23:47] slifty opened #2694 "`docker-compose build` ends on a permission error"
**Describe the bug**

When I run `docker-compose build` the build process breaks on step 11/14 due to a permissions error.

**To Reproduce**

Steps to reproduce the behavior:
1. Clone the repository to a new machine / no docker images
2. Run `docker-compose build` in the `docker` directory

**Expected behavior**

I would expect the build step to work.

**Priority**

- Medium: I have fixed this for

[2022-01-29 11:23] #2694 closed, assigned to nobody

[2022-01-31 09:34] #2527 closed, assigned to sandeepsajan0

[2022-01-31 09:36] #2522 closed, assigned to sandeepsajan0

[2022-01-31 13:26] frjo opened #2698 "Update jest to 27.x, tests are failing when updating"
We would like to update to latest jest to all its dependencies can be updated as well.

Tests are failing with the latest version (27.x as of this writing) so some fixes seems to be needed.

[2022-01-31 13:33] frjo commented on #2689
I have already replaced Gulp with plain npm script for linting CSS and JS.

[2022-01-31 14:30] frjo opened #2699 "Update webpack, webpack-dev-server etc. to latest versions"

[2022-02-02 07:22] sandeepsajan0 commented on #2658
@frjo Currently, we are using the same visibility options/permissions for a user for all activities(comments and actions) irrespective of its types from [here](https://github.com/HyphaApp/hypha/blob/main/hypha/apply/activity/models.py#L130).  Do we need to separate the visibility permissions for comments and activity in this case?

[2022-02-02 07:45] frjo commented on #2658
@sandeepsajan0 Hold on this one, we need to discuss what is really needed by the users first.

[2022-02-02 09:36] sandeepsajan0 commented on #2570
I went through the many issues and docs but couldn't find a good fix for this one. As we know, this is happening only with Chrome or Chromium and working fine in safari and other browsers. For the safe side, we already have a placeholder that mentions all accepted file types, so I think it is okay for now until we get something solid or get this issue fixed by Chromium.

What do you think @frjo ?

[2022-02-02 09:52] frjo commented on #2570
Thanks for looking in to this issue. I agree that we can live with this issue. Closing this for now.

[2022-02-02 09:52] #2570 closed, assigned to sandeepsajan0

[2022-02-03 09:59] sks444 opened #2704 "User notifications on invoice transition in finance flow"
## Summary

OTF needs to inform the users involved in the process of invoice transition through the webapp.  This is so they can be kept up-to-date of the invoice status, and be notified if they are required to do anything.

## Users involved
- Contractor: they submit the invoice.

- Programme Manager Staff: they are the contractor's point of contact within OTF.  They review the invoice to make su

[2022-02-03 10:10] sks444 commented on #2704
We need a way to notify(either via slack or email) to respective users whenever an invoice is getting transitioned into different states. Above are the few notifications that I collected from different finance issues. We can discuss here and decide something final. I believe we also need to send notification to applicant on final approval of invoice(finance 2 approval)?

For now, I will go-ahead a

[2022-02-03 12:12] fourthletter commented on #2704
On Feb 3 during standup we discussed the content that should be embedded into emails.

- [ ] Default settings for emails and slack; different porks for different forks: staff gets slack while contractors get emails
- [ ] Emails will contain links that go directly to the projects page, invoice, communication/message, etc.
- [ ] Bernard has ideas for additional email notifications
- [ ] Fredrik prop

[2022-02-03 16:15] ei8fdb commented on #2704
@fourthletter going back through my notes, these are the different states and review steps spoken about:

![image](https://user-images.githubusercontent.com/1899506/152383410-279cfd1a-b4a4-4162-812b-03d32c04b447.png)

Can you confirm th following are correct:
- when finance 1 requests changes the request goes from finance 1 to PM  staff (5 above), then from PM Staff to contractor (6 above), back t

[2022-02-03 17:35] fourthletter commented on #2704
@ei8fdb

These are correct:
- [x] when finance 1 requests changes the request goes from finance 1 to PM  staff (5 above), then from PM Staff to contractor (6 above), back to PM staff (7 above), then PM staff to finance 1 (8 above)
- [x] from PM staff to contractor (11 above), back to PM staff (12 above), then from PM Staff to finance 1 (13 above), then from finance 1 to finance 2 (14 above).

Sugg

[2022-02-03 18:00] ei8fdb commented on #2704
Thanks for that, and also the other changes to the contractor notifications. 👍

Can you give me some more info on what those modifications could be? Just so I understand.

Are finance users to be able to modify an invoice submitted from a contractor?

[2022-02-07 12:49] ei8fdb commented on #2704
@fourthletter Thanks for the above comments Di.

- [x] Can you confirm the invoice flow, and required notifications below are correct

![image](https://user-images.githubusercontent.com/1899506/152790379-df4dc61e-41ac-4397-9f17-9291fc9160a5.png)
(If it's hard to read, you [can see the original](https://notes.saneux.ei8fdb.org/shares/pI92hWbkbGPe09lysF9fWH))

Then we can:
- [x] start writing the co

[2022-02-07 13:45] fourthletter commented on #2704
@ei8fdb

Workflow and required notifications look great -- thank you! During Feb 7 stand-up we decided default setting is staff gets slack notifications while contractors get emails.

[2022-02-08 12:01] Erioldoesdesign commented on #2658
Looks like this needs some brief user survey/interviews across the program management of an application to see who need to see communications tab at what points in a workflow process.

Example hypothesis: Program Manager lead might want finance team members to see communications related to budget/invoices/finance information but not 'all' staff to see the communication tab in budget/invoice/financ

[2022-02-08 12:26] Erioldoesdesign opened #2706 "[META/EPIC] Django updates 2022"
This is an Epic or [META] to collect the issues for Django updates from Q4 2021 to Q1 2022

[2022-02-08 12:33] Erioldoesdesign commented on #2670
https://github.com/lepture/mistune

[2022-02-08 12:46] Erioldoesdesign opened #2707 "[META/EPIC] Discovery with Adopters re. expectations of Hypha.app / 'headless' Hypha"
From a discussion at Feb 1st maintainers call

Hypha.app is a ‘headless tool’ that powers the application. Discovery with Adopters re. expectations of Hypha.app

Skin templates for public website e.g. Wagtail front-facing website. Other Adopters don’t use this theme because it doesn’t match what they want from their website. Adopters want to use Hypha for both ‘apply backend’ only or ‘front websit

[2022-02-08 12:56] Erioldoesdesign opened #2708 "[META/EPIC] Reporting"
# Reporting

## Is your feature request related to a problem? Please describe.

As a funder managing applicant projects and fund in Hypha, I want to be able to report across the lifecycle of a project on a number of key metrics, deliverables and details so that I might be able to better understand 'at a glance' how well certain organisational KPI's and goals are happening across projects being man

[2022-02-08 17:40] fourthletter opened #2709 "User notification(slack/email) transition in submission flow"
### User Story

As a user, I am managing several funding workflows. Email notifications in Hypha are **global,** email notifications impact ALL funds, labs, and types of workflow in the Hypha instance I'm using. Relates to #2225

- [ ] Draft emails that are universally applicable to every fund, lab, and workflow type
- [ ] Ensure reading usability of strings in Hypha Core
- [ ] Provide user docume

[2022-02-09 07:20] sks444 commented on #2704
@ei8fdb, thanks for the beautiful design!

Can you also add a notification flow for when Invoices gets declined?

All three users(PM Staff, Finance 1 and Finance 2) have the ability to decline invoices. I believe we are sending notification directly to contractor in all three cases?

cc: @fourthletter

[2022-02-09 07:28] ei8fdb commented on #2704
Ah, you're 💯 right @sks444. We missed the case for invoice declining. Excellent catch.

-  [x] That is how I understand it too. @fourthletter is that correct?

[2022-02-09 08:35] fourthletter commented on #2704
@ei8fdb

- [x] PM declines invoice - notifies Contractor

- [x] Finance 1 declines invoice - notifies PM; does NOT notify Contractor

- [x] Finance 2 declines invoice - notifies Finance 1; notifies PM? ; does NOT notify Contractor
- It's unclear to me if a decline from Finance 2 should notify PM because the issue may not be pertinent to the PM. For example, Finance 1 didn't complete a SAM check. N

[2022-02-09 08:55] sks444 commented on #2704
Just to point to out that, in case where any changes are needed to an invoice we are using changes requested flow.

Declining an invoice makes the invoice invalid, that means it should not be processed further.

Invalid is something similar to deleting an invoice but still keeping the record in our system.

[2022-02-09 09:29] sks444 commented on #2704
@ei8fdb, we continued this discussion on standup Feb 9.

We decided to only let PM/Staff to decline invoices.

PM has direct communication with both contractor and finance they can put up a valid reason to decline invoices. And also can communicate further with contractor.

There is very less possibility that an invoice get invalid once the PM has approved it. But even if that case occur finance c

[2022-02-09 09:44] ei8fdb commented on #2704
@sks444

I don't understand this part - can you explain it in more detail?

[2022-02-09 10:42] sks444 commented on #2704
@ei8fdb, at finance level, we wouldn't generally want invoices to be declined when they have already been approved by PM.

That said, as finance we can always request changes back to PM. And if PM thinks those changes can not be made..they have the option to decline.

[2022-02-09 10:50] ei8fdb commented on #2704
OK understood. So - there is no need for me to include this in the notification flow, or messages, correct?

[2022-02-09 11:01] sks444 commented on #2704
Correct 💯

[2022-02-09 19:26] chriszs opened #2712 "Babel currency lookup throws error when region is specified"
**Describe the bug**

We have the locale in Hypha set to `en-us`. This caused Babel's locale parsing used in `get_currency_name` calls added in #2693 to throw errors that said it expected only characters.

**To Reproduce**

1. Change `LANGUAGE_CODE` to `en-us`.
2. Open the Hypha apply dashboard in debug mode.
3. You should observe an error message.

**Expected behavior**

This should parse regiona

[2022-02-09 19:27] chriszs commented on #2712
Have a patch for this. Will open PR shortly.

[2022-02-09 23:48] chriszs opened #2714 "Editing user accounts for non-staff appears to cause error validating non-existent Slack field"
**Describe the bug**

When non-staff users try to update their name on the account page, they get the key error seen in the screenshot below. It's coming from [attempting to validate](https://github.com/HyphaApp/hypha/blob/6bc7b8d6cb829cc81c71313a1135f456256907d2/hypha/apply/users/views.py#L70) the Slack field that seems to be removed for all but staff.

**To Reproduce**

Steps to reproduce the be

[2022-02-10 07:57] #2714 closed, assigned to nobody

[2022-02-10 08:06] #2712 closed, assigned to nobody

[2022-02-10 08:33] frjo commented on #2689
@vimal1083 What are the good and modern options for this? Webpack for everything, plain npm scripts or some other nice solution?

I replaced linting with plain npm scripts and that works well but has no "watch" functionality. The new solution can hopefully add a watch command to linting as well.

[2022-02-10 08:33] #2698 closed, assigned to vimal1083

[2022-02-10 20:43] slifty opened #2716 "Consider adding an `.editorconfig`?"
**Is your feature request related to a problem? Please describe.**

Would the maintainers consider the inclusion of a [.editorconfig](https://editorconfig.org/) file at the repository root?  The vast majority of editors support editorconfig either directly or via plugin, and this file would make it easy for contributors to adhere to the project's expected whitespace patterns.

**Is your feature re

[2022-02-10 21:32] slifty opened #2718 "Validation errors for Rich Text Editor fields are hidden"
**Describe the bug**

When a rich text field has a validation error (e.g. if it is required and needs to be filled), the error message is hidden by the RTE controls.

**To Reproduce**

Steps to reproduce the behavior:
1. Create a form with a required RTE field
2. Submit the form without filling the RTE field to trigger the correct validation error.
3. Notice the validation error isn't visible!

**

[2022-02-11 10:12] #2718 closed, assigned to nobody

[2022-02-11 15:09] #2716 closed, assigned to nobody

[2022-02-14 09:35] fourthletter opened #2723 "Inconsistent design of 'Assign' user interface"
There are currently three dropdown menus to assign new users on the submissions interface. Each dropdown menu is different. As a user I would like to see consistency across these features.

### Case Study: Reviewer

"No user selected"

![Screenshot 2022-06-04 6 57 08 PM](https://user-images.githubusercontent.com/20019656/172017480-e0f14650-2013-4fb3-a49d-15b0bf51074a.png)

### Case Study: Partner

[2022-02-15 20:11] slifty opened #2724 ""Admin" button appears even if a user does not have wagtail admin rights"
**Describe the bug**

When logged in as a user who has access to the admin dashboard but without wagtail admin access the "Admin" button appears even though the user is forbidden to view those wagtail admin pages.  The button should only render for users who are allowed to view the admin pages.

**To Reproduce**

Steps to reproduce the behavior:
1. Create a user with the "Staff" role (not admin)
2

[2022-02-15 20:38] slifty opened #2725 ""No directory" warnings when running tests on a new clone"
**Describe the bug**

When I run tests on a fresh "from scratch" installation: `python manage.py test --settings=hypha.settings.test`

I receive hundreds of warnings similar to this:

[code]

It is possible I missed a key step (or a step failed unrelated to this issue) that would create this directory; but wanted to raise the issue in case.

**To Reproduce**

Steps to reproduce the behavior:
1. Fo

[2022-02-15 22:45] fourthletter commented on #2724
The "admin" button is access to the WagTail Admin. The staff role has the administrative rights to access the WagTail Admin to update application forms, publish a fund, etc.

I recommend changing the user interface so it's more straight forward to the user.

[2022-02-16 02:59] slifty commented on #2724
@fourthletter Just want to be sure I am on the same page to figure out if I just have a local misconfiguration that is the root of this issue.

I have a "Staff" user (*NOT* a superadmin, just "Staff" role with no admin checkbox) -- the original issue's screenshot is taken from a view logged in as that user, and as shown the admin button appears for this non-superuser staff user.

When I click "Adm

[2022-02-16 03:10] slifty commented on #2724
Update: it appears the issue is that my "Staff" group role did not have "Can access wagtail admin" checked (though worth noting this does not appear to be checked in the test environment either -- e.g. when I run tests, that permission is not applied to users with the "Staff" role.).

<img width="895" alt="image" src="https://user-images.githubusercontent.com/208884/154188590-5148a7e4-1504-49b0-83

[2022-02-16 07:58] frjo commented on #2724
@slifty Thanks for noticing, and providing a fix for this. With tests as well! That earn you at least one gold star :-).

The root cause is that the original organisation that built Hypha have since day one set the "Can access wagtail admin" for the staff role. I can trace this code back to the first version of Hypha in 2018.

I'm suspect similar issues exist in other places. But there is now one

[2022-02-16 08:36] frjo commented on #2725
The `static` directory should be created when running `collectstatic`. Tested it on a fresh install myself just now and it worked there (macOS 12).

I have found it is best to run `collectstatic` like this:

`python manage.py collectstatic --noinput --settings=hypha.settings.dev`

I really need to update these docs pages, thanks for reminding me of this!

These two doc pages needs updating:

https

[2022-02-16 09:12] vimal1083 commented on #2689
It is better to use webpack for all operations, working on the same. will let you know once it is done

[2022-02-16 12:19] #2471 closed, assigned to sandeepsajan0

[2022-02-16 14:57] slifty commented on #2725
Just a heads up that it looks like these warnings are appearing in the CI tests as well:

<img width="1076" alt="image" src="https://user-images.githubusercontent.com/208884/154291246-cb9769c6-7399-4fcf-8ce5-17fadb2eb5f5.png">

I wonder if it would be worth making sure the directory exists as part of the test command too

(or adding a `static/.gitkeep` so it's just there as part of the repo)

[2022-02-16 15:20] frjo commented on #2725
I fixed that earlier today in https://github.com/HyphaApp/hypha/pull/2727.

Does `collectstatic` create the `static` dir in your local  environment or are there more issues at play?

[2022-02-16 15:49] slifty commented on #2725
Oh nice -- and yes it does; my issue / the original issue is resolved.

[2022-02-16 16:13] slifty opened #2729 "Review grid can have overlapping text"
**Describe the bug**

Under some circumstances text from the columns in the "Review Sidebar" overlap.

**To Reproduce**

Steps to reproduce the behavior:
1. Create a submission
2. Create a review with the "Maybe" recommendation
3. View the submission
4. See error

**Expected behavior**

Score and recommendation text should not overlap

**Priority**

- Low priority (annoying, would be nice to not s

[2022-02-16 17:07] #2725 closed, assigned to frjo

[2022-02-17 11:19] frjo opened #2731 "Environs env.url() returns a URL object so replace with env.str()"
It is not a drop in replacement so creates havoc on the functions that use these settings and expects a URL as as a string.

MAILGUN_API_URL and SLACK_DESTINATION_URL both get mangled so notifications can not be sent out.

[2022-02-17 11:30] #2731 closed, assigned to frjo

[2022-02-18 19:42] slifty opened #2734 "Consistent table headers on submissions tab and dashboard tab"
**Is your feature request related to a problem? Please describe.**

The "My dashboard" (`/apply/dashboard/`) page has a table that lists past reviews.
The "Submissions" (`/apply/submissions/`) page has a very similar table (the "Role" field is removed)

The content is almost the same, but the order of the columns is different.  One of our users requested that the order be consistent between the tw

[2022-02-19 14:38] #2724 closed, assigned to nobody

[2022-02-19 14:41] frjo commented on #2734
Good to make them look the same, as much as possible.

[2022-02-21 12:06] #2729 closed, assigned to slifty

[2022-02-21 13:25] frjo commented on #2523
Deployed to test now.

[2022-02-23 09:30] fourthletter commented on #2734
@slifty Thank you for flagging this. At the moment we will select one column order and ensure this design is consistent throughout the platform.

[2022-02-23 11:26] Erioldoesdesign commented on #2734
Would love this UX bug fixed :) we'll happily receive that PR

@slifty quick question, as we don't yet have points sizing (or any sizing or S/P rank priority process yet) would you say this is a very low points? like a 1 or a 3 on the agile points scale? We may end up using tshirt sizes too so I would say this is XXS (xtra xtra small)

[2022-02-23 13:31] ei8fdb commented on #2704
The UX work is paused for the moment. I've asked for review from finance staff and devs.

From discussion with Di yesterday, no design work is needed for the moment.

[2022-02-23 17:49] slifty opened #2736 "Support localization for reviewer toggle labels"
**Is your feature request related to a problem? Please describe.**

We would like to change "All Assigned Advisors" to "All Assigned Reviewers" in the reviewer sidebar, since the term advisor isn't used elsewhere in our application flow.

Normally I would use localization to translate the string, however this particular line is hard coded [in the javascript](https://github.com/HyphaApp/hypha/blob/

[2022-02-23 17:56] slifty commented on #2734
This is super small (XXS) and I do have the local fix (we actually diverged which columns to render on both these tables in our local instance -- adding ID and removing one of the columns).

Ultimately it comes down to:

1) One of the table explicitly specifies the sequence of ALL columns.
2) The other uses the Django table's `"..."` magic sequence key to specify sequence.  Unfortunately the field

[2022-02-23 18:06] chriszs commented on #2658
ARDC asked us to remove ability for applicants to see comments in large part because they didn't want applicants to see comments from reviewers left visible to them by mistake. What we've done is to remove the comments tab for applicants and changed the permissions so applicants aren't included in "All" then renamed that to "everyone but applicants." I also renamed most other visibility categories

[2022-02-23 18:47] frjo commented on #2736
The default text should be "reviewers" and not "advisors", we are using "reviewers" everywhere else. This is a very quick PR.

Hardcoded strings in javascript is not nice. Definitely should have them in DOM and just swap them with javascript.

[2022-02-23 20:47] slifty opened #2738 "Add edit link to message telling users they already created a review"
**Is your feature request related to an existing functionality? Please describe.**

Right now if a user goes back to the review creation page for a given submission *after* they already created a review, they see the message `You have already posted a review for this submission`:

<img width="574" alt="image" src="https://user-images.githubusercontent.com/208884/155404372-c0883218-e5fd-489c-8dfa-c

[2022-02-24 03:39] chriszs commented on #2736
There's a couple places where there's hardcoded stuff in JS. Dealt with this somewhere else. There's a Django way to translate JS, but I don't know if it makes sense to do in Hypha or not.

[2022-02-24 06:51] frjo commented on #2736
I would like to replace all of them. Maybe let Django place the translatable string in a data-* attribute that javascript then easily can pick up.

[2022-02-24 09:01] frjo opened #2740 "The option "Leave blank to use the default Category label" works on form but not on view"
Staff can add category questions to applications forms. The categories themselves are created here "/admin/categories/category/".

The field type on application forms are called "Category"listed under "Custom". https://test-apply.hypha.app/admin/funds/applicationform/edit/32/

The label field states "Leave blank to use the default Category label". This works when the field is displayed on a form.

[2022-02-24 09:06] fourthletter commented on #2738
My Hypha version already has an edit button:

<img width="1255" alt="Screen Shot 2022-02-24 at 9 08 25 PM" src="https://user-images.githubusercontent.com/20019656/155599718-8a7bc187-5fe0-4558-b855-b786c791b7f7.png">

[2022-02-24 19:14] chriszs opened #3081 "Consider adding compile message command to docs"
E.g. `python manage.py compilemessages -l en` in the administration from scratch page and/or dev page. This is to activate translations and it's the only major step we do that isn't documented.

[2022-02-24 19:50] fourthletter commented on #2736
Could we please also change "All Assigned Advisors" to "All Assigned Reviewers" in Hypha Core's reviewer sidebar? The term _advisor_ isn't used elsewhere in Hypha's application flow. Thank you.

The individuals on the "All Assigned Advisors" list are referred to as **Reviewers** in the WagTail admin:

<img width="551" alt="Screen Shot 2022-02-24 at 8 45 29 PM" src="https://user-images.githubuserco

[2022-02-24 22:55] chriszs commented on #2738
It's the page at `/apply/submissions/<ID>/review/`, e.g. the create a review form, not `/apply/submissions/<ID>/reviews/<ID>`, the view a review page. Once you submit a review, there's no explicit link to it, but users encountered it in testing by, I suspect, saving a link to their draft review.

[2022-02-25 09:57] fourthletter commented on #2738
Thank you for clarifying and flagging this issue! Look forward to seeing any PR you eventually settle on 💯

FYI - there's an 'Update draft' button in `/apply/submissions/<ID>/reviews/` when a user has already submitted a **draft**. It sounds like what you are looking for...

<img width="815" alt="Screen Shot 2022-02-25 at 10 56 37 AM" src="https://user-images.githubusercontent.com/20019656/1556948

[2022-02-25 11:51] Erioldoesdesign opened #2742 "0.0 - Hypha can store 'organisational areas of focus and goals/mission'. Build 'tags' or 'categories' within Hypha/Wagtail."
0.0 - Hypha can store 'organisational areas of focus and goals/mission' as a way to 'define' or 'categorise' an  application for funding and subsequent report information from a fundee. Build 'tags' or 'categories' within Hypha/Wagtail.

**Is your feature request related to a problem? Please describe.**

As a part of the Reporting META/EPIC https://github.com/hyphaapp/hypha/issues/2708 Hypha users

[2022-02-25 12:02] frjo opened #2743 "Validation of Requested amount on submissions and value on Projects are not the same creating issue"
Entering a large value on a submission will result in an error when creating a project from that submission.

[code]

https://github.com/HyphaApp/hypha/blob/7418f05fa0a5bea4504beaac761b33988eea622a/hypha/apply/projects/models/project.py#L138-L143

https://github.com/HyphaApp/hypha/blob/7418f05fa0a5bea4504beaac761b33988eea622a/hypha/apply/funds/blocks.py#L36-L45

[2022-02-25 19:55] Erioldoesdesign opened #2744 "0.1 - Deliverables: informed by the concept note/contract (Finance OTF work)"
**Is your feature request related to a problem? Please describe.**

As a Hypha user that intends to use the Reporting feature, I need to have a deliverables section for each fund/project deliverable as set out in their SOW/Contract/Concept Note (delete as appropriate) to be able to have any 'Core areas of funding' tags assigned to a deliverable/s that a project may have. These 'Core areas of fundi

[2022-02-27 16:55] Erioldoesdesign commented on #2744
'A deliverable should be able to also have Meta Terms added via the Meta Terms.' @frjo and @ei8fdb Do you think users should be able to tag a deliverable both with Meta Terms and 'Core areas of funding'? I think yes but then things could get 'messy'.

[2022-02-27 16:58] Erioldoesdesign opened #2745 "0.2 Improve the UI/UX of the 'Meta Terms' and future 'Core areas of funding' modal check box selection"
**Is your feature request related to a problem? Please describe.**

The current modal where the user selects Meta terms (and in the near future, 'Core areas of funding') is hard to see on a regular laptop 30" screen. Improve the layout of the selection boxes in the modal so that all 'tags' can be seen by the user and possible scrolled as well as 'searchable' in the current UI:

<img width="766" al

[2022-02-27 17:09] Erioldoesdesign opened #2746 "0.3 What other criteria are adopters reporting on? e.g. funding by country, 'Core area of funding' by country"
**Is your feature request related to a problem? Please describe.**

We've made some big assumptions here that reporting (at first) is done on goals/areas of focus/mission of the funder org but what other report criteria do Adopters have?

Are there more pressing report criteria like: Funded amount by geolocation, Demographic info or other 'impact' metrics?

These need User research validation work

[2022-02-28 01:17] emlini commented on #2658
In looking at the options in sandbox today, I was wondering if we might want to have checkboxes for each role, or a dropdown menu that populates a separate "addressee" box rather than the radio buttons.  That allows more control over which specific user types see communications relevant to them. The second option (dropdown menu populating an "addressee" box makes it more email-like (which I HOPE f

[2022-02-28 01:21] emlini commented on #2658
@chriszs what does "Partners" mean to ARDC?  In the [Hypha Roles doc page](https://github.com/HyphaApp/hypha-docs/blob/c0f376acb2a9ed8ed84eb332a8d3c6be2ee72aa6/staff/hypha_roles.md), I have defined it as a kind of co-applicant (based on communication with dev and other users), but from your comment it doesn't sound like this is how ARDC is using the term/role. Can you clarify who "Partners" refers

[2022-02-28 01:25] chriszs commented on #2658
@emlini It's a good question, and one they'd have to answer. They're not in production just yet, we hope they will be after this week. If it means that to them, I might have to go remove it from that role as well.

[2022-02-28 08:13] #2670 closed, assigned to frjo, sandeepsajan0

[2022-02-28 08:54] #2734 closed, assigned to nobody

[2022-02-28 09:33] #2523 closed, assigned to sandeepsajan0

[2022-02-28 12:05] Erioldoesdesign commented on #2736
Sounds like the 'quick fix' for @slifty is to change hard coded word to '...reviewers' but the preferable PR would be adding these to the translations and assuming that's more effort.

I think the quick fix was done here: https://github.com/HyphaApp/hypha/pull/2737

So does this issue want to capture the want for this to be in translations @frjo ?

[2022-02-28 12:20] Erioldoesdesign commented on #2658
@emlini Partners might mean (in my knowledge) either:

1. The fund applicant has 'partners' that they work with on the fund they have and so partners are included in some invoices. e.g. ARDC funds 'Project Megacool'. 'Project Megacool' hires Fredrik to do some development work and Simply Secure to do some design work. Fredrik and Simply Secure then become 'partner contractors' on that fund.
2. Par

[2022-02-28 12:41] Erioldoesdesign commented on #2738
I think this is an ideal UX via minimal 'clicks' to see what was done previously but the first option re. edit link redirect certainly gets the job 'done' so to speak.
I think one UX problem is while there are edit/update draft links and button that can be found (and therefore not 'blocking' editing/updating draft) they aren't easily found and non-intuitive.

For the first option I think you can a

[2022-02-28 13:30] frjo commented on #2736
@fourthletter That is already done in PR https://github.com/HyphaApp/hypha/pull/2737

[2022-02-28 13:32] frjo commented on #2736
A new more general issue about removing all hardcoded ( and therefor untranslated) strings from JavaScript would be the best.

[2022-02-28 14:41] frjo opened #2751 "Review and update node packages used"
Number of node related issues:

1. Is "babel-core" nor replaced with "@babel/core" and can be removed?
2. Can "@svgr/webpack" be moved to "devDependencies"?
3. Can "node-sass-import-once" be removed, was used by gulp.

[2022-02-28 15:01] slifty commented on #2738
@Erioldoesdesign I'm not entirely sure what action the user takes to get there, but if you navigate to `/apply/submissions/<ID>/reviews/` (where ID is the ID of a submission) *after* publishing a review, you should see the message.

[2022-02-28 20:54] Erioldoesdesign commented on #2738
Will test this tomorrow! 🙇

[2022-02-28 21:07] Erioldoesdesign opened #2752 "Removing all hardcoded (untranslated) strings from JavaScript"
**Is your feature request related to a problem? Please describe.**

We keep coming up against hardcoded terminology that either is being updated generically in the OSS by contributors or in their own Hypha deployments/instances. A way to mitigate this labour is to spend time removing all hardcoded (and therefor untranslated) strings from JavaScript.

**Describe the solution you'd like**

Starting

[2022-02-28 21:08] Erioldoesdesign commented on #2736
Added a new issue https://github.com/HyphaApp/hypha/issues/2752

[2022-02-28 21:08] Erioldoesdesign commented on #2736
I think this one can be closed 👍

[2022-02-28 22:54] #2736 closed, assigned to nobody

[2022-03-01 11:50] Erioldoesdesign commented on #2738
Started to test this and did not see the page + message you reference @slifty

But also got some internal server errors when I deleted reviews and tried to 'start from scratch' @frjo

Video here: https://drive.google.com/drive/u/1/folders/13nxMBvbOWgARqZFTd7InwVPjU9FhIOkB

[2022-03-01 12:16] Erioldoesdesign opened #2753 "1.0 - At application received phase Prog Mgr can connect fundee objectives to organisational 'Core areas of funding'"
From the point where the application is received, any staff role can assign a goal 'tag' from the sidebar of Hypha. 'Shown all the time'

[2022-03-01 12:21] Erioldoesdesign opened #2754 "1.0.1 - Ability to connect fundee information/reports regarding specific deliverables/reports to 'Core areas of funding'"
When a project is approved and the deliverables/objectives are added into the project by the Program Manager (see #2753 ) the 'database' of created 'Core areas of funding' is viewable and configurable in this UI/section of Hypha

e.g. As a Program manager I add 'Deliverable 1' to Project A, and from a drop down or multi-select UI I add 1 or more 'Core areas of funding' to that objective so that wh

[2022-03-01 12:30] Erioldoesdesign opened #2755 "1.0.1.3 - Do Adopters want to report on objectives 'differently' to connecting to 'Core areas of funding'"
User research into what other ways users of Hypha that want to do reporting want to connect up and report specifically on Objectives/Deliverables.

e.g. Hypothesis: Not inly do Adopters want to understand and report on what 'Core areas of funding' an Objectives/Deliverable is meeting but they also want to narrow down by region/location or another piece of insightful info to better understand the c

[2022-03-01 12:50] Erioldoesdesign opened #2756 "1.0.1.2 - 'Core areas of funding' assignable on the add report/submit a report section/page'"
Improvement

On the add report/submit a report page where staff/applicants add comments to a report phase. Enable the ability to see the 'Core areas of funding' as a drop down in the RH sidebar of the page and choose multiple to assign to a report.

Needs user validation as to whether Adopters want to also be able to add 'Core areas of funding' to this section of Hypha.

[2022-03-01 12:54] Erioldoesdesign opened #2757 "1.0.2 - Edits after 'project/deliverable completion' e.g. When a fundee is late on a project, extends deadlines or submits new data to a past project deliverable etc."
When a project is approved and the deliverables/objectives are added into the project by the Program Manager (see 0.1) the 'database' of created  'Core areas of funding'  is viewable and configurable and editable throughout the life cycle of a project e.g. As a user I have assigned  'Core areas of funding'  that were appropriate at the start of the applicant's project and then the deliverable/obje

[2022-03-01 13:34] Erioldoesdesign commented on #2742
OTF calls there 'Core areas of Funding' 'Focus areas' this would need to be covered in the user documentation.

Tagging @emlini re. docs

[2022-03-01 13:45] Erioldoesdesign commented on #2744
The 'flat list' style can look one of two ways depending on the answer to this question: Do Adopters need to select more than one 'Core area of funding'.

![Screenshot 2022-03-01 at 13 43 06](https://user-images.githubusercontent.com/11681324/156180115-05e463bd-b4b0-40d0-a716-eb2839e545b6.png)

![Screenshot 2022-03-01 at 13 43 44](https://user-images.githubusercontent.com/11681324/156180126-dbd759

[2022-03-01 13:52] Erioldoesdesign commented on #2746
We currently understand:

Some of ARDC's reporting processes via a shared spreadsheet

Some of Reset's reporting processes via Reset's reporting microsite

[2022-03-01 13:57] Erioldoesdesign commented on #2746
- [x] Ask Adopters to share with us their reporting process or 'show us' in unstructured interview sessions how they currently do reporting for their funding.
@Erioldoesdesign will start this task.

[2022-03-01 15:16] chriszs opened #2758 "When submitting an application as a logged in user, the email and name is silently overridden with the user's"
**Describe the bug**

As a logged in user, when you submit an application the name and email are silently replaced with the logged in user's.

**To Reproduce**

Steps to reproduce the behavior:
1. Log in to Hypha
2. Go to apply for funding
3. Fill in application details, including a name and email which are not in your account
4. View the application

**Expected behavior**

The name and email supp

[2022-03-01 15:27] chriszs opened #2759 "After a user updates their email address, editing an application with the old email address might associate it with a new account"
**Describe the bug**

After updating an email address in the user's profile, a subsequent edit to the application which does not update the email creates a new account.

**To Reproduce**

1. Submit an application
2. Log in as the user associated with the application
3. Update your email address in the user profile
4. Now edit the application without changing the email
5. The application will no lo