[2022-03-01 15:35] chriszs opened #2760 "Anyone can associate an application with a user if they know their email"
**Describe the bug**

If I know the email of an applicant, I can submit an application and have it show up in their account with no confirmation.

**To Reproduce**

Steps to reproduce the behavior:
1. Submit an application with the same email as a user
2. Log in to that user's account
3. You should see the application

**Expected behavior**

I'm personally fine with this behavior, but others on th

[2022-03-01 15:48] chriszs opened #2761 "Unclear to users that applications will be associated with an existing account based on email"
**Describe the bug**

Users (and by users I mean project stakeholders) have expressed to us surprise that the email they enter will matter for associating the application with an account, or that it will create a new account automatically for the user if they don't have one. In particular, the question of how to prevent a user with multiple emails from unwittingly creating multiple accounts or wha

[2022-03-01 17:29] chriszs commented on #2760
One alternate flow we discussed would detect if the applicant had an account based on their email during the submission process, and then prompt them to login to continue. That would create an issue in that it would allow someone to confirm a user's email, but in that event it would stop an anonymous user from associating applications with an existing account.

[2022-03-01 23:35] chriszs commented on #2761
The underlying issues still exists, but so far we haven't decided to require accounts first.

[2022-03-02 09:58] fourthletter commented on #2611
On 2022 March 2 during standup we discussed this issue.

Developers suggested we add the contract number `<projectid>-<vendorid>-<amendment>`  and Project Contract CNTR-XXX (this is the contract request number generated by Intacct) directly into the PAF. These ID numbers will need to be on the a) contract and be used for b) invoicing.

[2022-03-02 14:39] Erioldoesdesign commented on #2746
Collecting some recommended public reporting resources here
- OTF did this a few years ago: https://www.opentech.fund/results/visualizing-otf-application-data/
- OTF's annual reports : https://www.opentech.fund/results/annual-reports/
- https://ontrustandtransparency.report/
- https://foundation.mozilla.org/en/what-we-fund/research/moss-program-impact-evaluation-2015-2020-summary/
- Sloan’s EOY ne

[2022-03-03 12:37] frjo commented on #2759
If this is so it is clearly a bug, the submission should definitely follow the account.

When I test this I can not replicate it.

The function in question is:

https://github.com/HyphaApp/hypha/blob/6997240cebc84fe539dd3986d363aaad9ed3a77a/hypha/apply/funds/models/submissions.py#L526-L547

The issue we have had is when updating the e-mail address on an account the submission still show the old ad

[2022-03-03 12:44] frjo commented on #2758
The bad part is not communicating it clearly to the user.

We should prefill the values and disable the field or something like that.

If you are logged in to an account the submission will, and should, belong to that account and have the account e-mail used for notifications etc.

[2022-03-03 13:20] frjo opened #2764 "The category blocks help text field has help text in label"

[2022-03-03 13:23] frjo opened #2765 "Update to Wagtail 2.16.1"

[2022-03-03 14:23] chriszs commented on #2758
Right! I agree pre-filling is the way to go.

[2022-03-03 14:24] chriszs commented on #2759
Ah, right. Okay. Not an upstream issue.

[2022-03-03 14:24] #2759 closed, assigned to nobody

[2022-03-03 15:21] ei8fdb commented on #2611
From this morning's standup discussion, we decided this wasn't a good idea as until the PAF has been approved by all required the contract creation step doesn't happen, and so the contract id won't be created.

[2022-03-03 21:00] Erioldoesdesign commented on #2758
Agree with this! as a user of google/other services pre-fill for forms the static text and edit button is one more click away from me filling out this form.

Disabling the field after pre-filling email sounds good for the user case where the user did mean to associate the new application with the existing email but I think I'll open up an issue or make a note of a use case where you might want to

[2022-03-04 10:36] frjo commented on #2761
It should be made clear that an account will be created when submitting an application as an anonymous user. Should be easy to add a short text explaining this to the application form.

Shout we add it above the form, next to the e-mail field? What is the shortest way to formulate this so it clear to the user?

[2022-03-04 10:47] frjo commented on #2760
Allowing anonymous users to submit applications was an early requirement for Hypha. This made this feature a requirement as well, at least it was the only way we could come up with to make it work.

Having multiple accounts with the same e-mail adress was not something we wanted to tackle.

With more and more organisations using Hypha we maybe should add the possibility to demand users to create a

[2022-03-04 14:15] frjo commented on #2758
@Erioldoesdesign If you do not want your application to be associated with an account you should not be logged in with that account.

[2022-03-07 07:54] #2331 closed, assigned to nobody

[2022-03-07 08:59] fourthletter opened #2766 "Applications with submitted reviews still appears on 'Waiting for your review' dashboard"
**Describe the bug**

A review was submitted for an application, but still appears on the staff's 'Waiting for your review' dashboard.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to a fredrik's dashboard 'https://test-apply.hypha.app/dashboard/'
2. Click on 'https://test-apply.hypha.app/apply/submissions/11/'
3. Scroll down to 'reviews', and you will see two completed or submitted re

[2022-03-07 11:25] frjo commented on #2766
Thanks for setting up this test, will investigate. Definitely looks like a bug.

[2022-03-08 07:34] #2765 closed, assigned to nobody

[2022-03-08 07:35] #2764 closed, assigned to nobody

[2022-03-08 07:35] #2740 closed, assigned to nobody

[2022-03-08 08:23] frjo opened #2767 "Function "in_review_for()" shows a submissions if any of its review is in draft"
In some instances staff and reviewers see submissions they already have reviewed in the "Waiting for your review" table in the Dashboard. The function that builds the query is `in_review_for()`.

I checked by removing the ` | Q(reviews__is_draft=True)` part.

This seems to check if any review for the submission is in draft mode. It should check if the users own review is in draft mode instead.

ht

[2022-03-08 13:44] frjo opened #2770 "For logged in users, populate "E-mail" and "Full name" on new submissions and disable input"
Related #2758

We should also disable editing "E-mail" and "Full name" on any existing submissions.

Now users can edit the fields but they get reverted on save to whatever the values are in the user account. This is a bit confusing. Better to disable editing and direct users to edit these values in their user account.

[2022-03-08 13:45] frjo commented on #2770
@sandeepsajan0 You can take this one when there is no other issues to work on. So not urgent, but good to get done at some point.

[2022-03-09 08:28] fourthletter opened #2771 "[Meta] Revise error messages"
Users receive error messages within Hypha, but the reason for the error is not always clear. We could try our best to reproduce the errors, but it would be helpful to decide next steps for redrafting error messages.

### User did not include required fields in application form

<img width="1232" alt="Screen Shot 2022-02-24 at 8 30 04 PM" src="https://user-images.githubusercontent.com/20019656/1574

[2022-03-10 10:17] frjo opened #2774 "Improv handling of required fields on stream field form creation in Wagtail admin"
These include Application forms, Review forms and Determination forms.

1. The best solution would be to prepopulate all required field when e.g a new application form is created. See #2275 #2460

2. The second best solution is to improve the error messages given when a user try to save a form without a required field. See #2771.

Number 2 should be in place regardless in case a user by mistake re

[2022-03-11 07:07] frjo opened #2775 "Implement a EMAIL_SUBJECT_PREFIX setting"
The existing setting `EMAIL_SUBJECT_PREFIX` is a standard Django setting. Adding a subject prefix is a common praxis to make it easy to identify e-mails for users.

https://docs.djangoproject.com/en/4.0/ref/settings#email-subject-prefix

It is not used anywhere in Hypha. It was added early on and just stuck around. The default value is "None".

Lets implement it on all e-mails sent out from Hypha.

[2022-03-11 08:57] killapop commented on #2760
Thanks for this :heart:  It would be quite useful for us (DDP).

I would also love to see this settable at the Lab/Round level for organisations that have some completely open grants and some that need registration.

[2022-03-11 09:01] frjo commented on #2760
Yes, adding it as a Fund/Lab setting, e.g. "Require applications to login" checkbox, make sense.

A UX task to make the workflow nice for applicants.

[2022-03-11 09:35] killapop commented on #2770
Thanks for this. This really clears up a lot of confusion for repeat applicants.

Is it possible to *not* store the email and full_name in submission but rather fetch it each time from the applicant's user info?
It would help in some fringe cases we've encountered where submissions have had to be reassigned or moved to a different applicant that this information had to be changed manually by editi

[2022-03-14 09:52] fourthletter commented on #2767
The results on test looks great! Thank you! 💯

[2022-03-14 11:54] #2767 closed, assigned to sandeepsajan0

[2022-03-16 07:52] #2689 closed, assigned to vimal1083

[2022-03-16 07:52] #2699 closed, assigned to vimal1083

[2022-03-16 12:32] frjo commented on #2444
Deliverables will be removed (deactivated) but other than that things will look the same I think.

[2022-03-16 12:33] frjo commented on #2383
Deliverables removed but otherwise nothing changes.

[2022-03-16 12:34] frjo commented on #2457
Deliverables removed but otherwise nothing changes.

[2022-03-16 12:42] sandeepsajan0 opened #2777 "Html tags visible in comments"
**Describe the bug**
Html tags are visible in comments(communication tab).
https://test-apply.hypha.app/apply/projects/25/#communications

**Priority**
- Low priority (annoying, would be nice to not see)

**Screenshots**
<img width="765" alt="image" src="https://user-images.githubusercontent.com/23638629/158591609-e9c007d0-5b64-42dd-8649-451ea831e1b7.png">

**Solution**
We upgraded the mistune pac

[2022-03-16 13:04] #2777 closed, assigned to sandeepsajan0

[2022-03-16 13:05] #2743 closed, assigned to sandeepsajan0

[2022-03-17 07:08] frjo commented on #2774
@fourthletter These are separate issues, please create them and we can start working on them.

[2022-03-19 19:45] Erioldoesdesign commented on #2383
@frjo is deliverables as a whole not being developed for the finance work then?

[2022-03-19 21:27] frjo commented on #2383
@Erioldoesdesign It is put on ice for now. Big part of it is already inte the code but does not look like it is going to be used until later on.

[2022-03-22 10:37] ei8fdb commented on #2652
The invoice number takes the format HP000000.

This format is difficult for humans to read. To make this text easier to read we will use chunking. [Chunking is a concept](https://www.nngroup.com/articles/chunking/) of breaking text into smaller chunks to help users process, understand, and remember it better.

Assuming @fourthletter has no objections, @sks444 @frjo ⭐️Golden rule⭐️: whereever the i

[2022-03-22 12:25] ei8fdb commented on #2383
@fourthletter we need to review the dashboard for this user:

**3.1**
![3 1](https://share.balsamiq.com/c/7Yy7Z8PkS5E3r6NUK4CA2i.png)

**By default** the table is filtered to show the invoices for PM review.

**3.1 unfiltered**
![3 1 unfiltered](https://share.balsamiq.com/c/gGoE6jVt2wPHuymppT75W5.png)

[2022-03-22 12:32] ei8fdb commented on #2445
@fourthletter we need your and finance users review of these designs for the finance 2 dashboard

**By default the table shows the invoices to be reviewed by finance 2**
![](https://share.balsamiq.com/c/qr4gLt6HkzP5vvVrPBdPc7.png)

**To see the invoices ready for entry into IntAcct filtered list**
![](https://share.balsamiq.com/c/syNc6eNmHZiLLBJLSZoc94.png)

Can we combine this view with the previ

[2022-03-22 12:47] ei8fdb commented on #2444
@fourthletter we need your and finance users review of these designs for the finance 1 dashboard

**By default the Invoices ready for Finance 1 review are shown**
![](https://share.balsamiq.com/c/jJWCgamwpdcP6dH7KMyVzx.png)

**The Finance 1 user can see all invoices relevant to them by clicking All invoices**
![](https://share.balsamiq.com/c/dnS27Bb88F6WDjtw1E2jJu.png)

[2022-03-23 16:56] slifty opened #2784 "Changing email on non-staff accounts creates non-null constraint violation"
**Describe the bug**

When a non-staff user attempts to edit their email account they ultimately reach a non-null constraint error related to the `slack` field.

**To Reproduce**

Steps to reproduce the behavior:
1. Log in as a non-staff user
2. Click on profile link (upper right)
3. Note that the "Slack" field is not in the form (this should be the case if it is not a staff user)
4. Change the em

[2022-03-23 17:00] slifty commented on #2784
I see now why the save logic exists in the EmailChangePassword form -- the `ProfileForm` does NOT handle save in the case of an email change.

I'll just add the conditional around the setting of slack.

[2022-03-23 18:33] frjo commented on #2784
Thanks for reporting this, definitely needs fixing. Have tasked one of our devs to take a lock.

[2022-03-23 18:50] slifty commented on #2784
Sorry for jumping the gun!  I've issued a potential patch (cc @sandeepsajan0 so you don't spend time on debugging this in case the PR is good enough!)

[2022-03-23 18:53] frjo commented on #2784
@sandeepsajan0 We are deleting the Slack field for none staff here:

https://github.com/HyphaApp/hypha/blob/f4b3cec839f868423c534611673eb84588de1283/hypha/apply/users/forms.py#L52-L53

This creates the error @slifty is reporting.

The `users_user` -> `slack` column is set to not be nullable. Can we simply change it to be nullable?

[2022-03-23 20:15] slifty opened #2786 "Django templates vs jinja2 templates"
I'm working on some template modifications for my local instance of Hypha and I'm facing some pain points with the Django template engine, particularly related to whitespace.  Django supports use of jinja2 to drive its templating, and I believe jinja2 is a more feature rich template solution than the one Django provides.

Would there be any openness to considering switching to jinja2 as the defaul

[2022-03-24 08:33] frjo commented on #2786
I like jinja2, use it a lot with e.g. Ansible.

The whitespace issue mostly crop up in e-mail templates for me, in HTML whitespace is less of an issue (unless you want the source to look nice, and who do not want that).

Converting Hypha to jinja2 will most likely not happen. We can add more value to the users by working on new features and bug fixes I believe.

If someone was willing to commit th

[2022-03-24 12:45] ramojo opened #2788 "Docker for local development not working: permission error"
**Describe the bug**

I cannot get docker-compose up to run at all. Whenever I try to spin up the containers, the django container (py) always stops on this error:
PermissionError: [Errno 13] Permission denied: '/usr/local/hypha/media'

**To Reproduce**

Steps to reproduce the behavior:
1. Go to '/path/to/hypha/docker'
2. Type 'docker-compose build'
3. Type 'docker-compose up'
4. See error

**Expe

[2022-03-24 13:17] frjo commented on #2788
I think your issue is solved by creating a `media` directory in hypha root. Please let us know if that fixes it.

I have added it do the docs now.

[2022-03-24 20:54] slifty commented on #2786
This makes sense!  What I'm hearing is that while y'all wouldn't necessarily be *opposed*, it's a large enough effort + low enough priority that it won't be taken on.  Totally understandable!

Would you like me to close the issue or leave it open in case someone cares enough to make the fix (for context -- we might care enough since our clients want plaintext emails and our current templates are p

[2022-03-25 02:47] emlini commented on #2771
### **Describe the situation:**
I encountered this same issue (unclear error message) when creating a sample Application form in Wagtail on [https://sandbox-apply.opentech.fund](https://sandbox-apply.opentech.fund).

Attempted to save the form after having added several fields, edited field options, and reordered fields.  Received the error message "The application form could not be saved due to e

[2022-03-25 03:38] emlini commented on #2378
At the very least, it would be nice if the form creator could add a "section break" or "Separator" field (like a line going across the application window) to delineate different questions/sections.  I had hoped that using Section headers might do this, but the spacing between previous sections and section headers is not enough for readability.

[2022-03-25 05:18] sandeepsajan0 commented on #2771
@emlini Thanks for reporting this error message issue. I understand it is frustrating, something similar happened with me as well.
Actually, "The application form could not be saved due to errors" this message is a wagtail inbuilt message for any kind of error in the form. And I am currently working to override this message with custom messages for every possible condition.
For now(in my recent co

[2022-03-25 07:09] frjo commented on #2786
As you say, not opposed.

Our team will most likely not have time to take it on, if yours might then please leave the issue open.

[2022-03-25 14:11] slifty commented on #2786
Great -- I'll leave it open for now and check with the OTS team to see their thoughts.

[2022-03-25 21:40] ramojo commented on #2788
Thanks for the extremely quick response! Yes, that did fix it (had to create `media/temp_uploads` as well). Thank you for adding it to the docs as well.

[2022-03-25 21:40] #2788 closed, assigned to nobody

[2022-03-27 13:06] sandeepsajan0 commented on #2771
Another error report: If label(required, field_label) is empty for any block, it is not showing any error or message and also not saving the form.
<img width="1104" alt="image" src="https://user-images.githubusercontent.com/23638629/160282793-16f5fda0-75a7-4e16-b7d2-13c5c3d76380.png">

[2022-03-29 07:16] #2784 closed, assigned to nobody

[2022-03-29 10:22] sandeepsajan0 opened #2791 "Not able to save a draft, “Community convening” options are required but not selectable"
## Bug Description
When saving “as draft" an existing draft application, impossible to save because “Community convening” options are not selectable, but selecting one is required.
## Effect
Unable to complete my draft and apply for funding.
## Proposed Solution

- [ ] Design user workflow for creating and saving a **draft** on Hypha (is this workflow different than for submitted applications?)
-

[2022-03-29 10:28] sandeepsajan0 opened #2792 "Staff role deleting submissions should be aware of the parameters"
## Description
When the staff user role deletes an application from the platform, they are not informed of the potential consequences of also deleting associated links, e.g., determinations and other applications on the platform. An application (concept note - 1st stage) is associated with determinations and oftentimes a proposal (2nd stage).

The applicant role is currently not given permission t

[2022-04-01 17:32] Techslammer commented on #2760
Sorry to be so late in responding.  I see that the applicant receives an email verification notifying that they have submitted an application. That email is sent to the account that is associated with the email address provided. Is there another way of confirmation that was expected? For me this seems fine but i do like adding a setting to require applications to login if a fund wants that.

[2022-04-04 08:22] fourthletter commented on #2770
Test worked! 😄

![Screenshot 2022-04-04 10 21 23 AM](https://user-images.githubusercontent.com/20019656/161503736-21fd97ed-f74c-4250-aa37-5d1ab1a56f6e.png)

[2022-04-04 10:29] #2770 closed, assigned to sandeepsajan0

[2022-04-04 12:08] fourthletter opened #2793 "Improve filters for user roles in WagTail Admin"
## Description

As a sys admin I would like to quickly sort, search, and manage user accounts in the WagTail Admin.

1) I am able to sort by Name, Email, Status, but not by **Role**

2) Sorting by Name, Email, Status is cumbersome and does not easily filter or hone in on the user accounts I am searching for.

3) Some user accounts are not assigned to a role, making it difficult to understand their

[2022-04-04 12:55] frjo commented on #2793
@fourthletter What do "Search field should not be required" mean more exactly?

[2022-04-04 13:10] fourthletter commented on #2742
Linked to the existing way that Meta Terms work but also linked to funds/projects by way of (still in development from OTF Finance work) deliverables section.

OTF is not a suitable use case for this feature because we have not collected information on 'Focus areas' from applicants in several years.

While there is value in 1) collecting progress reports (image 1) and 2) data visualizations of res

[2022-04-04 13:36] fourthletter commented on #2793
@frjo there is white text under the search field stating "x this field is required" -- the search field is not required. I went to the user role page again and the text is no longer there https://test-apply.hypha.app/admin/users/

Search field should not be **required**

![image](https://user-images.githubusercontent.com/20019656/161538745-e62a806d-9d7a-4c34-adc7-7ebbec39f6c6.png)

[2022-04-04 18:46] frjo commented on #2793
That text only show up if you try to do a search without entering any text to search for.

[2022-04-05 19:18] Erioldoesdesign opened #2794 "Greyed out name and email on application form - info to help user update these details"
**Is your feature request related to a problem? Please describe.**

Recently (April 2022) a [PR was merged](https://github.com/HyphaApp/hypha/pull/2772)  (issue #2770 captures the need pre-PR) where applicants that are already logged into their Hypha account will not be able to edit their name/email in an application to a fund and these fields are 'greyed out' logic being that users should want to

[2022-04-06 06:35] frjo commented on #2792
Who can delete is controlled by permission set on user roles.

[2022-04-06 08:00] fourthletter commented on #2761
I reccomend several methods:

1) Informing applicants via the automated email sent to them after they've submitted an application.

2) Using 'Application Settings' to create a message on the landing page that appears right after an applicant has submitted their application:

![Screenshot 2022-04-06 9 56 40 AM](https://user-images.githubusercontent.com/20019656/161925151-444e8ea3-41db-4ee5-8ba1-dcb

[2022-04-06 11:34] frjo commented on #2761
Is this not fixed with https://github.com/HyphaApp/hypha/pull/2772 ?

[2022-04-06 12:42] fourthletter commented on #2793
On April 6 standup we discussed installing new functionalities for managing user accounts in the WagTail Admin. Click here for WagTail documentation: [https://docs.wagtail.org/en/stable/editor_manual/administrator_tasks/managing_users.html#managing-users-and-roles]

As an administrator, a common task will be adding, modifying or removing user profiles. This is done via the ‘Users’ interface, which

[2022-04-06 12:54] fourthletter commented on #2792
On April 6 standup we discussed:

Managing persmissions in the WagTail Admin:
WagTail Admin - go to settings/groups
![Screenshot 2022-04-06 2 46 09 PM](https://user-images.githubusercontent.com/20019656/161977620-4b5d8ccf-7e81-4ba3-a77c-a76eab92ae08.png)

Select a user role
![Screenshot 2022-04-06 2 44 59 PM](https://user-images.githubusercontent.com/20019656/161977405-bc058625-f100-42a6-ab67-1d7b

[2022-04-06 13:04] frjo commented on #2792
So a warning is given already, good.

As I mentioned before, I think the permission to delete submission might not be good to give to all staff. Maybe something for Team admin role?

[2022-04-06 18:01] fourthletter commented on #2774
This is beautiful -- 💯 for Gryffindor!

![Screenshot 2022-04-06 8 00 09 PM](https://user-images.githubusercontent.com/20019656/162038797-c6ccac65-af76-4e7e-891e-f9adf44eee6d.png)

![Screenshot 2022-04-06 7 59 35 PM](https://user-images.githubusercontent.com/20019656/162038803-0a711b6a-8c3f-41a8-a210-9d7f9acecc1d.png)

![Screenshot 2022-04-06 7 57 23 PM](https://user-images.githubusercontent.com/20

[2022-04-06 18:04] fourthletter opened #2798 "Group field is buggy"
Group field is currently a **required** section. This requires the applicant to select an option even when the section is not applicable to their proposed scope of work. I propose this section does not need to be marked as **required**

<img width="1053" alt="Screen Shot 2022-03-16 at 5 52 49 PM" src="https://user-images.githubusercontent.com/20019656/158644599-5425420a-20e7-4c13-b12d-fbbb0e01ad41

[2022-04-07 08:47] #2771 closed, assigned to sandeepsajan0

[2022-04-07 08:47] #2774 closed, assigned to sandeepsajan0

[2022-04-07 08:51] fourthletter commented on #2444
On March 29 I reached out to Finance staff for feedback on the new dashboard designs. I am still waiting for their input.

Current dashboard on the project's page for Finance 1 users:

![image](https://user-images.githubusercontent.com/20019656/162160565-43fc1c5d-b888-4b0e-8a4b-cd7f47b9c3e0.png)

[2022-04-07 09:16] frjo commented on #2766
Is this not a duplicate of https://github.com/HyphaApp/hypha/issues/2767 that has been fixed?

[2022-04-07 09:22] #2607 closed, assigned to sandeepsajan0

[2022-04-07 10:56] fourthletter commented on #2766
It's a duplicate, and has been fixed. Thank you.

[2022-04-07 10:56] #2766 closed, assigned to nobody

[2022-04-08 09:33] fourthletter commented on #2793
April 7 standup we discussed several methods for increasing the efficiency of how we could do a search and get the results we need.

## Description
While the current user interface shows a count of search match results, improvements to filters and search will provide more granular information. Example: "5 matches"

![image](https://user-images.githubusercontent.com/20019656/162408394-f92e342b-baf2

[2022-04-11 06:26] fourthletter commented on #2761
## How to add help text explaning this on the application form in WagTail Admin
![image](https://user-images.githubusercontent.com/20019656/162676585-098648ce-f5a2-4b4e-ab81-f4569786b1ec.png)

## Application form help text example
![Screenshot 2022-04-11 8 25 08 AM](https://user-images.githubusercontent.com/20019656/162677310-df517ff7-5bd1-4f6c-a94f-dcc2e033164c.png)

[2022-04-12 07:59] frjo opened #2803 "Update django-bleach and bleach to latest versions."
Version 5 of bleach is not yet compatible with django-bleach 2.x so keep tabs on that.

bleach is a Python module that takes any HTML input, and returns valid, sanitised HTML that contains only an allowed subset of HTML tags, attributes and styles. django-bleach is a Django app that makes using bleach extremely easy.

[2022-04-12 08:04] fourthletter opened #2805 "Add 'External Reviewer' picklist to batch action"
## Summary

As a manager I need to assign reviews to the Reviewer group as a batch action.

## Description

When an application is in the 'External Review' workflow status, or in any workflow status, I can't rely on the user interface to select anyone from the Reviewer group because the third drop down menu is not available.

## Suggested Solution
![Screenshot 2022-04-12 9 58 43 AM](https://user-i

[2022-04-12 09:32] fourthletter commented on #2793
On April 11

@sandeepsajan0 : You mean on the top in just one row like we have filters for submissions and all? Actually, I used this design because we already have the same design in wagtail's other pages(like site history). In order to clear the filters you have to just select the '-------'. selecting multiple roles

video shared on slack:
![image](https://user-images.githubusercontent.com/20019

[2022-04-14 09:17] #2793 closed, assigned to sandeepsajan0

[2022-04-14 09:53] fourthletter opened #2809 "Determination Message Template"
## User Story

When I send a determination for approved/dissmissed/need more info I would like to have prepopulated text on determination forms. When creating a Fund/Lab these templates would be available to me in the WagTail Admin. Related to #2440

## Proposed Solution

Set the templates for approved/dissmissed/need more info on each fund

![image](https://user-images.githubusercontent.com/20019

[2022-04-14 10:05] sandeepsajan0 commented on #2798
It is still not fixed yet. I am working on it in PR  #2800.

[2022-04-14 10:46] sks444 commented on #2809
Determination messages are [implemented as wagtail setting](https://test-apply.hypha.app/admin/settings/determinations/determinationmessagesettings/2/), based on the outcomes we can set-up three different messages for various submission workflows.

This means we need to populate the message box when outcome is selected while adding determination.

---

In the standup we discussed creating as many

[2022-04-14 11:19] frjo commented on #2809
@sks444 @fourthletter We need to pick one of the options.

1. Set the templates for approved/dissmissed/need more info on each fund
2. Set the templates for "approved/dissmissed/need more info for" each workflow type (This is how the feature used to be implemented, see https://test-apply.hypha.app/admin/settings/determinations/determinationmessagesettings/)
3. Add as many templates as needed and t

[2022-04-15 14:57] fourthletter commented on #2809
@sks444 let's go with the first option that looks most promising to you.

Users no longer require unlimited templates, they prefer to select from a narrow list of templates and make adjustments/edits when necessary.

[2022-04-19 09:48] fourthletter commented on #2447
During a standup, we discussed creating a form for contractors/vendors on the Submissions side. This "application form" could be converted to a project for contracting and invoicing purposes.

- [ ] Create form for vendors in WagTail
- [ ] Select a workflow for vendor/contract workflow, or it could be any workflow
- [ ] Vendor could be converted into a "Project" page like any other funded applicat

[2022-04-19 09:48] ei8fdb opened #2811 "Improve external reviewer picklist label and text"
# Summary
Make external reviewer selector label clearer. This is a usability improvement.

# Description
When a staff member assigns external reviewers to an application, it is not clear which picklist the staff member must use. It's label says  currently "reviewers".

![Screenshot 2022-04-19 at 11 33 55](https://user-images.githubusercontent.com/1899506/163975470-9b008202-ad1a-4630-8607-65a3543b6

[2022-04-19 20:18] fourthletter commented on #2798
Related to https://github.com/HyphaApp/hypha/issues/1355 and https://github.com/HyphaApp/hypha/issues/1259

[2022-04-19 20:33] fourthletter opened #2812 "[Epic] In-app notifications"
## Summary

OTF needs to inform the users involved in the process of invoice transition through the webapp.  This is so they can be kept up-to-date of the invoice status, and be notified if they are required to do anything.

## User Story
We now send e-mail notifications to applicants and reviewers, and Slack notifications to staff.

## Suggestion

In-app notifications enable users to view a list

[2022-04-19 21:12] fourthletter commented on #2327
Related https://github.com/HyphaApp/hypha/issues/2634

Applicants are currently able to upload and save documents and files in the Project Page for contracting.

[2022-04-19 21:17] #2356 closed, assigned to nobody

[2022-04-19 21:50] #2366 closed, assigned to nobody

[2022-04-19 21:54] fourthletter commented on #2360
Closing because related to related https://github.com/HyphaApp/hypha/issues/2042 and https://github.com/HyphaApp/hypha/issues/2809

[2022-04-19 21:54] #2360 closed, assigned to nobody

[2022-04-19 21:55] fourthletter commented on #2363
Closing because related to https://github.com/HyphaApp/hypha/issues/2745

[2022-04-19 21:55] #2363 closed, assigned to nobody

[2022-04-20 09:34] fourthletter opened #2814 "Streamline user roles and their permissions"
## Description

Streamline user roles by better defining level of access and functionalities associated with each role

### Admin
- [ ] As an admin, I need the capacity to disable 2fa on user accounts to better manage users' access to the platform. The staff admin role overseas user accounts and troubleshoot technical glitches via the WagTail admin in Hypha.

### Staff Admin
- [ ] Staff admin is l

[2022-04-20 13:02] #2709 closed, assigned to Erioldoesdesign

[2022-04-20 18:34] fourthletter opened #2815 "[Meta] Improve user account management in WagTail"
## Summary

Make it easier to manage user accounts and their permissions on Hypha

## Description

Staff Admin and Admin roles need a central location to manage user accounts and permissions on Hypha. Staff Admin and Admin role should be able to search, count, and better monitor permissions of all individuals and groups on Hypha.

## Proposed Solution

A central control panel for managing permissi

[2022-04-21 04:10] fourthletter opened #2816 "[Meta] Improve Reviewer role experience"
## Summary
'Reviewer' user role and group includes Advisory Council Members, Board Members, vounteer reviewers, peer reviewers for participatory funders. This role could view and submit reviews for submissions and submission outcomes, but is unable to access permissions on the platform beyond this like the staff user role.

## Description
This epic is a collection of features and enhancements to i

[2022-04-21 04:25] fourthletter opened #2817 "[Epic] Improve apply form for applicants"
## Description
The application is the primary connection an applicant has to a funding organization. This epic aims to improve the applicant's user workflow to minimize friction and ensure applicants receive the information they need to complete the application process.

## Preposed Solutions

### Input fields

- [ ] https://github.com/HyphaApp/hypha/issues/1992

### Applicants could preview submi

[2022-04-21 09:39] fourthletter commented on #2805
Standup April 21 -- thank you @sandeepsajan0 for your question today.

When a user attempts to select a individuals from the reviewer group to a Fund/Lab with a workflow that does not accomodate external reviewers (individuals with the reviewer role), they should receive an error message.

Error Message: "Unable to select reviewer based on the current application workflow" OR "Reviewer cannot be s

[2022-04-25 08:10] fourthletter opened #2819 "Add only External review to State field in Reviewer Settings"
Related to https://github.com/HyphaApp/hypha/issues/2168

## Description

As a manager I need to add 'only External review' as an option to State field in  EDITING Reviewer Settings to limit the Reviewer group's access to applications.

The Reviewer group with active members do not need to have access to applications they have reviewed permanently. We will have a process to share information with

[2022-04-25 15:44] fourthletter commented on #2580
@sks444 I'm touching base to see if you have time over the next few weeks to write up security documentation for these features? For example, the type of testing you did related to security. Thank you!

[2022-04-26 06:37] fourthletter opened #2821 "Giver Staff Admin role permission to disable 2fa on user accounts"
## Description

As a staff admin, I need the capacity to disable 2fa on user accounts to better manage users' access to the platform. The staff admin role overseas user accounts and troubleshoot technical glitches via the WagTail admin in Hypha.

## Solution

Staff admin role has permission to disable 2fa for all user accounts except for Admin

[2022-04-26 07:01] fourthletter opened #2822 "CONCEPT NOTE: Application Received"
STAGE 1: CONCEPT NOTE: Application Received

### Revised email message below:
[code]

### Current Message
<img width="501" alt="Screen Shot 2022-02-25 at 11 55 02 AM" src="https://user-images.githubusercontent.com/20019656/155703342-95f91573-f07b-43dd-bb9f-92d49cc2b52b.png">

[2022-04-26 09:04] frjo opened #2823 "The "Your previous reviews" table is not filters after what users can access"
I suggest we continue to list all the users reviews but the ones they can not access are not links. Maybe greyed out? With a tooltip that explains that they no longer have access to it?

[2022-04-26 09:54] fourthletter opened #2824 "Email sent to applicant with NEW user account"
## New Email Message
[code]

## Old Message

![Screenshot 2022-04-26 11 35 52 AM](https://user-images.githubusercontent.com/20019656/165270528-897aaec6-286a-492e-a506-efd933d4fe1e.png)

[2022-04-26 10:56] frjo commented on #2822
The extra part about 2FA can be added right now as an extra confirmation text on each fund/lab. See the "Confirmation email" tab.

[2022-04-26 11:53] ei8fdb commented on #2821
From research so-far into 2FA management processes, these are the 2 workflows I've seen:

## 1. Disable 2FA for user affected
![Screenshot 2022-04-26 at 13 45 59](https://user-images.githubusercontent.com/1899506/165293084-781d9712-bb1a-43de-b28e-31b3fb0694ab.png)

Possible design approach [documented in Miro board](https://miro.com/app/board/uXjVO8_szdM=/?moveToWidget=3458764524024014367&cot=14).

[2022-04-26 12:43] fourthletter commented on #2822
**According to the test email, users receive seconds not days.**

Thanks!

![image](https://user-images.githubusercontent.com/20019656/165302426-c1d24cb4-e124-420e-94a6-910511c05e4b.png)

[2022-04-26 12:45] #2822 closed, assigned to nobody

[2022-04-26 14:46] #2811 closed, assigned to nobody

[2022-04-26 15:33] ei8fdb opened #2828 "[Epic] 2FA workflow usability improvements for 2FA use cases"
# Description

This issue documents usability improvements to the workflow for OTF applicants to configure Two-Factor authentication by:
- improving instructions and explains what users are required to do to enable 2fa
- removing unnecessary, and confusing pages from the current process
- putting creation of 2FA backup codes in the 2FA configuration process
- providing support for OTF applicants w

[2022-04-27 08:08] fourthletter commented on #2819
Thank you -- looks great! 👍

[2022-04-27 08:35] #2819 closed, assigned to nobody

[2022-04-28 09:04] frjo opened #2829 "Add global env variable to turn hijack/become feature on/off"
HIJACK_ENABLE = env.bool('HIJACK_ENABLE', False)

https://github.com/HyphaApp/hypha/blob/4e8e4d1c5b9ae2e7d81393fc6a39297585394b51/hypha/apply/users/views.py#L160-L172

[2022-04-28 09:07] frjo opened #2830 "Show error messages if trying to hijack user that do not have 2FA and ENFORCE_2FA in active"
The hijack/become feature gets trapped in a redirect loop if one try to hijack a user that do not have 2FA and 2FA is enforced.

Stop this from happening by instead showing an error message that the user can not be hijacked until 2FA is setup.

[2022-04-28 11:04] ei8fdb commented on #2821
Decision taken on today's OTF standup was to go with option 1: Disable 2FA for user affected.

Next steps are to work on designs and test with Hypha adopter staff who have required permissions.

[2022-04-28 12:11] #2823 closed, assigned to frjo

[2022-04-28 15:27] fourthletter opened #2832 "Staff user group should be able to assign 'External Reviewers' to submissions"
### Description
Staff user group should be able to use batch action to select reviewers and assign them to submissions. Currently on the Lead user group associated with a particular Fund could do this.

Staff needs to select 'External Reviewers' in the:

- [ ] detailed submission view;
- [ ] batch action

### Related Issue

https://github.com/HyphaApp/hypha/issues/2805

[2022-04-28 17:17] frjo commented on #2832
See https://github.com/HyphaApp/hypha/blob/55acc7ab7ef4faba5456909fc05ffb34a0fece75/hypha/apply/funds/forms.py#L253-L254

[2022-04-29 14:46] fourthletter commented on #2792
I am closing this issue and adding it to the Epic https://github.com/HyphaApp/hypha/issues/2814

[2022-04-29 14:46] #2792 closed, assigned to nobody

[2022-05-03 08:34] #2751 closed, assigned to nobody

[2022-05-03 10:17] sks444 commented on #2830
To support Hijack and 2FA together we need to change our 2FA [middleware redirection mechanism](https://github.com/HyphaApp/hypha/blob/edb4bc82187dc30c1917b31a3ee127c9aab4d0b6/hypha/apply/users/middleware.py#L49) to check 2FA for the hijacked user. As `is_verified` is only there for logged in user(`request.user`) and not for the hijacked user.

This new method to check if user has the 2FA setup sh

[2022-05-04 10:19] ei8fdb commented on #2821
@sandeepsajan0 Here's the design for this issue:

![Two-Factor Authentication Improvements - Frame 1](https://user-images.githubusercontent.com/1899506/166663216-1521e705-f6b0-456c-88e4-2a692ec2b0d8.jpg)

(You can see it [in the Miro board](https://miro.com/app/board/uXjVO8_szdM=/?moveToWidget=3458764524024014367&cot=14))

The only part I've not designed fully is the step where the staf member has

[2022-05-04 10:40] ei8fdb opened #2836 "Add documentation to support users who can't use smartphone device for 2fa"
**Is your feature request related to a problem? Please describe.**

Right now, if a fund has enforced device-based 2FA and an applicant doesn't have a smartphone, they are unable to log in. There should be documentation created to support that user.

**Is your feature request related to an existing functionality? Please describe.**

Current hypha adopters who enforce use of 2FA.

**Describe the so

[2022-05-04 11:24] ei8fdb opened #2837 "Support alternative 2FA methods"
**Is your feature request related to a problem? Please describe.**

Hypha supports only 2FA OTP generation by a smartphone app. This requires users to have a smart device.

Hypha should support 2FA using different methods for example; SMS, email, telephone call, others.

**Is your feature request related to an existing functionality? Please describe.**

Related to current Two-Factor Authentication

[2022-05-04 11:43] frjo commented on #2837
Implementing e-mail, SMS etc. lower the overall security benefits of 2FA quite a bit.

I believe a better solution is to enforce 2FA on a role by role basis.

Then OTF can enforce it on e.g. reviewers that I assumes all have smartphones etc.

For applicants, who only have access to their own applications, strongly suggesting activating 2FA is a good compromise I think.

[2022-05-04 11:55] ei8fdb commented on #2837
This isn't OTF related @frjo, it's for any adopter.

[2022-05-04 16:58] fourthletter commented on #2805
I tested @sandeepsajan0 and it works great! 💯

I am no longer able to 'become' on the test site so I am unable to see whether the External Reviewer is able to see the application on their dashboard. It is important that when an application is assigned to an 'External Reviewer', the application appears on their dashboard.

[2022-05-04 16:59] fourthletter commented on #2829
As a staff admin on test.hypha.app, I am no longer able to access the hijack/become feature.

[2022-05-04 17:25] frjo commented on #2805
If a reviewer is assigned they are assigned and everything else will follow as it always do.

Have reactivated the hijack function (and disables enforce 2FA) on the test site now. We where testing the PR that allows orgs to disable hijack.

[2022-05-04 17:26] frjo commented on #2829
Perfect, so it works then. I have no reenabled the hijack funktion on test.

[2022-05-05 07:49] fourthletter commented on #2836
Hello @sandeepsajan0 The new recommended workflow is great, but I made some slight revisions to the messages. Thank you for your work on this: https://miro.com/app/board/uXjVO8_szdM=/

### We agreed to have to the disable function on OTF's platform
![image](https://user-images.githubusercontent.com/20019656/169304506-5c673977-6cb1-4284-90ef-1e2ca7502284.png)

### Update message on Permissions Deni

[2022-05-05 08:01] #2829 closed, assigned to sks444

[2022-05-05 09:21] fourthletter commented on #2821
During standup on May 5 we discussed attributes associated with the "user" category (as seen in settings below). Attributes for the "user" currently includes email, ID, and other criteria. The proposed approach is to customize user attributes to include 2FA disabling. Only Admin and Staff Admin roles will be able to disable 2FA for all user groups.

Developers will research the implications of usi

[2022-05-05 09:22] fourthletter commented on #2837
We could discuss this alternative approach for other adopters during the Maintainers call. Thanks.

[2022-05-05 10:01] frjo opened #2839 "The view that list all users belonging to a group returns an error about missing count"
The /admin/groups/[gid]/users/ view is broken.

The overrides index view from wagtail/users/views/users.py needs to be updated I believe.

[2022-05-05 10:03] fourthletter opened #2841 "Enhance project reporting with yearly and none options"
## User Story

As a user I need to submit a report once a year during the completion of a grant. Managers are unable to adjust the Reporting user interface for this requirement. Currently a manager could "skip" this requirement by selecting month-by-month.

A manager needs to:

- [ ] select **'annual'**
- [ ] no report required
- [ ] submitted reports interface does not need to record _'skipped re

[2022-05-05 10:07] frjo commented on #2841
@fourthletter So in practice you want to add "Year" as an option in the "Frequency" select field?

[2022-05-05 12:24] sandeepsajan0 commented on #2821
@fourthletter @frjo @sks444 @ei8fdb What do you all think about using "Reset 2FA" instead of "Disable 2FA"?

[2022-05-05 12:28] fourthletter commented on #2841
@frjo Adding "Year" as an option in the "Frequency" select field is correct. If it's feasible, we could also add **no report** as an option. For example, if a contractor is funded to submit a security audit or a tool (open source code), they are not required to submit a report.

[2022-05-05 12:57] frjo commented on #2821
I prefer "Disable 2FA". That is what technically is happening.

[2022-05-05 16:08] ei8fdb commented on #2821
@sandeepsajan0 agreed. _Disable 2FA_ is the action the user (staff) is doing here.

[2022-05-07 12:16] #2368 closed, assigned to nobody

[2022-05-08 15:13] fourthletter commented on #2828
@ei8fdb   In the proposed design, a sys admin would need to insert the url/guidance into image 1 and image 2. This requires the sys admin to add guidance for 2FA  in several places and maintain these links indefinitely. My proposal is to minimize this admin burden with a single message.

### NEW message:

2FA is an extra layer of security used to make sure that people trying to gain access to an o

[2022-05-10 07:51] #2839 closed, assigned to frjo

[2022-05-10 07:54] #2805 closed, assigned to sandeepsajan0

[2022-05-10 16:19] fourthletter commented on #2821
Looks amazing -- you rock! 👨‍🎤 🎸

### User with 2FA
![image](https://user-images.githubusercontent.com/20019656/167675576-67756bfa-bc9d-4ae4-b32d-f25b70f91b45.png)

![image](https://user-images.githubusercontent.com/20019656/167676307-07fd057d-159f-439a-92fc-f69bdc710f54.png)

### User without 2FA
![image](https://user-images.githubusercontent.com/20019656/167675739-3479dff6-b95a-46b3-a0b6-568ab93

[2022-05-10 17:58] fourthletter commented on #2809
On May 10 standup we discussed replacing the old hard code forms with new streamfield forms.

[2022-05-11 02:50] sandeepsajan0 commented on #2809
@fourthletter  @frjo @sks444  Currently, the old hard code forms are getting used as backup forms.
I noticed in my local that sometimes the determination form is attached to funds but it is not attached to its respective round and in that case, our old hard code form is getting rendered.

So, I think first we should remove the usage of old hard code forms and force/guide users to add a streamfield

[2022-05-11 04:23] frjo commented on #2809
When a new Fund or Lab is set up the determination forms are required so it is not possible to use the old hard coded forms on them. Just as we want.

[2022-05-11 07:17] sks444 commented on #2809
And the round is supposed to copy the determination form from funds.  So it's shouldn't be the case the that a fund has the determination form but round doesn't. @sandeepsajan0 can you check on why this is happening?

[2022-05-11 08:41] sandeepsajan0 commented on #2809
Yes, @frjo and @sks444 you both are right. Actually, It was an issue with my local.

It was an older/existing round using an existing fund that doesn't have a determination form attached at the time of round creation(because we are copying the determination form at the time of round creation only). And maybe later, I edited the fund and attached the determination form to it but didn't change/updat

[2022-05-11 10:45] sks444 commented on #2841
Current default reporting frequency is set to Month, which automatically schedules the next report.

With having no-report as an option now, would be good to set that as a default and if a report is required on a project we can set specific frequency accordingly.

[2022-05-12 07:58] frjo opened #2846 "Add a "Can’t Scan a QR Code?" feature to 2FA"
This is a quit common feature. You display the QR information as a code string enable the user to paste it it to there password manager.

Related to #2828

[2022-05-12 09:05] fourthletter commented on #2841
On May 12 standup we discussed adding 'reporting' as a status change in the 'Actions to Take' box. This feature is potentially connected to the PAF creation process. However, in this iteration we will focus on refining the frequency and due dates (?). As sks444 suggested, no-report as a default is the best approach moving forward.

[2022-05-12 09:17] fourthletter commented on #2809
On May 12 standup we discussed:

In the Determination Message Settings, there are currently options for two workflows: 1) Request (one stage) and 2) 2-Stage (concept note and proposal).

The approach we are choosing is to use Request for RequestComm and RequestExt. This would minimize the admin burden for maintaining these templates within WagTail, and streamline pre-populated templates/messages o

[2022-05-16 13:00] fourthletter opened #2847 "Add Regional Categories to Results Page"
### Description
A table of regional categories and number of submissions associated with each region

![image](https://user-images.githubusercontent.com/20019656/168598027-9be8df16-9865-4bf4-8baf-882355c4bf01.png)

[2022-05-16 13:34] fourthletter commented on #2809
Thank you! Works like a charm 🥇

![image](https://user-images.githubusercontent.com/20019656/168604524-14894444-3601-4e7a-977c-30d6b6d356fc.png)

[2022-05-17 06:12] frjo commented on #2847
You can filter on categories that you check "FILTER ON DASHBOARD" in Wagtail admin.

But maybe you want a separate table (in the summary section?) that show all the regions listed?

This takes some thinking and some configuration options since it is staff in each organisation that set up whatever categories they want/need. OTF happens to have set up one for regions.

[2022-05-17 06:18] #2809 closed, assigned to sks444, sandeepsajan0

[2022-05-17 06:22] #2821 closed, assigned to sandeepsajan0

[2022-05-17 08:01] fourthletter commented on #2832
Works great! Thank you!

[2022-05-17 08:08] #2832 closed, assigned to frjo

[2022-05-17 10:53] fourthletter commented on #2847
A separate table (in the summary section?) that shows all the regions listed would be nice.

However, if "each organisation sets up whatever categories they want/need," it becomes difficult to create tables on a results page solely based on category questions. The results page is not scalable and replicable from organization to organization (or user to user).

We need data that is commonly require

[2022-05-17 11:56] frjo opened #2848 "Do not include draft submissions in submission results"

[2022-05-17 12:19] #2848 closed, assigned to frjo

[2022-05-17 12:22] frjo opened #2850 "Remove draft submission from API calls"
Draft submission should not appear in any lists anywhere in Hypha.

[2022-05-18 07:57] frjo opened #2852 "Add ability to send Slack messages directly from Hypha"
Hypha can now use an Hubot endpoint to sent messages to Slack. Hubot has not been updated for 3 years https://www.npmjs.com/package/hubot and it would be nice to have this built in to Hypha.

Current endpoint: https://github.com/OpenTechFund/botf

Packages like e.g. https://pypi.org/project/django-slack/ maybe can be of use.

[2022-05-18 07:57] frjo commented on #2852
@sks444 @sandeepsajan0 Any ideas or reflexions around this?

[2022-05-19 09:13] fourthletter commented on #2852
Perhaps this github issue would address our current situation? https://github.com/HyphaApp/hypha/issues/2630

[2022-05-19 09:22] fourthletter opened #2854 "Timestamp on draft submissions should be date submitted (not date created)"
### Description
Applications submitted as drafts on Hypha shows the date stamp when the application was created (first drafted) even though the submitted date is typically a later date. The date stamp on these applications should be the submitted date, not the drafted date.

[2022-05-19 11:44] sandeepsajan0 commented on #2852
Yeah, It would be better to have it inbuilt for hypha. I'll do a bit of research about it.

[2022-05-19 18:06] Techslammer commented on #2630
I think this is a feature that OTF would like to put resources towards later this year.  Addilng a slack integration for Django that @frjo suggested: https://pypi.org/project/django-slack/

[2022-05-20 10:41] frjo opened #2855 "The "/django-admin/activity/event/" detail view crash with TypeError"
TypeError: has_add_permission() takes 2 positional arguments but 3 were given, see:

https://sentry.io/organizations/otf/issues/3288636037/?project=1268368&query=is%3Aunresolved

Removing "has_add_permission" from below resolves the issue but might have side effects.

https://github.com/HyphaApp/hypha/blob/e560578d087b73cd923f01592b6e74cc953c81bf/hypha/apply/activity/admin.py#L6-L25

[2022-05-20 11:38] sandeepsajan0 commented on #2855
Yeah, I see they have used `obj` as a mandatory argument. https://github.com/django/django/commit/6079ed82f43d8cc4b2c07eb36bc14efa0a1a5c17#diff-e77dfa6935de3fac94356ffd1029a679f8aa23f2979fe9b31aea7f93e1dccad3L2129.

Let me create a quick PR for this one.

[2022-05-23 13:13] #2855 closed, assigned to sandeepsajan0

[2022-05-23 14:01] ramojo opened #2858 "Errors on npm run build in django docker container"
**Describe the bug**

When I run docker-compose up, I get undefined variable errors and undefined mixin errors

**To Reproduce**

Steps to reproduce the behavior:
1. Go to '/root_of_application/docker'
2. Type 'docker-compose up' or 'docker compose up' depending on the version you use
3. See error

**Expected behavior**

A successful, error free build
**Priority**

- High (keeping you from complet

[2022-05-23 18:08] frjo commented on #2858
A bug in the docker setup. I think I have fixed it now if you pull in latest main and see the just updated docs. It was working for other devs since we already have the node packages installed.

You need to run the docker build command from hypha root like this:

`docker-compose --file docker/docker-compose.yaml build`

The other docker commands can be run from the docker dir.

You might need to r

[2022-05-23 20:27] ramojo commented on #2858
/thanks for the quick reply. Unfortunately that didn't fix it. It did point me in the kind of direction I should be looking at though

[2022-05-23 20:56] ramojo commented on #2858
The problem was mainly sass-loader, webpack and webpack-cli refusing to update to the newer versions. Got into the container and upgraded them with yarn and those main errors went away. Left with just these 5

![image](https://user-images.githubusercontent.com/9459879/169904629-7057f106-d8c3-4028-93fb-08a0f43b26dc.png)

[2022-05-24 07:03] frjo commented on #2858
I merged in a new PR with a second attempt at fixing this. As you notice the docker stuff is little used, all the current devs prefer to run dev environments on metal.

This issue had not been noticed before since everyone testing already had a local "node_modules".

I have now moved the `npm install` command to the entry point script so it is run after the code base have been mounted in the docke

[2022-05-24 09:42] fourthletter commented on #2828
Accessibility note from a recent user: "I think this is not a really accessible way to do it because it depends on sight and you have a really small time limit period to do it (impact on blind users and cognitive disabilities)."

[2022-05-24 12:22] frjo commented on #2828
https://miro.com/app/board/uXjVO8_szdM=/

[2022-05-29 11:39] ramojo commented on #2858
This works thanks. Had to go into the container again and pip install --upgrade django-bleach (to django-bleach-3.0.0) because I was getting errors:
![image](https://user-images.githubusercontent.com/9459879/170865962-0e813221-aa0b-4f18-8b58-252824397b04.png)

Upgrading django-bleach fixes it

[2022-05-29 11:47] ramojo commented on #2858
This works thanks. I had to go into the container again and pip install --upgrade django-bleach (to django-bleach-3.0.0) because I was getting errors:
![image](https://user-images.githubusercontent.com/9459879/170865962-0e813221-aa0b-4f18-8b58-252824397b04.png)

Upgrading django-bleach fixes it.

[2022-05-29 13:47] frjo commented on #2858
That should not be needed. We are running this code on many dev/test/live environments without issue.

`pip install -r requirements-dev.txt`

Should take care of everything. Maybe you updated the code and did not run the above command?

[2022-05-29 16:37] ramojo commented on #2858
I did and it installs django-bleach 1.0.0 which produces the above error. Let me also run it purely on metal and see if I encounter the same issues

[2022-05-30 05:51] frjo commented on #2858
Yes, the command will install everything specified in the requirements files. django-bleach==1.0.0 together with bleach==4.1.0 should not produce this error.

[2022-05-30 12:08] sandeepsajan0 commented on #2455
I think it is fixed with issue #2809.

[2022-05-30 12:28] frjo commented on #2455
Correct, closing now.

[2022-05-30 12:28] #2455 closed, assigned to sks444

[2022-06-02 13:15] frjo commented on #2723
There are two styles of dropdown. The difference is that one is for single select and the other is for multi select.

[2022-06-02 13:32] frjo opened #2868 "Add search to select dropdown with many items like reviewers and partners"
For the become dropdown on the account page we have a search field on top to quickly find a specific user. (A side note, this fields should not have checkboxes since it is not multi select.)

This would be useful on more select dropdown like the reviewer and partner input fields found on the submission detail view.

![Skärmavbild 2022-06-02 kl  15 20 32](https://user-images.githubusercontent.com/

[2022-06-02 14:09] frjo commented on #2630
We are working on this in https://github.com/HyphaApp/hypha/issues/2852 so closing this issue.

[2022-06-02 14:09] #2630 closed, assigned to nobody

[2022-06-02 14:10] #2578 closed, assigned to ei8fdb, fourthletter, sks444

[2022-06-02 14:11] Techslammer commented on #2630
thanks

[2022-06-02 14:15] frjo commented on #2506
This information is set in the public site in Hypha but only OTF uses that and they also plan top build a separate public site.

So adding these fields directly on the fund/lab is a good addition. They should also be part of the API call that list open rounds/labs.

[2022-06-02 14:17] frjo commented on #2761
I believe this issue has been addressed in recent releases.

[2022-06-02 14:17] #2761 closed, assigned to nobody

[2022-06-04 12:15] fourthletter commented on #2852
@sandeepsajan0 Thanks for tackling this. ⚡

[2022-06-04 16:35] fourthletter commented on #2828
@sandeepsajan0  Great job - the new flow works great! 💥

My only question is with the "regnerate codes" comes right after "save codes." End-users unfamiliar with backup codes will click on regenerate codes right after save codes, rendering save codes pointless.

![Screenshot 2022-06-04 6 30 25 PM](https://user-images.githubusercontent.com/20019656/172016650-84ecca09-de5f-4740-898e-215d08e88452.png

[2022-06-04 16:46] fourthletter commented on #2704
@sandeepsajan0 Could you please take a look at notifications for the finance workflow this month? We're planning to test with end-users, and it would be helpful for us to start drafting appropriate slack and email messages soon. Thanks.

[2022-06-04 17:01] fourthletter commented on #2723
@frjo Thanks for following up. I updated the issue because of the "no user selected" option in each of the dropdown menu.

[2022-06-04 17:02] #2634 closed, assigned to ei8fdb, Erioldoesdesign, fourthletter, sks444, Techslammer

[2022-06-04 17:12] fourthletter commented on #2358
Related to https://github.com/HyphaApp/hypha/issues/2492

[2022-06-04 17:12] #2358 closed, assigned to nobody

[2022-06-04 17:30] fourthletter commented on #2365
Related #1934

Feature already exists in the Projects page [Simplify Project Page #1399](https://github.com/HyphaApp/hypha/issues/1399) (closed issue)

Example

![Screenshot 2022-06-04 7 27 19 PM](https://user-images.githubusercontent.com/20019656/172018685-d5cb617d-b965-4283-b2bf-70790e0a4c54.png)

[2022-06-04 17:30] #2365 closed, assigned to nobody

[2022-06-04 17:56] fourthletter commented on #2794
This issue has been resolved here:

![Screenshot 2022-06-04 7 55 30 PM](https://user-images.githubusercontent.com/20019656/172019730-84b70d75-5fc6-4d53-aeff-5a47e496c7e1.png)

[2022-06-04 17:56] #2642 closed, assigned to Erioldoesdesign

[2022-06-04 18:59] fourthletter commented on #2791
Users are unable to save applications as draft when a question is nested in a group field. Options are not selectable because both radio buttons have the `disabled` value. The user is unable to manually change one to `enabled` and the selection isn’t recognized when clicking “Save.” Related to #2800

[2022-06-04 19:04] #2364 closed, assigned to nobody

[2022-06-04 19:06] fourthletter commented on #2364
Analytics are currently available on the "Results" page, additional user research and ux love is needed to improve this page.

![image](https://user-images.githubusercontent.com/20019656/172022102-b14ed6d7-bb62-477e-97cb-7a0119b160fa.png)

[2022-06-04 19:08] fourthletter commented on #2359
Related to https://github.com/HyphaApp/hypha/issues/2041

[2022-06-04 19:08] #2359 closed, assigned to nobody

[2022-06-05 17:54] fourthletter opened #2869 "Add Reviews Assgn column to reviewer user group dashboard"
### Description
As a reviewer, I would like to assign myself as a reviewer to an application. I would also like to know which applications need additional reviewers since this information is not available on my current dashboard.

![image](https://user-images.githubusercontent.com/20019656/172063252-8a4bec4a-ae79-453d-b94a-eec9875598c4.png)

[2022-06-06 04:29] fourthletter opened #2870 "determination form error when creating a Fund"
### Description

When creating a Fund, the user is required to add a determination form to the Fund.

![Screenshot 2022-06-05 6 18 43 PM](https://user-images.githubusercontent.com/20019656/172094995-2433896c-bca5-4b8c-9813-e230b89ea195.png)

[2022-06-06 04:35] fourthletter commented on #2707
### Ideation Call February 2022
notes regarding this issue https://we.hypha.app/t/monthly-ideation-meeting-2022-february-22nd/254

Bernards 3 options:

Hypha has a management UI for managing fund stuff & Hypha has a application UI to display the fund stuff that looks the same as the funder website but is not the same

Hypha has a management UI to create funds & manage applications & organization u

[2022-06-06 05:37] fourthletter opened #2871 "Update password reset"
### Enhancement request
Please update https://apply.opentech.fund/account/password/reset/ with additional instructions.

### Example

Forgot or want to change your password?

Please enter your email address. An email will be sent to your Primary Email address that includes a password reset link. You will have [x] days to access this reset link.

[2022-06-06 05:55] frjo commented on #2869
OTF has very strict rules about what submission Reviewers can see. Are you planing on opening up this?

A reviewers must be able to view a submission if they are going to assign themselves to it.

[2022-06-06 05:57] frjo commented on #2870
Yes, a determination form is required. Without it you can not do determinations.

[2022-06-06 06:29] fourthletter commented on #2658
'Partner' could revise an application, but cannot submit reviews so they are rarely board members, external reviewers, or advisory committee members.

We have a fellowship program that connects fellows with host organizations (ie university), host organizations could become a 'Partner' and access the application. If an applicant wants to have another individual in their organization access/edit th

[2022-06-06 06:41] #2870 closed, assigned to nobody

[2022-06-06 06:57] frjo commented on #2871
Does this look ok? I prefer not to make the days the link is active to public. That info is in the e-mail the user will receive.

![Skärmavbild 2022-06-06 kl  08 55 45](https://user-images.githubusercontent.com/191392/172111048-3388eaaa-abea-435a-a248-fc86d924b2a1.png)

[2022-06-06 07:07] fourthletter commented on #2506
As discussed on June 6 FJ + DL

As OTF moves to a different external website not associated wtih Hypha, this issue will support our new apply page for open calls.

[2022-06-06 07:52] fourthletter commented on #2658
On June 6 FJ + DL discussed creating a new setting for staff to manage and control comments that are visible to reviewers and applicants. This is a more complex issue in scope than revising the visibility user interface https://github.com/HyphaApp/hypha/issues/2873

[2022-06-06 07:54] fourthletter opened #2873 "Refine verbiage on visibility settings"
## User stories

1. As a user I need better instructions or guidance on the comment's section visibility settings.
2. The default setting for 'Partner' is 'Partner' -- users often submit a comment to themselves and can't be view by anyone else

## Current
![image](https://user-images.githubusercontent.com/20019656/187277724-a6ee07be-8531-4a6a-8262-85fd112a4581.png)

## Proposed Solution
OTF is kee

[2022-06-06 13:13] fourthletter commented on #2871
@frjo - isn't it easier for them to change their platform profile?

please update text:

**Please enter your user account's email address and we will send you a password reset link.**

This looks great. Thank you! 💥

[2022-06-06 16:12] slifty opened #2874 "Roles checkboxes aren't aligned with labels"
**Describe the bug**

The "Roles"

**To Reproduce**

Go to edit a user's "Roles" -- the checkbox labels are not aligned with the checkboxes.

**Expected behavior**

The labels should appear next to checkboxes.

**Priority**

- Low priority (annoying, would be nice to not see)

**Affected roles**

- Staff

**Screenshots**

<img width="414" alt="image" src="https://user-images.githubusercontent.com/

[2022-06-06 16:40] slifty commented on #2874
Just a note that it looks like this interface has been awkward at the Wagtail level for maybe quite some time.

(Wagtail 3 fresh install is quite awkward -- even more so -- out of the box) https://github.com/wagtail/wagtail/issues/8633

I'm gonna throw in the patch here for our purposes.

[2022-06-06 16:56] slifty commented on #2874
Here's what I have it looking like now:

<img width="734" alt="image" src="https://user-images.githubusercontent.com/208884/172208472-6c4dd5d3-842f-4658-a28e-2d091c4220ac.png">

If folks like it I'll open the patch!

[2022-06-06 17:39] frjo commented on #2874
This would be good to get fixed, thanks!

[2022-06-06 17:46] #2850 closed, assigned to sandeepsajan0

[2022-06-06 17:46] chriszs opened #2875 "Let users link arbitrary text in application field help text"
**Is your feature request related to a problem? Please describe.**

ARDC wants to link to documentation from the text above their application form fields, but the documentation is not in the form of a help guide, so they want to control which words are linked in the help text. Sometimes there are multiple links.

**Is your feature request related to an existing functionality? Please describe.**

A

[2022-06-06 17:48] #2354 closed, assigned to sks444

[2022-06-06 17:50] #2453 closed, assigned to ei8fdb, chaitu210, sks444

[2022-06-06 17:53] #2871 closed, assigned to frjo

[2022-06-06 17:54] chriszs commented on #2758
I think the existing fix works well. The two things I'd change are 1) this probably shouldn't be the case for editing an existing application as an admin, and 2) adding a logout or edit profile link in case the user wants to supply different values. Both out of scope for this ticket.

[2022-06-06 20:29] slifty opened #2876 "Underlines and links"
**Is your feature request related to a problem? Please describe.**

We have a few (known) places where the universal lack of underlines in links is causing confusion.  The first is in the footer text -- if the site is configured with a link that link has no indication it is clickable.  For instance in this screenshot "Giving" is a link but you would never know:

<img width="633" alt="image" src="h

[2022-06-07 08:53] frjo commented on #2876
The original designer was allergic to underlining I believe :-). As a developer I rather like them, from an accessibility stand point they are good as well.

[2022-06-07 09:39] fourthletter commented on #2875
This looks amazing, I look forward to testing it out soon.

[2022-06-07 12:57] #2758 closed, assigned to nobody

[2022-06-07 13:37] frjo commented on #2875
This is how it looks now.

![Skärmavbild 2022-06-07 kl  15 33 33](https://user-images.githubusercontent.com/191392/172394113-a7aabd85-c71b-4a78-aca7-abadaa58ca3b.png)

[2022-06-07 16:50] chriszs commented on #2875
I assume that link opens in a new tab so as to preserve the user's progress drafting the application, which is presumably what the icon there is supposed to signal. Probably something we should take into consideration if we were to change it to this.

The disconnect between "here" and the link is actually a good example of the problem this tries to solve, though "here" is generally not a descripti

[2022-06-08 00:09] frjo commented on #2875
Yes, it does automatically open in a new tab and has rel="noopener noreferrer" etc. Another benefit of letting the system create the links.

You can see them in action at https://apply.opentech.fund/internet-freedom-fund-concept-note/.

You do not see these links in your Hypha setup? They should just work out of the box.

I now notice that I have manage to miss making the string "See help guide fo

[2022-06-08 00:09] frjo opened #2877 "Make "See help guide for more information." string translatable"

[2022-06-08 00:24] chriszs commented on #2875
I do see them. I don't know all the reasons ARDC is opting for this instead, but the links they're adding definitely aren't to a help guide (as you say, we could translate) and occasionally there's more than one.

Here are the examples I was given:

<img width="980" alt="Screen Shot 2022-06-07 at 8 23 14 PM" src="https://user-images.githubusercontent.com/1103467/172505619-3f5f09e8-e7ae-4874-9eef-6

[2022-06-08 03:08] sandeepsajan0 opened #2878 "Third party libraries translation issue"
**Describe the bug**

Third-party libraries' translatable strings are not present in `django.po` or `django.pot`(translation files). So, we can't translate/change the text coming from the third-party libraries—Ex: `Token` on the 2FA QR code page.

**Additional context**

This solution might help us. https://stackoverflow.com/questions/26753663/django-translations-of-third-party-apps

[2022-06-08 07:22] #2877 closed, assigned to frjo

[2022-06-08 09:13] sks444 commented on #2812
@di, I thought this is one of the TO Dos in current month..

I have been doing some research on this, we could take a lot of ideas from https://github.com/django-notifications/django-notifications, one of the key points that I noticed is about recipient(a user or a list of user) to whom the notifications are being sent on an event.

And the other is about [real time updates](https://github.com/dja

[2022-06-08 09:52] frjo commented on #2874
This how it looks in Wagtail 3 so it will be fixed automatically as soon as we upgrade.

![Skärmavbild 2022-06-08 kl  11 51 38](https://user-images.githubusercontent.com/191392/172587939-03071969-e6db-408f-a823-df60c76328a9.png)

[2022-06-08 10:06] fourthletter commented on #2812
@sks444 Thanks for your research and  new ideas. I thought you preferred to work on the email default before starting this one. I put it back on the TO DO list.

I propose "event(s)" could be 1) new comments in the communication tab and 2) when the applicant revised/submitted a revision to their proposal. I'm opening to hearing other ideas for defining "events."

[2022-06-08 10:30] frjo opened #2880 "Update to Wagtail 3.x"

[2022-06-08 13:56] slifty commented on #2874
Much better -- though I think we'll still want to address the vertical centering of those labels (they're zippered right now instead of aligned).

Should I hold off on the patch in Wagtail 2 and wait until 3?

[2022-06-08 16:14] frjo commented on #2874
Yes, we will try to get in Wagtail 3 in a couple of weeks.

[2022-06-09 05:57] frjo commented on #2880
Will hand this of since I hit some issues.

1. Something funky with the migrations. Running "makemigrations" creates a number of them, but running it again creates more!?
2. The "hypha/apply/users/templates/wagtailusers/users/edit.html" template extends "wagtailusers/users/edit.html" but the css and js gets lost.

[2022-06-09 09:47] frjo opened #2882 "Make the default notification for all user roles be e-mail"
## Additional context
This is a sub-issue of #2911

### User Story

As a staff member, I need to receive email notifications when a contractor has submitted an invoice, when a new application has been submitted, or when I need to approve or review an item in Hypha.

### Description

- [x] List all the Slack notifications that do not have an e-mail version
- [x] Create e-mail templates for all the

[2022-06-09 10:39] sks444 commented on #2882
**Here is a list all slack notifications that doesn't have email version:**

[UPDATE_LEAD](https://github.com/HyphaApp/hypha/blob/b5b013479d6b3093316adf4f0bd42878fa130631/hypha/apply/activity/messaging.py#L431)
[BATCH_UPDATE_LEAD](https://github.com/HyphaApp/hypha/blob/b5b013479d6b3093316adf4f0bd42878fa130631/hypha/apply/activity/messaging.py#L432)
[APPLICANT_EDIT](https://github.com/HyphaApp/hyph

[2022-06-09 11:10] sks444 commented on #2812
On June 9 standup, for MVP purposes, we discussed to list all the activities on all the submissions and on all the projects at one place..

[2022-06-10 06:19] sandeepsajan0 commented on #2803
@frjo The `django-bleach` has a [new release to 3.0](https://github.com/marksweb/django-bleach/releases/tag/3.0.0) that supports Bleach >=5. I think a simple update should work just fine now.

[2022-06-10 09:18] frjo commented on #2828
A new version of the PR is now on test with some minor improvements. Mostly for Apple device users.

[2022-06-10 09:26] sks444 commented on #2882
Here are demo text messages that we send on slack, this could be helpful for designing email templates for them.

**UPDATE_LEAD**: The lead of [submission name](https://test-apply.hypha.app/apply/submissions/439/) has been updated from Di to Shrikrishna Singh by Shrikrishna Singh
**BATCH_UPDATE_LEAD**: Shrikrishna Singh has batch changed lead to Shrikrishna Singh on: [submission 1](https://test-ap

[2022-06-12 19:50] chriszs opened #2884 "Add numbers for submission"
**Is your feature request related to a problem? Please describe.**

ARDC uses submission numbers or IDs extensively in their current CRP-based grants management process, using them to refer to specific applications in meetings and elsewhere.

**Is your feature request related to an existing functionality? Please describe.**

Our solution for this adds ID numbers to the submissions table, the submi

[2022-06-12 20:07] chriszs commented on #2875
Actually it does seem like the links in these rich text fields have everything we just talked about:

<img width="961" alt="Screen Shot 2022-06-12 at 4 07 10 PM" src="https://user-images.githubusercontent.com/1103467/173251432-ee6233fe-1c79-4c62-ad55-52d1130ea12c.png">

[2022-06-13 05:02] frjo commented on #2884
I do not see a problem with accepting a PR that adds this column. Other Hypha users can use the existing SUBMISSIONS_TABLE_EXCLUDED_FIELDS to exclude any columns they do not need.

The same PR, or a separate one, can also fix the ordering of the filters so they sync with the columns. I see you have fixed that in the screenshot above.

[2022-06-13 05:03] frjo commented on #2874
See https://github.com/HyphaApp/hypha/issues/2880

[2022-06-13 05:05] frjo commented on #2884
Adding the number to the header after the title I leave up to other implementer to comment on.

[2022-06-13 06:48] sandeepsajan0 commented on #2704
@fourthletter Yeah, sure. I picked this task and see that notifications are already implemented. So, I tested it properly for every user type (contractors, lead/staff, finance1, and finance2) and for all statuses (Submitted to Paid including decline) and its notifications work fine.

If you want to check or update those notification messages from one place(here) I can paste the notification messag

[2022-06-13 06:56] fourthletter commented on #2704
Thank you @sandeepsajan0 -- I will test it as well and document if the messages need to be updated for OTF.

[2022-06-13 11:15] sks444 commented on #2812
There are two types of objects involved in an activity. [Source](https://github.com/HyphaApp/hypha/blob/f1c1afb5df207735b4660215db17d22275fb51c3/hypha/apply/activity/models.py#L93) and [Related](https://github.com/HyphaApp/hypha/blob/f1c1afb5df207735b4660215db17d22275fb51c3/hypha/apply/activity/models.py#L106).

Source are the core objects in Hypha. I.e ApplicationSubmission and Project.
Related a

[2022-06-13 13:54] fourthletter commented on #2868
Related to improve design for assinging reviewers, partners, etc https://github.com/HyphaApp/hypha/issues/2723
and segmenting reviewers https://github.com/HyphaApp/hypha/issues/2783

[2022-06-14 06:05] fourthletter commented on #2824
I wasn't able to get this NEW email on test.opentech.fund, and I didn't get the information about 2FA setup in the email.

[2022-06-14 06:28] frjo commented on #2824
All testing is done on test.hypha.app.

[2022-06-14 06:47] frjo commented on #2812
@sks444 Make sense to have a more compact display in the notifications than in the communication/activity feed tabs for each submission. Should not the link text be the objects title? Maybe truncated since some are quite long. We do this in the submissions table already.

https://github.com/HyphaApp/hypha/blob/67999482694f8ad43819d545bbc7e0d4ce71d867/hypha/apply/funds/tables.py#L56-L61

[2022-06-14 07:47] fourthletter commented on #2828
I ran another test on ios, and it worked fine. No major issues.

There are slight differences in the workflow for test.hypha and test.opentech.fund for saving backup codes.

[2022-06-14 07:49] frjo commented on #2828
test.opentech.fund does not have the new code. That site is only used for deployment testing for OTF.

[2022-06-14 07:57] fourthletter commented on #2824
This makes sense, I will only test on test.hypha.app from now on.

I did not get the new template and information about 2FA via test.hypha.app as well.

[2022-06-14 09:08] #2869 closed, assigned to nobody

[2022-06-14 09:14] frjo opened #2889 "Allow external reviewers to assign themselves to submission from their dashboard"
An optional workflow should allow external reviewers to assign themselves to submissions. Be default things should work as they do today.

In this optional workflow a new view for external reviewers list all submissions they have access to. An action in the table (and on the submission detail page?) should allow them to assign themselves to a submission.

A column in the table should display how h

[2022-06-14 10:08] sks444 commented on #2812
On June 10 standup, we discussed to display two tabs in the notification view. One for communication and other for actions, similar to what we have on one submission. But keeping the notification format same as described [above](https://github.com/HyphaApp/hypha/issues/2812#issuecomment-1153788752) with displaying the [truncated title](https://github.com/HyphaApp/hypha/issues/2812#issuecomment-115

[2022-06-14 16:44] slifty opened #2891 "Customizing the recommendation field on review forms"
**Is your feature request related to a problem? Please describe.**

The "Recommendation" field is currently a required field, and its answers are restricted to "yes / no / maybe"

There is a user desire for this field to be more akin to score, providing a 0-5 range of values (along with a "need more information" and "n/a" option).

**Is your feature request related to an existing functionality? Pl

[2022-06-14 18:37] slifty commented on #2891
I realize this field drives the red / yellow / green lights as well, so this is a more complex conversation than just text.  In our case we'll be mapping a series of "strong / weak / accept" to "yes" and the same for reject

[2022-06-15 07:41] fourthletter commented on #2824
It's ready to go live. Thanks!

[2022-06-15 08:05] #2824 closed, assigned to nobody

[2022-06-16 08:08] #2704 closed, assigned to fourthletter, sks444, sandeepsajan0

[2022-06-16 09:09] fourthletter commented on #2828
I completed a new run through, and was able to set up my 2FA and log in via backup codes & tokens. 💥

Nothing happened when I clicked on **Alternative otpauth set up link**

![Screenshot 2022-06-16 11 04 19 AM](https://user-images.githubusercontent.com/20019656/174035562-43e2af1d-ccbe-452f-a97a-de5cd67bc96d.png)

[2022-06-16 10:35] fourthletter commented on #2812
On June 16 standup, sandeep demo an iteration of two tabs in the notification view.

Di asked if we could include indications when a notification or activity is NEW so the user knows there are notifications they haven't read yet.
FJ suggested shortening the messages/notifications and giving more details when the user clicks on (as in expand) the notification (ie Discourse). The start of each notif

[2022-06-16 10:53] fourthletter commented on #2775
![image](https://user-images.githubusercontent.com/20019656/174055023-86d8d847-fb6d-4bb2-b278-a28024cb8a25.png)

[2022-06-16 12:03] frjo commented on #2828
@fourthletter It seems your computer does not have an app that can handle the otpauth link. On my computer the system keyring opens up and I can safe 2FA stuff.

I have changed the design a bit to hide the link behind a "Advanced" toggle so not to confuse users. People who want the link will know where to look.

![Skärmavbild 2022-06-16 kl  14 00 17](https://user-images.githubusercontent.com/1913

[2022-06-16 12:06] frjo commented on #2775
@fourthletter The subject line of the e-mail had the "[Hypha] " prefix?

[2022-06-16 14:29] fourthletter commented on #2775
Yes! [Hypha] Your application to Hypha Test App: Beatrice

It used to look like "Your application to Hypha Test App:..."

[2022-06-16 15:37] #2775 closed, assigned to nobody

[2022-06-17 05:04] fourthletter commented on #2846
Users need more instructions regarding how to setup alternative otpauth. 'Advance' could mean 'go further', or it could mean someone with expert knowledge.

I clicked advance but wasn't able to go very far...

<img width="990" alt="Screen Shot 2022-06-17 at 6 59 04 AM" src="https://user-images.githubusercontent.com/20019656/174228385-7e13545a-0561-4f9c-85a0-a8fb12802a7a.png">

[2022-06-17 05:06] fourthletter commented on #2828
Could we please release the 2FA workflow with increased usability without #2846 for now? Thanks.

[2022-06-17 05:23] #2828 closed, assigned to sks444, sandeepsajan0, aurum-linh

[2022-06-17 05:23] #2846 closed, assigned to sandeepsajan0

[2022-06-21 08:50] fourthletter commented on #2882
On June 21 standup we discussed the need to have different templates for slack, email, etc. because this feature would split up email from other messaging apps like slack,zulip, etc.

### Next Steps

- user research to hone in on what notifications users need and want
- refine message temaplates

[2022-06-22 20:24] frjo opened #2895 "[EPIC]: Accessibility improvements of form fields"
- [ ] Wrap multiple radio and checkbox input fields in fieldsets. Replace use of label with legend as section header.
- [x] #2899
- [ ] Make button hover states easily visible. Upload button e.g. has a hard to see hover state.
- [ ] Make hover and focus state the same for all buttons and links.
- [ ] Add aria-required="true" to all required fields.
- [ ] Link help text form__help with field with h

[2022-06-23 06:56] fourthletter commented on #2852
slack message was sent! Thank you! 💥

![image](https://user-images.githubusercontent.com/20019656/175235070-6dd1d80c-4b0a-473f-9fc0-01338157fc82.png)

[2022-06-27 10:47] fourthletter commented on #2854
This works great! Thank you for all your work. 💥

As an applicant, I created a draft submission. I then submitted the draft on a different day. The date stamp was the date submitted.

[2022-06-27 14:23] #2854 closed, assigned to sandeepsajan0

[2022-06-27 14:24] #2852 closed, assigned to nobody

[2022-06-27 23:56] chriszs opened #2897 "Customize review score range, e.g. 0-3, 0-5, 1-10"
**Is your feature request related to a problem? Please describe.**

ARDC has different scoring for different questions in the review process, so one question might have a maximum score of 10 and another 3. To accomplish this, they've been using the dropdown field and inputting a list of numbers, e.g. 0, 1, 2, 3, 4, 5, 6, 7, ... etc. but that's cumbersome and doesn't total into an overall score.

*

[2022-06-28 19:06] frjo opened #2898 "Replace django-two-factor-auth with something that support WebAuthn"
* [mkalioby/django-mfa2: A Django app that handles MFA, it supports TOTP, U2F, FIDO2 U2F (Webauthn), Email Token and Trusted Devices](https://github.com/mkalioby/django-mfa2/)
* [justinmayer/kagi: WebAuthn security keys and TOTP multi-factor authentication for Django](https://github.com/justinmayer/kagi)

Webauthn is the base of Apple/Googles/etc. new "passkeys" feature ment to replace passwords i

[2022-06-29 13:07] sandeepsajan0 opened #2899 "Remove the extra label used for single checkboxes. It is used to easy styling but is bad for accessibility."
It is a part of #2895 but I believe it needs a little bit of extra attention.

On removing the extra label, facing the CSS issues with the input tag.

[2022-06-30 17:26] fourthletter commented on #2882
As a user I prefer to receive an email notification when a new application is submitted to the lab I am managing.

[2022-07-04 08:53] frjo opened #2901 "Update to Python 3.10.6 (from 3.9.x)"
This is needed to update the Heroku buildpack to "heroku-22".

[2022-07-05 06:38] frjo opened #2902 "Align the ordering of the filterns with the columns on submission table"
![Skärmavbild 2022-07-05 kl  08 37 43](https://user-images.githubusercontent.com/191392/177265062-6a4b90d4-a0f8-426c-9a06-d9eca41c0cc8.png)

[2022-07-05 06:54] #2858 closed, assigned to frjo

[2022-07-05 07:02] frjo commented on #2902
![Skärmavbild 2022-07-05 kl  09 01 41](https://user-images.githubusercontent.com/191392/177269095-1a6ac311-594a-418d-8fad-5b1fb16ebf01.png)

[2022-07-05 12:59] frjo opened #2904 "Re add the PAF stream field form"
## Additional context
This is a sub-issue of #2911

## User story

### Description

The PAF stream field was removed in this PR https://github.com/HyphaApp/hypha/pull/2635 so should be fairly easy to re add.

With the simplification of the contracting and the removing of the IntAcct integration I believe a stream field form will be the most flexible solution.

If this looks good then we will repla

[2022-07-05 21:05] fourthletter commented on #2904
@sandeepsajan0 @frjo You're both correct about a process where PM's can only edit the PAF at specific junctures similar. This is similar to invoicing or when applicants could only edit the submission during certain workflow states or given 'permission' to do so.

[2022-07-06 09:30] fourthletter commented on #2798
Thank you for pushing this through! 💥

[2022-07-06 09:37] fourthletter commented on #2895
Could we make the borders lighter? We often group multiple choice questions together so the application will show a series of boxes stacked up if we implement darker borders.

Lighter Border
![image](https://user-images.githubusercontent.com/20019656/177519456-6b612ec9-1fac-474b-8209-fa5df6757bec.png)

Darker Border
![image](https://user-images.githubusercontent.com/20019656/177519867-a65d631e-0de

[2022-07-06 12:25] #2798 closed, assigned to sandeepsajan0

[2022-07-06 12:26] #2902 closed, assigned to frjo

[2022-07-06 12:27] #2803 closed, assigned to sandeepsajan0

[2022-07-07 08:17] frjo opened #2908 "Make vendor in projects optional (feature flag)"

[2022-07-07 09:03] #2908 closed, assigned to nobody

[2022-07-07 12:36] sandeepsajan0 opened #2909 "Header Block is not rendered correctly in edit view for Stream field forms"
The field is getting rendered as a string instead of a block.
<img width="951" alt="image" src="https://user-images.githubusercontent.com/23638629/177774781-cba9d662-2dfc-4302-b8e2-a062025535ab.png">

[2022-07-08 11:21] fourthletter opened #2911 "[Epic] Implement Hypha Compliance and Finance Workflow"
(This issue is a work-in-progress)

## User story

## Users involved
- Contractor
- Programme Manager (PM)
- Compliance Attorney (CA)
- General Council (GC)
- Finance Director (FD)
- Chief Executive Officer (CEO)
- Vice President (VP)

## Sub-issues

### Compliance Proposal Approval Process

- [X] #2904 PM can create and submit Project Approval Form (PAF)
- [X] #2914 Compliance Attorney can review

[2022-07-08 11:26] fourthletter opened #2912 "PDF and text/doc output of PAF"
## Additional context
This is a sub-issue of #2911  and output of #2904 Re add the PAF stream field form

## Description

Compliance needs to provide contractors and auditors with a contract and the SOW. The SOW contains part of the information in the PAF, and can be generated by the WebApp.

![](https://share.balsamiq.com/c/aUxtq9tx1MLPYjxVrUJrxY.png)

![Design option for Scope of Work PDF output

[2022-07-08 11:28] fourthletter opened #2913 "Approver user group role can approve the Project Approval Form"
## Additional context
This is a sub-issue of #2911

## User story

Approver sees the PAF with the Actions to take button "Submit  for approval" disabled as it's been submitted.

If they wanted to edit the PAF, they can click edit.
If they wanted to view the PAF, they can click view.
If they wanted to approve the PAF, they can click approve.
If they wanted to request changes, they can click request

[2022-07-08 11:36] fourthletter opened #2914 "Project Reviewer and Contracting user group can review Project Approval Form"
## Additional context
This is a sub-issue of #2911

## User story

CA sees the PAF with the Actions to take button "Submit  for approval" disabled as it's been submitted.

If they wanted to edit the PAF, they can click edit.
If they wanted to view the PAF, they can click view.
If they wanted to approve the PAF, they can click approve.
If they wanted to request changes, they can click request chang

[2022-07-08 11:36] fourthletter opened #2915 "Project Reviewer and Contracting user group can request changes to Project Approval Form"
## Additional context
This is a sub-issue of #2911

## User story

User group sees the PAF with the Actions to take button "Submit  for approval" disabled as it's been submitted.

If they wanted to edit the PAF, they can click edit.
If they wanted to view the PAF, they can click view.
If they wanted to approve the PAF, they can click approve.
If they wanted to request changes, they can click reque

[2022-07-08 11:37] fourthletter opened #2916 "Approver user group role can request changes to PAF"
## Additional context
This is a sub-issue of #2911

## User story

Approver sees the PAF with the Actions to take button "Submit  for approval" disabled as it's been submitted.

If they wanted to edit the PAF, they can click edit.
If they wanted to view the PAF, they can click view.
If they wanted to approve the PAF, they can click approve.
If they wanted to request changes, they can click request

[2022-07-08 11:42] fourthletter opened #2917 "Contractor can request changes to the contract"
## Additional context
This is a sub-issue of

## User story

Option 1: "contractor has no amendments" route: current manual (download, read, sign, upload) workflow

###
![image](https://user-images.githubusercontent.com/20019656/181499021-af26cb90-9f91-42c1-a7c0-d8bbffeae6b6.png)

###
![image](https://user-images.githubusercontent.com/20019656/181499103-32feee8e-ccb0-4a9d-bfa1-944fa0302bba.png)

#

[2022-07-08 11:48] fourthletter opened #2918 "Add feature flag to make Finance 2 user workflow optional"
## Description

Add a feature flag (in base.py) to set if finance 2 needs to approve invoices or if finance 1 can do it themselves.

Name it ´INVOICE_EXTENDED_WORKFLOW´, default too false.

## Priority
- High (keeping you from completing day-to-day tasks)

## Ideal deadline
October 2022

## Dev Tasks

- [ ] Add new wagtail settings to make `Finance 2` optional, with help text - `All the permission

[2022-07-08 12:03] fourthletter opened #2919 "[Epic] How the PAF progress looks in Hypha activity feed view"
## Additional context
This is a sub-issue of #2911

### Description
This issue is to show how the PAF progress looks in the activity feed.

- [x] PM submits completed PAF for approval from CA
- [x] CA requests more information
- [x] CA submits PAF to CEO, Finance, Compliance for approval
- [x] CEO, Finance, Compliance request change
- [x] CEO, Finance, Compliance for approval
- [ ] Contract approv

[2022-07-08 12:09] fourthletter opened #2920 "User notifications on Compliance Proposal Approval Process transition"
## Summary

OTF needs to inform the users involved in the process of invoice transition through the webapp.  This is so they can be kept up-to-date of the invoice status, and be notified if they are required to do anything.

## Users involved
- Contractor: they submit the invoice.

- Programme Manager Staff: they are the contractor's point of contact within OTF.  They review the invoice to make su

[2022-07-08 12:23] fourthletter opened #2921 "Enhance Supporting documents upload"
## Additional context
This is a sub-issue of #2911

## User Story

**What the user needs to do**
In Hypha the contractor needs to submit this information to the **Supporting documents table**:

**What staff needs**

* Editable list of document categories that are needed.
* Mark uploads as approved etc.

![Screenshot 2022-07-11 11 28 16 AM](https://user-images.githubusercontent.com/20019656/1782341

[2022-07-08 16:41] fourthletter opened #2922 "Finance needs to view invoices on a table/dashboard"
## Describe the solution you'd like in Hypha
In Hypha the Finance needs to view uploaded invoice file on a table/dashboard

**By default the table shows the invoices to be reviewed by finance**
![](https://share.balsamiq.com/c/qr4gLt6HkzP5vvVrPBdPc7.png)

**To see the invoices ready for entry into IntAcct filtered list**
![](https://share.balsamiq.com/c/syNc6eNmHZiLLBJLSZoc94.png)

Can we combine

[2022-07-08 16:45] fourthletter opened #2923 "Approver Role: PAF to approve table"
## Additional context
This is a sub-issue of #2911

## Describe the solution you'd like in Hypha
In Hypha the Approver needs to view PAF's awaiting approvals on a table/dashboard

## Current Dashboard

![image](https://user-images.githubusercontent.com/20019656/189351420-31f9ceea-3428-4788-90b4-ecd954e69e88.png)

## Priority
- Low

## Ideal deadline
February 2022

[2022-07-08 16:49] fourthletter opened #2924 "Staff Role: PAF submitted table"
## Additional context
This is a sub-issue of #2911

## Describe the solution you'd like in Hypha
In Hypha Staff needs to view PAF submitted on a table/dashboard

## Priority
- Low

## Ideal deadline
February 2022

[2022-07-08 16:49] fourthletter opened #2925 "Contracting Role: PAF to approve table"
## Additional context
This is a sub-issue of #2911

## Describe the solution you'd like in Hypha
In Hypha the Contracting role needs to view PAF requests on a table/dashboard

## Priority
- Low

## Ideal deadline
February 2022

[2022-07-08 17:15] fourthletter opened #2926 "Add ability to link to PGP key on people pages"
### User Story

Add 'apply link' field to contact method on public website. PGP fingerprints need to have associated keys.

![image](https://user-images.githubusercontent.com/20019656/178039283-1469d0bf-4ca4-48c3-b8ab-913dcba2671a.png)

[2022-07-09 08:44] frjo commented on #2926
What is a "Apply link"?

[2022-07-09 09:26] fourthletter commented on #2926
Maybe **document** is the better option? The goal is to attach the key as a document like a hyperlink. Did you have breakfast yet? 🍳

![image](https://user-images.githubusercontent.com/20019656/178099957-74c84bf9-71c5-4d49-bfd2-46a707799144.png)

![Screenshot 2022-07-09 11 24 25 AM](https://user-images.githubusercontent.com/20019656/178099936-ce68ae76-443f-48e3-a020-39e6fed4d90a.png)

[2022-07-10 10:37] fourthletter commented on #2836
guidance on 2FA setup: https://guide.opentech.fund/application-platform-guidance/login/two-factor-authentication-2fa

[2022-07-10 10:37] #2836 closed, assigned to nobody

[2022-07-10 10:40] fourthletter commented on #2791
Issue was fixed https://github.com/HyphaApp/hypha/tree/enhancement/gh-2798-group-field

[2022-07-10 10:40] #2791 closed, assigned to nobody

[2022-07-10 10:40] #2794 closed, assigned to nobody

[2022-07-10 10:43] #2706 closed, assigned to nobody

[2022-07-10 11:15] #2817 closed, assigned to nobody

[2022-07-11 06:41] frjo commented on #2926
These are field types in stream field forms like application forms etc. Not really relevant for this issue. Changed the title to explain what the outcome should be.

Why is it important to have a link to the PGP key? The e-mail client will automatically retrieve the key from a key server.

The fingerprint is there to confirm that you have the correct key.

If this is something the OTF really wants

[2022-07-11 09:25] fourthletter commented on #2904
I created a PAF in WagTail https://test-apply.hypha.app/admin/application_projects/projectapprovalform/edit/1/

but it has not appeared on the project page https://test-apply.hypha.app/apply/projects/78/

[2022-07-11 10:40] sandeepsajan0 commented on #2904
@fourthletter We also have to assign the PAF to the Fund.
<img width="951" alt="image" src="https://user-images.githubusercontent.com/23638629/178246690-3fe99f2b-85b5-410a-b596-792536c7bd75.png">

 I checked that project "PAF Workflow"(the link you provided) based on Bernard's Internet Fund(https://test-apply.hypha.app/admin/pages/938/edit/) and attached the Approval form to it and now you can see

[2022-07-11 11:00] fourthletter commented on #2904
Hi @sandeepsajan0 I completed the PAF form, but am not able to save the PAF https://test-apply.hypha.app/apply/projects/78/edit/

![image](https://user-images.githubusercontent.com/20019656/178250172-dc232c01-5aec-4bfa-9770-e9b5501c693e.png)

[2022-07-11 11:51] sandeepsajan0 commented on #2904
Yes, I just checked that. Looks like it is somehow related to the BlockFieldWrappers or we can say https://github.com/HyphaApp/hypha/issues/2909. I tried without header and section text in my local and it works. Let me try to fix it in the same PR for the PR's code.

[2022-07-12 09:32] frjo commented on #2918
Updated this issue to make it a feature flag not a removal.

[2022-07-13 15:55] frjo commented on #2918
One second thought an organisation who do not need the two steps (finance 1/2) for invoices can simply make all finance users finance 2. I think this is the cleanest solution.

[2022-07-14 07:30] #2909 closed, assigned to sandeepsajan0

[2022-07-14 07:31] #2895 closed, assigned to sandeepsajan0

[2022-07-14 09:27] #2904 closed, assigned to sandeepsajan0

[2022-07-15 05:38] #2812 closed, assigned to sks444, sandeepsajan0

[2022-07-18 16:45] frjo opened #2929 "The same comment show multiple times in in-app notifications"

[2022-07-21 08:36] fourthletter commented on #2920
During standup on July 21 we discussed the email notification will be sent when the staff user group (PM) submits the PAF package for review (ie budget)

![Screenshot 2022-07-21 10 32 58 AM](https://user-images.githubusercontent.com/20019656/180168778-f16fdb0d-8d5b-4744-9a29-ed917eec1607.png)

[2022-07-21 09:28] fourthletter commented on #2916
@sandeepsajan0 you are right that this role should be able to request changes to the PAF. On standup July 21, we discussed this role's process for reviewing the PAF follows a similar pattern as Finance, Contracting.

[2022-07-27 14:22] fourthletter commented on #2916
QA

- [X] Approver see the PAF on their dashboard

- [X] Approver use the drop down menu and comment pop-up

- [X] Approver approves the PAF and write a comment

- [X] Approver's comment and activity appears in the feeds

@sandeepsajan0  Worked great! 💯

[2022-07-27 14:22] fourthletter commented on #2913
QA

- [X] Approver see the PAF on their dashboard

- [X] Approver use the drop down menu and comment pop-up

- [X] Approver approves the PAF and write a comment

- [X] Approver's comment and activity appears in the feeds

[2022-07-27 14:29] kfogel commented on #2850
Note that this removal of draft exposure is [being discussed in chat](https://chat.hypha.app/#narrow/stream/1-general/topic/Anyone.20using.20the.20React.20app.3F/near/10220) as of today.

[2022-07-27 20:12] fourthletter commented on #2926
I am closing this issue because a feature to embed links/url already exists.

[2022-07-27 20:12] #2926 closed, assigned to nobody

[2022-07-28 12:35] #2914 closed, assigned to nobody

[2022-07-28 12:35] #2915 closed, assigned to nobody

[2022-07-28 12:55] fourthletter opened #2936 "Contracting role PAF table"
## Additional context
This is a sub-issue of #2911

## Describe the solution you'd like in Hypha
In Hypha the Contracting role needs to view PAF's awaiting approvals on a table/dashboard

## Priority
- Low

## Ideal deadline
February 2022

[2022-07-28 12:57] #2936 closed, assigned to nobody

[2022-08-02 07:59] fourthletter opened #2940 "Applicants saving a draft does not receive an email notification"
### User Story

I submitted a draft submission as an applicant, but received no further instructions on how to access this draft.

### Suggested Solution

Applicants will be sent an automated email notification similar to when an applicant submits an application with a url to their draft

[2022-08-02 09:09] theskumar commented on #2918
@frjo Update: I added the dev tasks in this issue.

[2022-08-02 10:52] fourthletter commented on #2882
On August 2 @theskumar is working on this issue to ensure existing slack messages have email equivalents. When implemented this solution would ensure organizations could receive notifications without third party messaging apps like slack, signal, etc.

The next phase of implementation could potentially include email digests, timed emails that are not sent in real time, and give users more options

[2022-08-10 12:14] sandeepsajan0 commented on #2929
@frjo Can you please share some details for this issue?
I think it might be the case that the same user has commented multiple times so it might show like " `user` made a comment" multiple times.

[2022-08-10 16:03] fourthletter commented on #2929
@sandeepsajan0 Thank you for following up, you are correct. The bug is more obvious on the live site

![image](https://user-images.githubusercontent.com/20019656/183958002-a0830c85-8e1f-4362-83b8-6f9a92de272b.png)

[2022-08-11 13:36] fourthletter commented on #2882
Do we still need this functionality in the project settings (image below) after the completion of #2882?

![image](https://user-images.githubusercontent.com/20019656/184145884-7b4c255f-6df4-4fa3-ad1d-055523bf9a09.png)

[2022-08-15 13:49] #2880 closed, assigned to theskumar

[2022-08-17 11:32] theskumar commented on #2940
[code]

This is a slightly modified version of the copy sent when the final submission of application submission is made (see below).

Let me know if this is okay to move ahead. @fourthletter

[2022-08-17 12:25] fourthletter commented on #2940
@theskumar Email looks great. Thank you so much! 👍

[2022-08-17 13:16] sandeepsajan0 commented on #2921
@fourthletter Do we want this field just as a checkbox(boolean, just to confirm if it belongs to w87 or w9), or do we need a dropdown to select the form type?

One more point I am thinking about is, Supporting documents are not only for contracts(I guess) so it may look odd to add contracts related fields in there. Don't you think @frjo?

[2022-08-18 08:40] theskumar commented on #2940
@fourthletter Cool!

 @frjo can you please review and merge PR #2948 Thanks.

[2022-08-18 08:44] theskumar commented on #2874
The wagtail 3 feature is [merged](https://github.com/HyphaApp/hypha/pull/2934) and also this particular issue with vertical alignment has been [addressed in it](https://github.com/HyphaApp/hypha/commit/e464e91dd1c8a9badcb06133e10af57afaec9193#diff-a57e700965c351d3d51625e02dcba161a8833583a3f286d057701e08755e198fR12-R17). Closing the issue now.

[2022-08-18 08:44] #2874 closed, assigned to nobody

[2022-08-24 08:38] frjo commented on #2921
@sandeepsajan0 @fourthletter The contract are uploaded in a separate place, not related to Supporting documents.

![Skärmavbild 2022-08-24 kl  10 36 16](https://user-images.githubusercontent.com/191392/186371720-80508949-2d91-48a5-8f95-253371bd0248.png)

[2022-08-24 08:42] frjo commented on #2921
@fourthletter The w8 and w9 forms in point 3 sounds a good fit for "Supporting documents" in case the vendor setup is not used.

Point 1 and 2 does not sound like documents (e.g. a PDF file) you upload? This sounds exactly like the kind of information we collect in the vendor setup form.

So OTF want to collect this information but not via the vendor form? It is something I do not understand here.

[2022-08-25 13:33] sandeepsajan0 commented on #2921
@frjo  Yes, that's a valid point here. I think instead of moving forward with this issue we should have a discussion regarding this with the @fourthletter.

[2022-08-28 14:32] #2940 closed, assigned to theskumar

[2022-08-28 18:59] #2929 closed, assigned to sandeepsajan0

[2022-08-29 06:04] theskumar commented on #2882
Hi @fourthletter, In my last discussion with @frjo , I am 100 % not sure if we are keeping this particular setting. Still, for the v1 of the default email notification, we decided to have an alternative email added that should be seen as the equivalent of the slack bot's channel.

We have a game plan of how the V2 of the notification system could look. At a high level, it would mean that we'll hav

[2022-08-29 06:36] fourthletter commented on #2882
@theskumar your approach makes a lot of sense moving forward. Thank you for clarifying.

[2022-08-29 09:08] fourthletter opened #2955 "Move documentation to MkDocs"
related to https://github.com/HyphaApp/hypha-docs/pull/50

[2022-08-29 09:30] #2955 closed, assigned to nobody

[2022-08-30 11:08] frjo opened #2957 "Rename "Forms" to "Application forms""
In Wagtail admin for Funds and rounds rename "Forms" to "Application forms".

[2022-08-30 11:10] frjo opened #2958 "Add approval forms to funds just like the other forms are added"
Also rename "Approval form" to "Project approval form".

[2022-08-30 11:11] frjo opened #2959 "Notification to final approval after all reviewer roles have approved"
The final approver(s) need a notification that a PAF has been approved by all the reviewer roles.

[2022-08-31 05:56] sandeepsajan0 opened #2960 "Add a guide message if PAF is not configured to the fund"
For now, I am thinking of showing a message on the same page.

"Approval Form is not configured the fund associated with this project/submission. Please configure it first from [Wagtail Admin]('URL to respective fund')."

[2022-08-31 08:59] #2957 closed, assigned to frjo

[2022-08-31 10:28] frjo opened #2964 "Upgrade to Postgresql 14"
At some point during 2023 we should update to the latest stable postgresql release.

Mostly to just keep Hypha running on recent version and to benefit from the performance improvements.

Postgresql 14 is the current default for Heroku builds byt Hypha runs on version 12.

Version 12 is supported until November 2024.

[2022-08-31 12:30] frjo opened #2965 "Display of workflow and forms names on rounds in wagtail admin are wrong"
Display the round name instead of the name of each workflow/form.

[2022-08-31 14:16] gmurtaza00 opened #2967 "Wagtail admin sidebar is not visible after upgrading hypha to 3.0"
**Describe the bug**

- Wagtail admin sidebar is not visible in updated instance of hypha and styling is bit odd.

**To Reproduce**

- Just follow the documentation to setup the project and login as a staff user.

**Expected behavior**

- Wagtail admin sidebar should appear as previous versions

**Priority**

- High

**Affected roles**

- Staff

**Screenshots**
![Screenshot from 2022-08-31 18-20-5

[2022-08-31 14:21] frjo commented on #2967
Should be fixes by rebuilding the css and js files.

`npm run build`

or in development environment

`npm run watch`

[2022-08-31 14:27] gmurtaza00 commented on #2967
Yes, i have tried rebuilding the css and js files, then running collectstatic command.
Also tried `npm run watch`.
The issue still persists.

[2022-08-31 14:40] frjo commented on #2967
Try to clear out `/static` dir and `hypha/static_compiled`dir and then rerun the npm command.

[2022-08-31 15:02] gmurtaza00 commented on #2967
@frjo no success.

[2022-08-31 16:46] frjo commented on #2967
This was tricky. Was pretty sure the above would solve the issue.

Assume you already done the following but just to be sure.

[code]

We are running the latest code with Wagtail 3 on a number of environments (live/test/sandbox/dev) without this issue.

[2022-08-31 18:43] gmurtaza00 commented on #2967
@frjo https://sandbox-apply.opentech.fund/ is the sandbox url. right?
I see its using wagtail 2.16.1

![image](https://user-images.githubusercontent.com/111306331/187755770-49713037-2bde-4196-8447-a47151b63a66.png)

[2022-09-01 06:51] frjo commented on #2967
You are correct, it has been too long since I updated the sandbox, will get that done this week. Thanks for reminding me.

[2022-09-01 14:43] killapop opened #2968 "Provide finer grained control over email notifications on submission status update"
**Is your feature request related to a problem? Please describe.**

I am adopting hypha for a client and they do not have all of the internal workflow steps in their process. So to skip a workflow step they go through them by updating the status to get through the steps they want to skip. This sends notification emails out to the applicant which firstly are quite annoying but more importantly give

[2022-09-01 15:46] frjo commented on #2968
You could create a new workflow for them with the steps they need.

[2022-09-01 15:47] frjo commented on #2968
But user/org control over the notification are on the task list.

[2022-09-01 16:40] frjo commented on #2967
Sandbox is now updated.

![Skärmavbild 2022-09-01 kl  18 37 25](https://user-images.githubusercontent.com/191392/187967185-be4b7167-5cc2-4659-80fe-54755e9caa61.png)

[2022-09-05 08:40] killapop opened #2972 "Unable to delete users from wagtail"
**Describe the bug**

Unable to delete users.

A clear and concise description of what the bug is.

I am trying to clean up a test instance and from the wagtail users list I am unable to delete a user. I get the notification saying **"The object you are trying to delete is used somewhere. Please remove any usages and try again!."**

- All submissions and projects are deleted.
- The user only had a

[2022-09-06 06:52] sentry[bot] opened #2973 "KeyError: <AssignedReviewers: John Doe>"
Sentry Issue: [OTF-WEBAPP-BV](https://sentry.io/organizations/otf/issues/3544769973/?referrer=github_integration)

[code]

[2022-09-06 07:01] theskumar commented on #2960
I believe this is a non-issue now, as the system can have a functional round/lab without an additional PAF form. @frjo @fourthletter

[2022-09-06 08:15] theskumar commented on #2965
![Screenshot 2022-09-06 at 08 10 32](https://user-images.githubusercontent.com/236356/188582980-a1c6a0bf-591e-49b2-8e01-2fd72ebeeaf0.jpg)

[2022-09-06 09:25] fourthletter commented on #2462
On standup September 6 we discussed replacing the library by implementing a centralized file system that is shared with the database horizontally. The quick fix now is to patch the library.

[2022-09-06 13:10] sandeepsajan0 commented on #2973
**How to reproduce**: Assign two reviewers(A and B) to any submission and one of them(assume A) submits a Review while another reviewer (assume B) just adds an opinion to the A's review as "Agree". Then try to fetch all reviews for that submission.

[2022-09-08 10:39] #2447 closed, assigned to nobody

[2022-09-08 10:39] #2448 closed, assigned to nobody

[2022-09-08 10:39] #2454 closed, assigned to chaitu210, sks444

[2022-09-08 10:39] #2457 closed, assigned to chaitu210, sks444

[2022-09-08 10:40] #2580 closed, assigned to nobody

[2022-09-08 10:40] #2611 closed, assigned to sks444

[2022-09-08 10:40] #2847 closed, assigned to nobody

[2022-09-08 10:41] #2383 closed, assigned to ei8fdb, sks444

[2022-09-08 10:41] #2352 closed, assigned to ei8fdb

[2022-09-08 10:41] #2444 closed, assigned to ei8fdb

[2022-09-08 10:41] #2396 closed, assigned to nobody

[2022-09-08 10:41] #2652 closed, assigned to sks444

[2022-09-08 10:48] fourthletter commented on #2742
I will be closing issues related to Reporting META/EPIC https://github.com/HyphaApp/hypha/issues/2708 as part of the quarterly rebasing process and [current priorities](https://github.com/HyphaApp/hypha/wiki/Roadmap).

Please reach out if you have any questions or concerns.

[2022-09-08 10:48] #2742 closed, assigned to nobody

[2022-09-08 10:49] #2744 closed, assigned to nobody

[2022-09-08 10:49] #2745 closed, assigned to ei8fdb

[2022-09-08 10:49] #2746 closed, assigned to Erioldoesdesign

[2022-09-08 10:49] #2753 closed, assigned to nobody

[2022-09-08 10:49] #2755 closed, assigned to nobody

[2022-09-08 10:49] #2756 closed, assigned to nobody

[2022-09-08 10:49] #2754 closed, assigned to nobody

[2022-09-08 10:55] fourthletter commented on #2492
Related to #2327

[2022-09-08 10:56] fourthletter commented on #2327
Related to #2492

[2022-09-08 11:02] fourthletter commented on #2685
Let discuss during a Maintainers' call if we need additional support and resources for this initiative. Thanks!

[2022-09-08 11:03] #2757 closed, assigned to nobody

[2022-09-08 11:04] #2738 closed, assigned to nobody

[2022-09-08 11:04] #2760 closed, assigned to nobody

[2022-09-08 11:05] fourthletter commented on #2708
I will be closing issues related to Reporting META/EPIC https://github.com/HyphaApp/hypha/issues/2708 as part of the quarterly rebasing process and [current priorities](https://github.com/HyphaApp/hypha/wiki/Roadmap).

Please reach out if you have any questions or concerns.

[2022-09-08 11:05] #2708 closed, assigned to Erioldoesdesign

[2022-09-08 11:05] #2723 closed, assigned to nobody

[2022-09-08 11:06] fourthletter commented on #2535
Closing this issue as we lack a viable use case.

[2022-09-08 11:06] #2535 closed, assigned to nobody

[2022-09-08 11:07] fourthletter commented on #2707
Related to #2506

[2022-09-08 11:07] fourthletter commented on #2506
Related to #2707

[2022-09-08 11:09] #2873 closed, assigned to nobody

[2022-09-08 11:09] fourthletter commented on #2658
## User stories

1. As a user I need better instructions or guidance on the comment's section visibility settings.
2. The default setting for 'Partner' is 'Partner' -- users often submit a comment to themselves and can't be view by anyone else

## Current
![image](https://user-images.githubusercontent.com/20019656/187277724-a6ee07be-8531-4a6a-8262-85fd112a4581.png)

## Proposed Solution
OTF is kee

[2022-09-08 11:11] fourthletter commented on #2837
Related to #2898

[2022-09-08 11:11] fourthletter commented on #2898
Related to #2837

[2022-09-08 11:56] fourthletter opened #2975 "[Meta] Round Management"
## Description

As a user I would like to create funds and rounds for applicants. These issues provides me with functionalties I need to expediate the process.

## Issues

- Improve visibility of what forms are linked to what funds on the wagtail admin fund page as have been done on the rounds page https://github.com/HyphaApp/hypha/issues/1509
- When editing an active round's application, an optio

[2022-09-08 12:27] frjo commented on #2901
When we merge the PR this issue will automatically close.

[2022-09-08 13:11] frjo commented on #2707
I think the talk about Headless Hypha is no longer relevant. From my experience new Hypha users just want a system that works as good as possible out of the box. No one have expressed a wish to build a custom front end them self.

If specific API endpoints need to be added or extended we can deal with that in separate issues.

I would close this one.

[2022-09-08 14:05] fourthletter commented on #2707
Thanks for your input. I'll close this issue.

[2022-09-08 14:05] #2707 closed, assigned to nobody

[2022-09-09 10:49] #2361 closed, assigned to nobody

[2022-09-09 10:50] #2369 closed, assigned to nobody

[2022-09-09 10:52] fourthletter commented on #2371
Closing this issue because it's the same as Ability to use default/provided workflows, modify defaults, or create new workflows from scratch for funds/labs #294

[2022-09-09 10:52] #2371 closed, assigned to nobody

[2022-09-09 11:07] fourthletter commented on #2328
This issue sounds like designing an 'output' that is easy to read and exported from Hypha. The main goal and similar objectives of this issue already exist in other issues.

[2022-09-09 11:07] #2328 closed, assigned to nobody

[2022-09-09 11:17] #2370 closed, assigned to nobody

[2022-09-09 11:17] #2367 closed, assigned to nobody

[2022-09-09 12:18] fourthletter commented on #2973
I think the test worked! Amazing! 👍

I tested several methods for assigning reviewers to several different submissions and Fund/Lab applications: 1) batch assign, 2) assign reviewers manually to a single submission, and 3) automatically assigning a submission when it's in the 'External Review' status.

As a user I did not see any error messages and the system did not indicate any errors.

Batch Ac

[2022-09-09 12:21] fourthletter commented on #2960
I see the message. Looks great! 💯

![image](https://user-images.githubusercontent.com/20019656/189350267-a5b484d0-8e33-4c72-ab96-929ab0896335.png)

[2022-09-09 12:33] fourthletter commented on #2958
I still don't see the option to add an approval form to a round https://test-apply.hypha.app/admin/pages/939/edit/?next=/admin/funds/round/%3Fform-state%3Dopen%26o%3D-3

[2022-09-09 12:50] fourthletter commented on #2917
Thanks for this!

When a contractor has questions about their contract, they click on "Corrections or amendments to your contract" and the page jumps to the comment section in Hypha. The contractor also receives an automated email informing them the contract is available.

### Contractor can request more information or communicate with staff about their contract
![Screenshot 2022-09-09 2 42 30 PM]

[2022-09-09 12:56] sandeepsajan0 commented on #2958
@fourthletter We decided to keep it with funds and labs only not with the round(because it is global and projects have nothing to do with rounds). You can see it in a fund and if you'll change it in the fund it will directly reflect there in PAF approval process.
cc @frjo

**What [this](https://github.com/HyphaApp/hypha/pull/2966) PR contains:**  It makes the ProjectApprovalForm implementation wit

[2022-09-09 12:59] fourthletter commented on #2958
Thank you for clarifying! I see the add approval form option in Funds. 👍

[2022-09-12 06:21] #2973 closed, assigned to sandeepsajan0

[2022-09-12 06:24] #2917 closed, assigned to sandeepsajan0

[2022-09-12 06:24] #2901 closed, assigned to frjo

[2022-09-12 06:27] #2913 closed, assigned to nobody

[2022-09-12 06:27] #2916 closed, assigned to nobody

[2022-09-12 06:27] #2920 closed, assigned to nobody

[2022-09-12 06:28] #2958 closed, assigned to sandeepsajan0

[2022-09-13 05:23] sandeepsajan0 commented on #2925
@fourthletter This is already fixed via #2943 and available on test site.

[2022-09-13 07:56] #2925 closed, assigned to sandeepsajan0

[2022-09-13 09:26] fourthletter commented on #2875
This issue was completed.

[2022-09-13 09:26] #2875 closed, assigned to nobody

[2022-09-13 09:27] fourthletter commented on #2897
This issue was completed.

[2022-09-13 09:27] #2897 closed, assigned to nobody

[2022-09-14 12:57] fourthletter commented on #2882
Comments in Hypha are currently routed to an email designated by (ie app@apply.opentech.fund). Is this a global setting? Fund?

[2022-09-14 12:59] frjo opened #2981 "[Epic] Organise Hypha settings in Wagtail admin"
Main goals are:

* Custom Wagtail admin front page with quick access to most used functions.
* Separate Custom Hypha and Wagtail core settings
* Move all Hypha setting in to "Apply" and "Project" meny sections.

- [x] Rename "Manage" to "Project"
- [x] Move "Project Approval Forms" from  "Apply" to "Project"
- [ ] Move all Hypha settings from "Settings" to either  "Apply" or "Project" menu section

[2022-09-14 13:16] fourthletter opened #2982 "[Epic] DRAFT Application User Journey"
Main goals are:

* Better manage draft submissions in Hypha
* Staff user role does not have oversight and information to provide applicants with tech support related to their draft applications
* Draft applications are in parallel with submitted applications, applicants have the same questions and concerns, but there is a lack of user research on this process

## New
- [x] For logged in applicant,

[2022-09-14 16:05] frjo commented on #2882
@fourthletter Can you post a copy of one of these comment notification mails ot Slack? I thought we only send e-mails to applicants regarding comments.

[2022-09-15 09:55] fourthletter commented on #2965
Looks great! 💯

![image](https://user-images.githubusercontent.com/20019656/190374608-4b942ee9-0631-4042-9f8e-3e6db838baa9.png)

[2022-09-15 11:17] theskumar commented on #2462
@frjo are we using https://github.com/mbraak/django-file-form/blob/master/docs/details.md#upload-directly-to-aws-s3 for the OTF site?

[2022-09-15 12:08] frjo commented on #2462
@theskumar No, we are not from what I know.

https://github.com/HyphaApp/hypha/blob/dd769cd7fc945fac74a9a635f3da07aa69bb9fd0/hypha/storage_backends.py#L5

[2022-09-15 12:43] frjo opened #2985 "User e-mail field is not case incentive"
This makes it possible to have one user with `test@example.org` and another with `TEST@EXAMPLE.ORG` etc.

Since e-mail is also the username this need to be fixed.

There is a number of accounts today with duplicate e-mails. How should we handle these @fourthletter.

See also https://github.com/OpenTechFund/issues.otf/issues/34

[2022-09-15 13:27] fourthletter commented on #2985
Let's discuss a technical plan for deleting them. 1) Is it possible to archive these accounts? 2) What happens to associated documents? 3) We need a technical plan that aligns with our data policy/compliance for saving documents.

Before we remove any accounts from the system, I could send a letter to these individuals to let them know their accounts have been suspended, and that they need to choo

[2022-09-19 05:44] theskumar commented on #2985
@sandeepsajan0 For you to consider, as discussed overall for implementation:
1. https://github.com/taigaio/taiga-back/blob/master/taiga/users/services.py#L46-L59
2. https://docs.djangoproject.com/en/4.1/ref/contrib/postgres/fields/#django.contrib.postgres.fields.CIEmailField

[2022-09-19 11:41] #2965 closed, assigned to theskumar, sandeepsajan0

[2022-09-19 12:18] frjo opened #2986 "Add a setting that decides if staff can see draft submissions or not"
Related to #2982

[2022-09-20 07:51] #2986 closed, assigned to nobody

[2022-09-20 08:42] fourthletter commented on #2986
Amazing! 💯

![image](https://user-images.githubusercontent.com/20019656/191211290-ebf08409-2ce0-44a2-b9a5-891877ca108c.png)

[2022-09-20 09:12] fourthletter commented on #2921
On September 20 standup we discussed several approaches for enhancing this feature:

1) As a user, they need to know which documents to upload
2) Know status updates (ie approved)
3) In version 2.0 we will include notifications

![image](https://user-images.githubusercontent.com/20019656/191217600-4954ed68-7df1-4110-a438-12bbe4eda260.png)

[2022-09-20 09:15] theskumar commented on #2921
Internal data modeling!
![image](https://user-images.githubusercontent.com/236356/191218809-23c682c1-59bd-46b2-a770-11c6c58cc0af.png)

[2022-09-20 09:33] fourthletter commented on #2462
On September 20 we decided to pause this feature and pursue a more direct approach (ie AWS could direct files to a temporary folder and not add additional load to servers)

[2022-09-20 09:44] fourthletter commented on #2882
On September 20th standup we discussed Saurabh's implementation approach of making default email into a global setting associated with a particular Fund. The email template will be a digest of similar slack messages in groups. For example, all slack notifications associated with a new submission will be in one email digest.

[2022-09-20 09:52] fourthletter commented on #2985
On September 20 standup we discussed migrating documents (ie proposals) from disparate accounts and preserving the case inputted by the user.

[2022-09-20 11:07] fourthletter opened #2987 "Single Button Apply"
### User Story

As a grant manager I need to assign different proposals to the initial concept note stage. I am currently unable to attach a NEW proposal to an existing live fund.

- On Hypha test there is an application for multiple proposal templates here https://test-apply.hypha.app/singleapplication-may-2021/
- In the Wagtail admin I added another proposal to the Fund here https://test-apply.h

[2022-09-20 13:43] fourthletter commented on #2986
On September 20 we discussed having drafts only visible to the 'staff admin' user group

[2022-09-20 15:05] fourthletter opened #2988 "Applicants need to edit approved proposals"
### User Story

As a program manager I need to revert an approved submission for applicants to make additional edits. Approved proposals because it may be missing information that is required before proceeding to invoicing.

Example:
https://test-apply.hypha.app/apply/submissions/480/

Option 1: Applicant could EDIT approved submissions. This would show in the Activity Feed
Option 2: Applicant cou

[2022-09-21 07:57] frjo commented on #2988
I believe staff already can edit all approved submissions, including proposals.

[2022-09-21 08:29] fourthletter commented on #2988
@frjo I updated the issue to applicants, not staff.

[2022-09-21 09:05] frjo commented on #2988
In an audit how is one to know what was approved if everyone can edit the submission at any time?

[2022-09-23 16:10] #2987 closed, assigned to nobody

[2022-09-26 06:56] theskumar commented on #2882
@fourthletter Correction, the idea here is not the send different emails for different message types. The emails will be sent regularly (say 3 Hours or daily). If any new message comes for the staff/slack, since last sent they all will be sent in a single email. In this email, the message type can be grouped together in different sections.

e.g.
[code]

[2022-09-26 06:58] theskumar commented on #2462
Assigning to @frjo to try using https://mbraak.github.io/django-file-form/details/#upload-directly-to-aws-s3 and see if that solves the problem.

[2022-09-26 13:14] frjo commented on #2460
This is on test now. But do we really want this field to be required?

[2022-09-26 13:48] fourthletter commented on #2460
@frjo the "send message to applicant" field should be on the form and checked by default, doesn't necessarily have to be "required" field.

[2022-09-26 13:50] frjo commented on #2460
Required as in, must be added to the determination form.

[2022-09-26 14:00] fourthletter commented on #2460
![Screenshot 2022-09-26 3 59 51 PM](https://user-images.githubusercontent.com/20019656/192296092-271010fe-e4eb-48a4-8a75-3858ffc630e8.png)

[2022-09-26 14:37] #2959 closed, assigned to sandeepsajan0

[2022-09-26 14:40] #2830 closed, assigned to sks444

[2022-09-27 09:33] fourthletter commented on #2460
On September 27 standup we discussed 'send notice' should be a default field because this is the expected behavior of determinations

[2022-09-27 09:49] fourthletter commented on #2882
On September 27 standup we received a demo of feature. The same consistent set of messages could be sent via slack and/or email. Other messaging options include Zulip or Signal. Next step is to have a webhook

[2022-09-29 07:00] fourthletter commented on #2988
You're right. The last stage of approval should be 'frozen'

[2022-09-29 07:00] #2988 closed, assigned to nobody

[2022-09-29 13:37] #2975 closed, assigned to nobody

[2022-10-03 04:47] sandeepsajan0 opened #2994 "Key Error: 'screening_status'"
**Describe the bug**
The `screening_statuses` field is not present in cleaned form while we are expecting it in the `clean` method of ScreeningSubmissionForm.

https://sentry.io/organizations/otf/issues/3631184300/?project=1268368

[2022-10-03 06:33] #2967 closed, assigned to nobody

[2022-10-04 08:09] #2460 closed, assigned to ei8fdb, sandeepsajan0

[2022-10-04 09:21] theskumar opened #2996 "Feature: Support archiving of submission"
### User Story
Historic submissions and rounds are not relevant and they become noise on the dashboard. Labs doesn't need archiving they are long lived. Mimizing the amount of data on the platform aligns with better data retention and responsibility practices.

### Proposed Solution

MVP: Archive entire rounds, funds, labs
Long-term goal: archive individual submissions

- Archive submission using

[2022-10-04 12:16] #2960 closed, assigned to sandeepsajan0

[2022-10-04 12:50] fourthletter commented on #2985
Amazing! Thank you 💯

![image](https://user-images.githubusercontent.com/20019656/193823657-5dc8333c-764b-488a-af26-67bc1edd2fd9.png)

[2022-10-05 10:52] frjo commented on #2573
We will soon scrap the public part of Hypha so closing this.

[2022-10-05 10:52] #2573 closed, assigned to nobody

[2022-10-05 11:02] frjo opened #2999 "Make it easier to extend and customise Hypha for other implementors"
Let us discuss how to make it easier for other implementors to extend and customise Hypha.

Goals is to allow adding and modifying things without touching existing code as far as possible. This is to avoid merge conflicts and similar issues when keeping up to date with core Hypha releases.

[2022-10-05 11:13] frjo commented on #2999
From a dev group meeting:

1. You can already add a custom template directory to override any templates in Hypha.
2. We can collect a list of classes that implementor commonly want to override and add settings for them. Then an alternative class can be created and used by changing a setting value.

[2022-10-10 15:10] kfogel commented on #2999
See also related Zulip conversation: [Make it easier to extend and customise Hypha](https://chat.hypha.app/#narrow/stream/1-general/topic/Make.20it.20easier.20to.20extend.20and.20customise.20Hypha).

[2022-10-11 07:05] sentry[bot] opened #3001 "TemplateSyntaxError: Invalid block tag on line 5: 'trans'. Did you forget to register or load this tag?"
Sentry Issue: [OTF-WEBAPP-C1](https://sentry.io/organizations/otf/issues/3661388852/?referrer=github_integration)

[code]

File responsible: https://github.com/HyphaApp/hypha/blob/833ead78f27c894f1780e0883aaa2a28ec9eaab5/hypha/templates/blocks/more_block.html

[2022-10-11 07:27] #3001 closed, assigned to theskumar

[2022-10-11 10:04] fourthletter commented on #2921
On October 11 standup we discussed:

- [ ] The check mark next to the doc upload button
- [ ] pop-up asks for "file name" -- is this necessary?
- [ ] There are two "upload" buttons - consider rename one of button to "submit"
- [ ] date stamp? Or another indicator of a file that is  no longer relevant or version control of documents
- [ ] How could users access documents after the project has been

[2022-10-11 11:40] frankduncan commented on #2999
@frjo That sounds like a good path forward.  We're still booting up the process of getting entry points.  Two to start your thinking off are:

* Extending the form widgets.  Two instances that we'd want to be able to write ourselves are:
  * Complex datatypes - kind of like the Location widget, but allowing multiple ones
  * More complex branching logic
* Different registration process.  This will

[2022-10-11 12:49] frjo opened #3004 "Settings file loaded by django-admin/manage.py"
This is related to the issues with `EMAIL_BACKEND` in https://github.com/HyphaApp/hypha/pull/2991.

Environment variable `DJANGO_SETTINGS_MODULE` is set to `hypha.settings.dev`.

[code]

But when I run django-admin/manage.py it is not picked up. According to https://docs.djangoproject.com/en/3.2/ref/django-admin/ it should work.

If I set it explicitly with `--settings hypha.settings.dev` it works

[2022-10-11 16:37] fourthletter opened #3005 "Project Wagtail Admin settings are in a single folder"
### Description

A folder with all Project page settings for users to access settings in a single place. This would streamline the Project page setup.

[2022-10-12 12:03] sandeepsajan0 commented on #2921
I did some research into the code regarding the check mark bug and other points and here are the findings:

  The mark is checked when the minimum requirement of all document categories are fulfilled. In other words, the number of Uploaded documents per category is equal to or greater than the minimum number of required documents per category, as set in the [wagtail admin](https://test-apply.hypha

[2022-10-12 19:13] theskumar commented on #3004
The correct setting is picked for me if the environment variable is provided.
![Screenshot 2022-10-12 at 19 05 33@2x](https://user-images.githubusercontent.com/236356/195428386-882936bd-dcbc-41fe-9c65-273ccbb0e5d2.jpg)

[2022-10-13 06:52] frjo commented on #3004
Tested now and when I set it explicitly in the venv like above it works for me as well.

I had it set in my "zshenv" so it was set for all terminal sessions I open. That doesn't seems to work for venv environments. I now set it in `venv/bin/actiate`. Looks like that works.

Thanks for testing this!

[2022-10-13 06:52] #3004 closed, assigned to theskumar, sandeepsajan0

[2022-10-13 10:08] frjo commented on #2882
@fourthletter This is now on test, I have set so the e-mail digest goes out to your and mine e-mail addresses. On live I assume you will set some team/list e-mail address(s).

[2022-10-13 11:08] frjo commented on #2882
I have set the cron job that sends the digest to every 10 minuts for the test site.

[2022-10-13 12:44] frjo commented on #2882
I have received my first digest from the test site. Seems to work just as intended.

[2022-10-13 17:04] #2918 closed, assigned to sandeepsajan0

[2022-10-16 17:30] frankduncan commented on #2999
I wanted to follow up here, even though I know this is a general issue that anyone might join.  For the ardc project where we've diverged some, we're moving on the following steps:

* Create Issues/PRs here for legacy, already complete items after a thorough audit (the code is good, it's not already fixed in production, that it's a good candidate for general use, etc).
* Analyze the diff between u

[2022-10-17 12:07] sandeepsajan0 commented on #2923
@fourthletter I think we discussed that only staff(PMs), finance members, and contracting members will approve the PAF. Right now, the approver doesn't even have permission to PAF.
Do we want to include the approvers to the above list and provide them permission to PAF?

[2022-10-17 12:19] fourthletter commented on #2923
@sandeepsajan0 Approvers need their own table or dashboard to approve PAF's as well.

The Approver dashboard should only have PAF's that have been approved by Contracting. Let's discuss more tomorrow! Thank you.

[2022-10-17 12:41] frjo commented on #2923
No user will ever only have the "Approver" role. It will always be "Staff with Approver", "Contracting with Approver" etc.

The Approver role is ment to extend the permissions of other roles.

[2022-10-17 15:03] fourthletter commented on #2923
We could be more specific and say the table or dashboard for displaying PAF's awaiting FINAL APPROVAL should only be seen by "Contracting with Approver"

[2022-10-18 09:13] #2985 closed, assigned to sandeepsajan0

[2022-10-18 12:48] fourthletter opened #3010 "Add 'Copy to clipboard' function to PAF"
Related to https://github.com/HyphaApp/hypha/issues/2478

### User Story

As a user I need to copy the questions and embedded text from Hypha onto another document. This would give the user more flexibility to edit and adjust the information on the PAF.

![image](https://user-images.githubusercontent.com/20019656/196433409-35b1c67d-8375-4fdb-b01a-8c47ea93d466.png)

[2022-10-18 15:02] fourthletter commented on #2882
Thank you for pushing this through!

1) Will emails be part of a continuous thread?
2) Slack enables certain funds and labs to have unique (separate) slack channels. Is this also possible for emails?
3) What is your proposed 2.0? Could we separate activities into broad categories?

![image](https://user-images.githubusercontent.com/20019656/196465271-d28d4797-9ffe-4aea-8d6f-aceece6f7c61.png)

[2022-10-18 15:06] fourthletter opened #3011 "Include applicant's name to slack and email notifications/activities"
### User Story

 If a new submission has been submitted and its name, can we can also by **whom (individual who submitted application)**

[2022-10-18 15:12] fourthletter commented on #2921
There's currently a slight glitch. The NEW projects I've created have the same files embedded on them in the supporting document section.

https://test-apply.hypha.app/apply/projects/78/
https://test-apply.hypha.app/apply/projects/79/
https://test-apply.hypha.app/apply/projects/80/

[2022-10-18 19:14] frjo commented on #2921
I do not see any files uploaded to the three projects you linked to. Only this text

[code]

[2022-10-18 19:15] frjo commented on #2921
![Skärmavbild 2022-10-18 kl  21 15 04](https://user-images.githubusercontent.com/191392/196523168-aabbcf36-ea3a-4e59-b6ad-4ca86e7e2bb1.png)

[2022-10-18 19:18] frjo commented on #2882
1. Each e-mail is a separate e-mail.
2. No, not at this point.
3. This PR already separate them into new submissions/comments/reviews/other. This can easily be adjusted based on feedback from users. We saw it as a decent starting point.

[2022-10-19 05:09] sandeepsajan0 commented on #2923
**Record**: On Oct 18 standup, we decided to show a separate table of PAFs that requires Final approval, on the contracting dashboard.

[2022-10-19 10:48] fourthletter opened #3013 "Add a setting that decides if STAFF ADMIN can see draft submissions or not"
### Related Issue
Related https://github.com/HyphaApp/hypha/issues/2986

### User Story

As a **staff admin** I need to see draft submissions on the platform in order to troubleshoot technical questions.

[2022-10-19 11:34] fourthletter commented on #2921
This look great! 💯

[2022-10-19 11:48] fourthletter commented on #2882
We will need to refine this issue before OTF could use it. However, the feature works. Thank you! 👍

We need to document the chron job and other details for developers because each organization using it will have specific needs.

[2022-10-19 12:09] #2921 closed, assigned to nobody

[2022-10-19 12:17] #2882 closed, assigned to theskumar

[2022-10-20 06:57] sandeepsajan0 commented on #2919
**Record**: It is already done by an unknown PR. As it is tested and approved for live means it is already on test, so closing this issue.

[2022-10-20 06:57] #2919 closed, assigned to sandeepsajan0

[2022-10-20 08:21] #3010 closed, assigned to nobody

[2022-10-20 09:12] frjo commented on #2996
1. Add a setting to decide if staff or only staff admin should see archived/all submissions.
2. Rename All submissions to Active submissions
3. Add another view for "active" submissions. Let all be "all".
4. Test to use tab views for active/archived tables.
5. In "all" view separate out the archived submissions with a different background or something like that.
6. Links in filter section that lin

[2022-10-20 09:22] frjo opened #3016 "Move ACTIVITY_DIGEST_RECIPIENT_EMAILS to a wagtail admin setting"
Blocked by
- #3018

[2022-10-20 09:25] frjo opened #3017 "Add activity e-mail digest for each Fund and Lab"
### User Story

As a Program Manager (staff user), I would like more granular control over which emails I received from Hypha. Existing categories or sub-headings in the email digest include Submissions, Comments, Other activities. As a user I would like to only receive emails related to submissions.

### Proposed Solution

- [ ] Add an "Digest recipient e-mails" field to each Fund and Lab. Simila

[2022-10-20 09:28] frjo commented on #2912
Also add a plain text, or even better, a doc format output with the same content as the PDF.

[2022-10-20 13:02] frjo commented on #2996
7. I think the addition of a archived table on the submission overview is not needed.

[2022-10-20 13:27] frjo opened #3018 "Upgrade to Wagtail 4.x"
Wagtail 4.x supports Django 3.2 according to https://docs.wagtail.org/en/stable/releases/upgrading.html#compatible-django-python-versions

Short term we want access to Global settings, see https://docs.wagtail.org/en/stable/releases/4.0.html#global-settings-models

See https://docs.wagtail.org/en/stable/releases/4.0.html#upgrade-considerations

[2022-10-21 09:53] fourthletter commented on #2912
@sandeepsajan0 this issue will only focus on what frjo mentioned above. I'm sorry for the confusion. I was hoping we would have a designer on board to refine the design of the output, but this is not the case.

[2022-10-21 14:56] fourthletter commented on #2922
this looks amazing! Thank you @sandeepsajan0 💯

![image](https://user-images.githubusercontent.com/20019656/197225902-6770e03f-8de7-48df-a7e3-d8801e3be372.png)

[2022-10-23 09:29] fourthletter commented on #2923
This is what the Staff + Approver role sees. Thanks @sandeepsajan0

![Screenshot 2022-10-23 11 19 58 AM](https://user-images.githubusercontent.com/20019656/197384573-e0c6290a-ad69-4e7b-875c-0c4b57d33b7d.png)

[2022-10-23 09:32] fourthletter commented on #2924
Staff sees projects 1) in progress, 2) committed, 3) contracting, and 4) waiting approval. I no longer remember what "committed" means. Looks great! Thank you @sandeepsajan0

![image](https://user-images.githubusercontent.com/20019656/197384738-695c889d-80c5-4ce9-92fc-4da86a3a3724.png)

[2022-10-23 09:34] fourthletter commented on #3011
Name associated with proposal appears 🎊

![image](https://user-images.githubusercontent.com/20019656/197384867-36db2c1c-2469-448f-abeb-8d315d51626c.png)

OLD slack message

![image](https://user-images.githubusercontent.com/20019656/197384899-691d5440-c7e8-4368-bf7a-aaa8978dd7de.png)

[2022-10-23 21:01] fourthletter opened #3019 "2FA refine design"
### Description

This issue documents usability improvements to the workflow for OTF applicants to configure Two-Factor authentication

### Is your feature request related to an existing functionality? Please describe

It is related to current 2FA implementation.

### Describe the solution you'd like

- [ ] Replace with current text associated with 2FA setup with **text below**
(This guidance is c

[2022-10-24 06:05] frjo commented on #3019
If these changes needs substantial work I think we should consider going to https://github.com/HyphaApp/hypha/issues/2898 directly.

[2022-10-24 06:09] frjo commented on #2924
If "Committed" is not obvious we should change the name.

It is the first status a project gets after being created. Before staff submit it for approval.

What do you think we should name it?

[2022-10-24 06:10] frjo commented on #2923
@fourthletter  Are we all good here so the issue can be marked approved?

[2022-10-25 08:21] #3011 closed, assigned to nobody

[2022-10-27 13:18] fourthletter opened #3021 "Remove slack alerts and notifications for DRAFT submissions"

[2022-10-27 13:21] fourthletter opened #3022 "Increase usability of forget password link on login page"
### User Story

As a user I would like to see the password update/forget password link in a more prominant position on the login page.

![Screenshot 2022-10-27 10 33 38 AM](https://user-images.githubusercontent.com/20019656/198295517-175af4f4-d642-45a3-b7ea-1513788a46f5.png)

[2022-10-27 13:22] frjo opened #3023 "Improving table titles on dashboard and overview"
- [x] "Waiting for your review" -> "Submissions waiting for your review"

[2022-11-01 03:57] fourthletter opened #3026 "Remove END DATE when publishing a new round"
### Description

OTF no longer has deadlines or end dates for rounds. This end date appears on the 'apply' page for applications and confuse applicants. This end date also prevents staff from creating several rounds in advance.

![image](https://user-images.githubusercontent.com/20019656/199155387-30dd6885-9251-4c26-afcb-631bc3ba2157.png)

### Proposed Solution

Remove the 'end date' on the apply

[2022-11-01 10:07] fourthletter commented on #3019
On November 1 standup we discuss implementing the proposed designs. In addition, add a confirmation for end-users
potentially as the MVP. The 2.0 version could potentially include adding phone or email as a secondary fall back. This means implementing a security question or one time magic link/setup code sent via text or email

In addition to the above designs, the login page for individuals forge

[2022-11-02 02:11] fourthletter opened #3027 "Enhance Partner User Group's Dashboard"
### Description

The Partner role currently has access to a dashboard with their assigned submissions (image 1) without filters, applications they have submitted in different tables (image 2), and the 'detailed view' of each application with communication and activity feed.

The dashboard with applications lack functionalities to support this role.

### Next Steps

- [ ] UX/Discovery of partner ro

[2022-11-02 02:18] fourthletter opened #3028 "Rename Flag app to Bookmark"
### Description

The Staff flagged feature/dashboard was developed as a "to-do list" for users. Staff could bookmark/save applications to their own dashboard and on a dashboard for other staff members.

### Challenges

- [ ] Design has not been user tested and feedback has never been collected on the functionalities.
- [ ] Determine whether this feature needs to be retired because there has not be

[2022-11-02 02:25] fourthletter opened #3029 "Reminder feature"
### Description

The Reminder feature use case is for staff to send reminders to the reviewer user group. Reminders sends an alert to the reviewer user group about deadlines, e.g., submit a review

### Next Steps

- [ ] Determine whether this feature needs to be retired

![image](https://user-images.githubusercontent.com/20019656/199380098-62d1065e-ee44-410b-904e-fc1f6c1e81b6.png)

[2022-11-02 02:31] fourthletter opened #3030 "Enhance Meta Terms"
### Description

The current modal where the user selects Meta terms needs design refinements. Improved UI/UX so that users can clearly see what is happening on screen when they interact with Meta Terms.

As MVP, improvements to the layout of the selection boxes in the modal so that all 'tags' can be seen by the user.

As 2.0, the feature could be scrolled as well as 'searchable' in the current UI

[2022-11-02 02:40] fourthletter opened #3031 "Picklist for Partner and Lead"
# Summary
Make Partner and Lead selector label clearer. This is a usability improvement.

# Description
When a staff member assigns Partner or Lead to an application, the default option on these picklists the staff member must use are inconsistent with the Reviewer picklist.

![image](https://user-images.githubusercontent.com/20019656/199382502-8da268c3-c3c7-4025-8a70-0977b30cc60e.png)

# Proposed

[2022-11-02 03:09] fourthletter opened #3032 "Leader Board"
### Description

A table that tallies reviews submitted by  staff and reviewer user groups. This feature was never used by an adopter.

### Next Steps

- [ ] Determine if we should retire or continue to maintain this feature

![image](https://user-images.githubusercontent.com/20019656/199385155-c73c0613-8def-44d9-b09b-903d29f54b8c.png)

![image](https://user-images.githubusercontent.com/20019656/1

[2022-11-02 03:17] fourthletter opened #3033 "Table view for related submissions"
### Description

Submissions are batched via a unique identifier. We often need to search for submissions associated with the same applicant to better understand the progress of the proposed project, and to better understand the impact of our funding.

### Proposed Improvements

A separate table for related submissions with more details like date submitted, lead, etc.

![image](https://user-images

[2022-11-02 09:59] fourthletter commented on #3017
This is a different github issue, but could we please plan on next steps for e-mail digest related to invoices and contracts on the Project page? Thank you.

[2022-11-02 15:12] fourthletter opened #3034 "Community Reviewer Workflow and User Group"
### Description

The 'Community Review workflow' is one of the four hard-coded workflows available on Hypha. This workflow was intended for the 'community reviewer' user group to participate in peer evaluations or participatory funding mechanisms.

### Proposed Feature

The 'applicant' user group are automatically given user accounts when they submit an application to the platform. As the communit

[2022-11-02 18:47] frjo commented on #3026
Some Hypha users will want to keep it so we need to make it optional. I think the best will be to add an option for it on each Fund.

[2022-11-03 00:56] fourthletter commented on #3026
I definitely agree the end date or deadline is information many adopters would need.

We currently have a rolling deadline (no end date) so displying this information is preventing staff from creating multiple rounds in advance of the start date.

[2022-11-03 09:00] frjo commented on #3019
I do not think adding phone is a good idea.

1. It lowers the security considerably.
2. It would force Hypha to store users phone numbers, more sensitive information.

Adding codes via e-mail also lowers the security but that part we at already need store in Hypha.

[2022-11-03 12:19] fourthletter opened #3036 "Enhance search function"
### User Story

I would like to use the 'search' function to query for similar submissions. The priority key search terms should be 1) email, 2) name, 3) submission title as these are the same key terms embedded in a majority of submissions.

### Proposed Solution

- [ ] Research Hugo or similar ML library that could be used for this proposed functionality

[2022-11-03 12:22] fourthletter commented on #3019
On November 3 standup we agreed to use email as we are already collecting emails and not telephone. A magic link or code would benefit user onboarding. Developers will research the overall onboarding process before determining next steps.

We may need to replace the current 2FA library, but this sounds drastic 😥

[2022-11-04 08:46] frjo commented on #3036
@fourthletter  Some examples of "when I search for X i want to find submission N" would be helpful.

[2022-11-04 09:01] frjo commented on #3036
The submission table search are done with https://github.com/carltongibson/django-filter and "icontains" on the "search_data" field.

The "search_data" field is populated for each submission with "prepare_search_values()". The field contains almost all the text from the submission including title, name and e-mail.

My guess is that a search many times return too much and that is a one reason peopl

[2022-11-07 14:28] #2922 closed, assigned to sandeepsajan0

[2022-11-07 14:29] #2924 closed, assigned to sandeepsajan0

[2022-11-07 14:30] #2923 closed, assigned to sandeepsajan0

[2022-11-07 14:51] frjo commented on #3017
Migration conflict so needs to wait a bit.

[2022-11-09 13:49] fourthletter commented on #2981
Thank you! ⚡

![image](https://user-images.githubusercontent.com/20019656/200847058-32c76f46-3ed9-47fe-99f2-ac932e7d0974.png)

[2022-11-09 14:05] fourthletter commented on #2996
I'm not able to see the unarchive function. Thanks.

![image](https://user-images.githubusercontent.com/20019656/200851060-b30ad516-42b1-4152-b1a3-9f8c4e42b6c7.png)

[2022-11-09 14:11] fourthletter commented on #3013
I see the drafts. Thank you! 💯

[2022-11-09 15:08] #3013 closed, assigned to nobody

[2022-11-09 15:10] #2981 closed, assigned to theskumar

[2022-11-09 15:14] frjo commented on #2996
@fourthletter Can we do the unarchive feature in a separate issue?

[2022-11-09 19:02] fourthletter commented on #2996
I don't see the "show archived submissions" toggle.

[2022-11-09 19:17] frjo commented on #2996
@fourthletter You should see them now, I had missed to add the SUBMISSIONS_ARCHIVED_ACCESS_STAFF_ADMIN setting to the test site.

[2022-11-11 10:58] theskumar commented on #3019
The fixes with the email verification or email as an additional factor is up here: https://github.com/HyphaApp/hypha/pull/3040

Could you create another ticket to use email verification during login and registration/application submission as a safety check?

[2022-11-14 09:45] #3023 closed, assigned to nobody

[2022-11-14 14:13] fourthletter opened #3046 "Change Wagtail Admin setting for STAFF role"
### User Story

STAFF user group could currently access all settings in the Wagtail admin. We would like to limit this access to 1) user settings, 2) Apply, and 3) Projects. STAFF would be able to carry out their core work within the Wagtail admin with these settings. Access to other settings unrelated to their work is unnecessary, e.g., website.

[2022-11-14 14:35] frjo commented on #3046
Access to wagtail admin is controlled by the wagtail admin permission settings. Each organisation using Hypha can set this up how they want it for each role.

[2022-11-15 10:36] frjo opened #3047 "Function to unarchive single submission and show submission is archived"
- [ ] Add "Unarchive" button on submission detail view in "Actions to take"
- [ ] Add banner submission detail view if archived
- [ ] Remove actions not needed for archived submissions. Like add review, change status etc.

Related https://github.com/HyphaApp/hypha/issues/2996

[2022-11-15 13:37] frjo opened #3048 "Complex comments can break page loading"
We had a comment with a very long PGP key that broke page loading. The error said jQuery could not be found. Removing the key from the comment fix the issue directly. But this should not happen in the first place.

It was only via Cloudflare the error showed upp, on local it worked fine. Via Cloudflare the script tag on the bottom of the page was ignored so they loaded too early, before jQuery was

[2022-11-16 01:08] fourthletter opened #3049 "Show proposal form select field when needed on add determination form"
### User Story

OTF enables program managers to select from multiple proposals. This function requires the user to change the status to **invite to proposal**, and select from one of the proposal options.

Program staff sending out a determination to approve the concept note (first stage) automatically gives applicants the default proposal. In this case, the default proposal is the first proposal

[2022-11-16 08:08] frjo commented on #3049
Option 1 is already in place, see screenshots below.

![Skärmavbild 2022-11-16 kl  09 06 23](https://user-images.githubusercontent.com/191392/202122948-1bd0419f-22d2-4d28-9c5f-925cd6a02049.png)
![Skärmavbild 2022-11-16 kl  09 06 34](https://user-images.githubusercontent.com/191392/202122954-e355d881-2fef-4ec0-b6d0-40ad3ae5b244.png)

[2022-11-16 08:12] frjo commented on #3049
But I believe we have a bug here. The above works when staff use the "Update status" button and select "Invite for proposal" Then the select field for proposal form shows.

If staff instead click "Add determination" no select field for proposal is shown and if staff pick "Approved" then the system picks the first proposal form.

So I think the solution is to make sure it works the same in both sit

[2022-11-16 08:42] frjo commented on #3049
The problem is here:

https://github.com/HyphaApp/hypha/blob/90501d5e408571ce4fa4be96b6f98dfde7098570/hypha/apply/determinations/views.py#L356-L369

Just removing the check "action == 'invited_to_proposal'" makes it work. The UI becomes a bit confusing because then you always need to pick a proposal form, even when just asing for more information or dismissing.

How to make this functionality into

[2022-11-17 09:19] frjo opened #3050 "Permission view for wagtail user groups are broken"
Wagtail admin -> Groups -> Permission view

[2022-11-17 19:20] fourthletter commented on #3022
Is the 'consent' message hard-coded or done via the wagtail admin (configured by staff)? Will the **extra text** always be below the 'forgot your password' message, and could it be configured in the wagtail admin?

![image](https://user-images.githubusercontent.com/20019656/202538344-e39c65c5-050d-4f71-913f-c3c20ab710ab.png)

[2022-11-18 07:50] frjo commented on #3049
@fourthletter Since it all works when you go via the "Update status" button can we simply remove the "Add determination" button.

I think it would also make documentation and training easier since you do not need to explain that you can create determination in two different ways.

[2022-11-21 09:23] frjo opened #3055 "Circle CI stoped for now, GitHub action seems to work well for CI"

[2022-11-21 09:49] #3005 closed, assigned to nobody

[2022-11-21 10:14] tassosblackg opened #3056 "Building hypha with docker FileNotFoundError: [Errno 2] No such file or directory: '/usr/local/hypha/hypha/static_compiled'"
`git clone` from the main brunch and building by following the instructions given in the docs for build `hypha` with docker

**ERRORs:**

`sh: 1: sass: not found`

`Error: EACCES: permission denied, mkdir '/usr/local/hypha/node_modules'`

`FileNotFoundError: [Errno 2] No such file or directory: '/usr/local/hypha/hypha/static_compiled'`

**Desktop (please complete the following information):**

 -

[2022-11-21 11:05] fourthletter commented on #3046
In OTF's wagtail admin permission settings, could we please configure so STAFF could only access 1) user settings, 2) Apply, and 3) Projects? This would make onboarding and documentation easier. Thanks.

[2022-11-21 14:05] frjo commented on #3046
You can change these settings easily yourself inside Wagtail admin.

Go to Settings -> Groups. Clicking on the group name, e.g. "Staff", takes you to the permission page where you set what wagtail permissions staff should have.

[2022-11-21 14:08] fourthletter opened #3083 "Accessibility documentation"
### Description
In July 2022, several accessibility improvements were completed. Technical documentation will cover those issues https://github.com/HyphaApp/hypha/issues/2895

- [ ] Wrap multiple radio and checkbox input fields in fieldsets. Replace use of label with legend as section header.
- [x] #2899
- [ ] Make button hover states easily visible. Upload button e.g. has a hard to see hover stat

[2022-11-21 14:11] fourthletter opened #3082 "Security Improvements"
### Description

In December 2022 and May 2022, several security improvements were implemented for 2FA. Technical documentation will include:
https://github.com/HyphaApp/hypha/issues/2828 & https://github.com/HyphaApp/hypha/issues/2644

Deadline:
January - March 2023

[2022-11-21 14:14] frjo commented on #3056
Docker tried to run `npm install` but did not have permissions to do so on your system. The node install goes inside your local code dir.

If you can't find a fix for that you can just run `npm install` locally before you start upp docker. Just make sure you have the same node version locally as docker has.

Would be happy to have a chat if you have any question around Hypha, just give me a ping.

[2022-11-21 14:21] tassosblackg commented on #3056
Ok, thank you, for your response, I fixed the issue with the `npm install` but how about `FileNotFoundError: [Errno 2] No such file or directory: '/usr/local/hypha/hypha/static_compiled ` how this `static_compiled` folder is created? Because it seems that doesn't exist. I've tried to created manually it works partial but stays empty.

[2022-11-21 14:24] frjo commented on #3056
The "static_compiled" dir is created by "npm run build". All the css, js, font and images are built to that dir and then moved over to static with Djangos "collectstatic" command.

[2022-11-21 14:27] fourthletter opened #3084 "Duplicate administrators and developers docs"
### Description

Hypha's documentation currently has sections for administrators and developers with overlapping topics. Could we please define administrators and developers in the documentation?

I think there is a great deal of value with what we are currently presenting. Perhaps both sets of documentation are accurately categorized, and there is little overlap?

Similar themes in administrators

[2022-11-21 14:50] fourthletter commented on #3022
Just tested, looks great! 🔥

[2022-11-21 17:08] fourthletter opened #3080 "Remove Public Site Documentation"
### Description

Hypha's public site will no longer be maintained in the near future. Maintainers will remove documentation on the public site. Example: https://github.com/HyphaApp/hypha-docs/edit/main/docs/contributing/code/implementationdetails.md

[2022-11-21 17:33] fourthletter opened #3085 "[EPIC] Bells, Whistles, and the Activity Feed"
## Description

Communication and notifications keep external stakeholders informed, and ensure program managers/staff are able to track applications and projects within Hypha. Documentation will cover different communication channels designated for conveying information internally and externally, including how various components on the user interface interact with WagTail settings.

### General O

[2022-11-21 18:34] frjo commented on #3050
Would be great to have this fixed this week, do not want to make a new release with this bug.

[2022-11-21 22:39] fourthletter commented on #3049
Removing the functionality to create a determination is counter intuitive to Hypha users. It is not possible to send a 'need more info' or 'dismiss' determination via the status update at this stage. https://test-apply.hypha.app/apply/submissions/525/

[2022-11-21 22:44] fourthletter commented on #2912
The test version looks amazing! 🍾 🥂

![image](https://user-images.githubusercontent.com/20019656/203173106-b5933583-d707-46d0-aff4-7b88f6dc22ac.png)

[2022-11-21 23:09] fourthletter commented on #3019
Works like magic -- thank you! 🪄 🐇

Step 1
![Screenshot 2022-11-21 11 52 27 PM](https://user-images.githubusercontent.com/20019656/203175931-babda9f8-e594-41a2-93d3-c80f170fc770.png)

Step 2
![Screenshot 2022-11-21 11 52 54 PM](https://user-images.githubusercontent.com/20019656/203175930-06b60d75-d555-4f4c-873e-706d79de6984.png)

Step 3
![Screenshot 2022-11-21 11 54 11 PM](https://user-images.gith

[2022-11-21 23:27] fourthletter opened #3059 "Enhancement to creating multiple new rounds"
## User Story

As a user I would like to create multiple rounds that could be published in the future. **End dates** from different funds are currently preventing this functionality.

## Problem
When creating or copying a round to be published in the future, I am unable to because this date overlaps with an existing round.

### I am asked to put an end date on **CIFund-2021**:
![Screenshot 2022-11

[2022-11-21 23:40] fourthletter opened #3060 "Magic link in a verification email"
### User Story
Many web applications require users to verify their email addresses, this is particularly helpful when I have forgotten my password to login or 2FA. As a newly registered user, I would like to receive an automatic email containing an email verification link.

### Proposed Solution
Add email verification during login and registration/application submission as a safety check

**Ideal

[2022-11-22 07:43] frjo commented on #3059
Tested locally and it seems to work as expected but it might very well  exist some edge case bugs.

The rules are:

* Rounds from the same Fund can not have overlapping dates.
* A Round with no end date will block you from adding any future Rounds for that Fund.

[2022-11-22 07:55] #3019 closed, assigned to theskumar, sandeepsajan0

[2022-11-22 07:58] frjo commented on #3049
That can easily be added.

[2022-11-22 08:14] #2912 closed, assigned to sandeepsajan0

[2022-11-22 08:25] theskumar commented on #3055
Sounds good to me :) @frjo in terms of the next step:
- Remove the CI config files from the repo. @frjo would like to handle this?
- Documentation and link updates. @fourthletter @frjo I believe you both would be the best person for coordinate it?

[2022-11-22 08:39] #3050 closed, assigned to sandeepsajan0

[2022-11-22 08:41] #3022 closed, assigned to nobody

[2022-11-22 08:46] frjo commented on #3026
The PR that is now on test add a "Show deadline" checkbox at the bottom of each Fund. Uncheck that to not display the deadline date to users.

On some public pages I just disabled the deadline date, only OTF uses these and they will soon be removed.

[2022-11-22 15:07] #3056 closed, assigned to nobody

[2022-11-22 15:08] #3046 closed, assigned to nobody

[2022-11-22 17:08] fourthletter commented on #3026
Thank you! 👍

**The deadline is no longer shown:**

![image](https://user-images.githubusercontent.com/20019656/203377418-1aebd809-8eb1-4fc6-a7b0-953005ee1cbd.png)

**I was able to set up several rounds in the Wagtail Admin, waiting for them to populate automatically on the Apply page:**

![image](https://user-images.githubusercontent.com/20019656/203376998-d80be036-4d2f-4198-98be-2e478e10580e.png

[2022-11-23 07:52] #3026 closed, assigned to nobody

[2022-11-23 11:37] fourthletter commented on #3049
On November 22 standup we discussed several options, including:

- recreating a drop-down/picklist with proposals for the determination button
- making the proposal drop-down available, but bypassing this function for dismiss/need more information as proposals are only assigned for accepted/approved/invite to proposal
- removing the determination button completely because it is duplicative of the

[2022-11-24 02:18] kominoshja commented on #2689
If Gulp is no longer needed, it should probably be removed from https://docs.hypha.app/administrators/deployment/stand-alone/#install-python-packages, at least the change in `.circleci/config.yml` (replacing gulp with npm run build)

[2022-11-24 08:13] frjo commented on #2689
Thanks for alerting us to this. Fixed now.

P.S. Please open a new issue in the future.

[2022-11-24 09:44] #2911 closed, assigned to nobody

[2022-11-24 13:16] frankduncan opened #3064 "Add a seperate registration path without application"
**Is your feature request related to a problem? Please describe.**

Allow registrations without applications.  Add a new workflow for that.  If account with that email address already exists, then just route the person through a regular login screen and then bring them back to the rest of the application.

Furthermore, add a configuration option that forces registrations prior to being allowed to

[2022-11-24 13:24] frankduncan opened #3065 "Allow users to undo determinations"
**Is your feature request related to a problem? Please describe.**

If you "accept" or "dismiss" an application you can't undo it

**Is your feature request related to an existing functionality? Please describe.**

This is in the workflow of applications.

**Describe the solution you'd like**

Allow users to "Update Status" to take actions to revert a status from accepted/dismissed back to a previ

[2022-11-24 14:16] frjo commented on #3064
We would prefer the default to be as it is today and a setting to allow implementers to activate the new workflow where users need to register an account first.

[2022-11-24 14:30] frankduncan commented on #3064
Is the best way to do the setting via the settings file?  As in, we should do something like:

[code]

Or is there some other configuration for enabling features and leave `settings` to be about application settings?

[2022-11-24 15:16] frjo commented on #3064
A setting in `base.py` works well. Something like this:

[code]

In the code you can then do:

[code]

[2022-11-24 15:22] frjo commented on #3065
It might be that other implementors would like it work like this always as well. OTF at one point thought it vital that it could not be changed but we can ask @fourthletter how they stand on this today.

I assume you have noticed that determinations has a check if a dismiss/accept determination exist and in that case assumes no more determination should be created. This needs to be handled as well

[2022-11-24 15:23] frjo commented on #3065
Maybe the lock should go in effect only after a project has been created? @fourthletter What do you think?

[2022-11-29 09:45] fourthletter opened #3066 "User notifications on PAF and contract transition in compliance flow"
## Summary

OTF needs to inform the users involved in the process of PAF and contract transition through the webapp.  This is so they can be kept up-to-date of the PAF and contract status, and be notified if they are required to do anything.

## Users involved
- Contractor: reviews and signs the contract

- Programme Manager Staff: they are the contractor's point of contact within OTF.  They submi

[2022-11-30 09:16] tassosblackg opened #3069 "OSError at /apply/submissions/all/"
**Describe the bug**
There is something wrong with the path and the name of the file see:
`Error reading /usr/local/hypha/./hypha/static_compiled/app/webpack-stats.json. Are you sure webpack has generated the file and the path is correct?`

there is a line that seems that does some kind of renaming and moving the file `"dev:build:js": "npm run build:js && mv ./hypha/static_compiled/app/webpack-sta

[2022-11-30 09:58] frjo commented on #3069
The React app will soon be removed from Hypha. Until then add this setting to disable it.

`ENABLE_WEBPACK_BUNDLES = False`

See more in https://github.com/HyphaApp/hypha/pull/3052