[2019-01-22 10:46] gibbsmaya commented on #806
Hi @fourthletter, @danblah

This work is now ready for testing. This work follows on from #805 , and consists of displaying the screening action on the submission page, the submissions listing and the activity feed, as well as adding a filter for the screening outcome to the submissions listing.

Please test this against the acceptance criteria noted in the initial issue description.

Please let u

[2019-01-22 10:52] gibbsmaya commented on #816
@chris-lawton I still can't see this on dev?

[2019-01-22 12:30] emullaney commented on #822
@todd-dembrey please review when you have time. Note that the "reviewed by" filter is part of the dashboard reviewers block updates, and will not be fixed on this ticket.

[2019-01-22 13:33] danblah commented on #813
Looks good, acceptance criteria met from my testing.

[2019-01-22 13:35] danblah commented on #814
Looks good, acceptance criteria met from my testing.

[2019-01-22 13:42] danblah commented on #818
Looks good, acceptance criteria met from my testing. What effects does this have on single stage applications, both w/external and w/o external review?

[2019-01-22 13:42] danblah commented on #792
Looks good, acceptance criteria met from my testing. What effects does this have on single stage applications, both w/external and w/o external review?

[2019-01-22 13:56] danblah commented on #806
See https://test-apply.opentech.fund/apply/submissions/4/#activity-feed, when applying screen term, the activity feed fails to load, shows nothing for team member. Aside from that, all other criteria is met.

[2019-01-22 13:59] danblah commented on #805
As an admin, I'm also not seeing the taxonomy option. I only see Person and and News types.

[2019-01-22 13:59] gibbsmaya commented on #813
Thanks @danblah . Assigning to @todd-dembrey to arrange deployment to production.

[2019-01-22 14:32] gibbsmaya commented on #814
Thanks @danblah . Assigning to @todd-dembrey to arrange deployment to production.

[2019-01-22 14:34] gibbsmaya commented on #818
Single stage applications would follow the same logic and workflow states - so like a concept note for a single stage with only OTF review (but the final state would be final determination rather than preliminary determination, and with additional states for advisory council review for workflows with external review. All would follow same format. Please do test this case too and ensure you are hap

[2019-01-22 14:35] gibbsmaya commented on #792
See my response here https://github.com/OpenTechFund/opentech.fund/issues/818#issuecomment-456420883 - same applies. Please do test this case and ensure you are happy with it.

[2019-01-22 14:38] gibbsmaya commented on #806
THanks for the spot Dan. Strange as it is working in other cases, see https://test-apply.opentech.fund/apply/submissions/6/#activity-feed. @emullaney @todd-dembrey can one of you take a look at this please?

[2019-01-22 14:39] gibbsmaya commented on #805
As mentioned on the call - this lives in the Apply menu not the Taxonomy menu. Dan confirmed on the call that this is visible to him in this location. @danblah can you confirm then if you are happy for us to mark this as done and deploy to production?

[2019-01-22 15:49] gibbsmaya commented on #808
Hi @fourthletter, @danblah

This work is now ready for testing. This work consists of the addition of the "All Rounds and Labs" block to the Submissions Overview page at https://test-apply.opentech.fund/apply/submissions/. This is the beginning of making the Submissions page into more of a submissions dashboard rather than a main submission listing (though the main listing will still be accessible

[2019-01-22 15:49] gibbsmaya commented on #809
Hi @fourthletter, @danblah

This work is now ready for testing. This work consists of the front end styles for the work on #808 . Description of what the work is can be found on that issues and this can be tested alongside it testing against the acceptance criteria noted in the initial issue description.

Please let us know if anything is unclear or if you have any questions. Otherwise please prov

[2019-01-22 15:58] gibbsmaya commented on #811
Hi @fourthletter, @danblah

This work is now ready for testing. This work consists of the master listing for all rounds and can be found at https://test-apply.opentech.fund/apply/rounds/. This displays all rounds with filters to select different subsets of rounds to view. This page is available from the main rounds menu item or from the 'All rounds' link from the round block on the submissions ove

[2019-01-22 15:59] gibbsmaya commented on #812
Hi @fourthletter, @danblah

This work is now ready for testing. This work consists of the master listing for all rounds and can be found at https://test-apply.opentech.fund/apply/rounds/. This issue is solely the front end bit of this work (how it visually appears). The actual functionality is recorded in #811   and can be tested together.

Please let us know if anything is unclear or if you have

[2019-01-22 16:37] fourthletter opened #889 "User log in"
Two users can't sign-in to view their WebApp. I sent both of them the password reset link, but want to see if there are other technical issues beyond a password reset. I could send you their names and emails directly. Thank you.

[2019-01-22 17:36] danblah commented on #805
Nvm, see it and can edit it under apply. All good here!

[2019-01-22 18:00] gibbsmaya commented on #805
Thanks @danblah . Assigning to @todd-dembrey to arrange deployment to production.

[2019-01-23 09:28] frjo opened #893 "Implement the django-registration package"
Implement the django-registration package

Assuming this is this: https://django-registration-redux.readthedocs.io/en/latest/quickstart.html

 It would improve the code around user registration but not add any functionality at the moment.

**Priority**

- Low priority (annoying, would be nice to not see)

**Affected roles**

- Applicants
- Developers

**Ideal deadline**

* Recommend review in Q2 r

[2019-01-23 09:54] chris-lawton commented on #816
@gibbsmaya - i've just pushed a fix for this to the dev site, which is live now. It seems to have fixed it in the scenario where I was able to replicate the issue, so can you take another look over it please?

[2019-01-23 09:59] todd-dembrey commented on #806
@gibbsmaya I've fixed this on dev. Once #895 Is approved I'll get it onto test and tidy up the data there.

[2019-01-23 10:45] gibbsmaya commented on #816
Yep, looks good to me now. Can you please confirm if this has been code reviewed and if so complete the QA checklist above and then hand to Todd for deployment to test?

[2019-01-23 10:49] chris-lawton commented on #816
Hi @helenb - are you able to review the 6 commits here please?
https://github.com/OpenTechFund/opentech.fund/commits/feature/816-app-detail-view-fe

[2019-01-23 11:02] chris-lawton commented on #861
@helenb - can you review this please - https://github.com/OpenTechFund/opentech.fund/pull/897

To note:
This branch will now be picked up backend hence the reason for the logs in the JS and the comment about the form in `batch_update_reviewer_form.html`

[2019-01-23 11:03] chris-lawton commented on #861
will need to be completed once BE have implemented their parts

[2019-01-23 11:05] chris-lawton commented on #860
@emullaney - FE work for this is now available at https://github.com/OpenTechFund/opentech.fund/tree/feature/861-batch-actions-fe

[2019-01-23 14:18] gibbsmaya commented on #861
Maya to add AC for disabled batch action buttons including design for disabled state plus help text on hover. Check with Tom what the icon should be for add determination. QA'd what we can currently on the FE only. Rest of AC dependent on backend being complete so on hold for now.

[2019-01-23 15:07] fourthletter commented on #808
1. The acceptance criteria noted in the initial issue description is all there except for "If more than 5 rows available, a “Show all” link will be added."
2. All seven total submissions within IFFund-2018-11 are visible, not five as stated in criteria
3. I am not able to see the "Show all" link in the Submissions by Round page.

[2019-01-23 15:13] fourthletter commented on #809
1. All Rounds and Labs block disappears when I click on "Open" tab. Clicking on "Closed" tab meets all design criteria.
2. "Open displayed as: Open until <end_date>" is not visible

[2019-01-23 15:30] fourthletter commented on #811
All acceptance criteria are visible and functional from my vantage point :)

Is there a difference between Active/Inactive and Open/Closed?

[2019-01-23 15:31] fourthletter commented on #812
All acceptance criteria are visible and functional :)

[2019-01-23 15:47] fourthletter commented on #806
All acceptance criteria listed above are visible and functional during my testing. Thank you!

[2019-01-23 17:08] gibbsmaya commented on #808
Hi @fourthletter,

The restriction of 5 entries is just relating to the "All Rounds and Labs" block on the Submission Overview page (https://test-apply.opentech.fund/apply/submissions/) rather than the round page itself once you click through to it (the expected behaviour there is that is does show all submissions for that round). I agree that currently you can't test the restriction of 5 entries

[2019-01-23 17:11] gibbsmaya commented on #809
The block "disappears" because it has no open rounds to display. We should display a message in this case as I agree this is confusing as a user. @chris-lawton can you please add this?

@fourthletter regarding your second point - where are you testing this if no open rounds are appearing in this list?

[2019-01-23 17:14] gibbsmaya commented on #811
Thanks @fourthletter . In answer to your question, active/inactive refers to whether a round has active action on it, i.e. it has submissions and not all the submissions are determined. Open closed is solely related the dates the round is set to. So for example, you could have a closed round (you have stopped accepting submissions) and the round could be active (not all submissions are determined)

[2019-01-24 08:19] helenb commented on #816
Would it be possible to get access to the dev site to see a live example while doing code reviews?

[2019-01-24 08:41] helenb commented on #816
Have reviewed as best I can bearing in mind my lack of familiarity with the infrastructure - just a couple of comments.

[2019-01-24 09:31] helenb commented on #861
Code review comments added.

[2019-01-24 10:22] todd-dembrey commented on #864
@gibbsmaya this is now available for testing on develop

[2019-01-24 10:23] todd-dembrey commented on #810
@emullaney FYI see #901 for upcoming conflicts.

@gibbsmaya this is on develop

[2019-01-24 10:23] todd-dembrey commented on #822
@gibbsmaya this is on develop

[2019-01-24 10:34] gibbsmaya commented on #864
Thanks @todd-dembrey . Have tested and all looks good to me. Please can you complete the QA checklist and then deploy to test?

[2019-01-24 10:37] gibbsmaya commented on #822
Looks good to me. @todd-dembrey please deploy to test.

[2019-01-24 10:41] gibbsmaya commented on #810
Looks good to me. Please code review this and deploy to test @todd-dembrey .

[2019-01-24 11:04] todd-dembrey commented on #816
This is now on test and ready for UAT

[2019-01-24 11:04] todd-dembrey commented on #864
This is deployed to test and ready for UAT

[2019-01-24 11:05] todd-dembrey commented on #822
This is now deployed to test and is ready for UAT

[2019-01-24 11:08] todd-dembrey commented on #806
#895 is now deployed to test and the activity feed is now rendering for https://test-apply.opentech.fund/apply/submissions/4/#activity-feed

[2019-01-24 11:34] chris-lawton commented on #845
This is all React work so handing to Todd for review

[2019-01-24 11:41] gibbsmaya commented on #820
Hi @fourthletter, @danblah

This work is now ready for testing. This work is on update to the search functionality of submissions. This is best tested on a round page e.g. https://test-apply.opentech.fund/apply/rounds/732/. Please note that the front end of this work (how it looks) is captured on #821 so worth testing these in parallel.

Please test this against the acceptance criteria noted in th

[2019-01-24 11:41] gibbsmaya commented on #821
Hi @fourthletter, @danblah

This work is now ready for testing. This work is on update to the search functionality of submissions. This is best tested on a round page e.g. https://test-apply.opentech.fund/apply/rounds/732/. Please note that the back end of this work is captured on #820  so worth testing these in parallel.

Please test this against the acceptance criteria noted in the initial issue

[2019-01-24 12:21] chris-lawton commented on #809
With @todd-dembrey for review - https://github.com/OpenTechFund/opentech.fund/pull/903

[2019-01-24 13:21] chris-lawton commented on #850
Hi @helenb - can you review this PR please - https://github.com/OpenTechFund/opentech.fund/pull/904

[2019-01-24 16:36] chris-lawton commented on #850
Thanks Helen.

@gibbsmaya - this is now on dev for review - https://dev-apply.opentech.fund/apply/rounds/743/

[2019-01-24 19:21] fourthletter commented on #815
The default detail view is the **last** application in the submission listing. "Maya's test project" appears, not "Maya Tom test 2." All other acceptance criteria is accurate and functional. Thanks!

[2019-01-24 19:37] fourthletter commented on #816
All acceptance criteria is accurate and functional during my test. I was able to toggle easily in between and within submissions using the mobile version. Thanks!

[2019-01-24 19:51] fourthletter commented on #820
Everything in acceptance criteria is accurate and functional.

In regards to the second acceptance criteria "When a user searches the page reloads to show related results," a minor detail is searching for "maya" didn't narrow the search, but searching for "tom" and "final"  narrowed the search.

[2019-01-24 20:13] fourthletter commented on #821
Every acceptance criteria is accurate and functional. Yay! 💥

[2019-01-24 21:55] jheretic opened #905 "API: Proposed messaging extensions"
This outlines proposed extensions to the API specification to support additional messaging capabilities. Sorry to get this in probably too late for this sprint.
## Endpoints
### Submissions
**GET /submissions/?<query>**
In addition to the query parameters specified previously, we also have the following parameter:
**Query:**
- `submitter=<uid>` Filters to submissions by a specific uniquely identif

[2019-01-25 00:58] danblah commented on #905
@Parbhat and @frjo how does look to y'all? Can we add this to your queue to implement?

[2019-01-25 09:34] gibbsmaya commented on #864
Hi @fourthletter, @danblah

This work is now ready for testing. This work is on update to the search and filters behaviour on the  submissions overview page https://dev-apply.opentech.fund/apply/submissions/. Because this is now a summary page, we are only displaying the most recently updated submissions with a show all link to the 'all submissions' listing. Due to this, when search or filtering i

[2019-01-25 09:36] gibbsmaya commented on #822
Hi @fourthletter, @danblah

This work is now ready for testing. This work is simple a new page containing the main 'all submissions listing' identical to what you had before but on a different URL (https://test-apply.opentech.fund/apply/submissions/all/) and linked to from the new submissions overview page.

Please test this against the acceptance criteria noted in the initial issue description wh

[2019-01-25 09:37] gibbsmaya commented on #806
Thanks @todd-dembrey . @danblah @fourthletter can you confirm this is now working for you and confirm if you are happy for this to be moved into production?

[2019-01-25 09:38] gibbsmaya commented on #818
@danblah @fourthletter can you confirm if you are happy for this to me moved into production deployment?

[2019-01-25 09:39] gibbsmaya commented on #792
@danblah @fourthletter can you confirm if you are happy for this to me moved into production deployment?

[2019-01-25 09:43] gibbsmaya commented on #816
Great. Assigning to @todd-dembrey for deployment to production.

[2019-01-25 09:47] gibbsmaya commented on #815
Hi @fourthletter thanks for testing. Just to confirm, I am also seeing "Maya's test project" as the default detail view on page load, however this looks like it is the first application in the list - the top one. Is this not the case for you?

Here is a screenshot of what I see:
![screen shot 2019-01-25 at 09 46 36](https://user-images.githubusercontent.com/19690895/51738070-2598fb00-2086-11e9-9c3

[2019-01-25 09:49] gibbsmaya commented on #820
Hi @fourthletter, great will mark this as ready for deployment to production with @todd-dembrey .

With regards to your question - I believe the reason the search for "maya" does not narrow the search is because I created all the test applications so "maya" exists either in the name of the submission or in the name of the applicant of each submission. Maybe I should try and be less self-centred ;)

[2019-01-25 09:50] gibbsmaya commented on #821
Great. Assigning over to @todd-dembrey for deployment to production.

[2019-01-25 10:11] gibbsmaya opened #906 "UX improvements to Rounds and IA (to finalise WS 1 work)"
Now that all sprint 1 work is in, there are a few tweaks we want to make prior to deployment to production to make the journeys more coherent and tidy up a few bits.

- [x] Remove 'Rounds' from main menu (this is currently confusing things - Submissions overview should be the central point to access all things submission, i.e. route to all rounds page is via 'All rounds and labs' block on submissi

[2019-01-25 10:22] gibbsmaya commented on #809
Thanks @chris-lawton looks good. @fourthletter handing over to you for final acceptance.

[2019-01-25 10:24] gibbsmaya commented on #850
Hi @chris-lawton,

This all looks good. Only comment is to add a bit of space between the '|' and the text - the design has a bit more breathing space after the fund name and before the lead.

FYI there may be some further tweaks after reviewing this from a UX perspective which may result in removing the breadcrumb all together but will look at that on a separate issue.

Thanks,
Maya

[2019-01-25 10:59] Parbhat commented on #905
@danblah @frjo looks good. Not sure but the API specification implementation work is WIP. The enhancements work can be started after the initial API is ready.

[2019-01-25 12:21] gibbsmaya commented on #861
@chris-lawton I have updated the above design links to demonstrate the design for:

 - disabled batch actions on submissions listing page including on-hover help text
 - modal tweaks for the actual action - tweak to modal style and addition of the number of submissions selected with a show/hide.

Please can you add these into this bit of work to complete the rest of the acceptance criteria?

Thank

[2019-01-25 14:49] chris-lawton commented on #906
Leaving with Todd to give it a once over

[2019-01-25 15:05] chris-lawton commented on #850
Hi @gibbsmaya,

The spacing change you mentioned above is now on dev, along with the changes from #906.
Unsure if once you've checked the spacing change you want to close this ticket in favour of that one?

[2019-01-25 15:37] todd-dembrey commented on #845
Reviewed, generally alright but i'm not happy about the 75 and the general approach of scrolling

[2019-01-25 16:10] todd-dembrey commented on #905
Yes, it'll be a small add to the work we are currently doing.

Whats missing from this is the authentication changes that @jheretic will need if he is access the API from outside a session.

[2019-01-25 19:33] fourthletter commented on #806
- All acceptance criteria listed above are visible and functional during my test today. Thank you!
- The activity feed blah mentioned in an earlier comment [https://test-apply.opentech.fund/apply/submissions/4/#activity-feed] successfully loaded with the most recent update during today's test.

[2019-01-25 19:42] fourthletter commented on #808
All acceptance criteria are accurate and functional. Thanks! 💥

[2019-01-25 19:56] fourthletter commented on #809
- All acceptance criteria is accurate and functional. Thanks!
- 'View' link is no longer visible in the “Show all” page. In lieu of not having "View"; clicking on the Round/Lab Name serves the same function.

[2019-01-25 20:20] fourthletter commented on #811
All acceptance criteria are visible and functional during today's test. Thanks! 💥

[2019-01-25 21:03] fourthletter commented on #792
- All acceptance criteria in this issue appears to be accurate and functional. Thanks! 💥
- I don't have the admin authority to change a submission's email to receive status updates, but I can see these updates via #webapp-test

[2019-01-25 21:13] fourthletter commented on #822
All acceptance criteria have been tested, each one is accurate and functional. Thanks! 💥

[2019-01-25 21:37] fourthletter commented on #864
All acceptance criteria are accurate and functional. Thanks! 💥

[2019-01-25 21:48] fourthletter commented on #906
All elements within this issue to capture all sprint 1 work is accurate and functional. Thanks! 💥

[2019-01-28 10:19] todd-dembrey commented on #874
Reviewed and back with @tm-kn for some small changes.

[2019-01-28 10:33] gibbsmaya commented on #806
Thanks @fourthletter, moving to @todd-dembrey for deployment to production

[2019-01-28 10:34] gibbsmaya commented on #808
Thanks @fourthletter . Moving to @todd-dembrey for deployment to production.

[2019-01-28 10:35] gibbsmaya commented on #809
Thanks @fourthletter this all meets expected behaviour as these two tables perform different functions and are differently styled. Moving to @todd-dembrey for deployment to production.

[2019-01-28 10:36] gibbsmaya commented on #811
Thanks @fourthletter . Moving to @todd-dembrey for deployment to production.

[2019-01-28 10:39] gibbsmaya commented on #792
Thanks @fourthletter. Moving to @todd-dembrey for deployment to production.

[2019-01-28 10:39] gibbsmaya commented on #822
Thanks @fourthletter. Moving to @todd-dembrey for deployment to production.

[2019-01-28 10:40] gibbsmaya commented on #864
Thanks @fourthletter. Moving to @todd-dembrey for deployment to production.

[2019-01-28 10:40] gibbsmaya commented on #906
Thanks @fourthletter. Moving to @todd-dembrey for deployment to production.

[2019-01-28 10:47] gibbsmaya commented on #815
Hi @fourthletter. Ah I see. The ordering of the statuses is being done in the current sprint (#844) so the order in which these are currently displaying are not consistent. However, the behaviour of the top submission in the list being the default one selected seems to be met in your example, it is just a different one to mine due to the different ordering of statuses. Please confirm if this can b

[2019-01-28 10:51] gibbsmaya commented on #848
No front end action required. Closing this issue.

[2019-01-28 10:52] #848 closed

[2019-01-28 11:12] chris-lawton commented on #845
Have actioned your feedback - can you take a look at the latest two commits please?

[2019-01-28 12:15] chris-lawton commented on #873
@helenb @todd-dembrey can you review this please -https://github.com/OpenTechFund/opentech.fund/pull/911

[2019-01-28 12:18] Parbhat commented on #748
Issue related to #749 and PR #909

[2019-01-28 13:52] fourthletter commented on #815
All acceptance criteria are visible and functional during today's test. Thanks! 💥

[2019-01-28 13:54] gibbsmaya commented on #815
Thanks @fourthletter. Assigning to @todd-dembrey for deployment to production.

[2019-01-28 14:03] fourthletter commented on #792
All acceptance criteria are visible and functional during today's test. Thanks! 💥

[2019-01-28 14:05] emullaney commented on #849
@gibbsmaya you should be able to test this on dev now! Sorry for the hold up on moving the ticket.

[2019-01-28 14:11] fourthletter commented on #818
All acceptance criteria are visible and functional during today's test. Thanks! 💥

[2019-01-28 14:16] tm-kn commented on #878
Reviewed the pull request. I am happy for that to go onto dev.

[2019-01-28 14:17] gibbsmaya commented on #818
Ready for deployment to production

[2019-01-28 17:04] gibbsmaya commented on #849
Looks good to me. Thanks!

[2019-01-28 17:04] gibbsmaya commented on #849
@todd-dembrey with you to deploy to test once WS1 has been deployed to production.

[2019-01-28 17:12] gibbsmaya commented on #845
To check with Tom S:
Should we somehow show what status has been selected?
Should we default to the first application in the status selected?

[2019-01-28 17:17] gibbsmaya opened #914 "Set "Submissions" as the active menu item for round pages"
All round pages should have Submissions as the active menu item i.e. /apply/rounds/*

[2019-01-28 17:21] gibbsmaya opened #915 "Sort order on summary blocks"
Check sort order on submissions summary block and rounds summary block on submission overview page. Check these are the same as the follow on 'show all' pages.

[2019-01-28 17:33] gibbsmaya commented on #873
@chris-lawton this looks good. Have not managed to test the last AC about error states which maybe you can show me on your local build?

One issue I have found is that the notes display is not currently dealing with rich text notes. See 'Maya Tom test 2' on detail view of round: https://dev-apply.opentech.fund/apply/rounds/732/.

[2019-01-28 17:33] gibbsmaya commented on #872
@tm-kn  this looks good. Have not managed to test the last two AC, the GMT one I think is irrelevant since we are not showing time, do you agree? The other one is about error states which maybe you can show me on your local build (I have also asked Chris the same question so he may be able to do this)?

[2019-01-28 20:36] danblah opened #916 "Assigning a value to slack channel in a fund doesn't send notification and also stops all notifications into the primary notification channel"
See https://github.com/OpenTechFund/opentech.fund/pull/757

1. Went to https://apply.opentech.fund/admin/pages/726/edit/?next=/admin/funds/fundtype/
2. Set channel
3. Submitted test application, email sent to the applicant no notifications to primary channel or declared channel
4. Sent test comments, no notifications sent (email sent)
5. Unset value, added comment notification sent to the primary

[2019-01-29 06:31] frjo commented on #916
That the custom channel is not working is a bug. That no notification is sent to the default channel is a missed requirement.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-29 08:42] #792 closed

[2019-01-29 08:42] #815 closed

[2019-01-29 08:42] #818 closed

[2019-01-29 08:42] #822 closed

[2019-01-29 08:42] #864 closed

[2019-01-29 08:42] #906 closed

[2019-01-29 08:42] #806 closed

[2019-01-29 08:42] #808 closed

[2019-01-29 08:42] #809 closed

[2019-01-29 08:42] #811 closed

[2019-01-29 08:42] #820 closed

[2019-01-29 08:42] #821 closed

[2019-01-29 08:42] #850 closed

[2019-01-29 08:42] #789 closed

[2019-01-29 08:42] #790 closed

[2019-01-29 08:42] #791 closed

[2019-01-29 08:42] #805 closed

[2019-01-29 08:42] #812 closed

[2019-01-29 08:42] #813 closed

[2019-01-29 08:42] #814 closed

[2019-01-29 08:42] #816 closed

[2019-01-29 10:00] chris-lawton commented on #845
Tom has suggested that we add space under the last item to allow the that item to be scrolled to in the column

[2019-01-29 10:37] gibbsmaya commented on #849
Apologies @emullaney, but I have actually found an issue with this. The activity feed should be present on the list view but not on the detail view (using the switcher in the top right). I thought @todd-dembrey had mentioned this in his code review but maybe I was mistaken. Can you please tweak?

[2019-01-29 11:16] helenb commented on #873
@chris-lawton a couple of comments - glad that Todd has reviewed too as I don't have the full picture with the react elements.

[2019-01-29 13:03] danblah opened #922 "Display the date a review was submitted on submission page and within the review"
Currently, the only place to find this is in the activity feed. We need this to make creating PAF's easier.

[2019-01-29 13:20] danblah opened #923 "There is no way to view or link to reviews or determinations in the new round view for calls"
On review calls, the first thing we do is review the teams reviews and any last submission responses. Right now, we see the submission but there is no way to get to or view the reviews. Basic requirement would be to drop a link that opens a the actual submission page in a new window so we can see these reviews. Next would be some listing of the reviews and submissions in the view that open them up

[2019-01-29 13:34] danblah opened #924 "Change our site-wide font to an open source one, from Proxima Nova to similar Montserrat"
See https://we.opentech.fund/t/switch-otf-typography-to-an-open-source-one/971/2 for more info.

[2019-01-29 13:53] frjo commented on #923
@danblah Is it this view we are talking about https://apply.opentech.fund/apply/rounds/229/ ?

The submission title is a link to the submission and command/ctrl clicking it will open it in a new tab. Easy to have it open in a new tab by default.

When one "opens up" a submission in that view to see more info the reviews are listed, we could make the reiviewwea names in to links ans also add in the

[2019-01-29 13:57] danblah commented on #923
We're talking about the other view, the one with the 3 vertical columns, where we can take notes during a call.

[2019-01-29 14:41] chris-lawton commented on #845
@gibbsmaya - I've implemented what Tom suggested which is now live on dev - example here -https://dev-apply.opentech.fund/apply/rounds/777/

[2019-01-29 14:43] tm-kn commented on #875
PR - #899

[2019-01-29 15:48] gibbsmaya commented on #923
FYI, as a better longer term solution, the plan for the status tab on this page

![screen shot 2019-01-29 at 15 42 55](https://user-images.githubusercontent.com/19690895/51920269-fa434280-23dc-11e9-9f52-91cef1513fcd.png)

is to display status information and allow status actions to be taken. This will be a subset of this display:

![screen shot 2019-01-29 at 15 44 54](https://user-images.githubuse

[2019-01-29 15:49] gibbsmaya commented on #923
Note, that this is planned to be tackled in the next sprint.

[2019-01-29 16:11] chris-lawton commented on #873
@gibbsmaya - happy to show you on my local build re. the error state design.

For the rich text - i'm presuming that will be handled when we have the rich text editor in place as per https://github.com/OpenTechFund/opentech.fund/issues/875?

[2019-01-29 16:12] chris-lawton commented on #873
passing to @todd-dembrey for review of the React bits

[2019-01-29 16:13] elioqoshi commented on #924
Thanks for filing this here @danblah.

@anxh3l0 and me would be happy to help with this in any case.

[2019-01-29 16:42] gibbsmaya commented on #845
Looks good to me. Moving to @todd-dembrey for deployment to test.

[2019-01-29 16:44] gibbsmaya commented on #873
OK, happy to review on your local build in the next day or so. Will also await the rich text backend work being completed to see if it requires any further front end.

[2019-01-29 16:45] gibbsmaya commented on #878
@todd-dembrey this isn't one I can test, so if you can finalise the QA criteria, happy for you to move this into done.

[2019-01-29 17:34] elioqoshi commented on #924
Also notice: Montserrat might not be ideal for big chunks of texts (Paragraphs) so it could also be considered adapting Montserrat for headings / labels and another typeface for large bodies of text. Noto Sans is the typeface which supports most languages and glyphs with great readability as well,

Happy to do more analysis on this.

[2019-01-30 09:56] chris-lawton commented on #873
@gibbsmaya - attached is a screen of my local build for the design of the notes when there's been an error.

![screen shot 2019-01-30 at 09 49 23](https://user-images.githubusercontent.com/31627284/51973350-548fe200-2475-11e9-8073-53f572b4aaec.png)

[2019-01-30 10:21] gibbsmaya commented on #873
Thanks @chris-lawton . @todd-dembrey keeping assigned to you for code review.

[2019-01-30 10:36] chris-lawton commented on #876
Ready for review - https://github.com/OpenTechFund/opentech.fund/pull/930

@gibbsmaya - this is now on dev if you wanted to review ahead of the code review

[2019-01-30 11:00] gibbsmaya commented on #876
Thanks @chris-lawton, have had a look and can submit notes, but the submit button is invisible at the moment. There is obviously the issue of the activity feed being there which it shouldn't be, but even behind that the buttons are not visible (though I can click where I think they should be and it submits the note!). Using https://dev-apply.opentech.fund/apply/rounds/732/# as my test.

[2019-01-30 11:02] gibbsmaya commented on #873
@chris-lawton just to add that now the rich text ability is in, I can see that not all rich text elements are styled. Have tried a few here https://dev-apply.opentech.fund/apply/rounds/732/# on 'Maya's test project' which you can see an example where bold italic and list are not styled.

[2019-01-30 11:09] gibbsmaya commented on #915
Sort order for submissions summary block has been updated to last updated, descending. Sort order on round block with OTF for testing to flag is a different order is preferable.

[2019-01-30 11:17] todd-dembrey commented on #872
@gibbsmaya  See below for the unstyled error message
![image](https://user-images.githubusercontent.com/6338661/51977927-a722cb80-2480-11e9-8371-7e7447b5b750.png)

[2019-01-30 11:21] todd-dembrey commented on #873
@gibbsmaya It might be better to handle the styling in #876 where we know the output of the richtext editor.

[2019-01-30 11:39] todd-dembrey commented on #844
@gibbsmaya This is now available on dev for testing

This round is a good example: https://dev-apply.opentech.fund/apply/rounds/732/

[2019-01-30 12:09] todd-dembrey commented on #874
This is now on dev for review, but would probably be best reviewed alongside #876

[2019-01-30 12:09] todd-dembrey commented on #874
#875 Is also deployed so some of the acceptance criteria here may not make sense anymore.

[2019-01-30 12:10] todd-dembrey commented on #875
Reviewed and deployed to Dev for testing.

Outstanding issue about how we are currently miking two markdown libraries which is causing render issues. But we can test the functionality of data leaving the form.

[2019-01-30 12:19] tm-kn commented on #872
@gibbsmaya I do agree with your point that timezone is less important since we do not show the exact time. Regardless of that, API returns dates with timezones and front-end explicitly converts them to GMT. Probably the only way is to change timezone on your computer and see if that affects any of the dates, but that's troublesome to test.

[2019-01-30 12:34] tm-kn commented on #874
Hi @gibbsmaya, this will not work since that relies on refreshing the page. I assume that is just the debug messages that you meant in this AC? Let me know if that's fine by you.

[2019-01-30 13:34] #922 closed

[2019-01-30 13:37] frjo commented on #923
@gibbsmaya I have merged in my quick hack so OTF have something for the time being. @danblah preferred that option.

When you get to this you revert my hack and to it the proper way.

[2019-01-30 13:38] #923 closed

[2019-01-30 13:58] chris-lawton commented on #876
Have now improved the visibility of the button by using a darker border colour

[2019-01-30 14:22] chris-lawton commented on #873
@gibbsmaya  - as per Todds comment above suggest we move the rich text styles to #876

[2019-01-30 14:23] chris-lawton commented on #876
waiting for feedback on which rich text elements can be hidden before styling

[2019-01-30 14:23] gibbsmaya commented on #878
@todd-dembrey this is ready to be deployed to test.

[2019-01-30 14:24] frjo commented on #916
@danblah It works when I test it, but only after I added the WebApp app to the channel. Did you add that to the channel when you tested?

[2019-01-30 15:41] gibbsmaya commented on #872
Thanks @todd-dembrey and @tm-kn. Happy with your word that it is being output in GMT. Todd, this is ready for deployment to test.

[2019-01-30 15:44] gibbsmaya commented on #844
Looks good to me. Happy for this to be deployed to test @todd-dembrey

[2019-01-30 15:46] chris-lawton commented on #876
@gibbsmaya - activity feed button has now been hidden when the app is open, so should make testing a bit easier now!

[2019-01-30 15:56] gibbsmaya commented on #875
Testing what I can for now. Will test other items once #849 is complete as currently activity feed is blocking the submission block (this is with Erin).

For now, Tomasz is there any way you can show me this AC is satisfied? "If error while note is being submitted, display message about error (e.g. "no network connection", 500: "Unable to process")"

Also, please can you complete the QA checklist?

[2019-01-30 15:58] gibbsmaya commented on #874
Hi @tm-kn, so the notifications don't get sent until the page is refreshed?

Have tested what I can for now. Will test other items once #849 is complete as currently activity feed is blocking the submission block (this is with Erin).

[2019-01-30 16:14] gibbsmaya commented on #876
Thanks @chris-lawton this all looks good. Have a comment on the activity feed button but will put that on #849. I am struggling to test the mobile AC at the moment as the detail view page on mobile is not loading.

[2019-01-30 17:24] chris-lawton commented on #861
PR for new modal styles - https://github.com/OpenTechFund/opentech.fund/pull/935/files
@helenb can you review please?

[2019-01-30 17:38] tm-kn commented on #874
The notifications should be sent in the background as far as I understand @todd-dembrey explanation. It's just the debug notification bar at the top of the page not showing until the page is refreshed.

[2019-01-30 17:40] tm-kn commented on #875
![image](https://user-images.githubusercontent.com/14931760/52000911-1f57b400-24b6-11e9-8288-4374923c7421.png)

[2019-01-30 17:41] tm-kn commented on #875
Needs to get #936 in. There were changes in other area that affected this behaviour.

[2019-01-30 19:37] helenb commented on #861
Reviewed: just a couple of small points.

[2019-01-31 09:59] gibbsmaya commented on #874
Thanks for the explanation Tomasz. Happy for this to be marked as done and be deployed to test @todd-dembrey

[2019-01-31 10:02] gibbsmaya commented on #849
With @todd-dembrey to review @chris-lawton changes to hide the activity feed button on the detail view page. I am happy with this so once you have reviewed Todd, please mark this as done and prepare this for deployment to test.

[2019-01-31 10:11] chris-lawton commented on #861
Thanks Helen.

@gibbsmaya - the updated modal styles are now on dev which also includes the hiding of the status button.

[2019-01-31 10:13] gibbsmaya commented on #876
Hi @chris-lawton this looks good and all AC are met. I have noticed two things on mobile though:

1. long names need to be truncated (same issue as we had before with email addresses showing instead of names which runs into the date)
2. I think we need something to separate the notes list and the add note area - it currently sort of merges into one.

Screenshot from mobile showing both points:
![s

[2019-01-31 10:48] gibbsmaya commented on #875
Hi @tm-kn

As discussed with @todd-dembrey , please apply the following changes to finalise the rich text work:

 - [ ] Don't output markdown from rich text editor (confirm renders html in communications tab on submission correctly)
 - [ ] Render comments serverside into html
 - [ ] Restrict rich text options to: bold, italic, hyperlink, UL, OL

Thanks,
Maya

[2019-01-31 11:10] gibbsmaya commented on #860
Have tested what I can for now. Only point for now:

- Batch action should not be available on submission summary block on https://dev-apply.opentech.fund/apply/submissions/

[2019-01-31 11:12] gibbsmaya commented on #861
Hi @chris-lawton,

Looks good. A couple of things I can't test for now. One is around the disabled batch action styles as this is not relevant for reviewers at the moment. Can you send me a screenshot of the styles so I can confirm the visual appearance and we can retest the functionality in the next round of batch action work?

Still awaiting some backend work before I can test the message to use

[2019-01-31 11:32] gibbsmaya opened #937 "Dashboard: Waiting for your review block"
The block will be used on the dashboard to list submissions where the user has been assigned as reviewer. Note this already exists but tweaks should be made to meet acceptance criteria as below.

_Note: “Since you last logged in” will not be built as part of this phase of work but can be added as a github issue for future development._

**Acceptance criteria - as an OTF staff member**
- [x] Title

[2019-01-31 11:37] gibbsmaya opened #938 "Dashboard: Previous reviews block"
The block will be used on the dashboard to list submissions where the user has submitted a review for.

**Acceptance criteria**
- [x] Title of block is 'Your previous reviews'
- [x] Lists applications I have submitted a review for
- [x] Applications ordered by submission date descending
- [x] Table columns should be as per All Submissions tables
- [x] Limit number of submissions to 5, if more than

[2019-01-31 12:08] todd-dembrey commented on #851
@gibbsmaya this is now on dev for testing.

I have left the filter and column in as there are some cases where multiple status appear in the same grouping but have different names - mainly received. It might be better to limit the options to these where this is the case rather than remove it entirely.

Valid slug list shown below:

e.g. https://dev-apply.opentech.fund/apply/submissions/accepted/
[

[2019-01-31 14:39] chris-lawton commented on #861
Hi @gibbsmaya,

I've swapped the default state for the list, so it's hidden when it's first seen (now on dev) and as per standup we're going to move the disabled styles to another ticket to go along with the BE work.

Thanks,
Chris

[2019-01-31 14:55] gibbsmaya opened #940 "Disabled batch actions: Front end"
Styling for batch action button when the batch action is not currently available to be done on the selected submissions.

 - [ ] Disabled batch action buttons styled as per design including on hover explanatory text (appears when a batch action is not able to be performed on the currently selected submissions)

[2019-01-31 15:34] chris-lawton commented on #876
Hi @gibbsmaya,

Truncated names and mobile styling for the notes panel are now on dev.

Cheers,
Chris

[2019-01-31 16:19] gibbsmaya commented on #861
Looks good. Now just awaiting the notification for confirming the action to be completed on the backend so I can test that.

[2019-01-31 16:36] gibbsmaya commented on #876
Thanks @chris-lawton . Looks good, only follow on comment is to we need the '...' when we are not truncating? Currently it is showing after every name, even if short.

Separate to this can you complete the QA criteria and then we can sign this off?

[2019-01-31 17:02] chris-lawton commented on #867
@helenb - can you review this one please? - https://github.com/OpenTechFund/opentech.fund/pull/941

(It requires BE work hence the mock data)

[2019-01-31 17:23] helenb commented on #867
@chris-lawton - have reviewed so back with you.

[2019-01-31 21:17] danblah commented on #916
oh, didn't know that was a requirement... testing.

[2019-01-31 21:21] danblah commented on #916
That did it, now working. Still need to also send notifications to the site-wide notify channel. Is there a way we can have the bot join the channel on its own or send an alert somewhere that it needs to be added?

[2019-01-31 21:38] danblah commented on #916
Will close this one and make a ticket for the enhancements.

[2019-01-31 21:38] #916 closed

[2019-01-31 21:39] danblah opened #942 "Always send notifications to the site-wide slack channel, even if a fund specific channel is defined."

[2019-01-31 21:41] danblah opened #943 "If a fund specific slack channel is defined and the slack bot is not in the defined channel, do something to let the team know they need to invite the bot to the defined channel or have the bot autojoin the channel if possible"
This could be an @channel alert in the channel or a pm to the fund lead or both?

[2019-01-31 21:42] danblah commented on #552
I want to bump this up as something to get moving on.

[2019-01-31 21:49] frjo commented on #943
@jheretic Would it be possible to get "botf" to auto join a new Slack channel?

Or send an alert to another channel that it needs to be invited to channel x?

[2019-01-31 21:50] frjo commented on #942
@danblah I have asked @jheretic to make it possible to send a notification to multiple channels via "botf". https://github.com/OpenTechFund/botf/issues/1

[2019-01-31 21:52] danblah opened #944 "Allow the role team to change the visibility setting for submission comments"

[2019-01-31 21:54] danblah opened #945 "Allow comments to be edited by the author and if edited, display an "edited on" date after post date."

[2019-01-31 22:05] danblah opened #946 "Error when submitting test form"
See https://www.opentech.fund/about/jobs/test-form/
Tested with both logged in and unlogged in account.

Forbidden (403)
CSRF verification failed. Request aborted.

You are seeing this message because this site requires a CSRF cookie when submitting forms. This cookie is required for security reasons, to ensure that your browser is not being hijacked by third parties.

If you have configured your

[2019-01-31 22:19] danblah opened #947 "Improvements to standalone forms"
There are a number of issues with the current standalone forms implementation. I'm strongly recommending pulling it from live until we've got these. This is a priority issue that is required for us to cease using the old submission application's standalone forms.

**Required functionality for us to leave the old app:**
- [x] They have no styling. Have them take on the same styling as the fund/lab

[2019-02-01 08:32] frjo commented on #947
Related PR is https://github.com/OpenTechFund/opentech.fund/pull/948

[2019-02-01 08:48] frjo commented on #947
Since this is behind Cloudflare I do not think a captcha is needed. And if there are spam submissions we can do better than annoying captchas.

What is the "Team lead" field for. Just to direct notification?

The "webhook" field should end up in a separate issue I think, as an enhancement. I assume the system should not only ping the url put send some payload as well?

[2019-02-01 08:54] frjo commented on #947
@Parbhat Can you take on the following tasks?

1. Add a file upload field to the available fields when you build a form.
2. Make it possible to restrict access to a form by role/group.

[2019-02-01 09:47] chris-lawton commented on #876
Hi @gibbsmaya,

Names that are over 16 chars are truncated and anything below will display as normal.
Have also checked the QA.

Thanks,
Chris

[2019-02-01 09:57] frjo commented on #947
@danblah Wagtails forms on live is being blocked by Cloudflare cache, we have a page rule that tells Cloudflare to cache everything on www.opentech.fund. (By default Cloudflare only cache static assets like css, js and images, not HTML. So the cache bypass rules for test/dev/live is not really needed I think).

To get a page rule to bypass cache for pages with a cookie you would need to upgrade to

[2019-02-01 10:01] gibbsmaya commented on #876
LGTM. Passing to @todd-dembrey for deployment to test.

[2019-02-01 10:17] chris-lawton commented on #867
@gibbsmaya - screens of the hardcoded status block:

![screen shot 2019-02-01 at 10 16 16](https://user-images.githubusercontent.com/31627284/52116976-79698e00-260a-11e9-9ee9-45c58e0ae3b0.png)
![screen shot 2019-02-01 at 10 16 26](https://user-images.githubusercontent.com/31627284/52116978-79698e00-260a-11e9-866c-ef6490a2e2bb.png)

[2019-02-01 10:19] gibbsmaya commented on #867
Nice one. Can you just confirm that the view link appears on hover for each status?

[2019-02-01 10:21] chris-lawton commented on #867
Apologies, thought it was in the screen!

![screen shot 2019-02-01 at 10 20 47](https://user-images.githubusercontent.com/31627284/52117229-1cbaa300-260b-11e9-9708-c774ec9d6a86.png)

[2019-02-01 10:22] gibbsmaya commented on #867
Perfect. Marking as complete and this will go into UAT with the backend ticket in the next sprint.

[2019-02-01 10:34] todd-dembrey commented on #869
@gibbsmaya This is currently deploying to dev for testing.

[2019-02-01 11:00] todd-dembrey commented on #860
@gibbsmaya this is now on dev for testing - including slack messaging.

[2019-02-01 11:13] gibbsmaya commented on #869
Hi @todd-dembrey ,

Generally happy with this but one issue I have found is that we seem to have lost the general information about the submissions at the top of the page (name/email etc). This seems to have gone from both the submission by round and submission by status detail views. Unsure if affected by this ticket or not but needs resolving.

![screen shot 2019-02-01 at 11 13 24](https://user-

[2019-02-01 11:35] todd-dembrey commented on #851
@gibbsmaya I have updated the filters to limit the statuses to the relevant ones. It is on Dev

[2019-02-01 12:13] todd-dembrey commented on #860
See attached for error message

![image](https://user-images.githubusercontent.com/6338661/52122393-c0f81600-261a-11e9-8230-9abf48956326.png)

[2019-02-01 12:19] todd-dembrey commented on #869
Good spot, i've made a fix and pushed it to dev.

[2019-02-01 12:47] frjo opened #949 "Utilising Django cache to improve page load times, especially for tables listing many submissions"
@Parbhat Could you spend a few hours investigating if/how to best use the Django cache system for pages, views and queries?

Would e.g. the page cache work for the public pages? Could we cache queries/views for the tables that show many submissions (/apply/submissions/, /apply/submissions/all/, /apply/rounds/[round_id]/).

The Django site is quite a lot slower to load than the old Drupal site and

[2019-02-01 12:55] chris-lawton commented on #861
Hi @gibbsmaya,

Notification styles are now on dev and attached is a screen of all three (info, debug and error)

<img width="757" alt="screen shot 2019-02-01 at 12 40 49" src="https://user-images.githubusercontent.com/31627284/52124253-8f824900-2620-11e9-9fe5-5663b060232c.png">

Thanks,
Chris

[2019-02-01 12:55] chris-lawton commented on #861
Have also asked @helenb for review of https://github.com/OpenTechFund/opentech.fund/pull/950

[2019-02-01 13:00] gibbsmaya commented on #851
Looks good to me. Please deploy to test and finalise code review.

[2019-02-01 13:01] gibbsmaya commented on #860
Thanks @todd-dembrey . Please go ahead and deploy to test.

[2019-02-01 13:02] gibbsmaya commented on #869
LGTM. Please deploy to test.

[2019-02-01 13:04] gibbsmaya commented on #861
Thanks @chris-lawton. @todd-dembrey, please deploy this to test.

[2019-02-01 13:18] Parbhat commented on #947
@frjo Thanks for fixing templates. Will work on the other requirements. Need some feedback on the second point.

Do we need a form like [this](https://www.opentech.fund/about/jobs/test-form/) test form to be visible only to a certain type of users and not public? What should be the desired workflow? We can make a page accessible to users in specific groups using Private pages feature https://docs.

[2019-02-01 13:40] gibbsmaya opened #951 "Submission by round detail view: Notes tab"
Creating an overall ticket for UAT of the notes tab on the detail view page: the ability to add notes to submissions, view them in the notes list and ensure that notes are correctly associated with individual submissions. Note this covers work undertaken in #876, #874, #872, #873 and #875.

**Acceptance criteria - add note**
- [x] Rich text block available to add note
- [x] Can submit note
- [x] W

[2019-02-01 14:41] frjo commented on #947
@Parbhat Private pages sounds like it should work. Nice that it's built it to wagtail.

OTF want to set up forms that e.g  only staff should have access to and others that only reviewers should see. It can be request for expense reimbursement for staff, questioners for reviewers etc.

Please notice that I added a third feature to your list above, about hiding none wagtail forms from the /admin/for

[2019-02-01 15:01] danblah commented on #947
@Parbhat, ideally the form author can select which group/role they want to give access to in the form creation/edit page (for example https://apply.opentech.fund/admin/pages/814/edit/).

[2019-02-01 15:08] danblah commented on #947
@frjo, that's right. this would enable a notification to the site-wide channel in the same format as others, for example:
@lead A new submission has been submitted for <name/link to form>

@frjo, that's right. the object/payload should have a name/value for as many of the fields being set in the edit page as possible.

[2019-02-01 15:10] danblah commented on #947
@Parbhat and @frjo, want to be sure these are private files, only accessible to defined roles (or team only if that's easier right now).

[2019-02-01 15:12] danblah commented on #947
@Parbhat, plus one to that page only showing wagtail forms (hiding all the ones created from the apply app).

[2019-02-01 17:20] todd-dembrey commented on #875
Tidied up the options - added some flexibility with the text size (h1 and h2) and normal which wasn't in your list.

[2019-02-01 17:23] gibbsmaya commented on #875
Happy for this to be deployed to test.

[2019-02-01 17:38] gibbsmaya commented on #844
Hi @fourthletter, @danblah

This work is now ready for testing. This work is the naming and ordering of statuses within the left hand submission listing on Submission by Round detail view pages e.g. https://test-apply.opentech.fund/apply/rounds/732/ (click the switcher in the top right to get from the list view to the detail view)

Please test this against the acceptance criteria noted in the init

[2019-02-01 17:45] gibbsmaya commented on #845
Hi @fourthletter, @danblah, @arduina

This work is now ready for testing. This work is the ‘jump to’ filter at the top of the left hand submission listing on Submission by Round detail view pages e.g. https://test-apply.opentech.fund/apply/rounds/732/ (click the switcher in the top right to get from the list view to the detail view). This should allow you to anchor down to the status of interest.

[2019-02-01 17:46] gibbsmaya commented on #810
Hi @fourthletter, @danblah, @arduina

This work is now ready for testing. This work is the “your rounds and labs” block on the dashboard (https://test-apply.opentech.fund/dashboard/), showing rounds and labs that the user is the lead for.

Please test this against the acceptance criteria noted in the initial issue description where you will also see a link to the design.

Please let us know if any

[2019-02-01 17:47] gibbsmaya commented on #849
Hi @fourthletter, @danblah, @arduina

This work is now ready for testing. This work is including the activity feed on the Submission by Round list view e.g.https://test-apply.opentech.fund/apply/rounds/732/.

Please test this against the acceptance criteria noted in the initial issue description.

Please let us know if anything is unclear or if you have any questions. Otherwise please provide feed

[2019-02-01 17:48] gibbsmaya commented on #860
Hi @fourthletter, @danblah

This work is now ready for testing. This work is adding a batch action for adding reviewers. You can access this on the all submissions page at https://test-apply.opentech.fund/apply/submissions/all/. As mentioned on the demo call, we will be adding the ability to batch action status updates and sending determinations which will come in the next sprint.

Please test thi

[2019-02-01 17:50] gibbsmaya commented on #861
Hi @fourthletter, @danblah, @arduina

This work is now ready for testing. This work is the front end work for adding a batch action for adding reviewers (#860). You can access this on the all submissions page at https://test-apply.opentech.fund/apply/submissions/all/.

Please test this against the acceptance criteria noted in the initial issue description where you will also see a link to the desi

[2019-02-01 17:51] gibbsmaya commented on #951
Hi @fourthletter, @danblah

This work is now ready for testing. This work captures all the work done on the Notes tab in the right hand column of the Submission by Round detail view page e.g. https://test-apply.opentech.fund/apply/rounds/732/. As per the issue description, this is a specific testing issue which covers five development issues that have been worked on. This functionality allows you

[2019-02-01 17:52] gibbsmaya commented on #851
Hi @fourthletter, @danblah

This work is now ready for testing. This work is the submission by status page displaying all submissions in a particular status on one page. E.g. https://test-apply.opentech.fund/apply/submissions/received/. This is just like the Submission by Round page you reviewed in the last sprint but the submissions are grouped by status instead of round.

These are the different

[2019-02-01 17:53] gibbsmaya commented on #869
Hi @fourthletter, @danblah

This work is now ready for testing. This work is the submission by status page detail view displaying all submissions in a particular status on one page. E.g. https://test-apply.opentech.fund/apply/submissions/received/ (click the switcher in the top right to get from the list view to the detail view). This is just like the Submission by Round detail view page page you

[2019-02-04 10:05] gibbsmaya opened #957 "Review updates: reviewer role and add reviewer roles"
The purpose of this is to fill the need for Reviewers fulfilling different roles within the review process within OTF. We will provide a means to “tag” reviewers with the type of review that they are required to complete. This will have no behavioural effect, you can have any number of roles and you will have access to the full range of review methods. It is up to the User to understand what the r

[2019-02-04 10:05] gibbsmaya opened #958 "Review updates: batch add reviewer"
This issue is to allow the new reviewer roles to be added in batch.

**Acceptance criteria**
- [x] Batch add reviewer action updated to display multiple lists for adding reviewers, one for each of the defined roles (as per individual actions).
- [x] Batch reviewer activity text changed to be `"<reviewer> assigned as <role>"`  per role.
   * Slack
   * Activity feed

Design: https://projects.invisi

[2019-02-04 10:16] gibbsmaya opened #959 "Review updates: display assigned review role"
This issue covers the output of the new reviewer roles in the various places the reviewer roles are currently output.

**Acceptance criteria**
- [x] Review Block in right hand column of submission detail page (e.g. https://dev-apply.opentech.fund/apply/submissions/15/) updated to show the type of review assigned reviewers are expected to undertake (outputting icon depending on assigned role e.g. p

[2019-02-04 10:18] gibbsmaya opened #960 "Review updates: reviewer consensus: model and interface for agree/disagree"
Reviewers will be able to indicate if they agree or disagree with another reviewer’s review. Reviewers will be able to indicate their opinion from two buttons within the Review Detail view.

**Acceptance criteria**
- [x] Two new buttons on review detail page (e.g. https://dev-apply.opentech.fund/apply/submissions/11/reviews/4/), one for agree one for disagree. These should be placed at the bottom

[2019-02-04 10:39] gibbsmaya opened #961 "Review updates: reviewer consensus: disagree behaviour"
This issue covers the behaviour that should happen when someone disagrees with a review.

**Acceptance criteria**
 - [x] On clicking the Disagree button your opinion will be recorded and you will be redirected to complete a new review (the normal add review form e.g. https://dev-apply.opentech.fund/apply/submissions/1/review/)

**QA criteria**
Dev:

- [x] checked feature meets acceptance criteria/

[2019-02-04 10:49] gibbsmaya opened #962 "Review updates: reviewer consensus: display"
This issue covers the display of agreeing/disagreeing with a review.

**Acceptance criteria**
 - [x] Review block on submission detail page: agreement/disagreement shown as 'Agree' or 'Disagree' associated with the parent review (as per screenshot in design section below).
- [x] Expanded submission on Submissions listing: agreement/disagreement shown in Review outcomes section as 'Agree' or 'Disag

[2019-02-04 12:14] Parbhat commented on #749
@frjo Seems that we can close this Issue after PR #909. And can cover non-text field comparisons in a separate issue or as part of #748.

[2019-02-04 12:54] helenb commented on #861
Couple of accessibility points noted on #950.

[2019-02-04 13:31] Parbhat commented on #947
@frjo For the file field upload option, should we allow to upload only images or other types of files as well? Wagtail forms do not have file upload feature but we can create it. Apply site has a [custom](https://github.com/OpenTechFund/opentech.fund/tree/master/opentech/apply/stream_forms) implementation of forms using stream field. Do we want to look into the options to use stream field forms he

[2019-02-04 14:51] frjo commented on #749
Let's do that.

[2019-02-04 14:51] #749 closed

[2019-02-04 14:53] frjo commented on #748
Also add non text field comparison to the diff view. It was disabled in https://github.com/OpenTechFund/opentech.fund/pull/909 since it did not work.

[2019-02-04 16:17] danblah commented on #947
Whoops, accidentally closed.

.md, .rtf, .txt, and all office and libreoffice formats + pdf, jpg and png.

[2019-02-04 17:04] Parbhat commented on #947
Thanks @danblah

[2019-02-04 19:14] fourthletter commented on #844
The first criteria "Statuses in submission listing are ordered as per order of workflow (i.e. same as status timeline on submissions)" is not reflected during test. The second acceptance criteria is fine.
![image](https://user-images.githubusercontent.com/20019656/52231068-f3a64680-2886-11e9-84aa-c1bf9fe938ac.png)

[2019-02-04 20:20] fourthletter commented on #861
All acceptance criteria are visible and functional. 50 points for Gryffindor!

[2019-02-04 21:32] fourthletter commented on #860
**All acceptance criteria are visible and functional.** One minor issue is I do not know what you mean by "Submission by Status page". Thank you unicorns! :unicorn:

[2019-02-04 22:03] fourthletter commented on #849
Acceptance criteria are visible and functional. Thanks! 💥

[2019-02-05 09:07] gibbsmaya commented on #844
@fourthletter - this is the Submission by round list view you are looking at. Please click the switcher in the top right of this page to get from the list view to the detail view
![screen shot 2019-02-05 at 09 06 19](https://user-images.githubusercontent.com/19690895/52262785-5cdc9700-2925-11e9-8733-cf057f09f3cd.png)

and then the area this issue is referring to is the left hand column of this pag

[2019-02-05 09:08] gibbsmaya commented on #861
Thanks @fourthletter. Assigning to @todd-dembrey for deployment to production.

[2019-02-05 09:12] gibbsmaya commented on #860
Hi @fourthletter,

Thanks for your testing :) In answer to your questions:

1. This means that when you do a batch action, we are showing clearly that this is a batch action rather than an action on a single submission. In this case, this refers to the pop up box for adding reviewers where we are showing "2 submissions selected" and then displaying info about these submissions.
2. An example of a

[2019-02-05 09:13] gibbsmaya commented on #849
Thanks @fourthletter. Assigning to @todd-dembrey for deployment to production.

[2019-02-05 13:53] frjo commented on #946
This was due to Cloudflare cache everything rule.

[2019-02-05 13:53] #946 closed

[2019-02-05 14:04] frjo commented on #889
@fourthletter I believe we have deployed code that fixes the main issue of people not being able to use the password reset form.

All users should now be able to use the password reset form themselves (they must first have clicked the activation link to activate their accounts).

If they say they can't find it (there is a link to it on the login form) it's usually easier to do it for them, as you

[2019-02-05 14:04] #889 closed

[2019-02-05 14:40] frjo commented on #727
@danblah Is the Slack notification needed at all? It looks like this:

[submission.title] is ready for review. The following are assigned as reviewers: [reviewers]

If we remove the staff from the list of reviewers no Slack users will remain, only external reviewers.

[2019-02-05 15:05] danblah opened #967 "Managers need the ability to set screening status for already decided submissions"
We currently can't set the screening status for decided submissions but want/need to for the purpose of data analysis. Can we allow this quickly?

[2019-02-05 15:15] frjo commented on #967
@danblah Super admins can set the screening status at any time. In this PR I make that possible for all staff.

[2019-02-05 17:41] fourthletter commented on #869
Accepted criteria are visible and functional during test. The team receives five blah points!  👍

[2019-02-05 17:59] fourthletter commented on #851
"Ready for determination" and "Ready for Final Determination" are three separate statuses that appear in the same Page header contains status name.

The screenshot shows "Ready for Final Determination" submission/application under the "Ready for determination" page header:
![image](https://user-images.githubusercontent.com/20019656/52293637-5c53f880-2945-11e9-95a6-5f7c5436c62a.png)

[2019-02-05 19:33] danblah opened #969 "Is there support in wagtail for multi-level/hierarchical categories?"
Screening terms and apply categories need this, as well as coming features for additional labels for submission data.

[2019-02-05 20:03] fourthletter commented on #845
Acceptance criteria are visible and functional. Thanks! 💥

[2019-02-05 20:07] fourthletter commented on #844
Acceptance criteria are visible and functional during test. Thank you for clarification above. 💥

[2019-02-05 20:54] fourthletter commented on #951
Acceptance criteria are visible and functional. Thanks! 💥

In regards to "Notifications on comment sent as normal": I am able to view submission of a new note in the "view message log," but a notification does not appear in the activity feed and slack. It is not critical for a notification to appear in the activity feed or slack.

[2019-02-05 20:55] danblah opened #970 "Add a Meta menu link under Admin>Apply that lists all of the categories the team label submissions with (right now its only Screening Statuses)"

[2019-02-05 20:57] danblah opened #971 "Create a new hierarchal "Meta" category for submissions"
These are terms/labels/categories that are not self-selected by the applicants, but by the OTF team.

[2019-02-05 20:59] danblah commented on #971
Setting these labels does not change the edit date or recently edited by labels in the application.

[2019-02-05 20:59] fourthletter commented on #860
All acceptance criteria are visible and functional. Thanks! 💥

[2019-02-05 21:01] danblah opened #972 "Create a interface on submission page that allows a team member to see and set meta categories"
Ideally, w/o leaving or having to reload the page. Labels set on 1st-stage applications should carry over to associates 2nd-state applications.

[2019-02-05 21:03] danblah opened #973 "Create an API endpoint for submission meta data, that includes fields in Meta (including screening status), and terms in Apply>Category Questions"

[2019-02-05 21:13] danblah opened #974 "Implement access to the API via a token, create a new role that have permission to manage tokens"
Initially limited to read-only and the meta endpoint. Prefer to have it on a separate domain, api.opentech.fund.

[2019-02-05 21:23] danblah commented on #973
Fields to include:
* Submission/Application/Node ID
* Workflow state
* Screening status
* All Apply>Meta categories
* All Apply>Category Questions (Descriptors)
* Amount requested
* Duration
* Region
* Every applied before
* Country of the applicant
* Country of focus
* Request/Fund
* Round
* Lead
* Reviewers
* Date of submission
* Date of the first review
* Date of first determination
* Date of t

[2019-02-06 08:10] #967 closed

[2019-02-06 08:10] #853 closed

[2019-02-06 08:10] #855 closed

[2019-02-06 09:34] gibbsmaya commented on #869
Thanks @fourthletter. Assigning to @todd-dembrey for deployment to live.

[2019-02-06 09:42] gibbsmaya commented on #845
Thanks @fourthletter. Assigning to @todd-dembrey for deployment to live.

[2019-02-06 09:42] gibbsmaya commented on #844
Thanks @fourthletter. Assigning to @todd-dembrey for deployment to live.

[2019-02-06 09:43] gibbsmaya commented on #860
Thanks @fourthletter. Assigning to @todd-dembrey for deployment to live.

[2019-02-06 09:52] gibbsmaya commented on #851
Hi @fourthletter,

Apologies, I meant to explain something additional when I handed this over. Some of the statuses we have grouped into one page when they have the same meaning or action associated with them. For example, Received shows applications in statuses Received and Screening as these states are the same and require the same follow in step, its just that one is the first state for a propo

[2019-02-06 10:59] gibbsmaya commented on #951
Hi @fourthletter,

The comment should be recorded on the activity feed for the submission as an internal comment - is this not the case? Can you link to an example submission where you have added a note and this has not been added to the activity feed?

Regarding slack messages, the test site is set up to go to webapp-test channel which we assume is with the opentech slack workspace. We don't have

[2019-02-06 11:12] Parbhat commented on #969
@danblah Are you pointing to categories present at URL `/admin/categories/category/`? And the requirement is to have categories structured like Pages. Seems like will require a custom implementation.

[2019-02-06 11:40] frjo commented on #969
Have you worked with https://github.com/django-treebeard/django-treebeard ? Looks promising.

[2019-02-06 12:23] Parbhat commented on #969
Wagtail [uses](https://github.com/wagtail/wagtail/blob/stable/2.2.x/setup.py#L27) `django-treebeard` internally for page tree.

[2019-02-06 13:26] frjo commented on #969
@Parbhat Thanks for the tips that is already used by wagtail, found it in `pip list`.

OTF want the new Screening statuses vocabulary to be hierarchical  as well as a yet to be added "Meta" vocabulary. These will be used to tag submissions to help with internal workflow and analytics.

- Animal
    - Dog
    - Cat
    - Rabbit
- Plant
    - Tree
    - Flower

If they tag something with "Rabbit" th

[2019-02-06 13:36] frjo commented on #781
@danblah Is this only for proposals or also for the other applications? I guess yes.

Do staff need to edit concept notes that have been invited for proposal? I guess not.

I have made an PR according to my guesses https://github.com/OpenTechFund/opentech.fund/pull/975.

[2019-02-07 10:23] gibbsmaya opened #978 "Actions: front end tweaks"
Front end tasks relating to actions to be undertaken in sprint 4.

 - [x] All action modals styled as per batch action modal
 - [x] Disabled batch action buttons styled as per design including on hover explanatory text (appears when a batch action is not able to be performed on the currently selected submissions)
 - [x] Batch determination form (addition of show/hide number of submissions selected

[2019-02-07 10:39] gibbsmaya commented on #940
Superseded by #978

[2019-02-07 10:39] #940 closed

[2019-02-07 10:40] gibbsmaya opened #979 "Review updates: front end"
**Acceptance criteria**

- [x] Review block on submission detail page styled as per design:
  - [x] if reviewer assigned but no reviews or agreement/disagreement yet, display as per design (include icon) but greyed out as per current styles
![image](https://user-images.githubusercontent.com/6338661/52417859-b212d700-2ae4-11e9-94c7-88f4952000a1.png)
  - [x] agreement/disagreement shown as 'Agree' o

[2019-02-07 10:55] gibbsmaya opened #980 "Submission by round/status detail views: Status tab"
**Acceptance criteria**

- [x] Status tab in right hand column of detail view page contains "update status" action under an 'Actions to take' label . This should be output as per block in right hand column of submission detail page (e.g. https://dev-apply.opentech.fund/apply/submissions/6/)
- [x] Using update status actions provide same modal and workflow as per actions on individual submission pa

[2019-02-07 10:57] gibbsmaya opened #981 "Submission by round/status detail views: Review information"
**Acceptance criteria**

- [x] Status tab in right hand column of Submission by round detail view page contains same information as review block in right hand column of submission detail page (e.g. https://dev-apply.opentech.fund/apply/submissions/6/)
- [x] Does not contain "View all" button
- [x] API updated to include list of reviewers. Current API result unchanged. add the following new informa

[2019-02-07 10:59] gibbsmaya opened #982 "Submission by round/status detail view: Status tab: Front end review"
Front end tidy up of status tabs on detail view (right hand column). Should use existing output as per right hand column of submission detail page (e.g. https://dev-apply.opentech.fund/apply/submissions/6/) but may want to remove the boxes around the different blocks

[2019-02-07 11:04] gibbsmaya opened #983 "Submission by round/status detail views: Status changes by others and messages"
Messages to be displayed to user on submission by round or submission by status detail views if changes are made to an application whilst they are viewing the application in question.

**Acceptance Criteria**
* Both Detail Views
  - [x] When the submission content of the active submission (questions and meta questions) is updated by someone while i am viewing it I see a notification informing me t

[2019-02-07 11:11] gibbsmaya opened #984 "Repurpose Internal Comments as Notes"
Internal comments are comments only available to OTF staff. They fulfill the same purpose as Notes do, we will repurpose them to reflect this.

**Acceptance Criteria**
- [ ] There is a tab on the submission detail page with the title "Notes"
- [ ] The "Notes" tab includes an editor with no privacy options
- [ ] The "Notes" tab editor only creates comments of privacy "internal"
- [ ] The "Notes" ta

[2019-02-07 11:24] danblah commented on #951
Slack msg went out just fine for me but confirming that comments are not being recorded in the activity feed. I'd expect something similar in the activity feed as we get in slack, ie "A new internal comment has been posted on Maya's test project by Dan Blah". See https://test-apply.opentech.fund/apply/submissions/1/#communications.

Doesn't seem comments have every been creating an entry in activi

[2019-02-07 11:30] gibbsmaya commented on #951
Hi @danblah,

Thanks for the example. Apologies, I realise my working was incorrect on the acceptance criteria as the messages don't appear on the activity feed, rather they appear on the communications tab as you say. The acceptance criteria should have read 'communications tab' rather than 'activity feed'.

Comments have always been only entered into the comms tab, whereas actions are entered in

[2019-02-07 11:32] danblah commented on #810
Not sure if we're testing this correctly.
1. Went to existing round (https://test-apply.opentech.fund/admin/pages/778/edit/), changed lead to Dan Blah
2. Go to https://test-apply.opentech.fund/dashboard/
3. The round doesn't show up (only see submissions I'm set to review)

[2019-02-07 11:36] danblah commented on #851
I'm ok with this. Thanks for the clarification.

[2019-02-07 11:39] gibbsmaya commented on #810
Ah, I see. I don't believe you can change the lead of a round once the round is active. You can change the lead of specific submissions (this was the requirement we has in phase 1 whereby at the end of a round there may still be some submissions hanging over which get allocated to the lead of the next round), but not the round itself. I will get @todd-dembrey to confirm this though.

The best way

[2019-02-07 11:40] gibbsmaya commented on #851
Thanks @danblah. Assigning to @todd-dembrey for deployment to production.

[2019-02-07 11:42] gibbsmaya commented on #810
@danblah just realised you won't be able to test as Nat since he is a superuser, but you can test with the Maya Gibbs account.

[2019-02-07 11:49] danblah commented on #810
Just tested by creating a new round, submitting new app and all good!

[2019-02-07 12:00] gibbsmaya commented on #810
Nice one, thanks @danblah . Assigning to @todd-dembrey for deployment to production.

[2019-02-07 12:36] todd-dembrey opened #985 "Review updates: reviewer consensus: updates to table display"
For review summary indicator (traffic lights) wherever they appear: Agreeing with the review will be considered as having left a review of the same outcome. Disagreeing with a review will be considered as having left a review of the opposite outcome, always resulting in an Amber circle

**Acceptance criteria**
- [x] Agreements are reflected in the count of completed reviews in the review column of

[2019-02-07 12:55] danblah commented on #973
Please update this to reflect reality ;-)

## Endpoints
### Submissions (meta)
**GET /submissions/?{query parameters}/meta**

**Query:**
* time{period parameter} - Filters to submissions by specified date range
    * 'time=RANGE&from=YYYY-MM-DD&to=YYYY-MM-DD`
    * 'time=24HRS'
    * 'time=LAST_7_DAYS'
    * 'time=THIS_MONTH'
    * 'time=LAST_MONTH'
    * 'time=LAST_14_DAYS'
    * 'time=LAST_30_DA

[2019-02-07 14:35] #969 closed

[2019-02-07 14:36] frjo commented on #971
Will be using https://github.com/django-treebeard/django-treebeard

[2019-02-07 15:59] todd-dembrey opened #986 "Submission by round/status detail views: Status transitions and messages: Frontend"
Behaviour of submissions in submission listing when they move / are removed from the listing.

[2019-02-07 16:23] gibbsmaya opened #987 "Repurpose Internal comments as notes: Frontend"
Front end tidy up of notes functionality (repurposed from internal comments)

**Acceptance Criteria**
- [ ] "Notes" tab on the submission detail page styled as per existing tab styles
- [ ] The Activity Feed includes an extra tab of "Notes" styled as per existing tab styles
- [ ] Listing of "Notes" is grouped by date on both Activity feed Notes tab and "Notes" tab on submission page as per design

[2019-02-07 17:03] todd-dembrey commented on #937
This is now ready for testing @gibbsmaya

[2019-02-07 17:04] todd-dembrey commented on #938
This is now ready for testing @gibbsmaya

[2019-02-07 17:53] gibbsmaya commented on #937
Tested and most AC working as expected. There is some weird behaviour going on here though. If you 'become' Lindsay Beck you can see there are firstly some duplicates in the waiting for your review list on the dashboard. Also the count is incorrect if you then link to 'all submissions'
![screen shot 2019-02-07 at 17 45 31](https://user-images.githubusercontent.com/19690895/52431767-cc5aae00-2b00-1

[2019-02-07 17:54] gibbsmaya opened #988 "Dashboard polish"
Front end review on dashboard. Currently can see we need:

 - [x] some padding between blocks
 - [x] Alignment of Table heading label when filters and search present (it appears higher up, should be inline with search and filters). note this is relevant for both the dashboard and tables on Submission overview page.
 - [x] Revisit the spacing in the table for submissions since we have no >.

[2019-02-08 10:20] gibbsmaya commented on #938
Hi @emullaney,

Thanks for this. Have tested and ticked off most acceptance criteria. A few things to resolve below:

 - [ ] Title should be "Your previous reviews"
 - [ ] When filters/search are used from the previous reviews block, the behaviour should match that of the summary tables on the Submission Overview page - taking the user to the all submission page, pre-filtered/searched.

**For AC r

[2019-02-08 15:27] gibbsmaya opened #989 "Review updates: reviewer consensus: dashboard review blocks"
**Acceptance criteria**
- [x] Agreeing with a review will remove it from your list of reviews to review - Dashboard
- [x] Disagreeing with a review will not remove it from your list of reviews to review - Dashboard

**QA criteria**
Dev:

- [x] checked feature meets acceptance criteria/conforms exactly to the specification.
- [x] provided good unit test coverage (if this is non-trivial behaviour).

[2019-02-08 16:49] gibbsmaya opened #990 "Audit loading and error state display"
**Acceptance criteria**
- [x] Consistent loading styles on detail view pages:
  - [x] On page load, submission doesn't flash up in middle column before the data loads
  - [x] On page load, when grouped by listing is still loading, other columns should show only one loading panel as opposed to one in each column.
 - [x] Ensure message displayed on detail view page if no submission in round

[2019-02-08 16:51] gibbsmaya opened #991 "Direct links to detail view pages"
**Acceptance criteria**
- [x] Can link to a detail view page with a specific application selected
- [x] When I am on a submission i have a URL `?submission=<id>`
- [x] When i change submissions the URL changes.
- [x] If i paste a link to a submission the detail view opens on the selected submission
- [x] If i have an invalid link (submission id not in round/status) I see a message telling me this

[2019-02-08 18:02] emullaney commented on #938
Hi @gibbsmaya I've made changes on my pull request for these fixes and pushed them out to `develop` as well.

[2019-02-08 18:49] emullaney commented on #937
Hi @gibbsmaya this should be fixed as of yesterday with a fix out to `develop`.

[2019-02-09 18:06] newbie15423 commented on #973
I can't tell what the All Apply> includes but should be Status (Just an idea..), Focus (privacy, access), technology attributes, objective and addressed problems. Also we should definitely have whether it was invited to proposal or not, can't tell if that is part of list of review outcomes.

[2019-02-11 10:43] gibbsmaya commented on #938
@emullaney all looks good to me. Please can you complete the dev QA checklist and if all complete then assign to @todd-dembrey for deployment to test? Thanks.

[2019-02-11 11:24] #844 closed

[2019-02-11 11:24] #851 closed

[2019-02-11 11:24] #860 closed

[2019-02-11 11:24] #869 closed

[2019-02-11 11:24] #845 closed

[2019-02-11 11:24] #849 closed

[2019-02-11 11:24] #861 closed

[2019-02-11 11:24] #872 closed

[2019-02-11 11:24] #878 closed

[2019-02-11 11:24] #810 closed

[2019-02-11 11:24] #873 closed

[2019-02-11 11:24] #874 closed

[2019-02-11 11:24] #875 closed

[2019-02-11 11:24] #876 closed

[2019-02-11 11:24] gibbsmaya commented on #937
Thanks @emullaney. This all looks good. There are a few things we need to define with OTF as this work has thrown up a few oddities but this is separate to the actual work on the ticket.

@todd-dembrey can you please deploy to test?

Note to discuss with OTF:

Overarching question is which states should be counted as 'waiting for your review' when technically you can review at many parts of the wo

[2019-02-11 14:10] danblah opened #996 "Red Team application option is not rendering correctly"
See https://apply.opentech.fund/apply/submissions/3671/, where the selected "What services are you seeking support for?" is showing up as a series of bullets rather than a single selected option.

[2019-02-11 14:14] danblah opened #997 "Allow the team to create new high-level categories and terms for Screening Statuses (/admin/funds/screeningstatus/) and Apply Categories (admin/categories/category/)"

[2019-02-11 14:14] danblah commented on #997
See https://github.com/OpenTechFund/opentech.fund/issues/971

[2019-02-11 14:17] danblah commented on #771
Bumping this... we need this before the coming ICFP deadline closes (or nearly after), this months end.

[2019-02-11 14:18] danblah commented on #608
Bumping this, ideally it can be combined or completed at the same time as https://github.com/OpenTechFund/opentech.fund/issues/771 (deadline is months end).

[2019-02-11 14:45] newbie15423 commented on #771
Noting that it would be much better if this functionality includes "the first-stage application as well where person's access/permissions carry over to the second-stage application" at the outset.

[2019-02-11 15:05] fourthletter opened #999 "Add name to "Leads" filter"
Please add my name to the "Leads" filter in webapp. Thank you.

[2019-02-11 15:12] emullaney commented on #957
@gibbsmaya this is ready for review on develop. I noticed that the images on develop are broken but I don't think that's related to this change.

[2019-02-11 15:42] danblah opened #1000 "As a manager, we need a link/navagation option to go from a submission page to the associated round page"

[2019-02-11 15:59] danblah opened #1001 "Viewing meeting interface for Red Team Lab doesn't load"
See https://apply.opentech.fund/apply/rounds/759/. See "Something went wrong. Please try again later." for all submissions.

[2019-02-11 16:21] todd-dembrey commented on #1001
related sentry error: https://sentry.io/otf/otf-webapp/issues/883225080

[2019-02-11 16:56] todd-dembrey commented on #957
@gibbsmaya We have not needed images on dev until this point and have not set it up.

@frjo is setting this up tomorrow morning (Tuesday 12th Feb)

[2019-02-12 10:28] #1001 closed

[2019-02-12 10:31] todd-dembrey commented on #957
@gibbsmaya @emullaney Images are now working

[2019-02-12 10:51] gibbsmaya commented on #957
Hi Erin,

This mostly looks good and meets acceptance criteria. A few things I have noticed if you can take a look please:

 - [ ] Staff reviewer roles (primary and secondary) should appear above the External reviewers in the Add reviewers modal.
 - [ ] When checking if the same user has been added to both primary and secondary roles, we seem to be submitting the form, reloading the page, giving a

[2019-02-12 11:27] todd-dembrey commented on #996
It looks like the category serializer is not working correctly. it isn't returning a question

![image](https://user-images.githubusercontent.com/6338661/52631805-adb93600-2eb7-11e9-921a-59d2f2df05d6.png)

I think this is because the field label is optional
https://github.com/OpenTechFund/opentech.fund/blob/3187b9d201c88ed495ffb1ecb42336847a1b52d4/opentech/apply/categories/blocks.py#L30-L33

We sh

[2019-02-12 13:07] danblah commented on #996
Thanks for the quick fix!

[2019-02-12 13:15] danblah commented on #999
@frjo and @todd-dembrey, looks like that list is from
``lead = Select2ModelMultipleChoiceFilter(queryset=get_round_leads, label='Leads')

Where it should be pulling from all users in the role team, which would include submissions that @fourthletter has been assigned as lead, even though they're not assigned as the lead for any rounds.

Submissions are for a number or reasons re-assigned leads that

[2019-02-12 13:46] frjo opened #1004 "Embedding Google sheet result in an server 500 error"
Trying to use the embedded field to embed a Google sheet results in an server 500 error

The embedded link look like this:

[code]

[2019-02-12 13:48] #1004 closed

[2019-02-12 13:56] gibbsmaya opened #1005 "Submission by status/detail view: Can't submit note on mobile"
Submit button on mobile view for submitting notes on Submission by status/detail view is currently not functioning - does nothing when pressed. Can you please take a look?

[2019-02-12 14:10] frjo commented on #999
Only leads that are added to at least on round show up in the filter.

Should change this to any staff that is set as lead, or just list all staff accounts.

[2019-02-12 14:34] chris-lawton commented on #1005
Hi Maya,

This is now fixed on dev.

Thanks,
Chris

[2019-02-12 16:56] gibbsmaya commented on #1005
Confirming this now works.

FYI @danblah.

Can you get this ready for deployment to live, either via @todd-dembrey or @frjo? Thanks.

[2019-02-12 17:01] gibbsmaya commented on #937
After discussion with OTF, agreed approach for an initial release is that both waiting for your review and the corresponding 'show all' page should show all submissions where I am assigned as reviewer, in any status other than a final determined state, i.e. all states other than accepted, dismissed, concept accepted and invite to proposal (?status=screening&status=more-information-required&status=

[2019-02-12 17:03] todd-dembrey commented on #877
@gibbsmaya  this is now testable on dev

[2019-02-12 17:09] gibbsmaya commented on #877
Hi @todd-dembrey I have tested this by adding an internal comment on a submission and seeing it update on the detail view page. only issue is that it adds the comment at the bottom of the list instead of the top. See Project demo on https://dev-apply.opentech.fund/apply/rounds/777/ as an example.

[2019-02-12 17:11] todd-dembrey commented on #938
This is now on test.

[2019-02-12 17:12] todd-dembrey commented on #937
This is now on test.

@gibbsmaya is the above captured in another issue?

[2019-02-12 17:19] todd-dembrey commented on #951
closed by #995

[2019-02-12 17:19] #951 closed

[2019-02-12 17:19] gibbsmaya commented on #938
Hi @fourthletter, @danblah, @arduina

This work is now ready for testing. This work is adding in a block to users dashboard to see previous reviews they have completed. You should test this as both an OTF staff member and an AC staff member - you can manipulate the data on the test site in terms of assigning reviewers and completing reviews to test this.

Please test this against the acceptance cr

[2019-02-12 17:22] todd-dembrey commented on #996
@danblah Those are just some dev notes. I haven't made the fix yet. Reopening because this still needs fixing.

[2019-02-12 17:22] gibbsmaya commented on #937
Hi @fourthletter, @danblah, @arduina

This work is now ready for testing. This work is adding in a block to users dashboard to see submissions awaiting review from me. As discussed on the call earlier today, this agrees to the specification we agreed however we think some tweaks need to be made to this to make it more useful to you. I have outlined these changes above and will raise a separate iss

[2019-02-12 17:26] gibbsmaya opened #1009 "Dashboard: Waiting for your review block: updates"
'Waiting for your review' block which has been updated in #937 needs to be updated in terms of submissions being displayed in this block and the subsequent pre-filtered submission list (accessible via the 'show all' link at bottom of table if more than 5 submissions).

After discussion with OTF, agreed approach for an initial release is that both waiting for your review and the corresponding 'show

[2019-02-12 18:18] danblah commented on #996
Apologies, crossed wires on the other hotfix.

[2019-02-12 18:21] todd-dembrey commented on #877
@gibbsmaya I've updated this to now add the new comments to the beginning of the list

[2019-02-13 10:21] gibbsmaya commented on #877
LGTM. Please deploy to test.

[2019-02-13 10:44] chris-lawton commented on #990
Ready for review

[2019-02-13 11:36] Parbhat commented on #947
PR for 1. Add a file upload field to the available fields when you build a form. - #976

We will probably need an interface to review form submissions. As the default form submissions interface (In Wagtail admin sidebar), only displays text data. Currently storing the file name of uploaded file with every submission

[2019-02-13 14:26] chris-lawton commented on #988
Ready for review - https://github.com/OpenTechFund/opentech.fund/pull/1015

Note that the first AC, padding between blocks, relies on https://github.com/OpenTechFund/opentech.fund/issues/959 so will create a separate PR for that.

[2019-02-13 15:16] gibbsmaya opened #1016 "Submission by round/status detail views: Review information: Reviewer roles and assignees"
**Acceptance criteria**

- [x] API updated to include the following new information:
  * Role Icon URL
  * List of Agreers & disagreers (Name, icon URL, and opinion only)
  * List of assigned reviewers (both OTF staff and external reviewers, even if they have not completed a review)
- [x] Status tab in right hand column of Submission by round detail view page contains these two new bits of informa

[2019-02-14 07:58] todd-dembrey commented on #866
@gibbsmaya This is now deployed on dev and with Erin for code review. Chris will need to tweak some styling.

Small variation on the AC - We split determined into accepted and dismissed last sprint for the by status view, have continued that here.
![image](https://user-images.githubusercontent.com/6338661/52771602-35c14c00-302e-11e9-9e2b-29f9ea0ff3de.png)

[2019-02-14 08:17] frjo opened #1018 "Validation error for date when copy round"
When user copy a round the date fields should be cleared to avoid a validation error. This can be done using the before_copy_hook in wagtail (tips from Todd).

https://sentry.io/otf/otf-webapp/issues/887293023/

https://docs.wagtail.io/en/v2.4/reference/hooks.html#before-copy-page

[2019-02-14 08:25] helenb commented on #988
Just one query in the code review.

[2019-02-14 09:52] gibbsmaya commented on #866
Hi Todd,

This looks good. I have adjusted the AC based on your comment above and also to match the agreed upon statuses (before we had defined groupings slightly differently). A couple of small things:

 - 3rd status should be named Ready for discussion, not In discussion
 - We should pick a consistent way to present statuses and in fact any titles - currently a mix between sentence case and star

[2019-02-14 11:18] chris-lawton commented on #990
Actioned CR feedback so ready for re-review

[2019-02-14 12:08] chris-lawton commented on #988
Hi Maya,

The second and third AC are now on dev but waiting on #959 in order to do the first one.

Once you reviewed pass back it back to me and i'll create another PR for it.

Thanks,
Chris

[2019-02-14 12:13] gibbsmaya commented on #988
Hi @chris-lawton,

Thanks. Have reviewed and 3rd AC looks fine. Re second one, can the title of the block be in line with the search/filters as per the [design](https://projects.invisionapp.com/share/KZPIO1NENQJ#/screens/335805633)? Or is there a reason this is not possible?

Thanks,
Maya

[2019-02-14 14:15] emullaney commented on #959
@todd-dembrey - this is ready for [review](https://github.com/OpenTechFund/opentech.fund/pull/1014)

[2019-02-14 14:15] todd-dembrey commented on #957
@gibbsmaya this is now on dev for you to test.
Changes are:
* ordering of fields so that external reviewers are at the end
* Message removed
* modal will auto-open on form errors after submissint

[2019-02-14 14:18] gibbsmaya commented on #957
Great, this looks good to me. Please deploy to test @todd-dembrey.

[2019-02-14 14:29] todd-dembrey commented on #866
I've made the requested changes.

As discussed I've gone for title case for consistency elsewhere on the site.

![image](https://user-images.githubusercontent.com/6338661/52793111-d92d5380-3064-11e9-9774-2e99a5d95f00.png)

I've asked Chris about the alignment of the counts on #1019

[2019-02-14 15:36] fourthletter commented on #937
Acceptance criteria are visible. Thanks!

Only one submission appears in my "waiting for your review" dashboard so I'm not able to see criteria: 1) the first five and 2) submissions in descending order.

[2019-02-14 15:42] fourthletter commented on #938
@gibbsmaya could I please get the link to this bit of work? This might be an issue with my admin level, but I'm not able to view the "previous reviews block" in the dashboard screen. Thanks.

[2019-02-14 16:03] chris-lawton commented on #988
Hi @gibbsmaya,

That can be done, I think i just interpreted the design so that heading and the search/filters and vertically centred.

So to to confirm it should look like:
![screen shot 2019-02-14 at 15 59 29](https://user-images.githubusercontent.com/31627284/52799551-f583bd00-3071-11e9-8d1f-687531be3a0f.png)

and not:
![screen shot 2019-02-14 at 15 59 49](https://user-images.githubusercontent.

[2019-02-14 16:08] chris-lawton commented on #991
WIP PR: https://github.com/OpenTechFund/opentech.fund/pull/1022

Needs logic to handle trying to directly access a submission that isn't in the current round.

[2019-02-14 16:38] chris-lawton commented on #866
Have actioned on the PR #1019

[2019-02-14 17:01] emullaney commented on #959
FYI @gibbsmaya this is still waiting for further code review after I made changes per the first review, but it has been merged into develop for testing.

[2019-02-14 17:15] todd-dembrey commented on #866
All deployed to dev now @gibbsmaya
![image](https://user-images.githubusercontent.com/6338661/52804451-24069580-307c-11e9-9bf1-71e7ec4193e0.png)

[2019-02-14 17:42] gibbsmaya commented on #937
@fourthletter you can add more test submissions or add yourself as review and change statuses of submission to test. Otherwise, if you are happy for this to go as is following our testing then we can push this through to be ready for deployment. Please confirm.

[2019-02-14 17:45] gibbsmaya commented on #938
Hi @fourthletter

If you have not done any previous reviews in the test system then none will display here. Easiest way to test is to add some reviews for some of the applications on the test site and then check the block appears for you appropriately. @danblah should also be able to test this as an admin by using the 'become' feature.

Let me know if you need any further assistance?

Thanks,
Maya

[2019-02-14 18:20] gibbsmaya commented on #959
Have testing this and a few notes below @emullaney:

A date is appearing the the reviewer block underneath each reviewer's name - can this be removed please?

I am nervous that the existing reviewers (without role) are not displaying any more. I don't have a specific example of this for sure but I find it unlikely that all submissions currently on dev do not have any reviewers pre-assigned, withou

[2019-02-15 09:44] todd-dembrey commented on #866
This is now deployed to test.

[2019-02-15 09:46] todd-dembrey commented on #867
Now on test with #866

[2019-02-15 09:46] todd-dembrey commented on #877
This is now on test.

[2019-02-15 09:48] todd-dembrey commented on #957
This is now on test.

[2019-02-15 11:29] todd-dembrey commented on #959
@gibbsmaya The date was added by fredrik in #926 at the request of OTF in #922. We should probably not just remove it - though it will impact on the reviewer consensus work coming up.

Perhaps discuss with @tmsndrs on Monday?

[2019-02-15 12:09] todd-dembrey commented on #990
Re-reviewed maybe one small change as a result? Back to you Chris.

[2019-02-15 14:51] chris-lawton commented on #988
Hi Maya,

The first and second AC are now live on dev.

Thanks,
Chris

[2019-02-15 14:58] emullaney commented on #959
Hi @gibbsmaya I made some more edits per Todd's review and pushed back up to develop just now.

How would you like me to test that reviewers are still showing up that were there before? There is a migration that should have moved any existing reviewers into the new set up, without roles by default.

[2019-02-15 15:01] emullaney commented on #959
@gibbsmaya
One more thing to note is that the reviewer roles now show up as icons in the Waiting for your review block on the dashboard.

[2019-02-15 15:02] gibbsmaya commented on #988
LGTM. Handing over to @todd-dembrey for deployment to test.

[2019-02-15 15:17] gibbsmaya commented on #959
Can the new 'Assigned role' column in the waiting for your review table display before comments please? i.e. after Reviews.

Review block now does seem to be displaying old reviewers...strange. Although the score is appearing after every review, and there is also a message of "No assignees or reviews yet" appearing when there are review. See https://dev-apply.opentech.fund/apply/submissions/11/ as

[2019-02-15 15:26] gibbsmaya commented on #866
Hi @fourthletter, @danblah, @arduina

This work is now ready for testing. This work is adding in a "By Status" block to Submissions Overview screen (https://test-apply.opentech.fund/apply/submissions/) to see an overview of how many applications are in each status. This also acts as the entry point to the Submission by Status pages that you tested in the last sprint.

Please test this against the

[2019-02-15 16:05] emullaney commented on #959
@gibbsmaya I've made a change per your feedback on slack and here. New changes:
1. The traffic light only appears above all the staff reviews section (the top part of the reviews, above the horizontal rule that shows up when there are external reviewers in that stage). The traffic light is calculated based on staff reviews only, not external reviews. If no staff reviews have been made, no traffic

[2019-02-15 16:06] chris-lawton commented on #990
Thanks Todd. Have made the error states consistent now, can you take over my last commit? https://github.com/OpenTechFund/opentech.fund/pull/1012/commits/0a8912ec552711dc0a9ab852fb7d8f92419d29f2

[2019-02-15 16:46] gibbsmaya commented on #867
UAT being done in #866

[2019-02-15 16:58] gibbsmaya commented on #957
Hi @fourthletter, @danblah, @arduina

This work is now ready for testing. This work is adding a new concept of Reviewer Role, manageable by admin, and allowing these roles to be assigned to reviewers by OTF staff. Managing the actual reviewer roles is done via the Apply menu in the Wagtail admin. This can only be done by Admin role. I have added Primary and Secondary for now as examples. You can t

[2019-02-15 17:02] gibbsmaya commented on #877
Hi @fourthletter, @danblah, @arduina

This work is now ready for testing. This work adding in automated updated to the Submission by Round/Status Detail View pages so that if changes are made while you are viewing the page they are updated without you having to refresh the page. The best way to test this is to go to one of the Submission by Round/Status Detail View pages e.g. https://test-apply.op

[2019-02-18 08:04] #999 closed

[2019-02-18 08:08] #781 closed

[2019-02-18 11:27] chris-lawton commented on #978
FE work is here - https://github.com/OpenTechFund/opentech.fund/pull/1023

Now requires work from BE to hook up, specifically:

* Hook up disabled batch actions button
* Populate list reveal block on determination form
* Populate modal on determination form
* Hook up modal to submit determination form

[2019-02-18 11:29] chris-lawton commented on #859
FE work here - https://github.com/OpenTechFund/opentech.fund/pull/1023

[2019-02-18 13:47] #942 closed

[2019-02-19 11:21] fourthletter commented on #938
All acceptance criteria are visible and functional. 50 points for Hufflepuff!

[2019-02-19 11:48] fourthletter commented on #877
Acceptance criterion is visible and functional during test. Thanks! 💥

[2019-02-19 11:54] todd-dembrey commented on #959
@emullaney I've made two tweaks to the code. One to address Maya's comment about the position of the role icon and the other to tweak the logic of how the review block displays. Happy with this now.

[2019-02-19 12:04] todd-dembrey commented on #959
@gibbsmaya with you for review.

[2019-02-19 12:08] todd-dembrey commented on #980
@tm-kn Approved - can you get it deployed and over to maya for testing please.

[2019-02-19 12:13] todd-dembrey commented on #981
@tm-kn Approved, please deploy and assign to maya for testing.

[2019-02-19 13:22] emullaney commented on #858
I'm seeing a few problems and I'm wondering whether they are related to my webpack issues. I do have `gulp watch:app` successfully running after changing [webpack.prod.config.js](https://github.com/OpenTechFund/opentech.fund/blob/7b49da51dcc08407abf3d9a9a94b29fadb849a2b/opentech/static_src/src/app/webpack.prod.config.js#L9) locally, and running npm install first. But I can't seem to update via the

[2019-02-19 13:58] fourthletter commented on #866
All acceptance criteria are visible and functional. Thanks! 💥

Will submissions from an active round/lab stay perpetually visible in this block as "Accepted" and "Dismissed"?

[2019-02-19 14:12] chris-lawton commented on #978
Blocked until BE work is complete and can be put on dev to test

[2019-02-19 14:13] chris-lawton commented on #979
Blocked until BE work is complete and can be put on dev to test

[2019-02-19 14:34] emullaney commented on #960
Hi @gibbsmaya this has been deployed to the dev server. I have to make a change per a review from Todd, but it is probably worth testing now anyway.

[2019-02-19 16:45] chris-lawton commented on #982
MR for the status modal - https://github.com/OpenTechFund/opentech.fund/pull/1028

[2019-02-20 08:45] frjo commented on #1009
Is this what you had in mind https://github.com/OpenTechFund/opentech.fund/pull/1030 ?

I bassed the pr on sprint-3-winter-2019 branch.

[2019-02-20 08:50] #996 closed

[2019-02-20 09:14] todd-dembrey commented on #991
@chris-lawton I've updated #1022 to better handle submissions that are not in the current set of active submissions.

[2019-02-20 09:16] frjo opened #1032 "Leave blank to use the default Category label function is not working"
On Applications forms when you add a category the label field in the form states that "Leave blank to use the default Category label". This does not work.

If you in the Application form set labels they are rendered as they should. But if left blank the default labels do to show up.

[2019-02-20 09:46] gibbsmaya commented on #866
That's great, thanks @fourthletter. Submissions will stay in the count until the round it is part of is made inactive (by all submissions within the round being accepted or dismissed).

Assigning to @todd-dembrey for deployment to production.

[2019-02-20 09:46] gibbsmaya commented on #867
Moving to ready for live deployment alongside #866

[2019-02-20 09:47] gibbsmaya commented on #877
That's great, thanks @fourthletter. Assigning to @todd-dembrey for deployment to production.

[2019-02-20 09:48] #1005 closed

[2019-02-20 09:53] todd-dembrey commented on #959
@emullaney I merged the branch as i'm happy with the code. if there are any changes coming out of Maya's review we'll open a new branch.

[2019-02-20 09:56] gibbsmaya commented on #959
LGTM. Small styling tweak to not show the line underneath the reviewers if there are no AC reviewers (e.g. https://dev-apply.opentech.fund/apply/submissions/5/), but I will get @chris-lawton to sort this on the FE ticket. Assigning to @todd-dembrey for deployment to test.

[2019-02-20 09:58] gibbsmaya commented on #979
One FE tweak required which I noticed as I tested #959:

Reviewer block on submission page: don't show the line underneath the reviewers if there are no AC reviewers (e.g. https://dev-apply.opentech.fund/apply/submissions/5/)

[2019-02-20 10:17] gibbsmaya commented on #959
Apologies, but reopening this as I have found an issue. Waiting for my review block does not show submissions where users is assigned as secondary reviewer.

To test, see Libby Liu's account where she is assigned as secondary reviewer for https://dev-apply.opentech.fund/apply/submissions/17/ but this is not displaying here.

[2019-02-20 10:27] gibbsmaya commented on #959
I've worked out why this is - its to do with the logic we apply to which submissions show in the waiting for your review block. This should be resolved by #1009. Putting back into Done.

[2019-02-20 10:28] gibbsmaya commented on #1009
@todd-dembrey can you check this pls?

[2019-02-20 10:33] gibbsmaya commented on #960
All acceptance criteria look good to me when testing. However when testing by following full workflow of primary and secondary reviews - have found one issues which may or may not be related to this work:

Became Libby Liu, added a normal review (she is the primary reviewer), saved as draft. Review now displays in review block as if it is a completed review:
![screen shot 2019-02-20 at 10 03 50](h

[2019-02-20 10:41] gibbsmaya commented on #980
Hi @tm-kn

This looks good. Only issue I noticed is when I tested updating the status from 'ready for discussion' to 'AC review'. Updated correctly but the submission shows in both statuses in the list in left hand column. See screenshot.
![screen shot 2019-02-20 at 10 36 48](https://user-images.githubusercontent.com/19690895/53085791-8e478c00-34fb-11e9-92f3-1c3e63c06dd6.png)
Will this be resolved

[2019-02-20 10:52] gibbsmaya commented on #981
@tm-kn this looks good.

@todd-dembrey a question for you before I ask @tm-kn to make any changes. We are currently only pulling in reviewers who have completed reviews, not the list of all assigned reviewers. With the changes we are making with the reviewer roles, is it worth waiting until that is in so that we only pull in the new assigned review roles, rather than needing to deal with the old s

[2019-02-20 11:13] chris-lawton commented on #982
MR for the reviewers block - https://github.com/OpenTechFund/opentech.fund/pull/1033

[2019-02-20 11:14] chris-lawton commented on #982
Hi @gibbsmaya,
The modal styles and reviewer block styles are now on dev.
Thanks,
Chris

[2019-02-20 11:24] gibbsmaya commented on #990
Looks good to me @chris-lawton.

Only thing I noticed is that I am getting the following state intermittently for this round: https://dev-apply.opentech.fund/apply/rounds/732/
![screen shot 2019-02-20 at 11 03 24](https://user-images.githubusercontent.com/19690895/53087595-6fe38f80-34ff-11e9-9625-0fa5b1fc34e3.png)

It seem to be struggling to load the applications, if I refresh again it does, but

[2019-02-20 11:25] gibbsmaya commented on #1016
@tm-kn this is unblocked for you now.

[2019-02-20 11:29] chris-lawton commented on #990
Yeah, i noticed this to and it's something that Tomasz has picked up on in the channel. Unsure if it's related to the work done here or another ticket. Best to keep this open and i'll check with Todd to see what's happened.

[2019-02-20 11:36] tm-kn commented on #980
@gibbsmaya I'll resolve it here. Thanks!

[2019-02-20 11:44] todd-dembrey commented on #858
@gibbsmaya This is now on dev. I have changed the acceptance criteria for when the options are enabled.

I have allowed you to select submissions in a variety of states that have the same action. This was the easiest approach, but could be extended to limit based on having the same status of the application.

I only came across one instance where this was confusing. On the all submissions page - t

[2019-02-20 11:57] todd-dembrey commented on #981
a) Yes lets handle unassigned reviewers on the roles ticket
b) I guess its more important to see assigned ac reviewers. Do you agree? (in which case we should handle all assigned reviewers regardless of review state)

[2019-02-20 12:00] gibbsmaya commented on #982
Hi @chris-lawton

A few points below:

 - [ ] Reviewer block has a typo - Assigness instead of Assignees
 - [ ] Header row on the reviewer table should contain traffic light, not yes/no/maybe as per reviewer block on submission detail page
- [ ] When no actions available for updating status, this is currently written in the button - can this be removed with simply the button being disabled? See pr

[2019-02-20 12:03] gibbsmaya commented on #981
Yes, I think we need both OTF assigned reviewers, which going forward will be with via the review roles. And we should also pull in assigned AC reviewers. I will put this onto the roles ticket.

@tm-kn can you confirm if any tests needed in the QA checklist and mark as appropriate? Then happy for this to be assigned to Todd and moved into 'Done'.

[2019-02-20 12:05] gibbsmaya commented on #982
Note there may be further tweaks to do here once #1016 is done.

[2019-02-20 12:14] gibbsmaya commented on #858
@todd-dembrey this sounds fine, have updated AC above to reflect. A couple of point below:

 - [ ] No confirmation message to user on batch submit - there should be
 - [ ] More information requested - assuming this behaviour will be updated in #859 ?

[2019-02-20 12:40] tm-kn commented on #980
@gibbsmaya It seems that there's an animation added (for dev - `TransitionGroup`) in the listing and it seems to mess up with re-rendering data. Not sure if it may be worth disabling it and implementing it again later.

[2019-02-20 13:49] tm-kn commented on #980
@gibbsmaya I've disabled the animation now. Can you please re-test?

[2019-02-20 14:32] chris-lawton commented on #982
Hi @gibbsmaya,

The first three are now on dev.
The last point i'm unsure on - i don't think any work in this ticket introduced it but am aware of a wider problem with the transition group causing issues with the listings - https://github.com/OpenTechFund/opentech.fund/issues/980#issuecomment-465521554
Worth testing on dev now that Tomasz has disabled the animations - I can't replicate now fwiw.

[2019-02-20 15:04] gibbsmaya commented on #980
Hi @tm-kn

It seems to not be functioning when you move to an application further down the list, but does not highlight any applications you select which are above your current position on the list. Any ideas?!

Thanks
Maya

[2019-02-20 15:09] gibbsmaya commented on #982
Hi @chris-lawton

First three look good to me. Regarding last comment, have retested and It seems to not be functioning when you move to an application further down the list, but does not highlight any applications you select which are above your current position on the list. Any ideas?! Can screenshare and show you if you can't replicate.

Thanks,
Maya

[2019-02-20 15:10] gibbsmaya commented on #938
Assigning to @todd-dembrey for deployment to live.

[2019-02-20 15:17] tm-kn commented on #980
Merged.

[2019-02-20 16:24] danblah opened #1035 "Expose for editing/review all user profile fields in both apply and admin"
Right now for example, one can only set their slack username in https://apply.opentech.fund/account/ and not https://apply.opentech.fund/admin/users/. I'm assuming this will be true for Signal ID. As an admin when troubleshooting why msgs are including @username or going to the Signal address, is to go into apply and assume the user to see what they have in those fields.

[2019-02-20 16:31] danblah opened #1036 "Ability to have a customized view of Rounds on the dashboard and submissions tabs"
The current listing for rounds displays closed or open rounds only, defaulting to closed. Many managers are actively working rounds that are both open and closed, meaning this default requires extra clicks between closed and open. Also, the rounds listing takes up a lot of space.

Proposed solution:

- [ ] Ability to star rounds in both your dashboard and submissions page, open or closed
- [ ] Add

[2019-02-20 16:36] newbie15423 commented on #1036
@danblah Is this really a priority for the next release? Its not clear to me how much PMs will actually use this in reality? Or am I missing something and most every ticket is getting a priority tag?

[2019-02-20 16:54] todd-dembrey commented on #858
a) ah yes, good spot.
b) yes, any determination behaviour is coming in #859 - you can currently progress but are nor forced to determine.

[2019-02-20 17:09] chris-lawton commented on #978
Hi @gibbsmaya,

The first two AC are now on dev.

Thanks,
Chris

[2019-02-20 17:12] chris-lawton commented on #982
Hi @gibbsmaya,

The work done in #991 looks to have fixed this now, which is on dev.

Thanks,
Chris

[2019-02-20 17:13] chris-lawton commented on #990
Hi @gibbsmaya,

The work in #991 should fix this which is now on dev.

Thanks,
Chris

[2019-02-20 17:21] chris-lawton commented on #990
I stand corrected, can still replicate this on dev.

[2019-02-20 17:30] tm-kn commented on #983
@todd-dembrey I am unable to test the status detail view because it's not working, but hopefully it should work.

[2019-02-20 17:38] gibbsmaya commented on #978
Reviewers action modal not yet updated - is this being done as part of #979? Rest of actions look good.

Disabled action looks good. @todd-dembrey can you confirm help text now that you have changed the logic slightly?

[2019-02-20 17:51] danblah opened #1038 "When on the all reviews page, have the reviewers names hover over the top of the page so that viewers can see/know which reviewer is saying what"

[2019-02-20 18:09] danblah opened #1039 "When a concept note's screening status is set, carry that same status over to the proposal"

[2019-02-20 18:11] danblah opened #1040 "When a screen status is set for a submission, remove the button "Screen application" button from "Actions to take", and add a smaller link in the "Screening status" box for "Change status""

[2019-02-20 18:17] danblah commented on #717
@frjo, bumping this.

[2019-02-20 18:19] danblah commented on #727
Wait, I do think we want existing slack notification. Maybe something that says:

[submission.title] is ready for AC review. The following are assigned as reviewers: [reviewers]

[2019-02-20 18:24] danblah opened #1041 "Submissions in state approved need to editable by applicants but also need to end up being "locked" in a final state"
@frjo see #781, where I should've also required role applicant the ability to also edit submissions in state approved. Please do that first soonest.

[2019-02-20 18:27] danblah commented on #1041
Other thoughts from the team include:
* Ability to "unlock" a submission in an approved state for a specified amount of time, that would otherwise be locked from editing
* Another state before approved that allows editing
* What else?

[2019-02-20 19:05] frjo commented on #1041
@danblah So allow applicants to edit approved applications. Then a new state after approved, what names do you want for these?

When/how should the submission be moved from the first to the second approved state?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-20 20:18] danblah commented on #1041
@frjo for now, just allow applicants to edit approved applications. We still need to decide as a team what we want for a more complete solution.

[2019-02-21 08:23] frjo commented on #1041
@danblah The PR https://github.com/OpenTechFund/opentech.fund/pull/1042 should take care of this. Have asked @todd-dembrey to take a look at it before I deploy it.

[2019-02-21 08:41] frjo commented on #972
I suggest reusing the way staff today set lead and reviewers etc on submissions.

[2019-02-21 08:53] frjo commented on #971
Place it next to the "Screening Status" category in the Wagtail admin. The "Screening Status" will also later on be converted in to a hierarchal category in the same way as "Meta".

Staff will apply these meta terms to applications and on the other end api requests should be able to select submissions based on the meta tags.

If one pick a meta term that is a parent to other terms all submission b

[2019-02-21 08:55] frjo commented on #970
Closing this since it overlaps with #971

[2019-02-21 08:55] #970 closed

[2019-02-21 08:58] todd-dembrey commented on #991
@gibbsmaya This is now on Dev.

- [ ] When I am on a submission i have a URL `?sumission=<id>`
- [ ] When i change submissions the URL changes.
- [ ] If i paste a link to a submission the detail view opens on the selected submission
- [ ] If i have an invalid link (submission id not in round/status) I see a message telling me this and I default to the first submission.

[2019-02-21 09:02] chris-lawton commented on #990
Now fixed on dev

[2019-02-21 09:05] gibbsmaya commented on #991
@todd-dembrey this looks good and works as you specify. Only thing that I have noticed is that if you then use the switcher to go back to the list view, the url remaining with the `* ?submission=<id>` appended, meaning you then can't link to the list view page.

[2019-02-21 09:08] gibbsmaya commented on #990
Looks good to me. Over to @todd-dembrey for deployment to test.

[2019-02-21 09:10] gibbsmaya commented on #982
This is now working well. Over to @todd-dembrey for deployment to test.

[2019-02-21 10:24] chris-lawton commented on #978
@gibbsmaya  - Looks like a class got lost somewhere but reviewers action modal now has the updated styling on dev.

[2019-02-21 11:08] gibbsmaya commented on #978
Great, can confirm that is now as expected.

@todd-dembrey re Q above re help text, should we just go with "Status changes can't be applied to submissions with this combination of statuses"?

[2019-02-21 11:31] todd-dembrey commented on #991
@gibbsmaya updated to handle back/forward

[2019-02-21 11:38] fourthletter commented on #937
Acceptance criteria are visible. Thanks! 💥

[2019-02-21 11:46] todd-dembrey commented on #962
@gibbsmaya We have varied the acceptance criteria here. Your opinion will remain visible regardless of having submitting a review.

This simplifies the logic and is a less surprising behaviour.

[2019-02-21 11:48] gibbsmaya commented on #978
@chris-lawton confirmed with Todd re the above help text. Please can you update?

[2019-02-21 11:54] gibbsmaya commented on #991
LGTM

[2019-02-21 11:57] gibbsmaya commented on #937
Thanks @fourthletter will assign to @todd-dembrey ready for deployment to live.

[2019-02-21 11:59] gibbsmaya commented on #962
AC updated. Thanks.

[2019-02-21 12:01] todd-dembrey commented on #858
@gibbsmaya This is now deployed to dev. Too many messages to notice i missed the main one!

If you want to test the error. do a batch actions on a submission after changing its status on a detail page without having refreshed the listing view.

[2019-02-21 12:13] chris-lawton commented on #978
now updated on dev

[2019-02-21 13:32] frjo commented on #1040
Buttons should not move around. I will move it permanently to the "Screening status" box. Can change the label on the button depending on if it have been screened or not.

[2019-02-21 13:36] frjo commented on #1039
This is already working so closing.

[2019-02-21 13:36] #1039 closed

[2019-02-21 14:12] gibbsmaya commented on #858
Confirmation message now working.

I did try to test the error in that way - but got a 500 error when doing the batch submission - assuming that is not the error we are looking for ;) It was doing a batch update on submissions 20, 19 and 1. Submission 1 is the problem submission that should have caused the error.

[2019-02-21 14:13] gibbsmaya commented on #978
LGTM. Assigning back to you for final two AC.

[2019-02-21 14:41] emullaney commented on #961
@todd-dembrey, this is ready for review https://github.com/OpenTechFund/opentech.fund/pull/1045

[2019-02-21 16:56] todd-dembrey commented on #858
It was an issue with how i was getting data about the submissions that should have worked. I've made that more robust and it is deploying to dev.

[2019-02-21 17:54] danblah commented on #957
Looks good, confirming that I can see them, they are set, and that I can set a primary/secondary for a submission, and that those submissions show up in my dashboard, regardless of primary/secondary setting.

[2019-02-21 17:56] danblah opened #1047 "On a submission page, have the round name link to the round's overview page."

[2019-02-21 17:59] danblah opened #1048 "On a submission page, where it shows the lead at the top, have that link to a listing that shows all submissions led by that user."
ie /apply/submissions/all/?lead=21&query=, is the link.

[2019-02-21 18:08] gibbsmaya commented on #957
Thanks @danblah . Assigning to @todd-dembrey to prepare for live.

[2019-02-21 18:13] gibbsmaya commented on #858
LGTM. Thanks.

[2019-02-21 18:23] emullaney commented on #962
I've made changes per Todd's review and merged this into develop. It is ready for testing, @gibbsmaya .

[2019-02-21 18:35] gibbsmaya commented on #962
This looks good to me. @todd-dembrey does this need a final review or can we mark this as ready for staging?

[2019-02-21 20:45] danblah commented on #1040
Glad to start here.

[2019-02-21 20:54] danblah opened #1049 "There is no way to link directly to the discussion view of a round (the one with the three vertical columns... what are we calling that view?)."
Is there a way we can link directly to that view? Right now, the url defaults to the list view only.

[2019-02-21 21:07] danblah opened #1050 "When I add a file to be uploaded, nothing visible happens or confirms that files will be uploaded when I hit submit"
I can confirm that file uploads are working, but there's nothing that indicates to the applicant that they've added a file to be uploaded or even a number that says they've added files. It also seems like when if you hit the button, it resets the file settings, requiring one to re-add any previous files.

- [x] Show the number of files that will be submitted
- [x] Show the filenames of the files t

[2019-02-21 21:09] danblah opened #1051 "We need a way to delete submissions"
- [ ] Give members of a specified role the ability to delete submissions
- [ ] Create a notification into the global notify channel when an application is deleted and by whom

[2019-02-21 21:40] danblah opened #1052 "Add the ability to more safely accept unsafe file attachments in submissions"
Possible enhancements
- Create/get/save an md5 hash of any file attachments within submissions
- Make an call with the file hash to VirusTotal's api (or something similar/better that doesnt have the permissive sample license)
- If no existing report, upload file to receive report
- Until report, do not let anyone download the file (grey it out or something)
- If report comes back clean, allow down

[2019-02-22 09:14] #727 closed

[2019-02-22 10:09] todd-dembrey commented on #960
@gibbsmaya that is an existing issue.

e75ba4a fixes it.

[2019-02-22 10:12] todd-dembrey commented on #960
@gibbsmaya Correction. There are two issues there.

f23777d fixes the issue with drafts appearing in the list.

[2019-02-22 11:17] gibbsmaya commented on #961
Something in the latest deployment has removed the functionality of the opposite opinion button being disabled once an opinion has been made. E.g. if you agree with a review then the agree button is then disabled and you can only disagree with that review.

I am also getting a 500 error when disagreeing with a review. Using https://dev-apply.opentech.fund/apply/submissions/5/reviews/10/.

[2019-02-22 11:37] gibbsmaya commented on #989
Hi @emullaney

This seems to have knocked something out with the display on the 'waiting for your review' block on the dashboard. User no longer seems to see reviews here. Example: https://dev-apply.opentech.fund/apply/submissions/10/ should be showing in Lindsay Beck's dashboard. She is assigned as primary reviewer and the submission is in internal review.

Can you please take a look at this befo

[2019-02-22 11:39] todd-dembrey commented on #961
Fixed the issue with the 500 - back to you

[2019-02-22 11:41] gibbsmaya commented on #961
LGTM. @todd-dembrey leaving with you for failing test. Happy fr this to be deployed to staging after that.

[2019-02-22 11:44] gibbsmaya commented on #979
Hi @chris-lawton,

As I have been tested review stuff, I have noticed a small styling tweak required. On review pages, e.g. https://dev-apply.opentech.fund/apply/submissions/5/reviews/10/, when you use the agree button, the agree button should then be disabled when you return to it. And vice versa. This was in place, however something recently seems to have knocked this out. Can you please take a

[2019-02-22 11:45] gibbsmaya commented on #961
Test fixed

[2019-02-22 14:11] todd-dembrey commented on #989
@gibbsmaya This was caused by the issue @emullaney raised about image rendering errors. the PR #1054 fixes this.

This is now ready to test.

[2019-02-22 14:15] emullaney commented on #989
One reminder, that I just noticed in the code. The review will have to be in the current status of 'review' and not in 'discussion' in order to show up in that block.

I noticed a review not showing in the list when I assigned it to Lindsay just now on dev, but it was in the 'Ready for Discussion' status, so that's why it was now showing up in the ***Waiting for your review*** list.

[2019-02-22 14:30] chris-lawton commented on #979
Hi @gibbsmaya,
This and the disabled button styles are now on dev.
Thanks,
Chris

[2019-02-22 14:50] gibbsmaya commented on #989
Thanks both. This now works as expected.

[2019-02-22 14:54] gibbsmaya commented on #979
Hi @chris-lawton

All looks good - just one tweak: need some further styling on the expanded view of a submission in the submissions list - should be based on styles from review block on submission page so we can show relationship between reviews and agree/disagree.

Thanks.

[2019-02-22 15:14] Parbhat commented on #971
PR #1057

[2019-02-22 16:55] gibbsmaya commented on #959
Hi @fourthletter, @danblah, @arduina,

This work is now ready for testing. This work follows on from #957, displaying assigned reviewer roles. The best way to test this will be to assign some reviewer roles to some submissions, including yourself, and then check this is displaying as expected on the submission page itself as well as the waiting for my review block on your dashboard, as per accepta

[2019-02-22 16:56] gibbsmaya commented on #960
Hi @fourthletter, @danblah, @arduina,

This work is now ready for testing. This work is the new ability to agree or disagree with an existing review (which we have named reviewer consensus). This functionality is intended for secondary reviews, however it is not restricted only to users of this role. The best way to test this is to add some agreements/disagreements to reviews and ensure this I wor

[2019-02-22 16:57] gibbsmaya commented on #962
Hi @fourthletter, @danblah, @arduina,

This work is now ready for testing. This work follows on from #960, displaying the agreement/disagreement on reviews. The acceptance criteria describes each of the places this is displayed. This can be tested alongside #960, ensuring that every time you make an agreement/disagreement, it is displayed as expected. Please note that the front end display for thi

[2019-02-22 16:58] gibbsmaya commented on #961
Hi @fourthletter, @danblah, @arduina,

This work is now ready for testing. This work follows on from #960, with some additional behaviour when you disagree with a review.

Please test this against the acceptance criteria noted in the initial issue description.

Please let us know if anything is unclear or if you have any questions. Otherwise please provide feedback of any issues you find or if eve

[2019-02-22 17:00] gibbsmaya commented on #989
Hi @fourthletter, @danblah, @arduina,

This work is now ready for testing. This work follows on from #960, applying some additional logic to a user’s dashboard block of reviews awaiting review.

Please test this against the acceptance criteria noted in the initial issue description. Note that the application you use for testing will need to be in 'internal review' in order to show in the dashboard

[2019-02-22 17:22] chris-lawton commented on #979
Hi @gibbsmaya ,

The following are now on dev:
- dropdown agree/disagree styles (https://dev-apply.opentech.fund/apply/submissions/)
- reviewer icon if they've agreed (https://dev-apply.opentech.fund/apply/submissions/5/)
- disabled batch action tooltips (https://dev-apply.opentech.fund/apply/submissions/all/)
- blue bar on active submission listing should now be visible

Thanks,
Chris

[2019-02-22 17:31] gibbsmaya commented on #979
All LGTM.

[2019-02-22 17:32] gibbsmaya commented on #979
Hi @fourthletter, @danblah, @arduina,

This work is now ready for testing. This work is the styling work for the new review consensus workflow, covering styling tweaks for functionality built in #962.

Please test this against the acceptance criteria noted in the initial issue description.

Please let us know if anything is unclear or if you have any questions. Otherwise please provide feedback of

[2019-02-22 17:38] gibbsmaya commented on #980
Hi @fourthletter, @danblah, @arduina,

This work is now ready for testing. This work is adding a content into the Status tab of the Submission by Round/Status views e.g. https://test-apply.opentech.fund/apply/rounds/732/?submission=3 to allow status updates to be made to submissions from this screen.

Please test this against the acceptance criteria noted in the initial issue description.

Please

[2019-02-22 17:43] gibbsmaya commented on #981
Hi @fourthletter, @danblah, @arduina,

This work is now ready for testing. This work is adding review information into the Status tab of the Submission by Round/Status views e.g. https://test-apply.opentech.fund/apply/rounds/732/?submission=3. Note this issue only covers pulling in and display of completed reviews. Review assignments are part of issue #1016.

Please test this against the acceptanc

[2019-02-22 17:44] gibbsmaya commented on #991
Hi @fourthletter, @danblah, @arduina,

This work is now ready for testing. This work is adding a unique URL to submission by status/round detail views so you can link to these pages directly. Example page is https://test-apply.opentech.fund/apply/rounds/732/?submission=3.

Please test this against the acceptance criteria noted in the initial issue description.

Please let us know if anything is un

[2019-02-22 17:47] gibbsmaya commented on #858
Hi @fourthletter, @danblah, @arduina,

This work is now ready for testing. This work is adding a batch action for updating the status of submissions. You can access this on the all submissions page at https://test-apply.opentech.fund/apply/submissions/all/. Note that batch determine actions (accept/dismiss/invite to proposal will be added in #859 and deployed next week)

Please test this against t

[2019-02-22 18:03] todd-dembrey commented on #980
To note: the styling is missing on the button in the status bar. We'll fix this in #1016

![image](https://user-images.githubusercontent.com/6338661/53261464-05337f00-36cc-11e9-9115-88460c7eaac2.png)

[2019-02-25 08:29] frjo commented on #1041
@danblah I suggest we add a "Approved - more info required" status and let applicants edit in that status. Then when submissions are moved to the current "Approved" only staff can edit them.

You would be able to move to "Approved - more info required" and "Approved" under the same circumstances. From "Approved - more info required" you could then only move to "Approved".

[2019-02-25 15:08] newbie15423 commented on #1041
@frjo That approach makes sense to me

[2019-02-25 15:25] danblah commented on #1051
Duplicate of #728

[2019-02-25 15:26] danblah commented on #706
Closing this, doesn't seem to be an issue any longer.

[2019-02-25 15:27] danblah commented on #694
Closing, as covered other Winter Sprint tickets..

[2019-02-25 15:27] #694 closed

[2019-02-25 15:28] danblah commented on #715
Closing, covered in Winter Sprint.

[2019-02-25 15:28] #715 closed

[2019-02-26 05:48] fourthletter commented on #961
Acceptance criteria was functional during test. Thanks!

[2019-02-26 05:50] fourthletter commented on #960
All acceptance criteria were visible and functional during test. Thanks! 💥

[2019-02-26 06:23] fourthletter opened #1061 "Add reviewer in webapp is getting an error message"
Add reviewer in webapp is getting an error message. Fig 1 is the add reviewer button and Fig 2 is the error message:

Fig 1
![image](https://user-images.githubusercontent.com/20019656/53391560-03511080-3997-11e9-8d54-5697e4516fad.png)

Fig 2
![image](https://user-images.githubusercontent.com/20019656/53391507-d6046280-3996-11e9-9864-ac8e19e422d5.png)

[2019-02-26 06:30] fourthletter commented on #962
All acceptance criteria are visible and functional. Thanks! 💥

[2019-02-26 06:31] fourthletter commented on #989
All acceptance criteria are visible and functional. Thanks! 💥

[2019-02-26 07:14] fourthletter commented on #980
All acceptance criteria were visible and functional during test. Thanks! 💥

I do NOT want to hold up this issue, but I do not see the 'Actions to take' label
![image](https://user-images.githubusercontent.com/20019656/53394013-334fe200-399e-11e9-8eed-9fdc2f51d0cf.png)

[2019-02-26 07:25] fourthletter commented on #991
All acceptance criteria were visible and functional during test. Thanks! 💥

[2019-02-26 07:41] fourthletter commented on #981
All acceptance criteria were visible and functional during test. Thanks! 💥

I do NOT want to hold up deployment of this issue, but the primary and secondary number does not appear next to reviewer's name:
![image](https://user-images.githubusercontent.com/20019656/53395455-2fbe5a00-39a2-11e9-9088-c8bb178f2ea7.png)

[2019-02-26 09:08] todd-dembrey commented on #1061
@fourthletter Is this within the test app? Because this is a known to be an issue until we finish some work towards the end of this week.

https://sentry.io/organizations/otf/issues/908172517/?project=1275696&query=is%3Aunresolved&statsPeriod=14d&utc=false

[2019-02-27 10:31] fourthletter commented on #858
All acceptance criteria are visible and functional. Thank you! 500 TARDIS miles!

[2019-02-27 14:58] gibbsmaya commented on #960
Great, thanks @fourthletter. Moving to @todd-dembrey ready for deployment to live.

[2019-02-27 14:59] gibbsmaya commented on #962
Great, thanks @fourthletter. Moving to @todd-dembrey ready for deployment to live.

[2019-02-27 14:59] gibbsmaya commented on #961
Great, thanks @fourthletter. Moving to @todd-dembrey ready for deployment to live.

[2019-02-27 14:59] gibbsmaya commented on #989
Great, thanks @fourthletter. Moving to @todd-dembrey ready for deployment to live.

[2019-02-27 15:01] gibbsmaya commented on #980
Thanks @fourthletter. Assigning to @todd-dembrey ready for deployment to live.

[2019-02-27 15:05] gibbsmaya commented on #981
Hi @fourthletter. Thanks for this. Can you confirm which submission you were looking at in this example? Are Tom and Di set as the primary and secondary reviewers? Only if they are assigned the role will the numbers appear.

[2019-02-27 15:06] gibbsmaya commented on #991
Thanks @fourthletter. Assigning to @todd-dembrey ready for deployment to live.

[2019-02-27 15:07] gibbsmaya commented on #858
Thanks @fourthletter. Assigning to @todd-dembrey ready for deployment to live.

[2019-02-27 22:11] fourthletter commented on #979
All acceptance criteria visible and functional. Thanks!

[2019-02-27 22:26] fourthletter commented on #959
The last criterion doesn't reflect reviewer assignments. Example: I've assigned Di as the second reviewer, but this assignment was not reflected my waiting for review block.

![image](https://user-images.githubusercontent.com/20019656/53527352-bb281000-3ab4-11e9-92e8-ff3b72b1e89e.png)

[2019-02-28 09:00] frjo opened #1062 "CFP: Create a new role "Community reviewer""

[2019-02-28 09:01] frjo opened #1063 "CFP: New workflow – Request with community review"
States:

* Screening
* More information required
* Open Call (public) (New: will make the submission display on a public page with a "Build it" button)
* Community review (New: Will allow users with the role "Community reviewer" to review submissions.)
* Internal Review
* Ready For Discussion
* More information required
* Advisory Council Review
* Ready For Discussion
* More information required
*

[2019-02-28 09:03] frjo opened #1064 "CFP: Make it possible to group forms"
Make it possible to group forms and set them as collapsed by default. A trigger field can make them uncollapsed.

This could be done by adding a feature to group fields in application forms or by having multiple application forms for a fund with the new "Request with community review" workflow being stitched together.

[2019-02-28 09:04] frjo opened #1065 "CFP: Add a "Build it" button to Submissions with new workflow and the "Open call" state."
Clicking the button will create an duplicate of the submission but with current author and date. All form groups will be uncollapsed.

[2019-02-28 09:06] frjo opened #1066 "CFP: Add a public view to display submission in "Open call" state"
Related:
https://github.com/OpenTechFund/opentech.fund/issues/1065

[2019-02-28 09:21] gibbsmaya commented on #979
Thanks @fourthletter. Handing over to @todd-dembrey ready for deployment to live.

[2019-02-28 09:27] gibbsmaya commented on #959
Hi @fourthletter

Do you mean that the actual submission does not show in your 'waiting for your review' block? I have just looked at this on the test site and can see that 'Maya Tom Test' is not displaying (which I think is the submission you are referring to above). This is because it is not in status 'internal review' as explained in #937. You can see the role displaying correctly however for t

[2019-02-28 16:55] todd-dembrey commented on #859
@gibbsmaya I have deployed this to develop. This includes all @chris-lawton changes from #1023

[2019-02-28 21:23] danblah opened #1068 "Creating a copy of a round results in 500 error"
Expected behavior, hit copy of a round, input all the needed details to make a copy

Instead, get 500 [error](https://sentry.io/organizations/otf/issues/887293023/?project=1268368&query=is%3Aunresolved&statsPeriod=14d&utc=false).

The reason is the copy function doesn't give the user the option to change the dates, thus error for overlapping round dates.

[2019-02-28 21:25] danblah opened #1069 "Adding new round for IFF shows the wrong workflow, request rather than Concept & Proposal"
Add round
Choose [Fund] Internet Freedom Fund
See Workflow, says request rather than Concept & Proposal

[2019-02-28 22:08] fourthletter commented on #959
The only submission I am able to view in my dashboard is (image below): https://test-apply.opentech.fund/apply/submissions/11/

Di is a primary or secondary reviewer for submissions below:
https://test-apply.opentech.fund/apply/submissions/15/
https://test-apply.opentech.fund/apply/submissions/16/
https://test-apply.opentech.fund/apply/submissions/17/
https://test-apply.opentech.fund/apply/submiss

[2019-02-28 22:22] becklm opened #1070 "Extend Wagtail embed field to support Google Doc"
See: https://apply.opentech.fund/admin/pages/822/

The Google Sheet referenced should display, but nothing appears when published (only other text).

[2019-03-01 01:00] fourthletter commented on #959
I accept all the above acceptance criteria. I no longer want to delay the deployment of this feature. Thank you.

[2019-03-01 06:37] frjo commented on #1070
@becklm @danblah  Wagtails embeds field does not support Google Doc out of the box. A lot of other providers are supported, mainly for video. See https://github.com/wagtail/wagtail/blob/master/wagtail/embeds/oembed_providers.py

A custom solution must be built I believe, could not find one on a quick search at least.

[2019-03-01 09:12] todd-dembrey commented on #1068
This is the same as #1018

[2019-03-01 09:39] todd-dembrey commented on #978
This is included in #1067 as part of the work on #859

[2019-03-01 09:40] frjo commented on #1068
Closing as duplicate.

[2019-03-01 09:40] #1068 closed

[2019-03-01 09:44] frjo commented on #1069
After saving the round the workflow is correct from what I can see. So the problem is that while creating a round the wrong workflow is displayed witch is confusing even if it gets correct in the end.

[2019-03-01 09:50] gibbsmaya commented on #859
Testing on https://dev-apply.opentech.fund/apply/submissions/all/

 - selecting 'Demo project' and 'Testing a project as AC member' that are both in internal review state - only determination option I get is 'invite for proposal'. Should I not also have the Dismiss option available?

- tried testing batch dismissing another two submissions and got a 500 error (https://dev-apply.opentech.fund/apply

[2019-03-01 09:51] gibbsmaya commented on #978
Happy with this work. Ready for deployment to test.

[2019-03-01 09:55] gibbsmaya commented on #959
Hi @fourthletter I will push this through. Just as a quick note (not blocking this) - the reason those submissions are not displaying in that table is because the table is currently only displaying submissions in status 'internal review'. All of those submissions are in a different state at the moment. This is the issue we covered in our call last week and is being resolved (the logic is being upd

[2019-03-01 11:18] todd-dembrey commented on #1061
#1072 Should fix the issues on the live site.

[2019-03-01 16:49] chris-lawton commented on #1016
Branch - https://github.com/OpenTechFund/opentech.fund/tree/feature/1016-detail-view-review-information

Just requires the api to grab the icon and replace the placeholder that is currently being used.

[2019-03-01 17:01] todd-dembrey commented on #1009
@gibbsmaya this is now on dev.

* The dashboard "to review" list is now populated from all statuses in which you can give a review.
* If you have more than 5 submissions in this list then the there is a link to the table pre-filtered with the same statuses as the dashboard.

[2019-03-01 17:54] fourthletter commented on #981
@gibbsmaya I made an error, the primary and secondary numbers are visible. It's because "Di" and "Tom" were assigned as reviewers multiple times: https://test-apply.opentech.fund/apply/submissions/6/

[2019-03-01 20:54] arduina commented on #1069
Thanks, it worked for the May round.

[2019-03-04 09:12] todd-dembrey commented on #859
@gibbsmaya I'm pushing a fix for the 500 error now. You were both a staff member and a super user which was confusing the query.

No, the current workflow does not allow you to dismiss while a internal review is open, only `close review` and `invite to proposal`

[2019-03-04 10:23] gibbsmaya commented on #859
Hi @todd-dembrey

I'm afraid I am still getting a 500 error on https://dev-apply.opentech.fund/apply/submissions/batch-determine/?action=rejected&submissions=10,21.

Thanks,
Maya

[2019-03-04 10:24] gibbsmaya commented on #981
Thanks @fourthletter. Will pass this to @todd-dembrey ready for live deployment.

[2019-03-04 10:29] gibbsmaya commented on #1009
Hi @todd-dembrey

There are a few submissions that are not appearing in this block when I would expect them to. Acting as Lindsay, I should see the  following submissions in my 'waiting for review' block
https://dev-apply.opentech.fund/apply/submissions/21/
https://dev-apply.opentech.fund/apply/submissions/10/
https://dev-apply.opentech.fund/apply/submissions/9/

Please can you take a look?

Thank

[2019-03-04 11:25] todd-dembrey commented on #1009
Hi Maya, this is now correct on staging.

21 - should not appear - she has submitted a review
9 - correctly appears
10 - Now appears

[2019-03-04 11:26] todd-dembrey commented on #859
Sorry maya,  as per #1009 the code did update on dev. sorry about that.

This is now live.

[2019-03-04 11:44] gibbsmaya commented on #1009
Thanks @todd-dembrey.

Waiting for your review block now working as expected but there is an issue with the 'all submissions' page that this links too. Again, see Lindsay's dashboard and go through to https://dev-apply.opentech.fund/apply/submissions/all/?reviewers=9screening&status=more-information-required&status=internal-review&status=ready-for-discussion&status=ready-for-determination&status=a

[2019-03-04 12:05] todd-dembrey commented on #1009
I have fixed this issue, the link is now correct of dev.

[2019-03-04 12:27] todd-dembrey commented on #983
@gibbsmaya I've deployed this to dev.

It might be worth going through this together as we've subtly changed some of the requirements.

[2019-03-04 12:56] gibbsmaya commented on #1009
Done. Note that the show all page also includes submissions where the review has already been undertaken because we currently don't have a filter to differentiate between 'already reviewed' or 'yet to review'. This is a little confusing, but as things get determined they will disappear from this list. A filter could be added in future to deal with this.

[2019-03-04 16:15] gibbsmaya commented on #859
LGTM. Please deploy to test.

[2019-03-04 16:35] gibbsmaya commented on #983
Hi @todd-dembrey

All acceptance criteria are met for this one but noticed a few odd things while testing that need to be resolved before this can be deemed complete.

 - [ ] There are 2 dismissed states on https://dev-apply.opentech.fund/apply/rounds/732/?submission=11. Why is this?
 - [ ] Notification is acting strangely if you navigate to another submission without updating: the content gets up

[2019-03-04 17:35] gibbsmaya commented on #859
Hi @fourthletter, @danblah, @arduina,

This work is now ready for testing. This work is adding a batch action for determining submissions. You can access this on the all submissions page at https://test-apply.opentech.fund/apply/submissions/all/. Note the determinations do not have a separate button but are accessed as options in the update status batch action.

Please test this against the accept

[2019-03-04 17:36] gibbsmaya commented on #1009
Hi @fourthletter, @danblah, @arduina,

This is now ready for testing. This work is updating the logic of the submissions that appear in the 'Waiting for your review' block on dashboard. @fourthletter probably easiest for you to test this since there were submissions missing from your dashboard.

Please test this against the initial issue description and check this matches. Please also see my comme

[2019-03-04 18:23] fourthletter commented on #1009
I completed this test and all features are functional and visible. Thanks! 💥

[2019-03-04 22:06] fourthletter commented on #859
All acceptance criteria are functional and visible. Thanks! 💥

[2019-03-05 08:54] gibbsmaya commented on #859
Thanks @fourthletter. Assigning to @todd-dembrey ready for live deployment.

[2019-03-05 08:54] gibbsmaya commented on #1009
Thanks @fourthletter. Assigning to @todd-dembrey ready for live deployment.

[2019-03-05 09:52] todd-dembrey commented on #1016
@gibbsmaya this is now on dev for testing.

[2019-03-05 10:39] gibbsmaya commented on #1016
Issue when moving between submissions - page is blank and not loading anything.

[2019-03-05 12:05] todd-dembrey commented on #1016
@gibbsmaya It looked like if the data was a little slow to load then it errors. I have added in the loading panel for the reviews while they are being fetched

[2019-03-05 14:26] todd-dembrey commented on #983
@gibbsmaya I have just deployed changes that should address the above points

- Duplicate dismissed status was due to not keying on the display value and instead using the underlying database value - fixed
- Resetting the selected submission was a bit flaky. I have simplified the code and this is now fixed.
- Ordering was non determinate, I have updated the ordering to be consistent between re-ren

[2019-03-05 14:27] gibbsmaya commented on #1016
@todd-dembrey this looks much better thanks. A couple of small points below:

Example: https://dev-apply.opentech.fund/apply/rounds/732/?submission=5

- [ ] Role icon missing
- [ ] Score needs to be cut off to a more sensible number of decimal points

[2019-03-05 14:31] gibbsmaya commented on #983
This all looks good except Dismissed should be at the bottom of the grouped status list - these statuses are ordered by the workflow, so all determined states should be at the bottom.

[2019-03-05 15:19] todd-dembrey commented on #983
As discussed we do not have a simple way of identifying this within the listing. This will have to be a future piece of work.

[2019-03-05 15:20] todd-dembrey commented on #1016
@gibbsmaya as discussed I have added a hide show for the external reviewers who have not submitted reviews. I have also fixed the above two comments w.r.t score and icon.

[2019-03-05 15:40] gibbsmaya commented on #983
OK thanks @todd-dembrey. Please deploy to test.

[2019-03-05 15:42] gibbsmaya commented on #1016
Thanks @todd-dembrey . I can't test the hide/show due to the data on dev but we can test this once it is deployed. Please deploy to test.

[2019-03-05 16:46] todd-dembrey commented on #983
This is now on test.

[2019-03-05 16:47] todd-dembrey commented on #1016
This is now on test.

[2019-03-05 17:25] todd-dembrey commented on #958
This is now deploying to dev

[2019-03-05 17:33] gibbsmaya commented on #958
Happy for this to be deployed to test.

[2019-03-05 17:37] gibbsmaya commented on #958
Hi @fourthletter, @danblah, @arduina,

I am adding in the testing notes here. @todd-dembrey is yet to deploy this to live, but as soon as he does (very soon!) he will update this to confirm. For when he does - here are the testing notes:

This work is now ready for testing. This work is amending the batch review functionality for you to be able to batch add reviewers of specific roles.

Please tes

[2019-03-05 17:38] gibbsmaya commented on #1016
Hi @fourthletter, @danblah, @arduina,

I am adding in the testing notes here. @todd-dembrey is yet to deploy this to live, but as soon as he does (very soon!) he will update this to confirm. For when he does - here are the testing notes:

This work is now ready for testing. This work is adding in the reviewer roles and review assignees to the status tab on the detail view pages. It refers to both

[2019-03-05 17:38] gibbsmaya commented on #983
Hi @fourthletter, @danblah, @arduina,

I am adding in the testing notes here. @todd-dembrey is yet to deploy this to live, but as soon as he does (very soon!) he will update this to confirm. For when he does - here are the testing notes:

This work is now ready for testing. This work is adding notifications to the detail view pages to update the user if a submission is updated while they are viewi

[2019-03-05 18:49] todd-dembrey commented on #983
This is now on test.

[2019-03-05 18:50] todd-dembrey commented on #958
This is now on test

[2019-03-05 18:51] todd-dembrey commented on #1016
This is now on test

[2019-03-05 19:03] arduina opened #1077 "Screening Status doesn't show up in detailed view"
For screening a bigger amount of submissions or revisiting the screening status of submissions, it would be helpful to have them as sections in the detailed view too. That would make it way easier for others to run through them and confirm the Out of Remit status.

[2019-03-05 19:53] todd-dembrey commented on #1077
@arduina I've added the screening status to the status bar as part of #1079

[2019-03-06 07:09] fourthletter commented on #1016
All acceptance criteria visible and functional. Thanks!

[2019-03-06 07:15] fourthletter commented on #958
@todd-dembrey I'm getting an internal server error when I attempt to add reviewers as a batch action. I am getting the same error message when I attempt to add a reviewer to a single submission.

[2019-03-06 07:24] fourthletter commented on #983
All acceptance criteria are visible and functional. Thanks!

[2019-03-06 07:51] todd-dembrey commented on #958
I'm really sorry. I thought this was deployed but it wasn't. Deploying it now.!

[2019-03-06 08:01] todd-dembrey commented on #958
@fourthletter This has now deployed and i have tested it on the site! Sorry about that.

[2019-03-06 09:19] gibbsmaya commented on #1016
Ready for live deployment.

[2019-03-06 09:19] gibbsmaya commented on #983
Ready for live deployment

[2019-03-06 10:03] #608 closed

[2019-03-06 10:03] #771 closed

[2019-03-06 10:04] #971 closed

[2019-03-06 10:16] frjo opened #1081 "Investigate memory usage, often close to the max 512 MB"
Can we get Django to use less or do we need to upgrade to 2x dynos that has 1 GB memory.

[2019-03-06 10:24] todd-dembrey commented on #1081
You can use the scout reporting to help identify some areas for improvements.

https://scoutapp.com/apps/28725?section=memory&p=memory&s=response_time&insights=more

[2019-03-06 13:50] fourthletter commented on #958
All acceptance criteria are visible and functional. Thanks! 🎅

[2019-03-06 13:53] danblah opened #1082 "Add a generate random password option when creating a new user, as a replacement to putting a password in"
When creating a new user,  add a "send password over email"  option

[2019-03-06 14:06] danblah opened #1083 "Add a "Require MFA" option to the groups setting page"
Add additional sub-setting for "Allowed MFA methods" where options are: Any, Email, App, Security Key

An additional setting "How long do new members have to enable MFA?" where the values are Immediately, 2 days, 7 days, or 14 days.

If a new member is added to the group and doesn't have MFA enabled, they get an email letting them know how to set it up and that they won't be able to log in if they

[2019-03-06 14:41] gibbsmaya commented on #958
Ready for deployment to live

[2019-03-06 14:43] frjo commented on #1082
Better to send them a password reset link. that will force them to set there own password before they can use the account. And it avoid having passwords send in plain text.

[2019-03-06 15:06] danblah opened #1084 "Add a Partners section to funds/labs that allows a manager to select users in the group Partner to associate with that fund/lab"
Should work just like the Reviewers section
On a submission from that lab/fund, when adding partners, only show the selected partners.
If there are no selected partners, hide the partner button on the submission page.

[2019-03-06 15:16] danblah opened #1085 "Notify the Partner and Applicant when a new Partner has been added to an application"
For applicants, send the name of added partners to the applicant
For partners, say they've been added a partner for an application with the name of the submission with and link

[2019-03-06 15:22] danblah opened #1086 "Show partners applications they have access to in their dashboard"
Right now, they don't see anything there.

[2019-03-06 15:25] danblah opened #1087 "Create a new comment visibility called Partner, available only to users in the group Partner or Staff, for comments only visible to users in those groups."

[2019-03-06 15:34] fourthletter opened #1089 "Round or Lab Lead could delete a submission or application within webapp"
Round or Lab Lead could delete a submission or application within webapp. Team members are concerned with duplicate submissions that have repeatedly appeared. Thank you.

[2019-03-06 15:45] fourthletter opened #1090 "Mobile function adding reviews to submissions"
Team members could submit a review for a submission on their mobile.

[2019-03-06 15:55] fourthletter opened #1091 "Delete applicant notification for Screening to Internal Review status change"
Applicants receive a new notification email when a review status is changed from Screening to Internal Review. Pleases delete this notification so applicants no longer receive these emails or are notified of this status change. Thank you.

[2019-03-06 18:23] dmcdev1 commented on #519
requesting this be re-opened as the issue is persisting for me. I tried again in Chrome and Brave, same result as before. trying to change the date on https://www.opentech.fund/news/otf-monthly-report-for-june-2015/ to 07/01/2015 without success thus far.

[2019-03-07 08:41] Parbhat commented on #1081
@todd-dembrey @frjo Can I get access to scout app OTF project to review possible performance issues?

[2019-03-07 13:30] frjo commented on #1081
@Parbhat Invite sent.

I have upgraded to 2x dynos on Heroku for the moment to avoid problems. Would be nice if we could revert back to 1x.

[2019-03-07 14:38] #614 closed

[2019-03-07 14:39] danblah commented on #1061
@fourthletter, is this issue resolved? If so, go ahead and close it.

[2019-03-07 14:47] #522 closed

[2019-03-07 14:49] #658 closed

[2019-03-07 14:54] #584 closed

[2019-03-07 14:54] #496 closed

[2019-03-07 15:00] #236 closed

[2019-03-07 15:00] #274 closed

[2019-03-07 15:00] #313 closed

[2019-03-07 15:00] #357 closed

[2019-03-07 17:25] Parbhat commented on #1081
@frjo Thanks, got access.

[2019-03-07 18:25] #344 closed

[2019-03-07 18:25] #320 closed

[2019-03-07 18:36] #755 closed

[2019-03-07 18:37] #776 closed

[2019-03-07 18:39] #746 closed

[2019-03-07 18:39] #747 closed

[2019-03-07 18:41] #750 closed

[2019-03-07 18:57] #762 closed

[2019-03-07 19:11] #576 closed

[2019-03-07 19:15] #328 closed

[2019-03-07 19:15] #299 closed

[2019-03-07 19:17] #172 closed

[2019-03-07 19:28] #290 closed

[2019-03-07 19:35] danblah opened #1095 "Automatically move an Proposal from "Proposal received" to "Internal review" when either a reviewer is assigned or a review is submitted."

[2019-03-07 19:37] #159 closed

[2019-03-07 19:40] danblah opened #1096 "Automatically change a proposal's status from "Advisory Council Review" to "Ready for discussion" after it's received 2 reviews"

[2019-03-07 19:43] #672 closed

[2019-03-07 19:44] #367 closed

[2019-03-07 19:47] #581 closed

[2019-03-07 19:54] fourthletter commented on #571
Currently, team members **manually** change the status from "screening" to "internal review" to indicate a concept note that is within remit, ready for reviews, and could be discussed during a review call. The "internal review" distinction is important for note-taking in the detailed view as well. Automating this would expedite the process, but loses the PM ability to filter submissions that are r

[2019-03-07 20:01] fourthletter commented on #588
I think automating this status after two reviews would be helpful. However, doesn't the Red Team Lab move forward to AC with only one review?

[2019-03-07 20:03] fourthletter commented on #1096
This automation makes sense and would be helpful.

[2019-03-07 20:05] fourthletter commented on #1095
This automation makes sense.

[2019-03-07 20:14] danblah commented on #613
Not all users in the role staff are assigned reviews. This would require a "Is reviewer?" option that is available for users in the role staff. Only users with that option enabled would be considered for assigning of reviews with this feature.

[2019-03-07 20:24] danblah commented on #613
This should take into consideration the primary/secondary reviewer functions

[2019-03-07 20:31] #230 closed

[2019-03-07 20:32] #322 closed

[2019-03-07 20:56] #340 closed

[2019-03-07 20:57] #1051 closed

[2019-03-07 20:59] danblah opened #1097 "Ability for an author of draft and submitted reviews to delete either"

[2019-03-07 21:00] #343 closed

[2019-03-07 21:01] #319 closed

[2019-03-07 21:05] #548 closed

[2019-03-07 21:06] #364 closed

[2019-03-07 21:59] fourthletter opened #1098 "Four reviews formatted to fit into one screen"
All four reviews (2 internal + 2 AC) could not be viewed at the same time side-by-side.

Scrolling left to right in order to view the last review easily forces the screen to the previous page. Seeing all four reviews side-by-side on one screen is helpful when we write determination letters. Thanks.

[2019-03-07 22:26] danblah commented on #316
We should start putting links to guide.otf for each header in the application forms. I don't know that the submission platform has much more of a role to play here.

[2019-03-07 22:27] danblah commented on #348
Ideally, there is an option to provide a comment/why this is happening, that goes to the applicant and shows up in communications.

[2019-03-07 22:30] danblah commented on #345
I think the headers ability to link to guide.otf should do this for now. I don't think there is anything more for the application platform to do at this point.

[2019-03-07 22:30] danblah commented on #315
I don't think the application platform has anymore to do here. Better help text (already supported) and links to guide.otf would do it.

[2019-03-07 22:32] #713 closed

[2019-03-07 22:33] danblah commented on #712
Seems pretty good now, shows who the author is, when the last edit was and by who, with a compare revisions function.

[2019-03-07 22:33] #712 closed

[2019-03-07 22:34] #710 closed

[2019-03-07 22:35] danblah commented on #708
Do you think we could make a mockup of this for each workflow type, which could then automatically show up on the fund page based on the associated workflow?

[2019-03-07 22:36] #707 closed

[2019-03-07 22:41] #692 closed

[2019-03-07 22:44] danblah commented on #695
See all the other tickets with the label guide as well

[2019-03-07 22:45] danblah commented on #660
dup dup dup

[2019-03-07 22:45] #660 closed

[2019-03-07 22:48] #625 closed

[2019-03-07 22:48] #619 closed

[2019-03-07 22:51] #557 closed

[2019-03-07 22:52] #555 closed

[2019-03-07 22:53] danblah commented on #553
Calling this a dup, closing (esp now that team can edit other team members drafts).

[2019-03-07 22:53] #553 closed

[2019-03-07 22:54] danblah commented on #529
closing, dup dup

[2019-03-07 22:54] #529 closed

[2019-03-07 22:54] #527 closed

[2019-03-07 23:05] danblah commented on #524
- [ ] Add a "Collaborators" box to the submission.
- [ ] Create an "Add collaborator" button.
- [ ] Allow the author or OTF staff to add collaborators.
- [ ] Upon clicking, pop up a window just like the "Partner" button that allows the user to put in an email address, then hit update.
- [ ] If known user matches email, give that user permissions to edit, see it in their dashboard, etc (same as pri

[2019-03-07 23:06] danblah commented on #523
Dup of the better ticket #1082

[2019-03-07 23:06] #523 closed

[2019-03-07 23:09] #356 closed

[2019-03-07 23:09] #1049 closed

[2019-03-07 23:17] danblah commented on #709
And also i think adding a hover on the lock when they are viewing the submission may help.

[2019-03-07 23:23] danblah commented on #663
- [ ] Create an new action call "Author" or something.
- [ ] Add it to the Actions to take
- [ ] On press, pop an interface for staff to add an email.
- [ ] If existing user, replace them as the author
- [ ] If unknown user, kick off new user process, and add them as author

[2019-03-07 23:25] danblah commented on #639
See #640, would be great if we could combine these listings

[2019-03-07 23:27] danblah commented on #524
See #663. Doing that ticket would likely make this redundant.

[2019-03-07 23:46] danblah opened #1099 "Only allow specified file types in file uploads on submissions"

[2019-03-08 09:04] #938 closed

[2019-03-08 09:04] #866 closed

[2019-03-08 09:04] #867 closed

[2019-03-08 09:04] #877 closed

[2019-03-08 09:04] #937 closed

[2019-03-08 09:04] #957 closed

[2019-03-08 09:04] #978 closed

[2019-03-08 09:04] #858 closed

[2019-03-08 09:04] #960 closed

[2019-03-08 09:04] #961 closed

[2019-03-08 09:04] #962 closed

[2019-03-08 09:04] #980 closed

[2019-03-08 09:04] #982 closed

[2019-03-08 09:04] #988 closed

[2019-03-08 09:04] #989 closed

[2019-03-08 09:04] #990 closed

[2019-03-08 09:04] #991 closed

[2019-03-08 09:04] #959 closed

[2019-03-08 09:04] #979 closed

[2019-03-08 09:04] #981 closed

[2019-03-08 10:38] Parbhat commented on #1018
PR #1094

[2019-03-08 15:15] arduina opened #1101 "Can't scroll after opening a dialogue on a submission."
I can't reproduce this bug for every application. But it is happening on different devices. Reloading "fixes" it.

[2019-03-08 15:56] danblah opened #1102 "Display a useful error message when when there are no reviewer roles created and the assign reviewer function fails to load"
Ideally, letting them know what needs to be done.

[2019-03-11 07:29] frjo commented on #1050
The PR https://github.com/OpenTechFund/opentech.fund/pull/1093 fixes some of the issue, please test and review on https://test-apply.opentech.fund/.

[2019-03-11 08:12] frjo commented on #1064
@Parbhat Do you think you can take this on?

[2019-03-11 11:46] frjo commented on #1099
@danblah The image field seems to only allow image files but the file and multiple files fields on submissions accepts anything from what I can see.

What extensions should be accepted? How about this list?

* doc
* docx
* odp
* ods
* odt
* pdf
* ppt
* pptx
* rtf
* txt
* xls
* xlsx

[2019-03-11 11:53] frjo commented on #1099
I would like a setting in base.py where the allowed extensions can be listed with some sensible default (pdf, rtf, txt). Similar to BLEACH_ALLOWED_TAGS.

Django/wagtail then use this list to validate file uploads server side.

Would be really neat to also implement HTML5 accept attribute so the user gets quick feedback.

https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/file#attr-acc

[2019-03-11 13:20] Parbhat commented on #1064
@frjo Can you please add some more information to the issue? Got the requirements slightly but it would be good to have more info.

[2019-03-11 15:04] #470 closed

[2019-03-11 15:28] frjo commented on #1064
@Parbhat  OTF is starting a new fund called "Community Prototype Fund", CPF. This fund will collect project ideas that OTF should fund.

People who send in submission will fall in two distinct groups.

1. People who suggest project ideas that they think someone should do.
2. People who suggest project ideas that they themselves want to do.

The first kind will only need to fill in a subset of fiel

[2019-03-11 19:06] danblah commented on #1050
Tested... shows multiple files as desired. Clicking upload after previously adding files, before submitting, removes all the previously selected files. submitting cause an [error](https://sentry.io/organizations/otf/issues/928814612/?project=1275696&referrer=alert_email).

[2019-03-11 19:13] frjo commented on #1050
That behaviour is as it has always been. The is that this pr add only list the files, nothing else.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-11 23:22] fourthletter opened #1104 "The detailed view can't be sorted or filtered by status. In other words, all submissions within a particular status like "internal review" does not appear in the detailed view."
The detailed view can't be sorted or filtered by status. In other words, all submissions within a particular status like "internal review" does not appear in the detailed view.

[2019-03-12 09:05] frjo commented on #1104
@fourthletter  I need a url so I know what view it is.

[2019-03-12 09:55] frjo commented on #1101
See
https://github.com/OpenTechFund/opentech.fund/issues/1102

[2019-03-12 12:25] danblah commented on #1101
This is still happening, even after adding reviewers and the icons are in place. See: https://apply.opentech.fund/apply/submissions/3865/

[2019-03-12 12:30] danblah opened #1105 "Update list of allowed tags"
See https://apply.opentech.fund/apply/submissions/3677/#communications. Horizontal line and quoting are not showing up.

[2019-03-12 15:11] #1101 closed

[2019-03-13 09:50] #768 closed

[2019-03-13 09:52] #802 closed

[2019-03-13 09:53] #817 closed

[2019-03-13 09:54] #800 closed

[2019-03-13 09:54] #799 closed

[2019-03-13 09:54] #798 closed

[2019-03-13 10:04] gibbsmaya commented on #880
This has been deployed as part of Winter Sprints work, however keeping this open as would be nice to revisit this and tidy up files etc.

[2019-03-13 11:26] frjo commented on #1105
The "bleach" filter is what sanitise all output from users so this is a global setting.

What tags should be allowed? The current list looks like this.

[code]

Your example above indicate that 'blockquote' and 'hr' should be allowed as well. Any more?

In the old Drupal site we allowed these tags:

´´´
<a> <b> <big> <blockquote> <br> <cite> <code> <dd> <del> <dl> <dt> <em> <h1> <h2> <h3> <h4> <h5

[2019-03-13 11:28] #1061 closed

[2019-03-13 11:30] #655 closed

[2019-03-13 13:38] #1018 closed

[2019-03-13 13:51] #793 closed

[2019-03-13 14:07] tarakiyee commented on #1063
Instead of public review, let's call that state "open call"

[2019-03-13 14:07] danblah commented on #1105
Let's start with those and go from there. Thanks!

[2019-03-13 14:57] #1104 closed

[2019-03-13 14:57] fourthletter commented on #1104
This tech issue was resolved. Thanks, Di

[2019-03-13 16:43] fourthletter commented on #1098
Team members will need to reduce the view of their screen to less than 100% to fit all four reviews.

[2019-03-13 16:53] fourthletter opened #1108 "Message "The contents of this application have been changed by someone else" constantly appears in the detailed view of a submission"
The message (image below) appears constantly within the detailed view. Here is an example link to the detailed view: https://apply.opentech.fund/apply/rounds/796/?submission=3690

This message (image below) has been permanently visible in different submissions for several team members. Either 1) this message is correct and should appear or 2) this is a bug.

![image](https://user-images.githubuser

[2019-03-13 17:09] fourthletter opened #1109 "The List View does not capture who signed up to write a review for an application."
The List View does not capture who signed up to write a review or intends to write a review in the future.

It is possible to know AFTER a review has been submitted, but this information is not available BEFORE a review has been submitted. It is also possible to see names of reviewers within the submission and in the detailed view, but it's not possible in the List View.

- Managers need a quick v

[2019-03-13 18:51] fourthletter opened #1110 "Team members and AC need to edit reviews that have been submitted to the webapp."
Team members and AC need to edit reviews that have been submitted to the webapp.

Occasionally, a review is incomplete, but the individual has submitted the review in error. Individuals are requesting the opportunity to revise what they've written or change how they've rated an application AFTER a review has been submitted.

Thanks, Di

[2019-03-13 18:56] #1110 closed

[2019-03-13 19:05] fourthletter opened #1111 "Review Outcomes are not visible in one submission"
Review Outcomes are not visible in this submission https://apply.opentech.fund/apply/submissions/3753/

I am creating a ticket for this issue because this might be a bug and impact other submissions.

[2019-03-13 19:39] frjo commented on #1109
@fourthletter Is there a function where reviewers can sign up to review a specific submission? I do not know about it, or maybe you want such a feature added?

In the list view (I assume you mean https://apply.opentech.fund/apply/submissions/all/) it would be hard to fit a long list of reviewers like the one on submission detail view.

It would definitely need to be in the fold out section for eac

[2019-03-13 19:47] frjo commented on #1098
@fourthletter This we can fix with some CSS, no need to close it.

It's designed for up to 3 reviews but not hard to make more flexible.

[2019-03-13 21:43] arduina commented on #1109
This is causing some problems and confusion in the current ICFP and March 1 round. It would be great if this could be resolved as soon as possible, therefore I am adding a priority label.

[2019-03-13 21:47] arduina commented on #1109
@frjo in the fold out section would be fine. It would be great if you could see right away if there are not only review outcomes but reviewers assigned. In this view you also assign yourself by clicking the box left of the application and using the function above.
Right now you can't see if this project already has sufficient reviewers, so if you assign yourself, others are simply removed.

<img w

[2019-03-14 08:40] frjo commented on #1111
@fourthletter The review has no outcome so nothing to show. You have forgotten to add a score field to the review form. Without a score there is no outcome for the system to calculate.

[2019-03-14 08:42] frjo commented on #1109
The batch add reviewers function on
https://apply.opentech.fund/apply/submissions/all/ is only for staff, reviewers can not access this view at all.

Are OTF staff using this to assign themselves to submissions? I thought this was the job of the lead?

If this is the way you use this feature, would it be ok to only show staff reviewers in the fold out section? And not all reviewers (that can be a

[2019-03-14 08:43] #1105 closed

[2019-03-14 14:46] danblah commented on #1099
The list you posted above @frjo is good! cc @Parbhat

[2019-03-14 14:48] Parbhat commented on #1099
PR #1113

[2019-03-15 14:48] fourthletter opened #1114 "Increase size of note-taking section in detailed view"
This an enhancement and UX issue for increasing the space where notes are inputted and submitted.

The current space is small relative to the space above it. Increasing the size would give the note-taker better visibility to read what has been written. The length of written content submitted to the system is often one paragraph or longer.

[2019-03-15 14:53] fourthletter commented on #1111
@frjo Individuals are adding themselves as primary or secondary reviewers. This is visible on the submission page. Example: https://apply.opentech.fund/apply/submissions/3752/

This information is not visible on the List View: https://apply.opentech.fund/apply/rounds/794/

[2019-03-15 14:55] frjo commented on #1114
@fourthletter At the moment the note section is set to take 25% of the column hight. How much space would you like it to take?

[2019-03-15 15:00] fourthletter commented on #1109
@frjo We are using the batch action to assign reviewers in the list view through the round or fund: https://apply.opentech.fund/apply/rounds/794/

The lead and other staff members are unable to see in this view which individuals have been assigned primary or secondary reviewers because this information is not visible: https://apply.opentech.fund/apply/rounds/794/

The lead and other staff members

[2019-03-15 15:45] fourthletter opened #1115 "Submissions in List and Detailed Views appears in different order"
Submissions in the List View appears in a different order when in the Detailed View.

This is not an urgent issue, but team members have a difficult time understanding the logic or criteria behind how submissions are currently organized in the detailed view.

During testing, the first submission that appears in the List View was also the first submission that appears in the Detailed View. Submissi

[2019-03-15 15:55] fourthletter commented on #1109
@frjo I am attaching the features discussed during testing and development phase: https://github.com/OpenTechFund/opentech.fund/issues/1016

[2019-03-15 17:48] fourthletter opened #1116 "Paste function in mobile app"
Individuals are unable to paste content to a determination letter in the mobile webapp.

There is a "copy" function, but a "paste" function is not available. This means information from elsewhere in the submission cannot be duplicated using shortcuts when someone is drafting a determination letter in the mobile webapp.

[2019-03-15 18:34] fourthletter opened #1117 "Names of reviewers are not visible in detailed view"
Reviewers signed up as primary and secondary are not visible in the detailed view. Names and the stacking order of these names are not the same from one view to the next. Here is an example: https://apply.opentech.fund/apply/submissions/3865/

Individuals signed up as primary and secondary reviews should be visible in the submission, detailed, and list view.

[2019-03-16 05:30] frjo commented on #1116
Some screenshots would help me understand the problem.

I tested to copy and paste in the determination form on my iPhone and it seemed to work as it should.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-18 09:13] #1099 closed

[2019-03-18 11:05] frjo commented on #1117
Duplicate of #1109.

[2019-03-18 11:05] #1117 closed

[2019-03-18 12:43] frjo commented on #1109
This is now on test ready for your testing. http://test-apply.opentech.fund/apply/submissions/

I made the "Review outcome" list staff reviewers even if they have not submitted an review so they are always visible, the outcome is then set to "—". See screendump for example as well.

Does this seem like an acceptable solution?

![staff_reviewers_list](https://user-images.githubusercontent.com/19139

[2019-03-18 13:35] fourthletter opened #1121 "Send need information determination during the Ready for Preliminary Determination status"
Staff needs to write and send determination letters asking applicants to provide additional information during the **Ready for Preliminary Determination** status.

Currently, staff could only send "accept" or "dismiss" letters in the Ready for Preliminary Determination status. This is not adequate.

[2019-03-18 15:03] Parbhat commented on #1064
@frjo Thanks for the information. Created a draft PR #1123

[2019-03-18 16:26] #1009 closed

[2019-03-18 16:26] #1016 closed

[2019-03-18 16:26] #859 closed

[2019-03-18 16:26] #983 closed

[2019-03-18 16:26] #958 closed

[2019-03-18 18:07] fourthletter commented on #1116
@frjo it's not working on android phones. :(

[2019-03-18 18:14] frjo commented on #1116
@fourthletter And it’s the standard Android copy and paste function you are trying to use? And it’s working in other web forms?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-18 18:31] fourthletter commented on #1116
Two people using android phones have this issue.

[2019-03-18 18:56] fourthletter opened #1124 "The "show all" function does not display all submissions that have been assigned to an individual"
The "show all" function does not display all submissions that have been assigned to an individual. The "show all" button in the Waiting for Your Review dashboard is currently jumping to All Submissions.

Individuals should be able to view a list of submissions that have been assigned to them by clicking on the "show all" function. The Waiting for Your Review dashboard defaults to showing 5 submiss

[2019-03-19 12:43] frjo commented on #1124
@fourthletter  It looks like this is how it works already. I assigned a bunch of submissions to myself and the "Show all" link on the dashboard then goes to `
/apply/submissions/all/?reviewers=1&status=screening&status=more-information-required&status=internal-review&status=ready-for-discussion&status=ready-for-determination&status=advisory-council-review&status=ready-for-preliminary-determination

[2019-03-19 13:20] frjo commented on #1109
@arduina Removed screen dumps since these issues are public and submission information should not be public (deleted revisions om the comments as well).

[2019-03-19 13:35] arduina commented on #1109
Oh gosh, you're right. Thank you.

[2019-03-19 16:57] fourthletter commented on #1121
@frjo Staff needs to send correspondence this week. Is it possible to have a short-term solution like move applications to a different status that allows "need more info" determinations OR allow admins to make this change on their own?

Example: Move applications from **Ready for Preliminary Determination** to **Ready for Discussion** status. Ready for Preliminary Determination status restricts ex

[2019-03-19 17:10] frjo commented on #1121
Ready to be tested on http://test-apply.opentech.fund/apply/submissions/

[2019-03-19 17:14] fourthletter commented on #1121
Testing went great -- thank you! http://test-apply.opentech.fund/apply/submissions/

[2019-03-19 17:33] #1111 closed

[2019-03-20 12:17] Parbhat commented on #1070
@danblah @frjo Wagtail embeds content from URL using oEmbed protocol. But Google docs, sheet do not support it. There is also a paid service [Embed.ly](https://embed.ly/providers) supported by Wagtail but it also does not support Google sheets. Seems that embedding Google docs/sheets is not common. Google suggest embedding sheets manually as described [here](https://support.google.com/docs/answer/

[2019-03-20 12:39] frjo commented on #1070
@Parbhat Good research of the problem! This seems time consuming and I think OTF is better served if you use your time on other issues for the moment.

I have removed this from Q1. Let's revisit this when we have more time.

[2019-03-20 14:32] danblah commented on #984
I'm actually keen on there being a "Notes" feature but something that is only for the user.

[2019-03-20 14:36] danblah commented on #986
I'm not sure I fully grasp this ticket @todd-dembrey

[2019-03-20 14:37] #803 closed

[2019-03-20 14:38] #801 closed

[2019-03-20 14:50] frjo commented on #985
@todd-dembrey Could making sure the list of reviewers being sorted in the same manner in all places be part of this as well?

[2019-03-20 20:12] #1121 closed

[2019-03-20 20:13] #1098 closed

[2019-03-20 20:14] #1109 closed

[2019-03-20 20:14] #1077 closed

[2019-03-21 01:45] danblah opened #1125 "Notify Second Reviewer when First Review is finished [High/Improvement]"
-=Sensitive=-
No

-=Reporter=-
Tara

-=Ideal deadline=-

-=Who's affected=-
OTF team

-=Description=-
On slack, the notification of a review only notifies the round lead of the review. It should also tag the second reviewer on the CN/Proposal.

-=Objective=-
Second reviewers are notified when they are able to put in their review.

-=Additiional info=-
no, thanks!

-=Timestamp=-
2019-03-21T01:42:00

[2019-03-21 13:08] frjo commented on #331
https://github.com/LabD/wagtail-2fa

[2019-03-21 19:15] fourthletter commented on #342
1) Reviewer is a filter option, 2) Manager could read every review written about a particular submission on a single screen.

[2019-03-21 19:31] fourthletter commented on #233
Similar to #292 in Q3

[2019-03-21 19:32] fourthletter commented on #292
Similar to #233 in Q4

[2019-03-21 19:42] fourthletter commented on #304
This feature was available after Winter Sprint 2019. Team members are able to see names of assigned reviewers and summary details of completed submissions.

[2019-03-21 19:47] fourthletter commented on #298
After Winter Sprint 2019, team members have a dashboard to know the number of applications within a particular status and filters to sort applications from the same status.

[2019-03-21 19:57] fourthletter commented on #609
Sharing an application among different funds and labs also appear in #295 and #301

[2019-03-21 19:58] fourthletter commented on #301
Sharing an application among different funds and labs also appear in #295 and #609

[2019-03-21 19:59] fourthletter commented on #295
Sharing an application among different funds and labs also appear in #301 and #609

[2019-03-21 20:04] #914 closed

[2019-03-21 20:24] fourthletter commented on #350
After the Winter Sprint 2019, comments appear as a note or internal comment associated with a submission within webapp.

[2019-03-21 20:29] #304 closed

[2019-03-21 20:30] #298 closed

[2019-03-21 20:48] #612 closed

[2019-03-25 14:21] Parbhat commented on #1081
@frjo One of the reasons for the recent increase in database queries and increased response time is changes made in [table.html ](https://github.com/OpenTechFund/opentech.fund/blob/master/opentech/apply/funds/templates/funds/tables/table.html). The changes made in the template increased the number of DB queries significantly. As this template is used for many views to create a table it reduces the

[2019-03-25 21:20] fourthletter opened #1128 "Updates to notes behaviour in detail view"
These elements have not been implemented during Winter Sprint:

[ ] Notes will be editable by the author
[ ] Unsubmitted notes will persist between switching submission (if you remain on the page). E.g. if you accidentally change submission, the note will not be lost and will be visible when you re-select the submission
[ ] There will be notification about unsent notifications if you navigate away

[2019-03-25 21:36] fourthletter commented on #1115
From the functional spec winter sprint report:

**Submission Detail (center)**
Defaults to the first submission in the submission listing on page load
Shows the same information as available on the submission detail page

[2019-03-25 22:01] fourthletter opened #1129 "Reviewer Consensus are not displayed accurately"
This issue is related to #985

Reviewer Consensus are not displayed accurately. Agreement with a review is not counted as completed. Reviewer consensus are displayed as two "1's" under the 'Reviews Assgn. Comp.' category even though consensus have been reached.

Here is one example, but there are several: https://apply.opentech.fund/apply/submissions/3863/

Original text from the functional spec w

[2019-03-25 22:22] fourthletter commented on #1124
The ‘Show all‘ links should jump to the relevant listing page for the summary type.

Currently the ‘Show all‘ button jumps to _all submissions_ even though the linked listing page should apply the same queryset filters as on the current summary table.

The queryset filter in this case should be all assigned submissions waiting for your review

[2019-03-25 22:31] fourthletter opened #1130 "batch action determination jumps to a different page"
After completing a batch action determination within a specific round, the page jumps to all submissions and the queryset filter no longer applies.

After completing a batch action determination with a specific round, the page should stay within the round.

[2019-03-26 00:10] fourthletter opened #1131 "Explanatory text underneath the text boxes for CNs, proposals and our review forms not displayed"
Explanatory text underneath the text boxes for CNs, proposals and our review forms are not displayed in application. For example, the description under Similar/Complementary Efforts is missing.

[2019-03-26 00:48] fourthletter opened #1132 "Side-by-Side view to compare original and revised applications"
This is not a bug. A few team members find it difficult to read revised applications.

1) Side-by-Side view to compare original and revised text OR 2) change current green and pink highlight over text to increase readability of revised text.

[2019-03-26 00:55] fourthletter opened #1133 "Simple Proposal Form"
Add a simple proposal form.

[2019-03-26 09:11] #1064 closed

[2019-03-26 09:24] #1062 closed

[2019-03-26 09:24] #1063 closed

[2019-03-26 09:34] frjo commented on #1066
@Parbhat Can you take this on? If possible I would like to have a Wagtail "Open Call index page" that list all submissions in the new "com_open_call" state (see OPEN_CALL_PHASES in workflow.py).

This index page the editors can then add an introduction text to (like most other index pages) and place where they want to.

[code]

I have merged in PR  #1123 and #1127 to master already.

See also rela

[2019-03-26 10:29] Parbhat commented on #1066
@frjo Working on it. So, that's why we created a feature to group form fields. If form submission on a Community Prototype Fund (CPF) select *Help me find someone to implement it!* then it will be open call submission. And it will be displayed on Open Call Index page and others can click *build it* for showing interest of actual submission.

[2019-03-26 10:38] frjo commented on #1066
@Parbhat Exactly.

OTF will first look at it and if they like it set them to status "Open call". Then they get displayed on this view with the "Build it" button from #1065.

[2019-03-26 10:39] frjo commented on #1132
Duplicate of #748

[2019-03-26 10:39] #1132 closed

[2019-03-26 10:39] frjo commented on #748
@fourthletter wrote on #1132:

[2019-03-26 10:43] frjo commented on #748
@fourthletter Changing colours are easy, any idea what colours you would prefer? Mainly lighter ones?

[2019-03-26 10:50] Parbhat commented on #1066
@frjo Great.

[2019-03-26 12:43] #587 closed

[2019-03-26 13:54] danblah commented on #1133
Dup of #717, closing

[2019-03-26 13:54] #1133 closed

[2019-03-26 14:44] danblah commented on #1131
Noting that we're going to manually do this into the Help Text fields.

[2019-03-26 17:10] frjo commented on #924
Please test on https://test-apply.opentech.fund

I have switch to Montserrat for headings and to Noto-Sans for everything else. Nothing elsed has changed.

These font displays a bit bigger etc. so are not a direct drop in replacement. Please compare pages on test and live to see how you like it and if any other changes are needed.

[2019-03-26 18:25] fourthletter commented on #924
The font displayed on the test page looks good. We do not need additional changes to this issue. Thanks!

[2019-03-26 21:54] #1131 closed

[2019-03-26 21:59] fourthletter commented on #748
A majority of team members are interested in side-by-side comparison views.

IF you think changing colors would NOT interfere with above work, a few shades lighter would help. Thanks!

[2019-03-27 05:39] frjo commented on #748
Changing colours takes a few minutes so a quick way to improve things until we have time to build a side by side diff.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-27 07:58] #924 closed

[2019-03-27 10:09] elioqoshi commented on #924
I can't see the preview as I don't have a token for that site, but I'd agree Montserrat is not great for Body text. Noto Sans is perfect as it has the highest number of glyphs and language support of all fonts families.

[2019-03-27 18:43] #502 closed

[2019-03-27 20:53] danblah opened #1138 "Added partners don't persist to invited applications"
**Is your feature request related to an existing functionality? Please describe.**
The add partners function.

**Describe the solution you'd like**
For submissions that have multiple stages, if a partner(s) are associated to the first-stage application, when invited to proposal, associate the same partner(s) to the newly created/invited application. Ideally, the partners get the same notifications

[2019-03-28 11:50] frjo commented on #823
@danblah Does a text like this sounds ok?

[code]

The "reset your password" and the e-mail adress are links.

[2019-03-28 12:40] frjo opened #1141 "CFP: Set up workflow for "Community reviewer""
Community reviewers should be able to review submission in the community review state.

[2019-03-29 12:31] frjo opened #1142 "Sort submission list in the react app by id just as the submission list view"
The view at /apply/submissions/all/ sort submission by submission id.

The react app at /apply/rounds/*/?* sort the submissions in the left column by latest activity.

We would like that to sort by submission id as well so the list is sorted the same in different views. Makes it easier to locate submissions.

[2019-03-30 17:06] danblah commented on #823
This is good.

[2019-03-30 17:07] danblah commented on #823
Does the initial account email make it clear the account will become inactive if they don't complete the registration process?

[2019-03-30 17:13] frjo commented on #823
Will make sure it does. What expirations time should we set for activation links?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-01 08:20] todd-dembrey commented on #985
I've done the bulk of the work fro this ticket and will pick up on it again next friday.

The only blocking issue is de-duplicating the authors from opinion and reviews (in progress in latest commit)

[2019-04-01 10:12] frjo opened #1143 "Partners can't access their own submissions"
A user that has the role "Partner" can't access their own submissions.

[2019-04-01 13:35] frjo commented on #327
The Lead for a round can change, some submission gets reassigned to another Lead etc. This happens regularly and a batch function would make it a lot easier for the staff.

[2019-04-01 13:47] frjo commented on #1129
It's in the Submission list view at "/apply/submissions/" that the bug shows up. On the detailed view it looks fine.

The "Reviews Assgn. Comp." are for this submission showing 1/1 when it should show 2/2.

[2019-04-02 14:06] Parbhat commented on #728
PR #1145

[2019-04-03 11:09] frjo opened #1147 "Custom dashboard and submission detail views for reviewers, partners and community reviewers"
### Dashboard

New custom dashboards for Partners and Community reviewers. Additions to reviewers dashboard.

**Reviewers:**

* Mainly write reviews and that part of the dashboard works well.
* They also can send in their own submissions and if they do a new section should display on their dashboard similar to what applicants see.

**Partners:**

* Should see the submission they have been added to

[2019-04-03 11:36] frjo commented on #728
@danblah @fourthletter Deleting a submission will also delete all related determinations, comments, reviews etc.

Do you still want to be able to delete any submission or should we limit it somehow?

Are going to give the delete permission to group "Staff"? By default only super admins can delete.

[2019-04-03 18:55] frjo commented on #1141
@danblah @fourthletter Just to confirm: Community reviewers can view and review any submission with a status of Community review?

[2019-04-04 09:33] frjo commented on #1108
This is in the react app, the message comes from this code:

https://github.com/OpenTechFund/opentech.fund/blob/a281060d595cc5e20c445a214689008814aef504/opentech/static_src/src/app/src/containers/CurrentSubmissionDisplay.js#L56-L61

[2019-04-04 19:34] #1047 closed

[2019-04-04 19:34] #1048 closed

[2019-04-04 19:35] #1143 closed

[2019-04-04 19:39] #1065 closed

[2019-04-04 19:39] #1066 closed

[2019-04-04 20:11] tarakiyee commented on #1141
Yes, that's correct

On Thu, Apr 4, 2019, 9:52 PM Fredrik Jonsson <notifications@github.com>
wrote:

[2019-04-04 20:18] #728 closed

[2019-04-04 20:20] #1141 closed

[2019-04-05 10:25] todd-dembrey opened #1152 "Ensure that reviewers are ordered consistently between different views"
@todd-dembrey Could making sure the list of reviewers being sorted in the same manner in all places be part of this as well?

_Originally posted by @frjo in https://github.com/OpenTechFund/opentech.fund/issues/985#issuecomment-474865793_

[2019-04-05 10:26] todd-dembrey commented on #985
@frjo I've created a new issue for your comment about the ordering of the reviewers.

[2019-04-05 11:55] frjo commented on #1081
@Parbhat There is only a very specific use of react and it's for OTF staff only. Do not think that will be expanded much.

[2019-04-05 16:04] fourthletter commented on #1114
Here are the current proportions with already saved notes. The space size for drafting text is smaller when there are previously saved notes.

![Screenshot 2019-03-26 at 11 34 03 AM](https://user-images.githubusercontent.com/20019656/55640792-9bc78580-57cc-11e9-8db6-1e27f4eae28e.png)

[2019-04-08 11:26] frjo commented on #1116
I would like to know two things.

* Can these users copy and paste in other web forms without issue?
* Do they have problem with copy and paste on only some OTF WebApp forms or on all of them?

[2019-04-08 13:27] fourthletter commented on #1116
Question 1. Users can copy and paste in other web forms without issue.
Question 2. Users can copy, but are NOT able to paste on OTF WebApp forms.

[2019-04-08 14:02] frjo commented on #1116
Can it be that it's a problem in rich text fields (with a wysiwyg editor) but works in plain text fields?

[2019-04-08 14:44] fourthletter commented on #1116
The PASTE function appears when I click on "Insert link" but not when I'm in a text box.

[2019-04-09 16:28] fourthletter commented on #823
Could PMs/OTF team members reactivate applicant accounts on our own? Right now PMs are sending out reset password link or temporary password.

[2019-04-09 16:36] frjo commented on #823
See my answer on Slack. Please do not reopen resolved issues. Better to open a new one.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-09 16:36] #823 closed

[2019-04-10 08:38] todd-dembrey commented on #985
@fourthletter @danblah This is deployed to the test instance for review.

[2019-04-10 08:42] todd-dembrey commented on #879
This is in progress and can be tracked at #1156

[2019-04-10 08:44] todd-dembrey commented on #880
This has been started as part of #1156

I have broken the API out into `/api/v1`. This does not cover the potential change of using `api.opentech.fund` but does make a start by separating out the urls. @frjo FYI

[2019-04-12 08:38] #686 closed

[2019-04-12 09:39] fourthletter commented on #985
@todd-dembrey Please deploy this feature. Thank you!

[2019-04-17 13:07] fourthletter opened #1161 "Create unique slack channel for comment notifications"
- Account name or name of person: Di
- Title of submission (app URLs alone are OK): Create unique slack channel for notes

**Is your feature request related to a problem? Please describe.**
It is difficult for team members to review notes from an internal review when they did not attend the meeting. There is no indication or easy way to find out which submissions were discussed and outcomes of the